[2018-12-24 17:06] callmehiphop commented on #413
Not with the hand written client, no. We lock all messages until they are either ack'd or nack'd. Its possible that they will be redelivered if the backend sends the messages again or if we encounter some unexpected latency.

[2019-01-03 14:19] fhinkel commented on #347
So, the other day I fell into the "trap" of copying and pasting a sample without an async function around it. Yes, I had to go back, write 1.5 lines of code, and run the sample again. But in the end, I'd say that's not too bad. Searching for the error message takes you straight to the right StackOverflow answer.

And the example looked really nice without the `async function...` boilerplate code.

[2019-01-03 14:41] JustinBeckwith commented on #347
@fhinkel This sounds like the sort of thing that should be covered in the new rubric.  Do we have all the rules of the road for nodejs docs documented in a single place?  I'd just love to not have to rehash these kinds of decisions :)

[2019-01-03 20:11] fhinkel commented on #347
so we have these two proposals:

https://github.com/googleapis/nodejs-speech/pull/199/files
https://github.com/googleapis/nodejs-dlp/pull/154/files

In those, the function signature is always included in the snippet - but all snippets are very long, too.

I don't know what the state of the rubric is. Can we still make changes?

[2019-01-03 20:17] callmehiphop commented on #413
I agree, we could do a better job of documenting it and I believe there are efforts underway to revamp our documentation, so I'll ask that you bare with us in the mean time. I'm going to close this out, but please feel free to re-open if something else comes up!

[2019-01-03 20:17] #413 closed

[2019-01-03 20:44] JustinBeckwith commented on #347
🤷‍♂️

@jmdobry ?

[2019-01-07 09:49] Sh33pman commented on #412
@callmehiphop Sure but the issue with setting the timeout to 20 minutes, during times that the system is not busy the you will still have the same failure, also I personally think having an error code on the error makes more sense so you can identify why the pull failed.

In version `0.9.0` when `pull` was still on `const PubSub = require('@google-cloud/pubsub');` object it didn't actually return

[2019-01-07 10:31] callmehiphop commented on #412
My mistake! I didn't realize that `google-gax` was not supplying an error code of any kind. A status code would indeed be helpful here. I'm going to open an issue on `google-gax` and hopefully we can get this whole thing sorted out soon.

[2019-01-07 10:35] Sh33pman commented on #412
@callmehiphop Thanks 😄

[2019-01-07 15:12] kir-titievsky commented on #413
@callmehiphop -- what would be the appropriate change in the docs here?  Perhaps we could contribute a PR.  I know you've got a lot going on.

[2019-01-07 15:19] slavoroi commented on #413
1) please explain the difference between v1 code and the rest, that one is
just calling api and the other one is manual control over connections,
optimizations and cet...
2)if you want to use extend message lock (modify ack deadline) dont use the
manual subscription.on because it does it by itself and the users will
experience race conditions.
those are the most important for me.

On Mon, 7 Jan 20

[2019-01-09 15:40] callmehiphop commented on #318
@stephenplusplus Do you have an opinions on how we should handle this? Part of me thinks this might be a problem for `google-gax` to solve - attempt to re-auth on this error. But it might also be pretty easy for us to delete any cached gapic clients when we see an error like this.

[2019-01-09 15:44] callmehiphop commented on #314
We've been working on refactoring the Subscription class (https://github.com/googleapis/nodejs-pubsub/pull/388). If anyone has some spare time and wouldn't mind testing to see if it resolves this issue, that would be most excellent!

[2019-01-09 16:14] callmehiphop commented on #308
@ils-sapnaj are you still experiencing this issue?

[2019-01-09 16:53] JustinBeckwith commented on #318
This feels like the sort of thing that should be handled in gax.  google-auth-library has all the retry logic for failed auth attempts when doing HTTP requests, but can't really help here in the case of a grpc channel.  I have to imagine other clients would deal with this as well.

[2019-01-10 03:19] stephenplusplus commented on #318
@callmehiphop that sounds right to me.

[2019-01-10 09:49] watchinharrison commented on #339
I'm seeing this issue when the value is set correctly but is running with jest, I'm using the pubsub emulator with docker so it's running in it's own container with an exposed port. The host name and port can be connected to from inside the testing container with bash. But doesn't appear to resolve when going through PubSub within the running test.

1. Can confirm connecting to the emulator works

[2019-01-12 05:35] wyardley opened #421 "Number of elements exceeded error"
#### Environment details

  - OS:
  - Node.js version: 8.x
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: latest

#### Steps to reproduce

  1. Set a batch size >= 1000
  2. There is no step 2

This appears to have been fixed in:
https://github.com/googleapis/gax-nodejs/issues/149
which was finally released. Creating an issue here as requested before making a PR, but the "fix" should j

[2019-01-14 20:12] #6 closed

[2019-01-14 20:12] #12 closed

[2019-01-14 20:12] #115 closed

[2019-01-14 20:12] #119 closed

[2019-01-14 22:38] wyardley commented on #421
Fixed by #423

[2019-01-14 22:39] #421 closed

[2019-01-15 04:10] janisto commented on #389
I get the same error with datastore, too.

[code]

Error:

[code]

[2019-01-15 15:46] callmehiphop commented on #6
We should have a release coming up in the next several days that will include the ability to edit ack deadlines.

[code]

[2019-01-15 15:48] callmehiphop commented on #12
We have a release coming up that will allow you to set options via `setOptions` method. We've also made some changes/additions to the available subscription options. Below is an example of using the setter with all the available options and their default values

[code]

[2019-01-15 15:53] callmehiphop commented on #115
We have a release coming up in the next several days that will include a new option allowing you to configure/opt out of auto leasing.

[code]

Setting `maxExtension` to `0` is essentially the same as opting out.

[2019-01-15 16:02] kir-titievsky commented on #115
Perfect!

On Tue, Jan 15, 2019 at 10:53 AM Dave Gramlich <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2019-01-15 16:24] callmehiphop commented on #412
Closing per https://github.com/googleapis/nodejs-pubsub/pull/423, should be fixed in the next release!

[2019-01-15 16:24] #412 closed

[2019-01-16 15:16] callmehiphop commented on #339
I'm going to close this as a duplicate of googleapis/gax-nodejs#208

[2019-01-16 15:16] #339 closed

[2019-01-16 15:22] callmehiphop commented on #238
I'm going to close this since it does not seem to be an actual client issue.

[2019-01-16 15:22] #238 closed

[2019-01-16 15:31] callmehiphop commented on #124
I'm going to close this issue since it appears to be an API issue and not a client issue.

[2019-01-16 15:31] #124 closed

[2019-01-16 18:10] #246 closed

[2019-01-16 18:56] callmehiphop commented on #222
I'm going to close this issue, as this has been [implemented](https://github.com/googleapis/nodejs-pubsub/blob/master/src/subscriber.ts#L345) and should be released within the next day or two!

[2019-01-16 18:56] #222 closed

[2019-01-16 20:58] #121 closed

[2019-01-17 19:11] callmehiphop commented on #288
@binarytracer would you mind re-testing this against our latest release (`v0.23.0`)?

[2019-01-17 19:12] callmehiphop commented on #140
@sanssucre I believe this should be resolved as of `v0.23.0`, if you find thats not the case let me know and I'll re-open this issue. Thanks!

[2019-01-17 19:12] #140 closed

[2019-01-17 19:13] callmehiphop commented on #253
@vIceBerg a new release (`v0.23.0`) has just been made, I think it should help with the re-delivery rates. If your testing does not show this to be the case, please let us know. Thanks!

[2019-01-17 19:13] #253 closed

[2019-01-17 19:17] callmehiphop commented on #83
My understanding is that re-deliveries are just something to expect, I've made some adjustments to hopefully lower the overall percentage (I've been seeing 0~5% redelivered in my local testing), so I'm going to close this issue.

[2019-01-17 19:17] #83 closed

[2019-01-17 19:22] callmehiphop commented on #240
Just put out a release (`v0.23.0`) that allows [call options](https://googleapis.github.io/gax-nodejs/CallSettings.html) to be configured for acks/modAcks. If anyone is still seeing deadline errors, etc, you can try adjusting the timeout period now.

[code]

[2019-01-17 19:22] #240 closed

[2019-01-17 19:29] #308 closed, assigned to stephenplusplus

[2019-01-17 19:32] callmehiphop commented on #314
@zxbodya thanks!

[2019-01-18 22:42] zxbodya commented on #314
tried to run my app with a new release… - unfortunately it did not work as I expect.

but, now I see some errors in a log: `Error: 4 DEADLINE_EXCEEDED: Deadline Exceeded`, which make me to think that there might be there is something else to look into

will try to debug it, and maybe to build smaller app to reproduce the issue

[2019-01-20 21:26] gaastonsr opened #436 "How to define timeout?"
Sorry for the question if this is not the appropriate place. I couldn't find an example.

How do I define a timeout? I'm using it with the emulator and I had specified the wrong port for the emulator and using `publish` wasn't working but it never timed out either. This can potentially cause `promises` to wait forever or at least a really long time. How can I define a timeout?

Thanks!

[2019-01-20 22:45] callmehiphop commented on #436
With the latest version of PubSub you should be able to do this

[code]

Earlier version of PubSub would look like this

[code]

This might not resolve your issue as I believe what you're experiencing is the same as https://github.com/googleapis/gax-nodejs/issues/208. I'm going to close this as a duplicate, but feel free to subscribe to that issue. Thanks!

[2019-01-20 22:45] #436 closed

[2019-01-21 16:20] zxbodya commented on #314
Tried to write small app to reproduce the issue - no luck, in small app it works…

I feel, I miss something, but have not much idea what exactly might be wrong

In my app I have something like this:

[code]

And in a small app it works fine… But in real app - it does not, and what I see in logs looks weird for me:

received 3 messages, one from `webshopOrderCreated`, 2 from `subscriptionExtraAdded

[2019-01-22 13:17] ThomWright opened #437 "Error: 13 INTERNAL: Received RST_STREAM with error code 2"
After upgrading to `0.23.0` (from `0.21.1`) I see my subscriber services connecting to pubsub, receiving a few messages, then some time later experiencing the following error:

[code]

Here are some example logs and timestamps from service start until the error:

[code]

It seems to take about half an hour from a service starting to receiving the error, reasonably consistently I think.

See https:

[2019-01-22 16:04] callmehiphop commented on #437
@ThomWright thanks for the write up! That error is actually the default error returned from PubSub when they close a stream. The reason it occurs after 30 minutes is because thats when PubSub tends to kill off any streaming connections.

When you see this error do messages continue to come in? Or does the Subscription stop functioning altogether?

[2019-01-22 16:16] callmehiphop commented on #314
@zxbodya actually there isn't really a good way to detect if the subscription crashed, I'm going to put together a PR that will hopefully improve the quality of the Errors emitted, as well as a hook to tell when the subscription closed.

[2019-01-22 23:18] zerubeus opened #438 "when using with PM2, not providing a projectID will cause the app to take 100% CPU without throwing any error"
#### Environment details

  - OS: Mac OS 10.14
  - Node.js version: 10.15
  - npm version:
  - `@google-cloud/pubsub` version: 0.22.2

#### Steps to reproduce

  1. when using with PM2, not providing a projectID will cause the app to take 100% CPU without throwing any error

suspect code :

https://github.com/googleapis/nodejs-pubsub/blob/master/src/index.ts#L744
https://github.com/googleapis/node

[2019-01-23 10:04] ThomWright commented on #437
That's difficult to say, when one of our services detects an error from a subscription it starts failing health checks and gets restarted pretty soon after. Even if messages could continue to arrive, I'd be unlikely to see them.

After rolling back to `0.21.1` I no longer see these errors.

[2019-01-23 18:53] callmehiphop commented on #438
Hi @zerubeus and thanks for the issue report! I think this is actually a duplicate of #288. `0.23.0` was released recently and I was wondering if you'd be willing to test against that version to see if this issue persists. Either way, I'm going to close this issue, but hopefully we'll come to a resolution in #288 soon. Thanks!

[2019-01-23 18:53] #438 closed

[2019-01-23 21:58] eezing commented on #437
@callmehiphop Subscription stops functioning altogether for me. I've only seed this error on `v0.23.0`.

[2019-01-24 00:58] #437 closed

[2019-01-25 10:08] klerick opened #445 "Load cpu 100% macOS"
**Environment details**
 - OS: MacOs Mojave
 - Node.js version: 8.12.0 and 10
 - npm version: 10.5.0 and 6.1.0
 - `@google-cloud/pubsub` version: 0.22.0 and 0.23.0

I am having a problem with a pubsub sdk.
I've tried to reproduced it on other pc and have got the same result.
If I try to run a subscribe script, I will get cpu loading on 100%
If i use linux, it will work ok.
[code]

![Screen load cp

[2019-01-25 14:11] callmehiphop commented on #445
Possible duplicate of #288

[2019-01-25 14:45] callmehiphop commented on #445
Hi @klerick I'm having a bit of trouble reproducing this, could you provide me with a little bit more info?

* Are you using `GCLOUD_PROJECT` env var?
* Are you using default application credentials?
* Roughly how many messages are pending before creating a subscription?

[2019-01-25 16:02] klerick commented on #445
I've tried to use GOOGLE_APPLICATION_CREDENTIALS env var, and everything works fine. But if I create PubSub object using params. A, then I get load 100% cpu and I do not get any error message.

[2019-01-26 06:00] #288 closed

[2019-01-28 18:15] callmehiphop commented on #445
@klerick I just made a [release](https://github.com/googleapis/nodejs-pubsub/pull/452) (`0.24.0`) that should resolve the issue you're seeing. If you continue to encounter this issue, please let us know! Thanks again for the report!

[2019-01-28 18:15] callmehiphop commented on #438
@zerubeus I just made a [release](https://github.com/googleapis/nodejs-pubsub/pull/452) (`0.24.0`) that should resolve the issue you're seeing. If you continue to encounter this issue, please let us know! Thanks again for the report!

[2019-01-28 18:16] callmehiphop commented on #288
@binarytracer I just made a [release](https://github.com/googleapis/nodejs-pubsub/pull/452) (`0.24.0`) that should resolve the issue you're seeing. If you continue to encounter this issue, please let us know! Thanks again for the detailed report!

[2019-01-28 18:16] callmehiphop commented on #437
I just made a [release](https://github.com/googleapis/nodejs-pubsub/pull/452) (`0.24.0`) that should resolve the issue you're seeing. If you continue to encounter this issue, please let us know! Thanks again for the report!

[2019-01-28 18:30] callmehiphop commented on #314
@zxbodya I just cut new a [release](https://github.com/googleapis/nodejs-pubsub/pull/452) (`0.24.0`), if you upgrade then you should see more detailed error messages, which will hopefully help us track down that deadline error you're seeing.

* [BatchError](https://github.com/googleapis/nodejs-pubsub/blob/master/src/message-queues.ts#L49) refers to failed acknowledge or modifyAckDeadline requests.

[2019-01-29 18:28] dpcollins-google opened #453 "Regression: publisher gRPC max recv set to 4MB"
#### Environment details

  - OS: Any (both OSX and ubuntu running on compute engine)
  - Node.js version: 10 and 11
  - npm version:
  - `@google-cloud/pubsub` version: 0.23.0, 0.24.0

#### Steps to reproduce

  1. Create a publisher which publishes continuously until a certain amount of bytes are outstanding (50MB for example)
  2. Receive error from grpc channel  Unhandled Rejection at: Promise

[2019-01-29 19:24] callmehiphop commented on #453
Looks like we forgot to remove the bound when we converted from plain grpc to gax. I'll get a fix out asap but in the meantime you should be able to do this

[code]

[2019-01-29 19:55] #453 closed

[2019-01-29 21:53] dinvlad commented on #141
Looks like the syntax has changed again. Now we have to do
[code]

[2019-01-29 23:15] callmehiphop commented on #453
The fix for this is now available in `v0.24.1`

[2019-01-30 09:42] klerick commented on #445
@callmehiphop I've checked a new version. As I see the problem is still there

[2019-01-31 21:55] callmehiphop commented on #445
@klerick I made a [branch](https://github.com/callmehiphop/nodejs-pubsub/tree/dg--445) with a possible fix, would you be willing to test it out for me?

[2019-02-01 13:59] ThomWright commented on #437
That seems to have fixed it, thanks.

[2019-02-04 08:13] mirthlaj commented on #131
Hello @callmehiphop.
Sorry for the late response.
Since I couldn't resolve this issue at the time I switched to rabbitMQ.
However I started a new project recently where I also need some kind of message queue software and I decided to try PubSub again and so far I haven't had any problems.
I will just close this issue for now and reopen it If anything were to change.

[2019-02-04 08:13] #131 closed

[2019-02-04 15:40] mgabeler-lee-6rs commented on #141
Is there any activity on this?  The current pubsub library release is nearly impossible to use from TypeScript, since it doesn't ship its own types info, and the DefinitelyTyped info is sufficiently out of date that the only methods it acknowledges are available for publishing no longer exist, and the only methods actually available for publishing aren't in the DefinitelyTyped package.

[2019-02-04 15:55] JustinBeckwith commented on #141
There's been a ton of activity!  You can see a few active PRs here:
https://github.com/googleapis/nodejs-pubsub/pulls

As it turns out, this is a pretty large code base so we can't tackle this all at once.

[2019-02-04 17:44] callmehiphop commented on #131
@mirthlaj thanks for the update!

[2019-02-04 20:54] callmehiphop commented on #314
I think the original issue here might be resolved, we're not really seeing any chatter about it. I'm going to close it, but if anyone starts to experience this again let me know and I'll re-open.

@zxbodya if the secondary issue you mentioned persists, let me know and I'll open a new issue to investigate.

Thanks all!

[2019-02-04 20:54] #314 closed

[2019-02-04 20:57] callmehiphop commented on #389
I'm going to close this, because it looks like a duplicate of #27

[2019-02-04 20:57] #389 closed

[2019-02-05 10:48] zxbodya commented on #314
tried to reproduce the issue I had, using latest version - indeed, it looks to be fixed in v0.24.1

[2019-02-06 09:34] Maidanskiy opened #465 "message.nack is not a function"
#### Environment details

  - OS: Linux/Ubuntu
  - Node.js version: 10.5.0
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version:  >= 0.23.0

#### Steps to reproduce

  1. I'm using pull strategy to consume Pub/Sub messages
  2. When I'm trying to call `message.nack()` I've an error:
[code]
But everything is OK in version <= 0.22.2
I can't found any breaking changes in release CHANGELOG (https

[2019-02-06 10:22] callmehiphop commented on #465
Well that doesn't sound good! We did a sizable refactor to the codebase for 0.23.0, so that might explain why you're experiencing issues, but our [system test](https://github.com/googleapis/nodejs-pubsub/blob/master/system-test/pubsub.ts#L426) for `nack` seems to be working as expected. Would you be able to provide some code to help reproduce the issue you're experiencing?

[2019-02-06 10:47] Maidanskiy commented on #465
yeah, sure
##### Here is my PubSub service provider
[code]

##### Controller:
[code]

##### Service:
[code]

[2019-02-06 11:04] callmehiphop commented on #465
@Maidanskiy thanks for the code! I believe the issue is with this section

[code]

We used to return messages as plain old objects, but part of the refactor introduced a [`Message` class](https://github.com/googleapis/nodejs-pubsub/blob/master/src/subscriber.ts#L59). As a result `ack` and `nack` don't get copied over since they now live on the prototype chain. I had originally considered this to b

[2019-02-06 11:23] Maidanskiy commented on #465
@callmehiphop thanks for help

[2019-02-06 13:38] nikkatalnikov commented on #318
any news on this issue?
we suffer exactly same problem with GKE and node.

[2019-02-06 16:52] zerubeus commented on #438
@callmehiphop thank you

[2019-02-07 05:02] dinvlad commented on #314
Unfortunately, `0.24.1` didn't seem to resolve the issue for us.

It worked when we had ~80 messages in the queue, as they were processed with only a minimal number of "expired" acks, as reported through `subscription/mod_ack_deadline_message_operation_count` metric in Stackdriver.

However, with 4k+ messages in the queue and all the same settings (`maxMessages` set to 2 and the default `ackDeadli

[2019-02-07 07:12] dinvlad commented on #314
I think I found a smoking gun: streaming pull subscriptions stop being restarted internally after ~30 min:
<img width="966" alt="screen shot 2019-02-07 at 1 53 23 am" src="https://user-images.githubusercontent.com/137337/52395701-1dc15980-2a7d-11e9-899f-6eb558ea107d.png">

I'm not sure how this relates to extension of ack deadlines, but the timing coincides with that of all acks turning `expired`:

[2019-02-07 08:15] callmehiphop commented on #314
@dinvlad interesting! Thanks for the graphs, those are super helpful! `modAck` does not use `streamingPull`, we send both those and `ack` requests through regular rpcs. However if you're seeing `modAck`, `ack` and `streamingPull` fail, I think that might be a different issue than the one being described here. In fact it sounds eerily similar to https://github.com/googleapis/nodejs-pubsub/issues/11

[2019-02-07 14:57] dinvlad commented on #314
Thanks @callmehiphop - the interesting point is that this service is running on-prem (to shuttle files between on-prem and GCS), instead of GKE. I guess it may be subject to similar network-related limitations.

[2019-02-07 15:03] dinvlad commented on #11
I'd like to chime in and point out that we're experiencing a very similar issue, where streaming pull connections stop "restarting every 10 min" after a few times (typically in about 30 min). That seems to be correlated with modAcks not working as expected (i.e. all acks are indicated as "expired" after streaming pulls stop). This is described in https://github.com/googleapis/nodejs-pubsub/issues/

[2019-02-07 19:15] mikesparr opened #467 "Project not using Semantic Versioning"
RE: https://github.com/googleapis/nodejs-pubsub/blob/master/CHANGELOG.md#v0230

The product docs claim to use Semantic Versioning, but you are introducing breaking changes in `MINOR` and `PATCH` releases, thus breaking people's NPM module dependencies downstream. You need to bump the `MAJOR` version if ever introducing breaking changes according to SemVer.

 * https://semver.org/

From `0.21.x` on

[2019-02-07 19:23] stephenplusplus commented on #467
We intend to bump to 1.0 soon enough. We're still trying to get the API to make the most sense. In the meantime, we are semver-compliant while we are pre-stable.

Did you run into an issue where the 0.23.0 was automatically installed in a project that was supposed to depend on 0.22.x? It could be a matter of what is in your package.json. npm respects the y of 0.y.z as a breaking change for pre-1.0

[2019-02-07 19:23] #467 closed

[2019-02-07 19:44] mikesparr commented on #467
Thanks for reply.

## Config
[code]

## Error on deploy
 * `TypeError: PubSub is not a constructor`

## Changelog
 * the changelog said you made these breaking changes in `0.23.x` but `package.json` was configured as above

## Solution
 * update code to import `{PubSub}` and drop class instantiation
 * update code and omit `.publisher()` in topic function

## Summary
If semver was followed, the co

[2019-02-07 19:47] stephenplusplus commented on #467
I understand the frustration that suddenly the app crashes in a version you didn't ask for.

@callmehiphop @JustinBeckwith can you think of a way these changes could have been made in 0.23.x, but picked up by ^0.21.1 in GCF?

[2019-02-07 19:54] mikesparr commented on #467
If helpful, this was the output in our CI build that failed:
[code]

[2019-02-07 20:13] dinvlad commented on #314
It appears that only versions starting from 0.23.0 are affected by this behavior. With 0.22.2, streaming pulls don't stop and while we still get occasional "expired" acks, they only happen in a fraction of cases (instead of 100%).

[2019-02-07 20:16] callmehiphop commented on #314
@dinvlad would you mind opening a new issue with the details of what you're seeing?

[2019-02-07 20:34] callmehiphop commented on #467
Looking at our releases it looks like [`v0.21.0`](https://github.com/googleapis/nodejs-pubsub/releases/tag/v0.21.0) actually contained the breaking change you are describing, so I would think the issue you're seeing is expected.

[2019-02-07 20:52] callmehiphop commented on #445
So I think I've narrowed this down to an auth issue (https://github.com/googleapis/google-auth-library-nodejs/issues/614), although I'm waiting on a response of some kind, I think the fix for this will be small and hopefully coming soon.

[2019-02-07 20:53] dinvlad opened #468 "All acks are expired after 30 min of activity with v0.23.0+"
#### Environment details
  - Hardware: on-prem 8-core compute node
  - OS: RHEL 6.9
  - Node.js version: 8.11.3
  - npm version: 6.4.0
  - `@google-cloud/pubsub` 0.23.0-0.24.1:

#### Steps to reproduce

  1. Publish a moderate number of messages to a topic (~4k in our case)
  2. Use a single subscriber that processes each message within 1-2 min, e.g. with the following code:
[code]
  3. After ~30

[2019-02-07 20:54] dinvlad commented on #314
Apologies - https://github.com/googleapis/nodejs-pubsub/issues/468

[2019-02-07 21:13] callmehiphop commented on #314
@dinvlad thanks! That should help us solve your issue more efficiently.

[2019-02-07 21:41] #465 closed

[2019-02-07 22:44] callmehiphop commented on #467
No breaking changes were introduced via `PATCH` as far as I can tell, you can check out the [commits](https://github.com/googleapis/nodejs-pubsub/commits/6e420e7e07cdd04ee916de329e4e533cc106bb71) here if you like.

As far as adding a disclaimer, we actually list one on the repository README

I understand dealing with a `0.x` library can be frustrating since both breaking changes and features come

[2019-02-08 08:28] praveenqlogic commented on #313
#https://github.com/googleapis/nodejs-pubsub/pull/457

[2019-02-08 19:23] callmehiphop commented on #445
@klerick good news, I think this has been fixed in the latest [google-auth release](https://github.com/googleapis/google-auth-library-nodejs/releases/tag/v3.1.0). Its a minor change so we won't be releasing a new version of PubSub, but you might need to reinstall to pick up the latest auth changes.

I'm going to close this (again), but if your issue persists please let me know! Thanks again!

[2019-02-08 19:23] #445 closed

[2019-02-15 14:15] Kilimangaro opened #480 "Include types definitions (*.d.ts) in published package"
This library is builded in typescript, but the types definitions files (*.d.ts) are actually  excluded from the published package.

The solution is to simply remove the exclusion line from the package.json

actual package.json
[code]

proposed package.json
[code]

I can follow with a PR if you wish.

Regards

[2019-02-15 16:08] callmehiphop commented on #480
@Kilimangaro for the moment we've been excluding them intentionally. Originally this client was written in pure JavaScript but we've been putting forth a solid effort to convert a number of our clients to TypeScript. I think we're still a little ways off from where we want to be with our types, but I'm optimistic that we'll have a fully typed release out this quarter. I would subscribe to https://

[2019-02-15 16:08] #480 closed

[2019-02-15 20:24] JustinBeckwith opened #483 "Unflake the system tests"
The system tests are currently hella flaky.

[2019-02-16 12:03] burningraven06 opened #484 "High Latency (1800 msec) for message publish, create subscription, topic list, subscription list, create topic"
Hello,

I have initiated a pubsub client with the **@google-cloud/pubsub**  (version: 0.23.0)  npm package in my node app. Problem is, _any action I make_, ex: (List all topics, List all subscriptions, create topic etc) it takes around **2 secs (1800 ms )** to complete.

Here, is a sample of my snippet.
Please let me know what seems to be the problem

[code]

Here are some screenshots from my Inso

[2019-02-16 22:09] callmehiphop commented on #484
Hi @burningraven06 and thanks for the detailed writeup! Would you be able to provide us with some additional details about your environment?

* What OS are you running your application in?
* What version of Node are you using?
* Are you running your application in GCF, GKE, etc.?

[2019-02-16 22:38] callmehiphop commented on #483
@kir-titievsky I've been noticing lately that sometimes when I fetch a list of snapshots, I get more than I am expecting. In my testing I create a branch new topic/subscription, so I would assume that there would be no pre-existing snapshots. After creating 1, if I list the snapshots I'm often surprised to see that there might be 2 or 3. Any ideas why this might be happening?

[2019-02-17 04:28] burningraven06 commented on #484
Hi @callmehiphop, @yoshi-automation

Sure I'd be glad to provide any info necessary.

1. I am using Ubuntu 18.04 (OS)
2. I am using Node v10.15.1
3. I am running the app on my local machine

[2019-02-17 19:03] callmehiphop commented on #483
Nevermind! I forgot Snapshots were global to the project, so now that we run system-tests multiple times per PR, I think what I'm seeing makes sense.

[2019-02-18 03:29] #483 closed

[2019-02-18 06:11] #313 closed

[2019-02-18 06:25] JustinBeckwith opened #486 "Enable noImplicitAny in the tsconfig"

[2019-02-18 06:26] JustinBeckwith commented on #141
This is done 🧀 Will be in the next release.

[2019-02-18 08:42] webnator commented on #27
Any news on this issue or how to solve it? We're experiencing random peaks of these errors during the day for a couple minutes, and then they seem to resolve. We're seeing this using Spanner.
Any idea what could be causing this, or how to solve it?

[2019-02-19 23:55] callmehiphop commented on #484
@burningraven06 I've been messing around with your reproduction code and I was hoping you could spare a few more details with me.

1. How many Topics are returned via `pubsub.getTopics()`
1. How many Subscriptions are returned via `pubsub.getSubscriptions()`

My initial testing actually showed very similar latency, but it turned out I had quite a few lingering subscriptions and topics from various

[2019-02-20 00:28] callmehiphop commented on #397
I spent some more time digging into this and I think this might be a cold start issue. When I set `maxMilliseconds=0` and publish 5 messages, the first message almost always takes 100~200ms to complete. However subsequent requests have consistently been around 50~100ms.

@JustinBeckwith @stephenplusplus I did a little testing to see if the grpc-js would give us any gains here, but the results are

[2019-02-20 00:32] JustinBeckwith commented on #397
@theacodes @jadekler @jskeet @blowmage @jdpedrie

[2019-02-20 04:32] aaronhong commented on #141
yay! what's the release cycle like? Eagerly waiting for the new changes.

[2019-02-20 04:43] JustinBeckwith commented on #141
@callmehiphop will be cooking up one v soon :)

[2019-02-20 04:46] jadekler commented on #397
I've not seen reports of this in Go. @kolea2 in java?

[2019-02-20 06:42] jskeet commented on #397
cc @chrisdunelm who has more experience with the .NET client than I do.

[2019-02-20 13:11] callmehiphop commented on #170
@JustinBeckwith do we have an issue or anything to track GCF cold start performance? I think this is mostly the same as #397 otherwise.

[2019-02-20 13:15] pmcnr-hx commented on #170
*Update*: with latest (`0.24.1`) Node.js PubSub module we're no longer having issues with high and unpredictable subscription latency.

[2019-02-20 14:12] callmehiphop commented on #170
@pmcnr-hx that is great news, thanks for letting us know! I'm going to close #397 and we can keep this around as a GCF specific issue.

[2019-02-20 14:15] callmehiphop commented on #397
Got an update from the reporter and it looks like this issue has since been resolved (https://github.com/googleapis/nodejs-pubsub/issues/170#issuecomment-465569147). I'm going to close this, thanks for the help everyone!

[2019-02-20 14:15] #397 closed

[2019-02-22 22:54] alexander-fenster opened #496 "system tests leftovers"
Every system test run leaves behind 3 topics, 5 subscriptions, and 1 snapshot. Seems like we either don't delete something, or delete incorrectly. Within time, it all affects test runtime and, even worse, smoke tests start spamming a lot since they print each topic and each subscription in the project.

Could we make sure we cleanup after system tests properly?

[2019-02-26 05:54] cdock1029 commented on #141
I'm not seeing the types in this latest release (assuming they were supposed to be added..)

https://github.com/googleapis/nodejs-pubsub/blob/8a0e71163a68a2f20a41e3277e8549faa941442d/package.json#L16

[2019-02-26 06:01] aaronhong commented on #141
I second that. I ended up looking in the `node_modules` directory to see what was installed and could not find `./build/src/index.d.ts` They aren't in the git repo either–are they autogenerated in the build step?

[2019-02-26 06:09] cdock1029 commented on #141
Think they just forgot to remove the exclusion

[2019-02-26 14:55] #141 closed

[2019-02-26 16:23] callmehiphop commented on #318
I've been trying to dig into this and I'm not entirely sure this is something we actually can fix in gax (not very easily at least). AFAIK grpc channels don't actually let you supply new credentials to a pre-existing client, instead it looks like if the credentials expire you have to make a new client altogether. I think if we wanted gax to handle this, either grpc would need to expose a method fo

[2019-02-27 09:27] nirbenda opened #500 "Memory Leak on Subscription (Windows)"
Hello,

I am experiencing what seems to be a memory leak.
At first the NodeJS process memory is ~40MB and after about 5-10 minutes (of continiuosly receiving messages every two seconds and acking them) it rapidly grows from 40MB to 1.6GB in term of seconds, and after a few minutes Node crashes with OOM because it excceeded the maximum capacity allowed for memory allocation.
Inspecting the allocati

[2019-02-27 09:39] callmehiphop commented on #500
Hi @nirbenda, do you know approximately how many messages you have waiting to be processed? If you're only getting 1 every 2 seconds that would mean over the course of 10 minutes you've only processed about 300 messages.

[2019-02-27 10:10] nirbenda commented on #500
Hi @callmehiphop , thanks for looking into this.
Yes, as it is a message every 2 seconds and it takes about 5 minutes to happen so it is about 150-300 messages being processed.

[2019-02-27 10:27] callmehiphop commented on #500
I guess what I'm trying to get at is if your application is *expecting* about 30 messages per minute. One possible cause of a memory leak could be the clients flow control mechanisms not functioning properly, but in this case that seems unlikely given the low number of pending messages.

[2019-02-27 10:32] nirbenda commented on #500
After a while I get this heap out of memory message:

[code]

[2019-02-27 12:23] callmehiphop commented on #500
@nirbenda so far I haven't been able to reproduce the issue you're seeing. I thought maybe it was specific to Windows, but my PC runs your reproduction code well enough and memory seems to sit around 60MB on my machine.

I'm running the following publisher script at the same time to try and emulate getting 1 message every 2 seconds.

[code]

Is there anything I could do differently that could give

[2019-02-27 13:12] burningraven06 commented on #484
HI, @callmehiphop

Thanks for checking out my code.

I have 2 subscriptions.
I have 3 topics.

It's still taking around 2 seconds (1900 msec) for LIST (list topics,subs) operation.
For Creating a topic, it took nearly 7 seconds.

I'm not sure what else could be wrong, I ran it from another machine...

[2019-02-27 13:19] nirbenda commented on #500
Maybe some of the inner dependency versions? Maybe legacy installed packaged are causing this.
Here is the 'npm list':
[code]

[2019-02-27 13:38] callmehiphop commented on #484
Out of curiosity have you tried using Insomnia to hit the PubSub REST API directly? I'm curious what kind of latency you see from that.

[2019-02-27 14:28] callmehiphop commented on #500
@nirbenda Our dependency list looks the same, although I'm not getting any `extraneous` errors. Are you running `npm dedupe` or using any additional Google Cloud Node.js clients in the same project?

[2019-02-27 20:35] nirbenda commented on #500
I got this problem on another project I have, but I had created this totally separated project that includes only the code I presented above.

[2019-02-27 20:48] ajaaym commented on #500
@nirbenda this might not make any difference, but can you try loading ```const {PubSub} = require('@google-cloud/pubsub');``` outside function?

[code]

[2019-02-27 21:10] callmehiphop commented on #500
@nirbenda Could you share your `package-lock.json` file?

[2019-02-27 21:22] nirbenda commented on #500
@ajaaym , tried to do what you offered, same results :(.
@callmehiphop , here is my package-lock.json (renamed to .txt)

[package-lock.txt](https://github.com/googleapis/nodejs-pubsub/files/2912361/package-lock.txt)

[2019-02-28 10:14] mjaros commented on #141
@JustinBeckwith Can you please push out a bugfix release now that the typescript declaration files are properly generated? As this is not yet in the latest v0.25.0 release. I am eagerly waiting to use this with typescript.

[2019-02-28 12:29] callmehiphop commented on #500
Unfortunately I'm still unable to reproduce :( would you mind testing with older versions of the client? If we can find the last version that does not produce this error it might help us to determine what changes could be causing it.

[2019-02-28 13:07] nirbenda commented on #500
@callmehiphop  Sure, which version do you suggest to start from?

[2019-02-28 13:17] callmehiphop commented on #500
Lets try with the following

* 0.24.1
* 0.23.0
* 0.22.2

[2019-02-28 13:19] callmehiphop commented on #141
@mjaros there are a couple of pending PRs I'd like to merge first, but I will try and cut a new release today. Although it will likely be a new minor.

[2019-02-28 15:04] callmehiphop commented on #141
@mjaros `v0.26.0` was just released and shipped with types! Let us know if you run into any problems upgrading

[2019-02-28 18:56] merlinnot opened #507 "Invalid typings"
#### Environment details

  - OS: irrelevant
  - Node.js version: irrelevant
  - npm version: irrelevant
  - `@google-cloud/pubsub` version: 0.26.0

It looks like the typings shipped with 0.26.0 are incorrect. I can't see any difference in actual implementation nor the changelog that would explain these changes:
- `Topic.exists` has a required parameter - a callback. It should return void if provi

[2019-02-28 21:14] nirbenda commented on #500
@callmehiphop In version 0.24.1 I could not reproduce this issue. I will let it work for a couple of hours just to be sure.
Which version do you think it is best to check next?

[2019-02-28 21:18] callmehiphop commented on #500
@nirbenda I don't think there's any need to check other versions, I'm going to go through the commits between 0.24.1 and 0.25.0 and see if there's anything obvious that might be causing the issue. Thanks for testing it out!

[2019-02-28 21:25] mgabeler-lee-6rs commented on #141
`topic.exists()` doesn't work in typescript, because the exported types claim the `callback` parameter is mandatory and the return type is `void` -- i.e. the types don't reflect that method being promisfied:
https://github.com/googleapis/nodejs-pubsub/blob/cbb60c99a431b2e37f786fcf14c4ded573376505/src/topic.ts#L305

[2019-02-28 21:36] callmehiphop commented on #141
@mgabeler-lee-6rs yeah, it looks like some of our signatures aren't quite right. I'm actively working on it and will hopefully have some fixes released soonish.

[2019-03-01 01:58] nirbenda commented on #500
@callmehiphop unfortunately, it took longer but it happened also in 0.24.1 as well.
I will check the other versions now.

[2019-03-01 06:31] nirbenda commented on #500
@callmehiphop In version 0.23.0 it doesn't seem to reproduce, I am having another issue after running for a while (ERROR: error: 14 UNAVAILABLE: TCP Read failed) but I think this might be already fixed in newer versions.
I tracked the memory usage and it seems to be stable (below 40MB).
So I think it might be something between 0.23.0 and 0.24.1.
Thanks :)

[2019-03-04 21:30] callmehiphop commented on #500
@nirbenda thanks for the report! It looks like between 0.23.0 and 0.24.1 we upgraded 2 of our core dependencies. I suspect the issue is coming from one of them, but I'm probably going to need your help determining which one since I've been largely unsuccessful at reproducing your issue so far 😢

The dependencies in question are:

* [google-gax](https://github.com/googleapis/nodejs-pubsub/pull/444)

[2019-03-05 12:21] merlinnot commented on #507
@callmehiphop could you please reopen? Still invalid in v0.27.0

I'll make a PR to fix it, at least the parts that I use. I don't have time to go through all of the types myself.

[2019-03-05 12:25] maidanskyi opened #524 "What type of PubSub message.data?"
Hi guys,
I'm using Google Pub/Sub on a project and I've a few problems,
here is one of then - **I'm pushing buffered data into the topic but I don't understand what I'm consuming.** Maybe, you can help me to understand where is a problem. According to Google docs for [0.23.x](https://cloud.google.com/nodejs/docs/reference/pubsub/0.23.x/google.pubsub.v1#.PubsubMessage) - `message.data` field has a

[2019-03-05 17:35] callmehiphop commented on #524
Hi @maidanskyi, I'm not sure why that says string, because it definitely will **always** be a `Buffer`. The `[object Object]` is pretty unexpected, I think it could be 1 of 2 things (maybe):

1. `d` is **not** a Buffer or a string, but rather an object. This seems unlikely, but if that is the cause I'd say you've uncovered quite the bug in our library! I'll need your help to confirm if that is wha

[2019-03-05 17:46] callmehiphop commented on #507
Sure thing, sorry about that @merlinnot, I'll make another pass through today.

[2019-03-05 18:11] JustinBeckwith commented on #524
Right now the doc publishing process is manual (fix for that coming soon).  @jkwlui can you turn the crank here?

[2019-03-05 20:54] richtera opened #526 "I just tried to upgrade and I am getting many cannot find type "Long" error"
Thanks for stopping by to let us know something could be better!

#### Environment details

  - OS: Mac OS X
  - Node.js version: node v10
  - npm version: yarn 1.13.0
  - `@google-cloud/pubsub` version: Current 0.24.1  Tried to Upgrade to 0.27.0

#### Steps to reproduce

  1. Setup existing project using typescript
  2. Upgrade from 0.24.1 to 0.27.0

I don't know if there are other causes or setu

[2019-03-06 00:06] callmehiphop commented on #526
Thanks for the report @richtera! Unfortunately this is an issue that can be found in a couple our libraries. I'm going to leave this issue open to make sure the fix lands in PubSub, but anyone running into this issue should subscribe to https://github.com/googleapis/nodejs-datastore/issues/345 for now.

[2019-03-06 07:43] nirbenda commented on #500
I tried reverting those two libraries to previous versions, but the memory leak still occurred after a while.
Now I have reverted again to 0.23.0 just to be sure that it does not happen.
Any other idea?

[2019-03-06 08:52] nirbenda commented on #500
@callmehiphop By the way, on the 0.23.0 version I get this error EXACTLY after 900 messages (checked twice), therefore it is problematic to check a long-running process. Although monitoring the memory in the 0.23.0 version seems to show now indication of a memory leak.
Any other ideas?
[code]

[2019-03-06 11:12] maidanskyi commented on #524
Hi @callmehiphop, @JustinBeckwith

@callmehiphop, the second case is not my, 100%!
I'm sending usual JSON (array with objects(values contain strings or numbers), nothing special).
`few kb < message size < 2Mb`

[2019-03-06 17:47] callmehiphop commented on #524
@maidanskyi would you be able to put together a small reproduction of your issue? All our tests consistently show a `Buffer` being returned.

[2019-03-06 18:52] callmehiphop commented on #500
I'm a bit of a loss really, being unable to reproduce makes it almost impossible to determine the issue. If I had to speculate I would think the memory leak would come from 1 of 2 places

* Subscription flow control bug
* Native grpc error

Which would lead me to guess that this might be a grpc error since we've kind of ruled out the possibility of a flow control bug. @nirbenda if you want to try

[2019-03-06 20:25] ajaaym commented on #468
@dinvlad There seems a bug in grpc node where it doesn't emit status event when bidi stream is closed from server with error bcz read_status is still null [here](https://github.com/grpc/grpc-node/blob/master/packages/grpc-native-core/src/client.js#L224). Server is closing the bidi stream after sending all unacked message 4 times when there is no more message with error.

grpc node code between pub

[2019-03-06 23:55] #507 closed

[2019-03-07 00:28] merlinnot opened #530 "Prettier - formatting"
I've noticed that this library uses `gts` for formatting, but Prettier is listed as a `devDependency`. I personally prefer Prettier, so I'd be happy to contribute and introduce full support for it. Anyway, we have two options:

1) Remove Prettier and related packages from `devDependencies`.
2) Start formatting the source code using Prettier.

Let me know WDYT and I'll make a PR.

[2019-03-07 02:42] JustinBeckwith commented on #530
Greetings, and thanks for the offer!  I have some good news here.  We use a module called [`gts`](https://github.com/google/gts) for all of our TypeScript formatting.  The 1.0.0-0 release (master branch) actually switches from `clang-format` to `prettier`!  We are just waiting for Node.js 6 to go EOL next month, then all our modules will get this for free :) .

[2019-03-07 03:20] merlinnot commented on #530
Nice! Shall we then remove explicit dependency on it? And what about ESLint config?

We might also do it altogether in a month and just keep this issue open so we don’t forget.

[2019-03-07 03:30] JustinBeckwith commented on #530
We're going to just wait for the node 6 EOL, and cover this as part of the gts 1.0 update.

[2019-03-07 17:59] mgabeler-lee-6rs opened #532 "Can't use the library in projects that build with skipLibCheck: false"
#### Environment details

  - OS: Linux
  - Node.js version: 10.15.1
  - npm version: rush 5.5.3, using pnpm 2.16.0
  - `@google-cloud/pubsub` version: 0.27.0 / 0.27.1

#### Steps to reproduce

  1. Import `@google-cloud/pubsub` into a TypeScript project
  2. Don't enable `"skipLibCheck": true` (or explicitly set it to `false` in your `tsconfig.json`
  3. Try to build

Resulting errors (I've trimm

[2019-03-07 18:33] JustinBeckwith commented on #530
Since this is a cross-cutting issue, closing this in favor of https://github.com/googleapis/google-cloud-node/issues/2842

[2019-03-07 18:33] #530 closed

[2019-03-08 18:02] JustinBeckwith commented on #526
@callmehiphop can you pull over the test I added to datastore along with this fix?  Would be nice to make sure we don't mess this up again lol.

[2019-03-11 10:13] maidanskyi commented on #524
Hi, I was testing my code these few days and I found the next thing - the problem only arises when I modify the date field of the incoming message from `PubSub`. Otherwise, Buffer always comes.

[2019-03-11 10:33] callmehiphop commented on #524
@maidanskyi any chance you could share some code with us?

[2019-03-11 12:35] maidanskyi commented on #524
@callmehiphop I gave you an access to the repository

[2019-03-11 15:55] JustinBeckwith commented on #532
@callmehiphop was this covered in #536?

[2019-03-11 16:11] callmehiphop commented on #532
@JustinBeckwith I think so, but it would probably be best if @mgabeler-lee-6rs could let us know after we cut our next release.

[2019-03-11 17:36] callmehiphop commented on #532
@mgabeler-lee-6rs I just published a new release (0.28), would you mind upgrading and testing to see if your issue still persists?

[2019-03-11 17:37] callmehiphop commented on #526
@richtera I just cut a new release (0.28), would you mind upgrading and testing to see if your issue is resolved? Thanks!

[2019-03-11 17:53] stephenplusplus opened #540 "Potential Memory Leak"
I believe [this line in message-stream.ts](https://github.com/googleapis/nodejs-pubsub/blob/955ef5f37c32334707878969f3532c843b035bf8/src/message-stream.ts#L198) could hang onto the `stream` reference longer than it needs to, causing `stream` to remain in memory.

Here's the code:

[code]

The `stream` reference variable is required for the error and status event handlers to function properly. I be

[2019-03-11 17:58] mgabeler-lee-6rs commented on #532
#536 looks promising, and I think it definitely helped, but it doesn't quite solve the issue.  I still have the errors below in a consumer project when `skipLibCheck` is set `false` in `tsconfig.json`.

I think what's left that needs fixing is:
1. This package needs `@types/long`
2. `google-gax` needs `@types/duplexify`, and this package needs to pull that update
3. `grcp` needs an updated `protob

[2019-03-11 18:12] callmehiphop commented on #532
@mgabeler-lee-6rs thanks for the speedy reply!

@JustinBeckwith what is the latest news for https://github.com/googleapis/nodejs-datastore/pull/358? I assume whatever the resolution is there, we'll want the same thing here.

[2019-03-11 19:41] JustinBeckwith commented on #532
I'm not going to have time to engage there for the next few days.  @callmehiphop can you try adding `skipLibCheck` and `types: ['node']` to the existing system test, and seeing where it goes?  Worst case, we add code to the generated d.ts for now while we wait for the fix to land in `pbts`.

[2019-03-11 19:45] callmehiphop commented on #532
@JustinBeckwith those options already exist in the system test, but neither my local machine or CI can replicate the error. I'm just going to bite the bullet and manually edit the generated files until we get a proper fix in `pbts`.

[2019-03-11 20:03] mgabeler-lee-6rs commented on #532
NB: I realized I got the title of this PR confused / backwards, though the description was correct

[2019-03-11 20:39] #526 closed

[2019-03-11 20:40] callmehiphop commented on #532
@mgabeler-lee-6rs oh whoops, looks like we had it configured wrong in that case! Thanks for the update!

[2019-03-11 23:09] callmehiphop commented on #532
@mgabeler-lee-6rs just published a patch release. I think this might be the one 🤞

[2019-03-12 05:37] MattGson opened #545 "Messages are not redelivered to subscriber."
#### Environment details

  - OS: OSX 10.11
  - Node.js version: 8
  - npm version: 4.6
  - `@google-cloud/pubsub` version: 0.26

#### Steps to reproduce

[code]

If an error is thrown then the message is not acked. At this point the message just sits in the queue forever. I have seen messages sit for several days.

From the documentation, I believe a timeout should be reached and the message shou

[2019-03-12 15:42] marcusnielsen opened #547 "Cannot build v0.28.1"
- OS: Ubuntu
  - Node.js version: 10.15.1
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: 0.28.1

#### Steps to reproduce
In a new project:
* ` npm install typescript @google-cloud/pubsub`
* Create a file `src/index.ts` with content:
[code]
* `npx tsc --init`
* Set rootDir and outDir in tsconfig.json.
* run `npx tsc` and the console output should give you a typescript error:
[code]

I t

[2019-03-12 15:54] marcusnielsen commented on #547
Seems like v0.26.0 and v0.27.0 works, but only if I add `"noImplicitAny": false` to tsconfig.

It still fails on v0.28.0 and v0.28.1 with `"noImplicitAny": false` set.

[2019-03-12 16:20] callmehiphop commented on #545
@MattGson there is an option called `maxExtension` you can use to manage the duration of a message lock. By default it is set to `Infinity` which essentially translates to your subscriber uptime.

[code]

Hopefully this helps, if not, let us know!

[2019-03-12 16:20] #545 closed

[2019-03-12 18:55] JustinBeckwith commented on #547
I can reproduce this, and have no earthly idea why our install test doesn't catch it.

[2019-03-12 18:56] JustinBeckwith commented on #547
Actually my output is entirely different:

[code]

[2019-03-12 19:08] JustinBeckwith commented on #547
ok figured it out!  It's the version of TypeScript that's probably creating the problem.  When I hard code to `3.0.0`, this problem appears.  If I upgrade to `3.3.3333` (no, that is not a typo...) it all works great.

@marcusnielsen what version of TypeScript are you using?

[2019-03-12 20:03] callmehiphop commented on #547
@JustinBeckwith I'm able to reproduce this consistently with a local install of `3.3.3333`.

[2019-03-12 20:04] JustinBeckwith commented on #547
waaaaaaaaat

[2019-03-12 20:11] callmehiphop commented on #547
I think it might be the result of using some of the defaults that `tsc --init` provides. Here's my `tsconfig.json`

[code]

[2019-03-12 21:15] marcusnielsen commented on #547
My report applies to typescript version `3.3.3333`.

[2019-03-12 22:25] cdock1029 commented on #547
typescript `3.3.3333`

Same error as @marcusnielsen, in `gax-nodejs/src/streaming.ts`
they are doing:

[code]

Making this change in my `tsconfig.json` eliminated the build error:

[code]
`esModuleInterop`:
[code]

[2019-03-13 00:00] MattGson commented on #545
@callmehiphop Thanks, that has worked perfectly!

[2019-03-13 08:42] marcusnielsen commented on #547
I can confirm that it builds with `const { PubSub } = require("@google-cloud/pubsub");`.

I haven't run any code yet to try it out, but hopefully this unblocks us from using the latest version.

Well done with the speedy work here! :1st_place_medal:

From my point of view, you can close the issue unless you want to keep it open to solve the root cause.

[2019-03-13 10:03] MattGson commented on #545
So, the fix was short lived. Initially it worked with messages being redelivered after the maxExtension time and also upon restarting a subscriber.

Now, the messages have started to build up in the queue again. This time, even restarting the subscriber is not triggering a redelivery.

The only thing that changed was that the original subscriber was run again a couple of times without the maxExten

[2019-03-13 11:58] marcusnielsen commented on #547
I can confirm that it builds with `const { PubSub } = require("@google-cloud/pubsub");`.

I haven't run any code yet to try it out, but hopefully this unblocks us from using the latest version.

Well done with the speedy work here! :1st_place_medal:

From my point of view, you can close the issue unless you want to keep it open to solve the root cause.

[2019-03-13 17:55] callmehiphop commented on #545
@MattGson In regards to your messages not being delivered, do you know what the ack deadline is set to? Restarting the subscriber won't help here because it only manages messages it receives and there is no API for retrieving pending messages. If the deadline for the messages in question is set too far into the future then you'll have to either wait it out or manually modify the ack deadlines.

Ou

[2019-03-13 22:39] MattGson commented on #545
Ok, thanks for the information. The ack deadline for the subscription is set to the default value of 10 seconds so shouldn't be an issue? I'll play around with it and may end up disabling message locking as it is not really important in my application.

[2019-03-13 23:24] ctavan opened #550 "Many parallel subscriptions in one process => DEADLINE_EXCEEDED upon ack"
#### Environment details

  - OS: GKE
  - Node.js version: 10.13.0
  - `@google-cloud/pubsub` version: 0.28.1

#### Steps to reproduce

This is a follow-up report to #240, the symptoms are the same however I think I have a better understanding of what might go wrong this time.

I have made another take on finally upgrading the node pubsub library from `v0.18.0` to `v0.28.1`.

* I am currently runn

[2019-03-14 05:03] callmehiphop commented on #550
@ctavan as always, thank you for the detailed write up!

I suspect this is exactly it. I'm a little fuzzy on the internal workings of grpc, but if you're re-using the same `PubSub` instance for all subscriptions, I think they are all sharing the same channel. Each subscription creates 5 `StreamingPull` streams by default, so in total we are looking at 115 streams total for 23 subscriptions.

You c

[2019-03-14 09:50] ctavan commented on #550
@callmehiphop thanks for the swift reply, I think we're getting closer!

The magic number where it starts failing in my setup seems to be `20` parallel subscriptions. With `19` it works fine, with `20` I get `DEADLINE_EXCEEDED`.

Reducing `maxStreams` to `4` just for testing made it work with `23` subscriptions. So maybe there's a limit of exactly `100` streams? Is this something you can confirm f

[2019-03-14 17:23] callmehiphop commented on #550
Came across this issue https://github.com/grpc/grpc-go/issues/1514 which then lead me to this [option](https://grpc.io/grpc/core/group__grpc__arg__keys.html#ga5bb9256d0b457cab219f4d9d765148b6). Sounds like grpc might default to 100, could you give the following a test run? Assuming that is the issue, I think the solution here would be to unbound the number of concurrent streams.

[code]

[2019-03-15 09:09] ctavan commented on #550
@callmehiphop unfortunately `'grpc.max_concurrent_streams'` doesn't seem to have any effect at all on the described issue. Event setting it to `1` will still leave the setup working as long as `NUM_SUBSCRIPTIONS * maxStreams < 100`, setting it to a high number doesn't fix the issue for `20` concurrent subscriptions.

I have built a simple reproduction case that you can use to further debug this is

[2019-03-15 09:14] ctavan commented on #550
I should maybe mention that I was running the reproduction case from my local machine, not GKE: So the issue doesn't seem to be environment-related.

[2019-03-15 09:27] callmehiphop commented on #550
@kir-titievsky does the PubSub API limit the number of concurrent streams per channel?

[2019-03-18 10:39] callmehiphop commented on #550
friendly ping @kir-titievsky @jganetsk

[2019-03-18 15:31] crivera commented on #31
I have the same issue in version 0.28.0

`
const pubsub = require('@google-cloud/pubsub')
const grpc = require('grpc')

const client = new pubsub.v1.SubscriberClient({
  servicePath: 'localhost',
  port: 8085,
  sslCreds: grpc.credentials.createInsecure()
})
`

Any help would be appreciated. Node 8.11.3

`
(node:39711) UnhandledPromiseRejectionWarning: TypeError: Channel's second argument must be

[2019-03-18 19:41] callmehiphop commented on #500
@JustinBeckwith is there anyone else we could try and pull in on this to attempt a repro?

[2019-03-18 21:13] jganetsk commented on #550
Is 'grpc.max_concurrent_streams' per channel? Maybe there's another property that's specific to channels?

[2019-03-18 22:44] callmehiphop commented on #550
I believe that is per channel, @murgatroid99 might be able to help here

[2019-03-19 21:26] rossj commented on #468
I've been running into this issue consistently for the past 3 weeks (as long as we've been trying to seriously use Pub/Sub in production). I've seen it with client versions 0.25 through the latest 0.28.1.

My subscribers can sit quite happily for days when there are not many messages, but as soon as there is a burst and the subscribers get behind, things stop acking after about 1/2 hour and I have

[2019-03-19 21:31] callmehiphop commented on #468
@rossj could you share any details about your environment? Are you running on GKE, GCE, etc.? About how many messages are in your queue once the subscribers stop responding? Any other notable happenings like high memory/cpu usage?

[2019-03-19 22:20] callmehiphop commented on #468
In the past we've seen backend issues with underlying streams becoming non-responsive in certain environments if they are kept open for too long. Without a solid reproduction case I can't really say if that is what is happening here, but right now it's my best guess.

I created a branch (https://github.com/callmehiphop/nodejs-pubsub/tree/dg--468) to allow setting a `pullDeadline` option. This shou

[2019-03-19 22:30] rossj commented on #468
We have multiple topics that are part of a processing workflow / pipeline. I've seen this behavior on a topic with a single subscriber running on GCE, and with other topics that have subscribers running on GKE with horizontal pod autoscalers tied to the undelivered message count.

Below are some Stackdriver graphs from today which I think show the situation pretty well. Essentially there was a ste

[2019-03-21 07:34] slavoroi opened #557 "subscription.on stops receiving messages"
#### Environment details

  - OS: linux mint 17.3/ ubuntu 16.04
  - Node.js version: 8.12.0 / 8.9.4
  - npm version: 6.9.0
  - `@google-cloud/pubsub` version: 0.28.1 / 0.24.1

Listening to a subscription stops receiving messages after a random amount of time or a certain peak.
It all works well when we have dozens of messages in the queue (small queue with minimum activity).
No errors are received

[2019-03-21 07:57] callmehiphop commented on #557
I think this is a duplicate of https://github.com/googleapis/nodejs-pubsub/issues/468. I might have a fix via https://github.com/googleapis/nodejs-pubsub/pull/556 if you have the bandwidth to test, otherwise I would subscribe to that issue for now.

[2019-03-21 07:57] #557 closed

[2019-03-21 08:56] slavoroi commented on #468
Running Those fixes locally didn't help us (0.22.2 , the flowcontrol/streamingOptions/  updating to c1da94980b595024d0954f00769e7572279c62da commit or master-https://github.com/googleapis/nodejs-pubsub/pull/556), we got some messages on the server start and from than on nothing.
Maybe the distant servers has to be updated in order for it to work?

[2019-03-21 19:20] callmehiphop commented on #532
Been kind of quiet here, so I'm going to close this one out. If the issue re-surfaces, please let us know!

[2019-03-21 19:20] #532 closed

[2019-03-21 19:23] callmehiphop commented on #484
Haven't heard anything here in a while so I'm going to close this one out. If anyone experiences a similar issue or can provide new info, let us know! Thanks

[2019-03-21 19:23] #484 closed

[2019-03-22 21:01] mgabeler-lee-6rs commented on #532
Been a bit kooky on my end, but I just tried updating one of our projects to `0.28.1` and setting `skipLibCheck: false` again, and the errors related to PubSub are indeed gone, thank you :grinning:

[2019-03-22 21:02] callmehiphop commented on #532
@mgabeler-lee-6rs awesome, thanks for letting us know!

[2019-03-22 21:14] JustinBeckwith commented on #532
/me looks to see what we did to fix it

[2019-03-22 21:22] mgabeler-lee-6rs commented on #532
I believe it was #541

[2019-03-26 13:56] stephenplusplus commented on #248
This has evolved into a core issue, https://github.com/googleapis/nodejs-common/issues/234, so I think it's safe to close here until we figure out which direction we're moving in.

[2019-03-26 13:56] #248 closed

[2019-03-26 14:02] stephenplusplus commented on #27
@webnator is this still the case using updated dependencies? It might help to confirm what versions you are running.

[2019-03-26 14:05] stephenplusplus commented on #170
@ak-org just wanted to check on this since we've made some changes as the client has evolved. Is this still an issue?

[2019-03-30 17:10] ak-org commented on #170
Hi, I haven't used the service in past few weeks. You can go ahead and close the issue. If I find something, I will report back.

[2019-03-30 17:10] #170 closed

[2019-04-04 02:34] MattGson commented on #547
Looks like GAX had the same issue but has since solved it by [removing the dependency on the duplexify types.](https://github.com/googleapis/gax-nodejs/pull/458)
Could the same solution be applied here?

I have a combined JS/TS project and rely on esModuleInterop for a number of other dependencies. Unfortunately using CommonJS imports doesn't solve the problem for me (I was already using it for pu

[2019-04-04 21:42] bcoe commented on #468
@dinvlad @rossj @ajaaym are you still running into the original issue?

I'm wondering if there's a chance this issue potentially needs to be broken into a few more specific issues (if @callmehiphop's patch fixed the bug for some folks).

[2019-04-04 21:45] bcoe commented on #550
Hey @ctavan :wave: small world.

Just dusting off this issue, which has gotten a little bit stale; are you still bumping into issue?

[2019-04-04 22:57] callmehiphop commented on #550
@bcoe I'm going to go ahead and say yes, looks like there's a magical limit that I'm guessing gRPC sets, but it is pretty unclear to me how it is set and if it is configurable. I'm hoping @murgatroid99 can shed some light here

[2019-04-05 12:25] slavoroi commented on #468
The issue waant solved for us.The nodejs services that use dozens of messages are working fine, but whenever we send thousands of messages in a mettar of seconds subscription.on stops working.
 Our workaround is calling pull every few seconds with a few threads (does work).

[2019-04-05 12:52] ctavan commented on #550
Hey @bcoe & @callmehiphop: I just re-ran [my reproduction case](https://gist.github.com/ctavan/2298c2bd965e902d4d8ad2788ffcb0b8) and can confirm that the issue still persists.

Picking up my suggestions from above I see two routes moving forward:

1. Figure out why this 100-stream limit exists and get rid of it.
1. Accept the 100-stream limit, document it and make sure that the library throws a de

[2019-04-05 16:50] dinvlad commented on #468
We haven't had enough load of messages lately, but I'd be curious to hear about any improvements.

[2019-04-05 19:22] marcusnielsen commented on #547
@MattGson do you have the same issue with typescript v3.4.1? We were able to solve it by upgrading typescript. You might want to delete your package-lock.json and rm -rf node_modules just to be safe if you try.

[2019-04-06 04:48] MattGson commented on #547
Hey, that seems to have done the trick. Thanks very much.

I tried deleting package-lock.json and no luck. Then tried updating TS, still no luck. Then I deleted node modules and package-lock.json and reinstalled which seems to have fixed it.

[2019-04-08 11:43] mkls opened #568 "Random DEADLINE_EXCEEDED errors emitted for modifyAckDeadline and acknowledge"
#### Environment details

  - OS: Ubuntu 18.04
  - Node.js version: 10.11.0
  - npm version: 6.5.0
  - `@google-cloud/pubsub` version: 0.28.1

We are processing about 300 messages per second from a subscription, and about once or twice a day we randomly get DEADLINE_EXCEEDED errors emitted like these:

```Failed to "acknowledge" for 55 message(s). Reason: 4 DEADLINE_EXCEEDED: Deadline Exceeded```

[2019-04-08 20:08] bcoe commented on #547
@MattGson @marcusnielsen I'm glad you've found a solution to this issue :tada:

@marcusnielsen please feel free to reopen if you continue to have any issues :+1:, closing for now.

[2019-04-08 20:08] #547 closed

[2019-04-08 20:37] ctavan commented on #550
@callmehiphop @bcoe I've extended [my reproduction case](https://gist.github.com/ctavan/2298c2bd965e902d4d8ad2788ffcb0b8) a bit to show that:

1. The limit is indeed per `new PubSub()` instance. If I create a `new PubSub()` instance for each subscription I can subscribe to `20` subscriptions (or more) with `maxStreams: 5` (default) equaling `>= 100` concurrent grpc streams.
2. Publishing on the sa

[2019-04-09 21:02] sduskis commented on #318
The credentials don't expire, but the auth token might be revoked before the expiry date of the token.  There are two solutions to that:
1. use JWT instead
2. change GAX to refresh oauth2 tokens when the server returns UNAUTHENTICATED

[2019-04-10 12:58] Msarnaot opened #570 "Getting error: not supported when using pubsub.publish or pubsub.create topic."
#### Environment details

  - OS: macOS
  - Node.js version: v10.15.3
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: "^0.28.1"

#### Steps to reproduce

  1. Used the following code to publish to an existing topic with a key that works with pubsub in another app I used:

[code]

I used a similar setup as above in another project and it worked fine.

  2. I then get the following error:

[2019-04-10 13:15] rossj commented on #468
Still an issue for me. Things have been working great for a week (low load), last night there was a large burst of activity and I have 20k unacked messages this morning, with high expiration rate all night.

![image](https://user-images.githubusercontent.com/735679/55880929-b6548280-5b6f-11e9-8bc7-91bd1e582311.png)
Expiration rate in yellow. Very interesting how there seems to be a clear 1-hr peri

[2019-04-10 15:25] rossj commented on #468
This issue has actually gotten a lot worse for me. It used to be that in these high-unacked situations, messages would start expiring after about 30 minutes of successful processing, so I would have to restart every 30 minutes. Now it only seems to last 15 minutes. Has anything changed recently on the backend that could be causing this?

I'll make a test project to try and reproduce.

[2019-04-10 15:49] callmehiphop commented on #468
@rossj no we made change in the client to kill the stream after 15 minutes, although my understanding is that in certain environments the backend may close streams earlier to prevent the exact issue you're seeing.

[2019-04-10 15:50] callmehiphop commented on #570
Looks like a gRPC issue. Could you try reinstalling your node modules and deleting any package locks you may have?

[2019-04-10 16:37] rossj commented on #468
@callmehiphop OK, got it. Does this point to a problem with how the client handles writing acks to the stream pool after one of the steams has been killed? For me, the graphs clearly show that after 15 minutes, when the stream is killed, that there is a long period where none of the acks go through and instead things are expiring.

My understanding is that the client holds on to additional queued

[2019-04-10 16:44] callmehiphop commented on #468
@rossj nope, actually we only read from the stream pool, all acks and modacks are sent as a plain requests. It sounds more like the grpc channel dies without giving any sort of indication as to why.

[2019-04-10 17:08] Msarnaot commented on #570
Hey @callmehiphop
Thank you for the quick reply.
I deleted both node modules and package-lock.json then ran npm install. However, unfortunately it didn't resolve the issue, it's still throwing the same error and is unable to publish

[2019-04-11 18:27] callmehiphop commented on #468
I just want to make sure I'm on the right track, after about 15 minutes (the default stream timeout) under a moderate size load we think the following is happening:

1. Messages stop coming in
2. Unable to acknowledge any messages in inventory
3. Any locks on pending messages are released

My current hunch is that the gRPC channel dies and as a result we're unable to ack/modAck which causes any me

[2019-04-11 21:56] rossj commented on #468
I've been playing around with some test code today and I've been able to reproduce locally against a test GCP project. Not sure about the 15 minutes... my last test run lasted 40 minutes until switching into expiring mode. I'm still trying to nail down what specific parameters & conditions cause this to happen.

A couple observations so far:

1) Problem seems dependent on having large publish batc

[2019-04-12 13:34] Msarnaot commented on #570
@callmehiphop Can you provide another further steps regarding this issue. Unfortunately we are still blocked due to this error.

[2019-04-12 17:32] callmehiphop commented on #570
@Msarnaot so I took a closer look at the [error in question](https://github.com/dcodeIO/protobuf.js/blob/master/src/root.js). Looks like protobuf is trying to figure out whether or not the current environment is Node or not, I guess my follow up questions would be

1. Are you trying to run this in a browser?
2. If you aren't in a browser, do you have any thoughts on why [this](https://github.com/d

[2019-04-12 20:17] rossj commented on #468
I've run some more test scenarios and I'm starting to get an idea of what's going on. [Here is my testing code](https://github.com/rossj/gps-test), along with some results of test scenarios I ran.

Let's start with some basic observations:

- This `expired` ack result is a consistent and reproducible problem. I've done multiple runs of various test scenarios (over a dozen total runs), and every on

[2019-04-13 11:00] osrecki opened #571 "Project ID not set when using emulator (MissingProjectIdError)"
#### Environment details
  - OS: **macOS 10.13.6**
  - Node.js version: **10.15.3**
  - npm version: **6.4.1**
  - `@google-cloud/pubsub` version: **0.28.1**

#### Steps to reproduce
1.
[code]

2.
[code]

#### Expected
List of topics for the project specified in the environment variable for the local emulated Pub/Sub.

#### Actual
[code]

[2019-04-13 11:04] osrecki commented on #571
Project ID is not read from the environment variables if the emulator mode is on:
https://github.com/googleapis/nodejs-pubsub/blob/3388fb735b87a8ac817c604cf777a5d8d4e7f833/src/pubsub.ts#L818)

Therefore, it stays equal to placeholder (`{{projectId}}`) and trouble happens here:
https://github.com/googleapis/nodejs-pubsub/blob/3388fb735b87a8ac817c604cf777a5d8d4e7f833/src/pubsub.ts#L858

[2019-04-15 00:32] hden commented on #468
Similar issue here. It seems that there are a 1 - 1.5 hr cycle if you let it run long enough.

<img width="526" alt="screenshot 2019-04-15 at 9 22 03" src="https://user-images.githubusercontent.com/1910549/56101604-825ad200-5f60-11e9-8014-00b9281de0eb.png">

@google-cloud/storage: `2.5.0`
flowControl: `maxMessages: 1`

[2019-04-15 15:27] rossj commented on #468
Just to show that this issue doesn't just involve short periods of expired messages, this morning I was welcomed by a night of wasted compute work and 40k undelivered messages.

Expired response are the blue line below. Very interesting how the expiring period starts short, but then seems to get longer over time. There's a whole 2.5 hr window with essentially no successful acks. Perhaps I need to

[2019-04-15 18:54] vmarcel commented on #571
What is the solution to this? I am having the same problem

[2019-04-15 19:15] Msarnaot commented on #570
@callmehiphop I'm running this on a server where we are doing server side rendering. So the project technically has both react and node code, however we are only using the library in the server portion.

In [this](https://github.com/dcodeIO/protobuf.js/blob/master/src/util/minimal.js#L29)
[code]
util.global is being set to window and not global in our project. Which doesn't have .process. However,

[2019-04-16 18:41] sduskis commented on #571
Can you set an explicit projectId?

[2019-04-16 18:43] kir-titievsky commented on #568
These are safe to ignore as these are retry-able errors. Ideally we should hide these behind a higher level logging flag.

[2019-04-16 18:51] osrecki commented on #571
`new PubSub({ projectId: process.env. GOOGLE_CLOUD_PROJECT })` is an obvious workaround.

Still, would be nice to fix the bug. For example, I wanted to use [/samples](https://github.com/googleapis/nodejs-pubsub/tree/master/samples) as a quick CLI tool to publish some messages into my local PubSub. Couldn't do it without first modifying the code.

[2019-04-16 18:51] sduskis commented on #11
@plamut, this is a similar problem to the one you're seeing on Python.

[2019-04-16 19:08] vmarcel commented on #571
@osrecki Thanks for the work around. I didn't think that was necessary, I am new to pub/sub

[2019-04-16 21:29] dpcollins-google opened #573 "'pause' not sent to underlying stream"
The 'pause' method on the MessageStream class is not proxied to the underlying grpc PullStreams.  This means that messages continuously back up at the MessageStream layer without ever triggering grpc channel backpressure, causing infinite buildup irrespective of flow control settings.

[2019-04-17 00:21] callmehiphop commented on #573
@dpcollins-google the underlying grpc streams [get piped into the message stream](https://github.com/googleapis/nodejs-pubsub/blob/master/src/message-stream.ts#L212), so there shouldn't be a need to manually call pause/resume since streams have back pressuring built in.

Are you experiencing an issue where you see a message pile up or memory leak, etc.?

[2019-04-17 13:13] Msarnaot commented on #570
@callmehiphop
We were able to resolve this issue. Since we did server side rendering we had some of our node intertwined with libraries that set the "window" variable and stored data in it. By the time we required the google-cloud pubsub library, the window was set and util.isNode resolves to false. We moved the require that included our pubsub code to run before any libraries that set the window

[2019-04-17 14:54] ThomWright opened #574 "Memory leak when connection dropped on emulator"
If my service has created a subscription, when it loses the connection to pubsub then CPU spikes to >100%, and within ~10 seconds the memory increases from ~100M to >1G and Node.js runs out of memory.

I see this when I'm my service is connected to the pubsub emulator locally in my Docker environment, and I stop the pubsub emulator container.

I create a subscription like so: `await topic.subscrip

[2019-04-17 15:59] callmehiphop commented on #570
@Msarnaot thanks for the update, glad to hear you found a work around!

[2019-04-17 15:59] #570 closed

[2019-04-17 18:37] callmehiphop commented on #468
I've been trying to dig into this over the last several days and so far my findings appear to match https://github.com/googleapis/google-cloud-java/issues/3567#issuecomment-414083920, it looks like gRPC is buffering messages internally and by the time the client receives them they're already expired. The bad news is that I can't find any documentation suggesting that gRPC flow control is configura

[2019-04-17 22:04] callmehiphop commented on #468
@rossj would you be interested in testing `grpc-js`? You can enable it via env var `GOOGLE_CLOUD_USE_GRPC_JS="1"`

[2019-04-18 10:15] naugtur opened #575 "message.ack() error handling impossible?"
#### Environment details

  - OS: any
  - Node.js version: 10.x
  - npm version: 6.7
  - `@google-cloud/pubsub` version: 0.24.1

#### Issue details

We observed calling .ack() sometimes has no effect and the message is delivered again later.

Hypothesis: error in sending the ack.

https://github.com/googleapis/nodejs-pubsub/blob/3388fb735b87a8ac817c604cf777a5d8d4e7f833/src/subscriber.ts#L157
`mess

[2019-04-18 10:20] naugtur commented on #468
We're also observing no results from _some_ .ack() calls on v0.24.1
Might be related to this: https://github.com/googleapis/nodejs-pubsub/issues/575 but I'm not sure.

[2019-04-18 15:36] callmehiphop commented on #575
@naugtur this is mostly true, we don't expose any errors from `message.ack()` although you can listen for any failures asynchronously like this

[code]

This will actually emit various errors relating to subscribing, however for ack failures a [`BatchError`](https://github.com/googleapis/nodejs-pubsub/blob/master/src/message-queues.ts#L49) is emitted with all the ack IDs that failed.

However it i

[2019-04-18 16:31] callmehiphop commented on #524
@maidanskyi I have to apologize, this kind of escaped me. I tried to review your code but I didn't find anything that might explain the results you're seeing. Are you still experiencing this issue?

[2019-04-18 17:49] naugtur commented on #575
Error event is definitely helpful, will use.
I'll also look into deduplication in case of redelivery because what you wrote is quite scary.

[2019-04-18 18:12] callmehiphop commented on #575
Yeah, it is kind of scary. Good news is that there is a new pure JavaScript gRPC library being written (currently we use a C++ addon) and we actually have the ability to tinker with flow control there. I've been seeing some pretty good results trying to lower the overall number of duplicates when testing with it, you might consider giving it a try. Although I will mention that it currently is stil

[2019-04-18 18:14] callmehiphop commented on #575
@naugtur I'm going to close this, as I think I've answered your question? But please re-open or or create a new issue if you feel otherwise

[2019-04-18 18:14] #575 closed

[2019-04-18 19:48] callmehiphop commented on #540
@bcoe any thoughts here?

[2019-04-18 20:18] bcoe commented on #540
@stephenplusplus @callmehiphop to validate your hypothesis, give this a shot:

[code]

Maybe I'm telling you something you already knew? but I didn't learn until fairly recently that you could profile a script without enabling the inspector.

[2019-04-18 20:19] rossj commented on #468
@callmehiphop I tried with `@grpc/grpc-js` and it seems to have the same issue. All acks gave expired result after ~40 min.

In addition, after 60 min it seems that every modAck attempt failed with a message like:
`
Failed to "modifyAckDeadline" for X message(s). Reason: Getting metadata from plugin failed with error: New streams cannot be created after receiving a GOAWAY
`

I don't remember ever

[2019-04-18 21:40] dpcollins-google commented on #573
I am experiencing a memory backup.  The subscriber code is [here](https://github.com/GoogleCloudPlatform/pubsub/blob/master/load-test-framework/node_src/src/subscriber_task.js).  When publishing with a message size of 9MB, my subscriber processes (one per core on a 16 core GCE machine with 60GB of ram) get killed by the OOM killer, even though I've set a flow control byte limit of 500 MB.

Even pr

[2019-04-18 22:28] callmehiphop commented on #573
@dpcollins-google I think there are a few things worth mentioning

* messages pass through grpc streams in batches, so I *think* they will be closer to 20MB per object
* we monkey patch grpc streams so there should never be more than 1 batch per grpc stream buffered on the JS side
* The C++ portion the grpc addon also buffers messages, however I don't have any insight into how many and I don't bel

[2019-04-18 23:25] dpcollins-google commented on #573
Given that I have a repeatable scenario that can trigger this, do you have any suggestions for how to determine in which of these layers the backup is?  Doing something other than the default client setup is a non-starter for me.

[2019-04-19 13:26] dpcollins-google commented on #573
I've attached a heap dump when 50/60 GB of memory was in use.  It doesn't look like the primary memory usage is inside of node, but perhaps someone who understands the library better could determine whether there is a leak of node managed grpc resources?
[dump.heapsnapshot.zip](https://github.com/googleapis/nodejs-pubsub/files/3098254/dump.heapsnapshot.zip)

[2019-04-22 19:22] callmehiphop commented on #500
Hasn't been any activity here in quite some time, I'm going to close this for now. If any new info becomes available I'll be more than happy to re-open and investigate again.

[2019-04-22 19:22] #500 closed

[2019-04-23 09:44] fabianrindlisbacher opened #578 "pubsub messages take 30 seconds to publish"
I've created a cloudfunction which transforms a xml request into json entities and then publishes the entites to pubsub one by one. The problem is that it takes around 30 seconds (sometimes more) to publish the first entity. after the first entity is published the others are published instantly. In our dataflow we depend on fast communication times which makes this a big problem for us. I already

[2019-04-23 16:51] callmehiphop commented on #578
This is a well known issue with cold starts in cloud functions.

@JustinBeckwith for some reason I want to say there is a tracking issue for this?

[2019-04-23 17:00] JustinBeckwith commented on #578
We have a few issues laying around to improve cold start by an order of ~1s, but nothing on the order of 30 seconds.  If we're trending that high, it's either:
a. A pure infrastructure problem with cloud functions and start time or
b. Something we're doing very wrong in the library

@callmehiphop can you try to repo this and see what happens? Even if it's a simple benchmark.

[2019-04-24 12:19] fabianrindlisbacher commented on #578
The function is executed instantly and also manual logs are written without any delay so i think the cloudfunction isn't the problem.

[2019-04-24 15:09] JustinBeckwith commented on #578
Oh fascinating! If the cloud function is loaded, and the library has been require'd, I don't think we have a bug or have done any investigation here.  Sounds like an adventure @callmehiphop!

[2019-04-24 15:24] callmehiphop commented on #578
@fabianrindlisbacher could you share with us how you're authenticating the PubSub client?

[2019-04-24 21:17] JustinBeckwith commented on #318
Taking a closer look - this is a really old version of the `@google-cloud/pubsub` npm module.  Could you upgrade to `0.28.1` and let us know if you have the same issue?

[2019-04-24 22:38] nikkatalnikov commented on #318
For 0.28.1 it is the same

[2019-04-24 23:02] sduskis commented on #318
Here's what I think is happening, based on some research I did in the Cloud Bigtable java client:

1. The service account credentials or compute credentials can be used to get an oauth2 token. The client caches the token, which includes an expiration timeout.
2. A bunch of requests get the oauth2 token in the header, and everything works fine
3. Something happens on the server-side to cause the ca

[2019-04-25 07:08] fabianrindlisbacher commented on #578
@callmehiphop not doing any custom authentication in the code. all done automatically. i've seen that this could be a problem. but then it worked with python so i thought this shouldn't be the issue.

[2019-04-29 00:23] ninjitaru commented on #545
thanks, didnt know about the lock
default ackDeadline is 10 second, should me reduce the lock below 10 second?

and reading the issue, i notice that we currently do not nack the message when we reach a recoverable error, i think we should to make sure so it can recover faster than ackdeadline time

[2019-04-29 06:45] fabianrindlisbacher commented on #578
@callmehiphop any hints or suggestions?

[2019-04-29 21:15] #27 closed

[2019-04-29 21:20] stephenplusplus commented on #133
I believe @ajaaym [found a solution](https://github.com/googleapis/nodejs-logging/issues/350#issuecomment-466108461):

[2019-04-29 21:20] #133 closed

[2019-04-30 06:44] fabianrindlisbacher commented on #578
if i it like that it works just fine for some reason.

[code]
I guess it's no issue of your library. I'll close this Issue.

[2019-04-30 06:44] #578 closed

[2019-04-30 08:37] guyiluz commented on #571
Is this work?
I'm still getting

`{ Error: Sorry, we cannot connect to Cloud Services without a project
 ID. You may specify one with an environment variable named
 "GOOGLE_CLOUD_PROJECT"}`

With this workaround

[2019-04-30 15:54] callmehiphop commented on #524
Been kind of quiet here, I'm going to close this for now but if any new info becomes available let us know!

[2019-04-30 15:54] #524 closed

[2019-04-30 17:53] bcoe opened #582 "feat: do not require projectId to be set in emulator"
It can be [confusing](https://github.com/googleapis/nodejs-pubsub/issues/571) for folks that `projectId` needs to be explicitly set, given that `project_id` is populated in generated credentials for a service.

It would be nice if when running in the emulator behavior was the same.

[2019-04-30 17:56] bcoe commented on #571
@osrecki I'm going ahead and closing this issue, since it sounds like you're unblocked.

I've gone ahead and opened [this issue](https://github.com/googleapis/nodejs-pubsub/issues/582), since it does sound like this is a confusing sharp corner on the library.

---

@guyiluz my guess is that `GOOGLE_CLOUD_PROJECT` might not be populated in your case, try adding `console.info(process.env.GOOGLE_CLOU

[2019-04-30 17:56] #571 closed

[2019-05-02 20:39] sduskis commented on #574
It sounds like we would have to add some sort of throttling to stop this behavior.  That sounds like a feature request to me.

[2019-05-03 02:14] sduskis commented on #574
It looks like there is also some sort of multiplier total bytes used per message, as per [this other issue](https://github.com/googleapis/nodejs-pubsub/issues/573#issuecomment-484699018).

[2019-05-03 20:34] nmiddendorff commented on #574
I'm also seeing this error when running the emulator. I occasionally see a warning indicating a memory leak as well.
[code]

[2019-05-03 21:41] callmehiphop commented on #540
I've spent some time today profiling memory usage in regards to this. My test setup involved 1 empty subscription with a `streamingPull` timeout of 15 seconds. This configuration creates 600 `streamingPull` requests after 30 minutes, which roughly translates to a subscription with the default configuration running for about 30 hours.

I tested against master and a modified version in which all `er

[2019-05-05 03:15] bcoe commented on #540
@callmehiphop, to me it sounds like you've proven that @stephenplusplus's sample code does not cause an immediate issue on current versions of Node.js.

@callmehiphop for when we have to perform similar profiling, is there anything that might be worth throwing into a `gist` we can use for digging into similar issues?

@stephenplusplus are you comfortable closing this?

[2019-05-06 15:09] callmehiphop commented on #540
My code for this test case was pretty barebones really, I leaned pretty hard on other tools to collect performance metrics.

[code]

[2019-05-06 16:04] alexander-fenster opened #595 "revert the grpc-js related type change in src/pubsub.ts"
This change will be merged in #590 to `src/pubsub.ts`:

[code]

Please don't forget to rollback when new gax with grpc-js releases.

[2019-05-06 17:11] stephenplusplus commented on #540
@callmehiphop thanks for running the tests!

@bcoe It's probably safe, although maybe give me one more shot to test this out before we close it.

[2019-05-07 19:04] ajaaym commented on #468
@dinvlad @rossj With this PR #556 from @callmehiphop (not yet released) and using below option, subscriber works fine with slow ack processing. You can see in below charts there was a minor hiccup for around 2:30 to 2:35 but it recovered from that. hiccup was at around after 1 hour run time.

Options to use:

[code]

![Screen Shot 2019-05-07 at 2 47 02 PM](https://user-images.githubusercontent.com

[2019-05-07 21:11] ctavan commented on #582
This has actually been the case in earlier versions of this library. When I was upgrading from `0.18.0` to `0.28.1` (pretty big gap, I know…) I had to start configuring a `projectId` again when running with the emulator. With the ancient version I could simple leave the `projectId` undefined and that felt much more right in the local emulator setup which is meant to work without any connection to

[2019-05-08 18:40] callmehiphop commented on #540
@stephenplusplus I'm going to close this one out, but if you're test results show different results please re-open and let me know!

[2019-05-08 18:40] #540 closed

[2019-05-09 14:26] sduskis commented on #468
This is a duplicate of #11. Closing 11 in favor of this issue.

[2019-05-09 14:27] #11 closed

[2019-05-09 17:12] sduskis commented on #318
Ajay thinks that the issue relates to having a subscriber that's open for a long time.  At some point, the expiration will occur, and the stream will fail with UNAUTHORIZED.  In that case, the resolution is basically retrying the stream.

[2019-05-15 15:00] callmehiphop commented on #595
The PR that would have caused this ended up getting closed, so I think this is actually a non-issue now.

[2019-05-15 15:00] #595 closed

[2019-05-15 20:33] callmehiphop commented on #35
I think as far as providing publishing call options, this has been solved for a while. We could probably improve the client with the steps outlined in https://github.com/googleapis/google-cloud-node/issues/2895, but I'll let @kir-titievsky make the call if that should hold up GA or not. Going to close this issue, but please feel free to re-open if you disagree!

[2019-05-15 20:33] #35 closed

[2019-05-15 23:59] sduskis commented on #35
We should do a thorough review of the API before we go GA.  We ought to do that sooner rather than later.  I'll bring it up with Kir and crew.

[2019-05-16 01:50] gaohannk commented on #141
I am trying to use PublisherClient like this in TypeScript.
const pubsub = new v1.PublisherClient(credential);

But got his Property 'PublisherClient' does not exist on type 'typeof import ....

[2019-05-16 02:07] JustinBeckwith commented on #141
Greetings @gaohannk!  Can you open a new issue?  Thanks!

[2019-05-16 17:45] gaohannk opened #610 "Property 'PublisherClient' does not exist on type"
I am following the sample code here. https://github.com/googleapis/nodejs-pubsub/blob/master/samples/topics.js

const {v1} = require('@google-cloud/pubsub');

  // Creates a publisher client
  const client = new v1.PublisherClient({
    // optional auth parameters
  });

When I migrate to typescript, I got this error:

src/pubsubclient.ts:7:23 - error TS2339: Property 'PublisherClient' does not ex

[2019-05-16 18:23] gaohannk commented on #610
If I am using like this:
import pubsub from "@google-cloud/pubsub/";
const pubsubclient = new pubsub.v1.PublisherClient(credential);

the runtime failure is:

onst pubsubclient = new pubsub_1.default.v1.PublisherClient(credential);
                                          ^

TypeError: Cannot read property 'v1' of undefined
    at Object.<anonymous> (/Users/hangao/Zume/ingest/build/src/pubsubclie

[2019-05-16 18:47] callmehiphop commented on #610
@gaohannk thanks for letting us know about this! I've opened a PR (#611) that I think should fix it. If you want to give it a test run that would be awesome!

[2019-05-16 20:39] #610 closed

[2019-05-16 21:52] callmehiphop commented on #468
👋 @dinvlad @rossj @slavoroi assuming this is still a relevant issue for everyone, is anyone interested in testing out @ajaaym's configuration with the latest PubSub release ([0.29.0](https://github.com/googleapis/nodejs-pubsub/releases/tag/v0.29.0))

[2019-05-17 00:33] sduskis commented on #468
@kamalaboulhosn, given the conversation today, are you comfortable with the settings described [here](https://github.com/googleapis/nodejs-pubsub/issues/468#issuecomment-490215416)?

[2019-05-17 13:14] kamalaboulhosn commented on #468
@sduskis I feel like this is more of a band-aid than anything. From what I understand, the solution here is shutting down streaming connections more frequently than the default, is that correct? With long processing of messages as is the case here, the solution might just be to use the underlying pull API instead of the client library. I'm hesitant to expand the API in this way unless we think it

[2019-05-17 22:06] sduskis commented on #468
@kamalaboulhosn
+1 on this being a band-aid.  Also, +1 on careful consideration of a design around pull.

#556 was merged in March, but released about a day ago (https://github.com/googleapis/nodejs-pubsub/releases).  Do you feel like we ought to revert the change, and quickly make a new release?

[2019-05-18 09:10] kamalaboulhosn commented on #468
@sduskis If possible, I think rolling back would be ideal, thanks.

[2019-05-18 22:13] bkendall opened #617 "Publish 0.29.1 to npm"
It seems as though the `0.29.1` release has been made in the repo but not published to `npm`. Could this be addressed? Thanks.

[2019-05-18 23:29] JustinBeckwith commented on #617
Greetings!  This will go out on Monday :)

[2019-05-20 15:57] sduskis commented on #550
I changed this issue from a "bug" to a "feature request" of supporting multiple subscriptions in the same client.   That isn't the standard use of the client, but we would like to support that feature.

There's a hard limit of 100 streams per channel, and we can't do anything about that.  There are a number of options to fix this:

1. A user can reduce the number of streams (`1` to `100/subscripti

[2019-05-20 17:59] ctavan commented on #550
@sduskis thank you for confirming the 100 streams per channel limit.

As outlined in [my comment above](https://github.com/googleapis/nodejs-pubsub/issues/550#issuecomment-480264197) I believe that my usage of opening more than 100 subscription streams per client is rather an edge case usage and I don't believe that it's really worth the extra complexity to implement your option 4 above.

However

[2019-05-20 18:01] ctavan commented on #550
@sduskis regarding your comment:

I don't think that there is any problem with this approach, it worked very well for me. What part of [my comment](https://github.com/googleapis/nodejs-pubsub/issues/550#issuecomment-480998028) were you referring to?

[2019-05-20 18:57] callmehiphop commented on #617
Looks like this finally got published!

[2019-05-20 18:57] #617 closed

[2019-05-20 19:29] sduskis commented on #573
@ajaaym and @callmehiphop, can either of you summarize our current state on this?  Is this issue actionable?

[2019-05-21 13:30] sduskis commented on #573
I spoke with @ajaaym.  Basically, this issue comes down to some unknown issue in the node.js runtime relating to garbage collection.  We're having a tough time figuring out how to solve this one.

[2019-05-21 13:41] sduskis commented on #468
@kamalaboulhosn and @kir-titievsky I'd like to remove the `triaged for GA` label.  The solution here is "async pull", which is out of scope for GA.

[2019-05-21 13:45] kamalaboulhosn commented on #468
@sduskis I see that the initial report indicated that this issue only started with version 0.23. Is there something in that version that caused this to start happening? Was that when this library moved to streaming pull? If streaming pull was used prior to that version, it might be good to understand why the new version of the library seems to have introduced issues before we decide that async pul

[2019-05-21 14:07] sduskis commented on #468
@kamalaboulhosn that's a great point.

@callmehiphop, do you have any idea what change happened between 0.22.2 and 0.23.0 that could have caused this?

[2019-05-21 14:14] sduskis commented on #550
@ctavan, option 4 is actually still on the table, since there's work being done towards channel pooling for other products.

I agree that we should give an error at some point.  I'm not sure what the actual limit ought to be.  100 streams in use for receiving messages means that the messages can't be acked on that connection.  I'd say that erroring out after 50 streams is safer, even if it's not t

[2019-05-21 16:07] callmehiphop commented on #468
@sduskis @kamalaboulhosn there was a pretty sizable refactor between those two versions and it looks like the grpc version did not change. It may be worth noting that we've had somewhat conflicting reports in this thread in regards to that factor - one user saying pinning `0.22.2` didn't work, another mentioned `0.25.0` being the earliest version they experienced the issue.

As far as notable chan

[2019-05-22 13:17] ctavan commented on #550
@sduskis totally fine with a safe limit of 50. Just whatever error message that is more descriptive than `DEADLINE_EXCEEDED` and that throws immediately and not only after a while when the first acks start to fail… 😉

[2019-05-22 13:35] sduskis commented on #550
@callmehiphop, can you please add the error?

[2019-05-22 14:30] sduskis commented on #573
I spoke with @ajaaym again.  This was a problem with the way memory is shared between `grpc-c` and the node.js heap.  Node.js only has a reference to the data in messages until the data is used.  `grpc-c` will hold on to the memory until then, and Node.js will not be able to gc it, causing RSS to blow up.

`grpc-js` will be one way to solve this problem, since it will handle of the memory in the n

[2019-05-22 14:34] sduskis commented on #574
The emulator connection was never retried, and the RPCs were constantly retried on the broken connection without any back-off.  That caused the event loop to not move to the next phase, since it was stuck on constantly trying to resolve the failed promise, and then retrying.  @ajaaym will add a link to an article about this problem.

This should have been fixed in the `0.29.*` release which added

[2019-05-22 14:59] ajaaym commented on #574
here is the [link1](https://snyk.io/blog/nodejs-how-even-quick-async-functions-can-block-the-event-loop-starve-io/) and [link2](https://jsblog.insiderattack.net/promises-next-ticks-and-immediates-nodejs-event-loop-part-3-9226cbe7a6aa)

[2019-05-22 21:18] sduskis commented on #574
@ThomWright and @nmiddendorff, can you please upgrade to the latest version of the client? That should fix the problem.

@bcoe, I found this issue to be fascinating. I'd appreciate your perspective on this topic.

[2019-05-22 22:00] callmehiphop commented on #550
@sduskis I actually think this isn't the right place to solve this problem. If grpc receives a limit from the server and accepts an option to adjust said limit, shouldn't we ask grpc to provide a better error instead of implementing similar logic in the client?

[2019-05-23 16:04] sduskis commented on #550
@callmehiphop, I think this is purely a client-side logic thing.  In most cases, a client sending more than 100 streams is fine.  The behavior out to be to keep a queue that waits until one of the streams is done.  In unary call systems or short stream calls, which is a vast majority of use cases, that's a perfectly reasonable solution.  100 Pub/Sub subscriber streams are a special case since they

[2019-05-23 19:21] sduskis opened #623 "Decouple `retainAckedMessages ` and `messageRetentionDuration`"
There are two very similar fields in Subscription: `messageRetentionDuration` and `messageRetentionDuration`.

Creating subscriptions currently couples those fields together:

[code]

Those fields should actually be independent.  Here's the definition from the proto:

[code]

The distinction in use subtle, but the meaningful  difference to the types of messages that these settings will affect.
- `

[2019-05-23 22:25] #623 closed

[2019-05-24 07:01] merlinnot opened #627 "Switch from grpc to @grpc/grpc-js"
**Is your feature request related to a problem? Please describe.**

`@grpc/grpc-js` has multiple advantages over `grpc`. All Google libraries are now switching to `@grpc/grpc-js`. This is the only library left that I still see a dependency on `grpc`, which is use only in tests and as a source of type definitions.

 **Describe the solution you'd like**

I'd like to see the dependency dropped and th

[2019-05-24 16:40] sduskis commented on #627
Thanks for raising this issue.  We used it at one point, and then reverted in #595.  I'll follow up with @alexander-fenster and @bcoe to figure out timing of using `grpc-js` once again.

[2019-05-28 12:24] sduskis commented on #574
I'm closing this.  If this is still a problem, please open up a new issue.

[2019-05-28 12:24] #574 closed

[2019-05-28 12:27] sduskis commented on #573
@dpcollins-google, this seems to be a duplicate of #627.  We have an environment variable we can use to replace the use of grpc-c with grpc-js.  @ajaaym or @callmehiphop, do you have instructions on how to use grpc-js right now?

[2019-05-28 15:13] callmehiphop commented on #573
@sduskis grpc-js comes enabled by default with google-gax@1.x. We just need to drop our direct dependency on grpc and update any references to grpc types to the appropriate grpc-js version.

[2019-05-28 19:24] callmehiphop commented on #550
@sduskis I think in that case we should look into adding support for grpc-js in grcp-gcp. I'd be happy to try and take that on if there are no objections. Otherwise I would suggest documenting this as a quirk of the PubSub client.

[2019-05-28 19:34] sduskis commented on #550
+1 on a long term plan for `grpc-js` in `grcp-gcp`.  Users have a way around it in the short term (specifically creating new clients), and we have higher priority issues than this.

+1 on a short term docs fix.

[2019-05-28 21:48] bcoe commented on #574
@sduskis agreed, this bug was nasty and interesting. I'm not shocked shocked that grpc retrying in an unbounded way, without actually scheduling any IO, could saturate resources ... adding a back-off seems like the right solution 😄

In practice, my experience at npm was that we rarely had to dig quite so deeply into the nitty-gritty of the event loop except when debugging edge-cases like this; as

[2019-05-31 01:57] dinvlad commented on #468
FWIW I've finally upgraded from `0.22.0` to `0.29.1`, and suddenly receive no messages at all! I.e. my sole subscriber with a single message in the queue stays open for 60+ minutes. I think I'll have to downgrade back to `0.22.0`, where everything seemed to work just fine :(

[2019-05-31 02:09] sduskis commented on #468
we've seen similar issues with grpc-js.  We need to revert that change.

[2019-05-31 02:48] dinvlad commented on #468
Apologies, false alarm. I was using an incorrect service account key. Too many projects :-) `0.29.1` is working now, though I'm not yet sure if the original issue is resolved.

[2019-05-31 19:11] callmehiphop commented on #468
@sduskis this client still uses the C extension version of gRPC, nothing to revert.

@dinvlad glad to hear! Let us know if you encounter any issues 😎

[2019-06-04 09:17] katmatt opened #637 "Why is the default FlowControlOptions.maxExtension = Infinity?"
After taking a closer look at the source code, I found that the default value for `FlowControlOptions.maxExtension`is `Infinity`: https://github.com/googleapis/nodejs-pubsub/blob/master/src/lease-manager.ts#L189

This looks very strange to me and we experienced that our javascript service consumed a lot of message without moving forward. And this default value looks very starnge to me. May be I'm

[2019-06-04 15:06] callmehiphop commented on #637
Hi @katmatt, that is an excellent question! When we originally implemented the lease feature in the PubSub client, we didn't offer a `maxExtension` option at all. When the feature was later added, we felt it made sense to set the default to `Infinity` so we didn't disrupt applications that were already expecting messages to be locked forever.

[2019-06-04 15:20] katmatt commented on #637
@callmehiphop Thanks a lot for your quick response. I almost expected this answer😄 We have similar "issues" with beta versions of our API/SDK and I can relate a lot to your reasoning😄 Never break a public beta😉

[2019-06-04 15:29] #637 closed

[2019-06-05 13:05] askdesigners opened #640 "Fails to run on node v9.4.0"
#### Environment details

  - OS: Mac
  - Node.js version: 9.4.0
  - npm version: 5.6.0
  - `@google-cloud/pubsub` version: 0.29.1

#### Steps to reproduce

  1. npm install
  2. start app

Looks like `@grpc/grpc-js` has a big gap in usable node versions. Not sure what to do about that as other deps need v9.4.0 :\

[code]

[2019-06-05 14:13] JustinBeckwith commented on #640
Greetings!  Sadly, we cannot offer support for unsupported versions of node.js.  Node.js 9.x went EOL in 2017:
https://github.com/nodejs/Release

You should be able to downgrade to 8, or upgrade to 10 with little fanfare.  Sorry for the trouble, but hope this helps!

[2019-06-05 14:13] #640 closed

[2019-06-06 17:39] JustinBeckwith opened #642 "Remove hack in `synth.py`"
We currently have this hack in `synth.py`:

[code]

The code that's getting swapped in is creating lint issues in #641.  It looks like there is an issue here in the gapic generator causing the pain:
https://github.com/googleapis/gapic-generator/issues/2127

[2019-06-06 19:32] callmehiphop commented on #642
For a super quick fix we could probably just update the regular expression.

Better fixes that would allow us to remove the hacks entirely might be:

- Have the gapic generator create comparable methods within clients
- Bypass gax entirely and manually create the Subscriber client for `StreamingPull` requests

[2019-06-06 21:23] alexander-fenster commented on #642
@callmehiphop can you tell me more about the first option (have the gapic-generator create methods)? I'm happy to add any extra code to the codegen templates but I can't understand which code we need to make it not Pub/Sub-specific.

[2019-06-07 12:52] rmkanda opened #643 "Prototype pollution vulnerability was found in module extend - CVE-2018-16492"
## Prototype pollution vulnerability was found in module extend - CVE-2018-16492

The extend module used in pubsub package is 3.0.1 which has known vulnerability - Refer https://nvd.nist.gov/vuln/detail/CVE-2018-16492

This vulnerability is fixed in version 3.0.2 of extend module.

#### Environment details

  - OS: Mac
  - Node.js version: 0.16.0
  - npm version: 6.9.0
  - `@google-cloud/pubsub` v

[2019-06-07 14:12] callmehiphop commented on #642
@alexander-fenster absolutely! I think some sort of getter for the underlying gRPC client would do the trick.

To elaborate on why these two methods were stuffed in

#### `waitForReady`

Implementing retry logic for `StreamingPull` requests (bidi stream) isn't very straight forward (see https://github.com/googleapis/gax-nodejs/issues/145), I consulted the gRPC team at one point and their suggestio

[2019-06-07 14:38] bcoe opened #645 "lint/docs tests appear to be breaking"
See:

https://github.com/googleapis/nodejs-pubsub/pull/641
https://github.com/googleapis/nodejs-pubsub/pull/639

It would be good to get these PRs green, so that we can star working through the backlog of open issues.

[2019-06-07 14:40] sduskis commented on #645
@bcoe, my understanding is that "type: bug" is for customer issues, which is why I changed the category.  This is definitely a problem, and needs to be fixed.  We'll work on them

[2019-06-07 14:52] ajaaym commented on #318
@eug48 can you please use authentication as below? Closing this for now, please feel free to reopen if this doesnt help.
[code]

[2019-06-07 15:38] sduskis commented on #573
I replaced the `type:bug` with `type:cleanup`.  This problem will occur in test conditions when the data in the message is not accessed.  That was a specific issue in the test process used by @dpcollins-google, since the test was not accessing the message, hence Node.js was not accounting for the memory allocation of the data.  To fix the memory issue, the test simply should access the data.

`grp

[2019-06-07 15:38] #573 closed

[2019-06-07 15:58] JustinBeckwith commented on #645
👋 Regardless, master being broken is a P1 in my book.   We should address this today.

[2019-06-07 17:17] callmehiphop commented on #645
I believe this is a duplicate of #642

[2019-06-07 17:17] callmehiphop commented on #645
Quick fix is to just update the regex in synth.py

[2019-06-07 17:45] #645 closed

[2019-06-07 17:54] #643 closed

[2019-06-08 13:42] askdesigners commented on #640
Right I read about that shortly after posting. Thanks!

[2019-06-11 15:02] #496 closed

[2019-06-11 18:15] jgresham opened #651 "Can't set options.flowControl.maxMessages on pulling from Subscription"
#### Environment details

  - OS: Docker container running node:11.13.0-stretch-slim
  - Node.js version: v11.13.0
  - npm version: 6.7.0
  - `@google-cloud/pubsub` version:  "@google-cloud/pubsub": "^0.28.1"

AND

  - OS: MacOS 10.14.3
  - Node.js version: v10.15.1
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: "@google-cloud/pubsub": "^0.29.1"

#### Steps to reproduce

  1. Fill a pu

[2019-06-11 18:24] callmehiphop commented on #651
@jgresham PubSub delivers messages in batches, so any excess messages you receive are from that batch. The batch size is non-configurable, however if you set `allowExcessMessages` to `false` then the client will manage the excess messages until you're ready for them.

[code]

[2019-06-11 18:30] jgresham commented on #651
@callmehiphop awesome. Thank you!

I would suggest adding to the docs and samples code to show this if maxMessages doesn't work without allowExcessMessages.

https://cloud.google.com/nodejs/docs/reference/pubsub/0.28.x/Subscription
https://github.com/googleapis/nodejs-pubsub/blob/master/samples/subscriptions.js

[2019-06-11 18:31] #651 closed

[2019-06-11 18:34] callmehiphop commented on #651
@jgresham good idea!

[2019-06-11 20:17] kamalaboulhosn opened #653 "Documentation does not match behavior for Duration-based fields"
- OS: Mac OS X 10.14.5
  - Node.js version: 11.3.0
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: .29.1

#### Steps to reproduce

  1. Look at the [documentation for ExpirationPolicy ttl](https://cloud.google.com/nodejs/docs/reference/pubsub/0.28.x/global.html#ExpirationPolicy), which states: A duration in seconds with up to nine fractional digits, terminated by 's'. Example: "3.5s".

[2019-06-12 20:06] callmehiphop commented on #653
@kamalaboulhosn looks like some old docs from an earlier implementation maybe? It also mentions that this feature is beta, but I don't see any mention of that in the latest proto files. Can you confirm?

[2019-06-12 20:39] sduskis commented on #653
@callmehiphop does your PR mean that you found the problem that @kamalaboulhosn mentioned?

[2019-06-12 20:50] callmehiphop commented on #653
@sduskis yep! It was just stale documentation, probably changed once that feature left beta.

[2019-06-12 21:07] #486 closed

[2019-06-12 23:42] #653 closed

[2019-06-13 00:37] sduskis commented on #627
@callmehiphop, would you be able to test out `grpc-js` with large messages (i.e. publish a 9MB message, and then subscribe and see the value)?  If that works, then I think we can proceed with this.  Otherwise, I think we need to create a bug for the grpc team.

[2019-06-13 00:38] sduskis commented on #468
@dinvlad, have you seen any issues?  If not, perhaps it's time to close this issue.

[2019-06-13 01:07] dinvlad commented on #468
Let's close it for now, as we haven't had a chance to run into issues with our current scale. Feel free to re-open if needed.

[2019-06-13 21:26] rossj commented on #468
IMHO this service and / or library still has a critical outstanding issue involving expiring acks, resulting in wasted work and duplicate messages. These issues still appear consistently for me using simple test code and the latest version of the library (0.29.1). My conclusion is that either this service is not widely used / tested, its intended use case is far from the type of task queue we are

[2019-06-13 21:33] sduskis commented on #468
@kamalaboulhosn,

[2019-06-13 21:33] #468 closed

[2019-06-14 18:36] #627 closed

[2019-06-14 18:46] sduskis commented on #642
@JustinBeckwith, any objection to recategorize this as a "type: cleanup", since this doesn't affect users?

[2019-06-21 15:43] pjm17971 commented on #568
I'm not sure this should be closed as this should ideally be handled internally. For us these errors cause the subscription on `close()` handler to be called after the on `error()` handler is called with the DEADLINE_EXCEEDED message. This puts the application in a state of not receiving messages at all. That actually took quite a while to detect on our end and cost a non-trivial amount of time to

[2019-06-21 17:08] eli0shin opened #664 "missing @grpc/grpc-js dependency"
#### Environment details

  - OS: macOS 10.14.5
  - Node.js version: 8.13.x
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: 0.30.0

#### Steps to reproduce

(I noticed this when deploying cloud functions)

  1. npm install @google-cloud/pubsub
  2. import and use the library
  3. deploy functions.

Result:
Deployment error.
Function failed on loading user code. Error message: Code in fi

[2019-06-21 17:29] #664 closed

[2019-06-21 17:49] stephenplusplus commented on #664
Thank you for reporting! We have released a fix in 0.30.1. Sorry for the trouble.

[2019-06-24 14:28] pjm17971 opened #667 "Metadata key contains illegal characters"
Seeing many of these per day:

[code]

Maybe related:
https://github.com/googleapis/nodejs-datastore/issues/415

#### Environment details

  - OS: GKE
  - Node.js version: 10.10.x
  - npm version:
  - `@google-cloud/pubsub` version: 0.30.0

[2019-06-24 15:26] callmehiphop commented on #667
@pjm17971 0.30.0 made the switch to grpc-js, so it likely is a duplicate of https://github.com/googleapis/nodejs-datastore/issues/415. You might consider pinning to 0.29.0 until we get this sorted out.

FYI @sduskis @alexander-fenster

I'm going to close this out, but I would suggest subscribing to the aforementioned Datastore issue for updates.

[2019-06-24 15:26] #667 closed

[2019-06-24 18:12] anguillanneuf opened #669 "Need a sample that configures flow control settings with a subscriber client"
https://github.com/googleapis/nodejs-pubsub/blob/28400afd109429ff08e89a98ad73eeba061456b5/samples/subscriptions.js#L84

This sample shows how to configure a subscription with flow control settings. Please replace it with a new sample that shows how to configure flow control settings with a subscriber client. Samples in other languages can be found [here](https://cloud.google.com/pubsub/docs/pull#c

[2019-06-25 20:07] pjm17971 commented on #667
@callmehiphop we've rolled back to 0.29.0. Just wanted to make sure you guys were aware that the grpc-js library change affected the pubsub client too. But I guess you're on it. Thanks!

[2019-06-26 14:47] xyclos opened #676 "Typescript error `TS2305` while building a project with latest version (0.30.1)"
#### Environment details

  - OS: macos 10.14.5
  - Node.js version: 8.16.0
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: 0.30.1

#### Steps to reproduce

  1. Create a typescript project which depends on google-cloud/pubsub: ^0.30.1
  2. install deps and build with `tsc`

#### Output from tsc

[code]

#### Workaround

  - I rolled back to 0.29.1 and was able to build with `tsc` succe

[2019-06-27 00:19] hongalex commented on #669
This is technically correct, but the issue lies in how the Node client library handles subscriptions and subscriber clients vs other languages. In Node, when `subscription` objects are instantiated, they also create a `subscriber` object and passes on its options. Thus while flow control settings are "configured" on the subscription, all its doing is passing down the options to the subscriber clie

[2019-06-27 17:59] callmehiphop commented on #669
@hongalex currently there are no flow control settings available to Subscriber gapic. We have an internally used class called Subscriber which is not related to the gapic, I'm guessing this is where the confusion stems from. The Subscriber gapic client itself does not actually contain any flow control mechanisms, which is why we don't show a sample for it.

[2019-06-27 21:22] hongalex commented on #669
Right. At the very least, I think the sample should be updated to clarify this. I want to highlight the fact that the subscription (which lives in Cloud Pub/Sub) is not being created with flow control settings, and that "client-side" subscription objects are not the same as the actual subscription resource in CPS.

[2019-06-30 10:18] dfang opened #679 "UnhandledPromiseRejectionWarning: Error: Deadline exceeded"
#### Environment details

  - OS: macOS 10.14.5
  - Node.js version: v10.16.0
  - npm version: 6.9.0
  - `@google-cloud/pubsub` version:    "^0.30.1",

#### Steps to reproduce

  1.  download this repo as zip
  2.  cd samples, npm i
  3.  node subscriptions.js list

[code]
followed this [guide](https://github.com/googleapis/nodejs-pubsub#before-you-begin) to config auth, tried at least 3 times.

I

[2019-07-01 11:53] katmatt opened #680 "Failed to "modifyAckDeadline": Metadata key contains illegal characters"
#### Environment details

  - OS: linux
  - Node.js version: 10.15.3
  - yarn version: 1.15.2
  - `@google-cloud/pubsub` version: 0.30.1

#### Steps to reproduce

We use code similar to the sample https://github.com/googleapis/nodejs-pubsub/blob/ede57841e391680f4d8875d60eb17b62389cd7d8/samples/subscriptions.js#L225 to receive messages, but use the following subscription config:
[code]
We see the f

[2019-07-01 13:45] callmehiphop commented on #676
@xyclos could you share your TypeScript version and `tsconfig.json` contents with us? I'm not able to reproduce this locally.

[2019-07-01 14:00] callmehiphop commented on #679
Seems to be working fine for me, @anguillanneuf any thoughts on why we might be timing out here?

[2019-07-01 14:02] callmehiphop commented on #680
Going to close this out as a duplicate to https://github.com/googleapis/nodejs-pubsub/issues/667. I would suggest pinning to 0.29.0 for a temporary workaround.

[2019-07-01 14:35] katmatt commented on #680
Now both issues are closed... But I guess you keep these issues tracked on an internal issue tracker? Just curious what your plan is to solve this issue 😄

[2019-07-01 15:13] callmehiphop commented on #680
@katmatt ahh, no, if you read through #667 you would come across https://github.com/googleapis/nodejs-datastore/issues/415 which is the tracking issue. The bug is something we're seeing all over and isn't something for the client itself to fix.

[2019-07-01 15:15] callmehiphop commented on #680
Actually, going down the rabbit hole this was marked as resolved. @katmatt do you know what version of `google-gax` is installed? Looks like >= 1.1.2 should have done the trick.

[2019-07-01 15:24] katmatt commented on #680
According to our `yarn.lock`file we are using version google-gax "^1.0.0". But we can try to replace it with the version you mentioned 😄

[2019-07-01 15:28] katmatt commented on #680
And this version is pulled in from `@google-cloud/pubsub@^0.30.0`:
[code]

[2019-07-02 19:17] xyclos commented on #676
[code]
`typescript : ^3.5.2`

[2019-07-03 17:17] anguillanneuf commented on #679
@dfang Do you get the same deadline exceeded error for a list topic (can be in a project or a topic) operation?

[2019-07-04 08:04] dfang commented on #679
[code]
sometimes both `node subscriptions.js list` and `node subscriptions.js list my-topic` get deadline exceeded error,  sometimes they both work

but `λ  node storage.js list` runs very fast

storage.js, copied to here to validate  GOOGLE_APPLICATION_CREDENTIALS
[code]

[2019-07-08 17:41] joshughes commented on #318
@ajaaym

Our team currently has to wrap the pubSub client library in our own retry logic to recover from auth issues.

I was hoping for some explanation on why you believe the fix you suggest above will help.
[code]

It is not clear why this would be any different than what is going on in this library.
https://github.com/googleapis/nodejs-pubsub/blob/535a917d8cb74db63e455975c1892283903d6ba2/src/pu

[2019-07-08 18:10] ajaaym commented on #318
@joshughes by passing auth object externally and setting credential to service account, it uses JWT authentication. In this case we observed that server sends closes stream with status code as 2(UNKNOWN) with text "stream removed" when token is expired.  Are you using external auth object as described above?

[2019-07-08 18:46] joshughes commented on #318
@ajaaym

Can you explain how passing that `auth` option overrides this? It seems like the library will still create its own auth client.

https://github.com/googleapis/nodejs-pubsub/blob/535a917d8cb74db63e455975c1892283903d6ba2/src/pubsub.ts#L279

[2019-07-08 18:56] ajaaym commented on #318
@joshughes please see here, its using the options which contains the auth object thats already passed in.

https://github.com/googleapis/nodejs-pubsub/blob/535a917d8cb74db63e455975c1892283903d6ba2/src/pubsub.ts#L911

[2019-07-09 04:11] joshughes commented on #318
@ajaaym thanks... I think I have parsed through far enough to find what you mean

https://github.com/googleapis/nodejs-pubsub/blob/535a917d8cb74db63e455975c1892283903d6ba2/src/v1/publisher_client.js#L82

I am still confused why the default for this library is going to remain broken with this bug. How do you see this being fixed in the long term?

It seems like for everyone not digging through the

[2019-07-09 04:27] JustinBeckwith commented on #318
We should dig into this one a little more.

[2019-07-09 16:22] callmehiphop commented on #680
@katmatt sorry for the late response but the `^` symbol should pull in any minor/patch changes automatically. I'm guessing your lock file might have prevented that from happening. Did deleting the lock file and reinstalling work for you?

[2019-07-09 21:52] anguillanneuf commented on #679
Sorry @dfang I wasn't able to reproduce this error. To narrow down that this is a client library issue, do you want to try `gcloud pubsub subscriptions list` and see if it _ever_ gets "deadline exceeded"?

[2019-07-09 22:49] camsjams commented on #468
I am experiencing similar symptoms, which result in a large backlog growth of messages that create outages in our application. These start off as `DEADLINE_EXCEEDED` errors that progress into a general failure of the application for about 20-40mins.

The backlog size and unacked messages grow together on the same subscription, and renders the subscription inactive and unusable.
![image](https://us

[2019-07-09 22:58] callmehiphop commented on #468
@camsjams would you mind opening a new issue?

[2019-07-09 23:03] camsjams commented on #468
Sure, thanks!

[2019-07-10 12:03] katmatt commented on #680
@katmatt Thanks for the follow up, but updating our `yarn.lock` didn't fix this issue. We now use version `1.1.4` of `google-gax` and still see the following errors in our logs:
[code]

[2019-07-10 13:22] dfang commented on #679
Just tried again.

[code]

`gcloud pubsub subscriptions list` return results very fast and never gets 'deadline exceeded' .

[2019-07-10 23:35] camsjams commented on #11
@AlexandreAWE @barrettc
Just for my sake and perhaps other lurkers, how are you restarting your subscriptions?

Are you doing something straightforward like `close` and then `open` within a `setInterval` like so:
[code]

I would love to hear about your experiences 6 months later and if this has been reliable enough.

Thanks!

[2019-07-11 11:51] barrettc commented on #11
@camsjams For our particular issue, it turns out we had a code path in which messages were not being properly acknowledged and the buildup of those messages created the perception that the subscriber had stopped working. In other words, we had `stupid programmer error`. I had forgotten about the comment I wrote back in December searching for answers but ultimately we did not have the problem descr

[2019-07-11 16:50] camsjams commented on #11
Thank you for your response. In our code we have a thin wrapper mediating PubSub activity, so it "always" acknowledges.

[2019-07-12 23:39] anguillanneuf opened #684 "doc: please describe`subscriberOptions`"
It's not super clear by referencing the documentation whether the options we set for [`topic.subscription(name[, options])`](https://googleapis.dev/nodejs/pubsub/latest/Topic.html#subscription) and [`pubsub.subscription(name[, options])`](https://googleapis.dev/nodejs/pubsub/latest/PubSub.html#subscription) are the same.

- Are they both of `type SubscriberOptions`? But one just tells me it's of `

[2019-07-12 23:51] anguillanneuf opened #685 "doc: missing link and confused by the guide"
Is **Pubsub#getSubscriptions** supposed to link to something on this [page](https://googleapis.dev/nodejs/pubsub/latest/Subscription.html)?

What's the distinction here? Why would Topic#createSubscription retrieve a subscription? It sounds like it would create a subscription.

[2019-07-14 06:57] jtyers opened #686 "Hang inside Docker container"
I have a `docker-compose.yml` file that runs integration tests, which includes talking to Pub/Sub. It looks like this:

[code]

The tests hang when the call to `publish()` takes place. The relevant code:

[code]

Running the same function **outside** the container, directly on my machine, works without issue. I'm using service account JSON creds with `GOOGLE_APPLICATION_CREDENTIALS` set in my envi

[2019-07-15 15:54] callmehiphop commented on #685
@anguillanneuf looks like a mistake to me, we should just remove it from that list entirely.

[2019-07-15 15:58] callmehiphop commented on #684
There is a type we can link to, but I think because its [declared before a TypeScript interface](https://github.com/googleapis/nodejs-pubsub/blob/master/src/subscriber.ts#L193) it gets stripped out when compiled to JS. We need to move it somewhere else, probably above/below the Subscriber class overview docs.

[2019-07-15 17:22] alexander-fenster commented on #667
Hi @pjm17971,

We have released google-gax v1.1.5 that pulls @grpc/grpc-js v0.5.2 in which the invalid headers (that are coming from Node.js http2 module) are printed in a warning, but do not throw exception. Please upgrade your dependencies, it should fix the problem for you.

Thanks!

[2019-07-15 17:51] #669 closed

[2019-07-15 21:16] bcoe commented on #680
@katmatt it sounds like `1.1.5` _should_ potentially address the invalid character issue, mind updating your dependency accordingly, and taking it for a spin?

[2019-07-16 07:56] alexbonhomme commented on #679
Hi,

I got the same error since I'd bump the version to `30.1`.
I think it's related to this PR https://github.com/googleapis/nodejs-pubsub/pull/625

I'm currently digging, will keep you in touch

[2019-07-16 10:06] xoraingroup commented on #318
Hi,
 I have been observing this issue from quiet long and its a kind of disaster for us. I have tried what @ajaaym mentioned using new GoogleAuth but this does not work other than my local machine. The message is neither sent nor received, it just hangs there. Is there a way to debug this full process.

Test same code for sending and receiving messages with p12 json creds file.
How I am initialisi

[2019-07-16 12:19] alexbonhomme commented on #679
I confirm that this regression appear between `29.1` and `30.1`. After my first observation it seems related to the switch from `grpc` to `grpc-js`.

Error appears in `waitForReady` method but I didn't understand why...

[2019-07-16 16:29] callmehiphop commented on #679
Interesting, @alexander-fenster @murgatroid99 any thoughts here?

[2019-07-16 17:16] josedonizetti opened #687 "doc: fix `topic.subscription` documentation"
`topic.subscription` documentation has a reference to `maxConnections`, but this was changed to `maxStreams` on the PR https://github.com/googleapis/nodejs-pubsub/pull/388

[2019-07-16 17:30] alexander-fenster commented on #679
There is a comment in `@grpc/grpc-js` `call-stream.js` exactly in that place:

[code]

https://github.com/grpc/grpc-node/blob/fe2eeb6c4b9a48a015cd1dec9fd237e6a9389705/packages/grpc-js/src/call-stream.ts#L130-L144

@murgatroid99 so does that mean this unhandled rejection is expected? Can we do anything about it?

[2019-07-16 17:36] alexander-fenster commented on #679
@dfang My first guess would be some network / firewall problem. Pub/Sub library uses gRPC (works over HTTP/2) while storage sends plain old JSONs over HTTP/1.

This does not explain why switching from `grpc` to `@grpc/grpc-js` affects it, since both use the same protocol (gRPC, HTTP/2).

But anyway, just to rule out the possible firewall problems, can you disable it temporarily ([manual](https://s

[2019-07-17 05:12] dfang commented on #679
@alexander-fenster

after turn off firewall,

[code]

btw, my proxy works well

[code]

[2019-07-17 05:51] murgatroid99 commented on #679
That code you quoted was supposed to stop these `UnhandledPromiseRejectionWarning`s. I genuinely don't understand how this could still be happening. I don't even know what promise it could be referring to. But to be clear, this isn't a network issue or anything like that. This is requests experiencing normal errors, in this case it looks like "Deadline exceeded", and then somehow that error is get

[2019-07-17 08:52] alexbonhomme commented on #679
Hey guys,

Could it be related to proxy usage ? We got the issue only on production behind proxy. No problem in local.

Also the implementation of `waitForReady` seems a little bit different between `grcp` and `grcp-js`.

For example, this is missing in `grpc-js` version :

[code]

And this case isn't addressed :

[code]

Could it be linked ?

[2019-07-17 15:50] hamptonwalker01 opened #690 "TypeError: function name.indexOf"
I recently began to dive into Google Cloud Storage, and when I deploy functions with a build trigger, I receive the same error multiple times after deploying the function:
 `TypeError: function 'name.indexOf' is not a function at Function.formatName_ (/srv/functions/node_modules/@google-cloud/pubsub/build/src/subscription.js:828:18)
    at new Subscription (/srv/functions/node_modules/@google-clou

[2019-07-17 15:52] stephenplusplus commented on #690
That function (`formatName_`) is called by the constructor when trying to figure out how to translate the user's input of a Subscription name into the format the API expects. Is there a chance you are using an environment variable locally to define the subscription name, that does not exist when published? Or any other reason why when you create a Subscription object, it wouldn't have the name?

[2019-07-17 16:12] hamptonwalker01 commented on #690
Yes, I am using an environment variable locally for the subscription name and it probably does not exist when published. Is this the reason for the error occurring?

[2019-07-17 16:44] stephenplusplus commented on #690
Yeah, it sounds like when you are trying to access the Subscription object, you're not providing a name. We usually have an error handler to catch that though. I'll take a look to see if we can throw something more helpful.

Let me know if you can get it to work when you set the subscription name when deployed.

[2019-07-17 17:17] alexander-fenster commented on #679
@alexbonhomme I had this idea as well (because @dfang also uses proxy, and also because I was never able to repro this without a proxy). It's a little bit unclear for me how `http_proxy` variable is used in `@grpc/grpc-js`. One thing that I see is that the C++ `grpc` (the one used by `grpc` NPM package) knows about `http_proxy` environment variable (at least here https://github.com/grpc/grpc/blob/

[2019-07-17 17:50] #687 closed

[2019-07-17 18:37] hamptonwalker01 commented on #690
Setting the subscription name fixed the issue. Thanks!

[2019-07-17 18:37] #690 closed

[2019-07-17 21:25] anguillanneuf commented on #685
Topic#subscription also creates a subscription if `autoCreate` is set to `true`.
Does the PR add the missing link? @callmehiphop

[2019-07-18 07:26] dfang commented on #679
@alexander-fenster  I'm in china, have to use proxy to access google api. develop on local and deployed it on google cloud functions.

btw, i use [shadowsocks](http://shadowsocks.org/en/index.html) to bypass GFW.
self hosted on aws ec2 free instances. and [ClashX](https://github.com/yichengchen/clashX) as shadowsocks client.

[2019-07-18 10:52] katmatt commented on #680
@bcoe We updated to version `1.1.5` of `google-gax` and it didn't fix this issue. We now see a different, but somehow related error in our logs:
[code]

[2019-07-18 16:04] callmehiphop commented on #685
@anguillanneuf actually `subscription.get({autoCreate: true})` creates it, `Topic#subscription` is a factory for creating Subscription objects but it doesn't create it on the backend or make any requests.

[2019-07-18 18:00] callmehiphop commented on #318
@xoraingroup are you attaching an `error` handler to the Subscription as well? You can try enabling grpc logging with the following environment variables

[code]

[2019-07-18 18:06] anguillanneuf commented on #685
@callmehiphop Last I looked, `Pubsub#getSubscriptions` and `Pubsub#createSubscription` still seem to be missing hyperlinks. Might worth double-checking.

[2019-07-19 01:26] #684 closed

[2019-07-19 01:27] #685 closed

[2019-07-19 05:12] JeremyPlease commented on #686
I'm having the same issue here. This minimal code reproduces it:

Docerkfile:
[code]

Test script:
[code]
Nothing is logged and it just hangs forever.

[2019-07-19 05:32] JeremyPlease commented on #686
Here are some simplified steps for reproducing:

1. Open ssh of docker image: `docker run -ti --entrypoint=sh node:8.15.0-alpine`
1. Install `npm i '@google-cloud/pubsub'`
1. Start nodejs shell: `node`
1. Paste in this code:
[code]

"in interval" will print ~3 times and then it freezes and node shell can't be escaped.

[2019-07-19 16:24] xoraingroup commented on #318
@callmehiphop thank you. Let me try with this. I was searching for how to enable debug mode to see whats going. Will update you with trace.

[2019-07-19 16:46] xoraingroup commented on #318
@callmehiphop

So here are my findings with trace. I added api to grpc trace as well.

this is with normal pubsub without GoogleAuth and it works.
`
D0719 18:42:34.794252105   26691 dns_resolver.cc:334]        Using native dns resolver
I0719 18:42:34.794341921   26691 init.cc:155]                grpc_init(void)
I0719 18:42:34.794645063   26691 completion_queue.cc:481]    grpc_completion_queue_crea

[2019-07-19 19:02] xoraingroup commented on #318
Also with latest version v0.30.1 of pubsub the trace is not printing.

[2019-07-19 22:20] bcoe commented on #680
CC: @alexander-fenster :point_up: is it `1.1.5` that we should be pointing folks towards?

[2019-07-19 22:35] alexander-fenster commented on #680
Yeah, and it behaves as expected. We did not fix the issue, we just made it so it does not crash, because the issue itself is beyond our control.

@katmatt To give you some details: the error is actually coming from Node.js `http2` stack. We have an [issue](https://github.com/nodejs/node/issues/28632) filed in Node.js repository, but given that (a) the error is hard to repro, and (b) it's some enc

[2019-07-20 09:24] xoraingroup commented on #318
Ok, if I try to export GOOGLE_APPLICATION_CREDENTIALS with service json file, then it works. But If i use new GoogleAuth({projectId: myGCPProjectId, keyFilename: serviceFilePath}), then it does not work in that vm or other servers, except my local computer.

[2019-07-21 13:14] hbk899 commented on #570
Can you help me I am doing server side rendering angular universal
To remove window not found i did this

`const template = fs.readFileSync(path.join( '.', 'dist/browser', 'index.html')).toString();
const win = domino.createWindow(template);
global['window'] = win;
global['document'] = win.document
global['DOMTokenList'] = win.DOMTokenList;
global['Node'] = win.Node;
global['Text'] = win.Text;
glo

[2019-07-21 14:41] JustinBeckwith commented on #570
Greetings! Can you open a new issue?

[2019-07-25 13:04] npomfret opened #696 "question / suggestion about flow control"
I can't figure out from the docs, perhaps someone could clarify.

I'm trying to use flowControl to limit the number of concurrent messages that are delivered to my subscriber to 1.  It seems that I can use `flowControl` options in the creation of the subscription AND in the creation of the subscriber.

Q1) Which do I use? (Does it matter?)

From reading the source code I noticed the `allowExcessMe

[2019-07-25 16:24] callmehiphop commented on #696
So I think an important distinction to make is that flow control options do not persist on the server side of things, so I might recommend only passing what is needed to create the subscription on the backend to `createSubscription`. You can see a list of available options [here](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#google.pubsub.v1.Subscription).

Unfortunately ther

[2019-07-25 20:56] anguillanneuf opened #697 "Docs: `ClientConfig` not linked + bad formatting in `PubSub` examples"
[This code block](https://github.com/googleapis/nodejs-pubsub/blob/master/src/pubsub.ts#L207-L234) is messing up the documentation [here](https://googleapis.dev/nodejs/pubsub/latest/PubSub.html).

- need a proper link for `Client Config` that points to its definition [here](https://googleapis.dev/nodejs/pubsub/latest/global.html#ClientConfig).
- fix hyperlinked text in the examples

[2019-07-26 12:04] danieldanielecki commented on #570
Getting the same error as @hbk899

[2019-07-26 14:50] katmatt commented on #680
@alexander-fenster I see and that means that we can ignore the logged message. Thanks a lot for your help!

[2019-07-26 18:30] anguillanneuf commented on #696
@npomfret I'm sorry for the confusion 😞

Q1) If you want to limit the number of concurrent messages to 1, the right thing is to set `maxMessages=` like this:

[code]

Q2) There is a distinction between a Pub/Sub subscription and a Pub/Sub subscriber, which isn't quite explained the same in the Node.js client library (versus the Pub/Sub client libraries in other languages). Unlike options set on th

[2019-07-29 19:36] bcoe commented on #680
@katmatt :+1: awesome. Going to go ahead and close this issue, please let us know if you bump into any related issues.

[2019-07-29 19:36] #680 closed

[2019-07-30 18:44] JustinBeckwith commented on #697
This should be fixed in #704

[2019-07-30 18:44] #697 closed

[2019-07-31 18:48] callmehiphop commented on #696
@anguillanneuf users can provide an ack deadline through the options that will get sent when making the initial `StreamingPull` call

[code]

[2019-07-31 19:01] callmehiphop commented on #570
@danieldanielecki I would suggest opening an issue in the protobuf package.

[2019-07-31 19:21] #696 closed

[2019-08-08 10:44] NathofGod opened #715 "Out of memory - Possible Memory leak"
We're getting memory issues when leaving our API running. We have a number of subscriptions and we have subscriptions for IoT devices.

Our server is GraphQL running on Koa inside Kubernetes (GKE) with node:10.13.0-alpine and pubsub v- 0.30.3

<--- Last few GCs --->

[77204:0x10280c000]  3801963 ms: Mark-sweep 1332.8 (1450.8) -> 1323.8 (1454.8) MB, 4806.6 / 2.5 ms  (average mu = 0.120, current mu

[2019-08-08 17:21] callmehiphop commented on #715
Hi @NathofGod, it looks like the error originates from the `graphql-google-pubsub` module which I'm largely unfamiliar with. Would you either be able to provide a reproduction case for us using the `@google-cloud/pubsub` module or else perhaps file an issue over at `graphql-google-pubsub`?

[2019-08-25 11:50] slavoroi opened #724 "Is there a way to purge a queue?"
I have looked and I saw that i can delete the subscription and create a new one with the same name and configuration.
I see that stackdriver shows getSize of unacked messages for 5 minutes and than it drops to 0.
In the api it says it should be 120 seconds max.
[code]

[2019-08-26 01:14] ide opened #725 "Feature: closing the subscription stream without clearing the local inventory and flushing ACKs"
**Is your feature request related to a problem? Please describe.**

I am looking to gracefully shutdown a service (ex: during rolling deployments) by draining remaining Pub/Sub messages without accepting new ones. Currently, this library offers an async `subscription.close()` method, which (1) closes the subscription stream, (2) clears the inventory of locally buffered messages, and (3) waits to f

[2019-08-26 23:36] stoked10 opened #727 "Error Handling in the Subscription MessageHandler"
The Subscription extension of the EventEmitter class appears to ignore errors that happen within the messageHandler. The EventEmitter listener for 'error' and 'uncaughtException' on Subscription seems to be eaten or ignored. To test this:

[code]

'error' doesn't catch and the app crashes, we found the only way around this is to emit the error to the app instead of throwing, then handle it at the

[2019-09-03 15:32] laljikanjareeya commented on #676
@xyclos not able to reproduce with given configuration and version, could you try to delete `node_modules` and `package-lock.json` file and run `npm install`.

[2019-09-04 17:44] callmehiphop commented on #727
This seems pretty specific to @stoked10's implementation, so I don't think we need to add any samples for it.

[2019-09-04 17:44] #727 closed

[2019-09-04 17:52] callmehiphop commented on #715
Haven't heard anything in a while and I'm not convince the client is the source of the memory leak, so I'm going to close this issue out. Please let us know if this was a mistake or if anyone can provide some new info!

[2019-09-04 17:52] #715 closed

[2019-09-04 17:54] callmehiphop commented on #676
@xyclos is this still an issue for you?

[2019-09-04 17:55] callmehiphop commented on #550
Since there's nothing we can do to resolve this (until `grpc-gcp` supports `grpc-js`), I'm going to close this out.

[2019-09-04 17:55] #550 closed

[2019-09-04 17:58] callmehiphop commented on #686
It's been a minute, but there hasn't really been any activity here lately. Has anyone been experiencing this issue still?

[2019-09-04 18:06] JeremyPlease commented on #686
Thanks for checking in. It looks like this was resolved in some version after v0.30.0. It now properly throws an `Unable to detect a Project Id in the current environment.`error instead of locking. This issue can be closed now.

[2019-09-04 18:10] callmehiphop commented on #686
Awesome, thanks for the update @JeremyPlease!

[2019-09-04 18:10] #686 closed

[2019-09-05 18:02] anguillanneuf opened #733 "Samples style refresh"
- Please split large files that contain more than one sample into small files that contain a single sample per file.

- Please make code that's enclosed in a pair of region tags runnable as is by following the updated style guide.

[code]

[2019-09-10 16:27] #582 closed

[2019-09-11 13:43] callmehiphop commented on #676
There hasn't been much activity here in a little while, so I'm going to close this out. If anyone continues to experience this please let us know and we'll be happy to re-open and investigate!

[2019-09-11 13:43] #676 closed

[2019-09-12 15:08] avokhmin opened #739 "TypeError: Cannot read property 'length' of undefined"
#### Environment details

  - OS: Google Cloud Functions
  - Node.js version: 8
  - npm version:
  - `@google-cloud/pubsub` version: 0.32.0

#### Steps to reproduce

[code]

and error:

[code]

With `0.31.1` all works good.

[2019-09-13 04:09] sombizbuzzz opened #742 "How do I use PubSub with react native?"
Hi ,
I am using @google-cloud/pubsub in react native ,
yarn add @google-cloud/pubsub
when trying to use getting error ,

node_modules/@google-cloud/pubsub/build/src/subscription.js`: Module `events` does not exist in the Haste module map

[2019-09-13 07:46] pphetra commented on #739
I 'm have the same problem. Here is console log after install googleapis/nodejs-pubsub#debug.

`=== Debug information ===
opts: {"credentials":{-----not shown here----,"projectId":"xxxxxx"}
global.isBrowser: undefined
nodejsProtoPath: /Users/pphetra/projects/horizon/new-horizons-server/functions/node_modules/@google-cloud/pubsub/build/protos/protos.json
opts.fallback: undefined
loadProto arg: /Use

[2019-09-13 08:42] jpreynat commented on #739
Same problem here using `@google-cloud/pubsub@0.32.0`

[2019-09-13 11:08] Draiken commented on #739
Seems to be an issue with using an older version of `gax-nodejs`.
Old gax versions don't allow `loadProto` to be used with a single parameter, passing `undefined` down to `loadFromProto`

https://github.com/googleapis/gax-nodejs/pull/543/commits/e570cfa975939daf8d51fcbb9296f0f6983eb2d3

Either PubSub needs to use the older version or update gax

[2019-09-13 16:55] alexander-fenster commented on #739
@Draiken That's a great (and possible) explanation to why `undefined` gets there! PubSub depends on `"google-gax": "^1.0.0"` which must pull the latest 1.x version (and the change to allow single parameter got released in google-gax v1.2.0), but if you have a lockfile, it might explain everything.

To all folks affected by the issue: can you please make your code do `npm ls` and send the output he

[2019-09-13 17:59] alexander-fenster commented on #739
Can you folks try installing `@google-cloud/pubsub` v0.32.1, double check that it pulled `google-gax` v1.5.2+, and let us know here if the problem is still there?

Thank you!

[2019-09-16 09:09] avokhmin commented on #739
Thanks, `v0.32.1` works good for me 👍 🙇

[2019-09-16 09:09] #739 closed

[2019-09-16 10:31] gberth opened #743 "Ack fails, with "Failed to acknowledge" or Failed to "modifyAckDeadline""
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

Please run down the following list and make sure you've tried the usual "quick fixes":

  - Search the issues already opened

[2019-09-16 10:58] callmehiphop commented on #743
@gberth I'm sorry you're having an issue! Would you be able to provide the entire error you're seeing? Usually there's something more specific about the failure, like `DEADLINE_EXCEEDED`.

[2019-09-16 11:05] Draiken commented on #739
This fixed the issue for me too. Thanks

[2019-09-16 11:06] callmehiphop commented on #742
👋 @sombizbuzzz this module was built specifically for Node.js, so I'm not too sure how difficult it would be to get running in a react native application. It would appear that it does not have support for core Node.js modules (like `events`) so you'll probably need to shim it.

[2019-09-16 11:09] callmehiphop commented on #739
@Draiken awesome, thanks for stopping by to let us know!

[2019-09-16 11:56] gberth commented on #743
{ BatchError: Failed to "modifyAckDeadline" for 1 message(s). Reason: 4 DEADLINE_EXCEEDED: Deadline Exceeded

Sometimes "Bandwitdh exhausted". 80 % only that ack fails, the rest goes ok (at least as it seems). Switching to 0.22.2 - no more ack errors, and the subscription behaves almost normally.

In the current running application there is done an immediate Ack after receive (not crusial if a mes

[2019-09-16 12:38] callmehiphop commented on #743
@gberth thanks! You might try increasing the request timeout for acks/modacks. You can do it like so

[code]

It might also be worth noting that other users have reported similar issues when they create a lot of Subscription objects. The gRPC channel can only handle so many concurrent streams, so if you do have a lot of Subscription objects, I might suggest trying to either cache and re-use them w

[2019-09-16 13:26] gberth commented on #743
Hi and Thanks for follow up.

There is (was) only one stream for this subscription. Only two subscriptions on the actual topic. The topic receives about 20-50 rather large messages a second. Don't think timeout will help, and the reason I think it is some sort of bug is that version 0.22.2 works fine, while 0.31 and 0.32 does not.

Noteworthy also is that the Node pubsub adapter (v 0.31-0.32) regu

[2019-09-16 13:57] callmehiphop commented on #743
@gberth interesting, would you be able to provide us with a small reproduction case that triggers the hanging?

[2019-09-16 14:13] gberth commented on #743
I'm sorry but can't find any regularity. But during the time from 2019-09-12 12:14:06 to 2019-09-13 13:10:30 I had 72 observations of hang. That is, I know there are 20-50 messages coming every second, I monitored the count every minute, and if nothing had changed for a minute, I closed the subscription, created a new Pubsub object and started listening. (and got the warning from Node about possib

[2019-09-19 17:06] alexander-fenster opened #752 "MaxListenersExceededWarning: Possible EventEmitter memory leak detected"
Noticed this happening during our system tests run. I also remember user @evilive3000 pointing out to this warning in nodejs-vision [here](https://github.com/googleapis/nodejs-vision/issues/427).

This Node.js [issue](https://github.com/nodejs/help/issues/1051) says the default limit of the number of listeners is 10, so it might make sense to use the tracing options discussed in that issue to see

[2019-09-19 17:28] merlinnot commented on #752
See https://github.com/grpc/grpc-node/issues/1027 and https://github.com/grpc/grpc-node/issues/1027#issuecomment-532852102. I was surprised it went GA with this bug in place. Unlucky v1.0.0 :)

[2019-09-19 18:15] alexander-fenster commented on #752
Oh, thanks @merlinnot, I somehow missed that grpc-node issue. I'll close this one then in favor of the general issue.

Speaking about going GA, GA is essentially a message that this library API is stable. To have that gRPC issue is indeed unlucky, but it's a dependency, and technically is not a problem of this particular library. I hope it will be fixed soon anyway :)

[2019-09-19 18:15] #752 closed

[2019-09-20 02:02] Royfangs opened #753 "PubSub: No redelivery message if I don't ack or nack message."
Hello, I set up pubsub service for our project, and we use pull way to subscribe, everything is working fine, then we want to modify ackDeadlineSeconds option to test our flow, here comes problems.

If we don't ack or nack message, we don't receive any message no matter what seconds we set up for ackDeadlineSeconds, seems like pubsub doesn't redelivery message at all, and then we add back ack and

[2019-09-20 08:01] MPNull opened #754 "Very confused, need to authenticate via App, not environment"
I would like to authenticate my server within the start of Node application which receives messages from Pub/Sub. None of these samples includes the authentication part for Pub/Sub client which receives messages.

In example. How can I add authentication in this file: samples/topics.js

Every single example assumes that everyone uses environment variables. I can get the script work fine if environ

[2019-09-20 12:35] callmehiphop commented on #753
👋 @Royfangs I'm not sure which version of the client you're using, but there is a configurable setting on the hand written PubSub client that will attempt to extend the ack deadline to prevent messages from being redelivered. You can configure it like so

[code]

If you want to disable it entirely you can set it to `0`.

Please let me know if this does the trick!

[2019-09-20 12:56] callmehiphop commented on #754
@MPNull would providing a `credentials` object in the [client config](https://googleapis.dev/nodejs/pubsub/latest/global.html#ClientConfig) work for you?

[code]

[2019-09-20 13:28] MPNull commented on #754
I do believe it works. I'll test it as soon as I get back on PC.

[2019-09-21 23:53] Royfangs commented on #753
@callmehiphop  Sorry, I should mention we already modify maxExtension and it doesn't work too.
Below is our code snippet:

`const {PubSub} = require('@google-cloud/pubsub');
const pubsub = new PubSub();
const createSubscriptionOptions = {
      flowControl: {
        maxExtension: 0
      },
      ackDeadlineSeconds: 20,
      expirationPolicy: {
        ttl: {
          seconds: 31536000

[2019-09-23 12:53] callmehiphop commented on #753
@Royfangs Some of the subscriber/subscription options don't actually persist to the server. Could you try out the following code and see if it helps?

[code]

[2019-09-23 13:17] amsibamsi opened #757 "EventEmitter memory leak"
#### Environment details

  - OS: Debian 9.11
  - Node.js version: 10.16.3
  - npm version: 6.9.0
  - `@google-cloud/pubsub` version: 1.0.0

#### Steps to reproduce

Run the following sample program with GCP project `myproject` and Pub/Sub topic `mytopic` set up and observe warnings like:

`(node:22056) MaxListenersExceededWarning: Possible EventEmitter memory leak detected. 11 close listeners add

[2019-09-23 14:03] callmehiphop commented on #757
👋 @amsibamsi we've been seeing this issue pop up across several of our Node.js clients, I believe this is a grpc issue (https://github.com/grpc/grpc-node/issues/1027) which may or may not be resolved already.

Can you check to see if `@grpc/grpc-js@0.5.4` is installed? If it isn't, you may need to delete any lock files you might have and/or re-install your dependencies.

[2019-09-24 05:44] amsibamsi commented on #757
Thanks, this indeed fixed the problem.

[2019-09-24 06:34] Royfangs commented on #753
Hello, I got this error message after add seOptions as your suggestion.

(node:57369) UnhandledPromiseRejectionWarning: Error: Failed to "modifyAckDeadline" for 1 message(s). Reason:
    at /Users/royfang/Documents/zelda/node_modules/@google-cloud/pubsub/build/src/message-queues.js:201:23

But no matter our original setup or your method, we can see it actually set up ack deadline on goold cloud pl

[2019-09-24 16:04] callmehiphop commented on #757
@amsibamsi awesome, thanks for letting us know!

[2019-09-24 16:04] #757 closed

[2019-09-24 18:21] ctavan commented on #757
@callmehiphop wouldn't it be appropriate to upgrade the dependency in `package.json` to `"@grpc/grpc-js": "^0.5.4",` then?

[2019-09-25 08:27] madhu-ggl opened #758 "Possible Memory Leak Issue with NodeJs PubSub Client, when publishing messages to topic"
Raising this issue here, as the customer is deeply impacted and raised a P1 issue on buganiser and could not find a resolution. Help needed to resolve this urgently.

I am trying to run a node js job to read data from dynamo db and send to PubSub.

I am running this job in praveen-workspace (https://console.cloud.google.com/compute/instancesDetail/zones/asia-south1-c/instances/praveen-workspace?pr

[2019-09-25 15:10] callmehiphop commented on #757
@ctavan yep, absolutely! We'll need to make that update across the board

[2019-09-25 15:19] callmehiphop commented on #758
Hi @madhu-ggl, this sounds like a duplicate of https://github.com/googleapis/nodejs-pubsub/issues/757. Could you try deleting any lock files and re-installing your dependencies?

[2019-09-25 15:37] callmehiphop commented on #754
👋 @MPNull just a gentle ping, wanted to check in and see if the posted solution worked out for you or not!

[2019-09-25 15:39] callmehiphop commented on #753
@Royfangs would you be able to provide us with a minimal amount of code that can reproduce the issue in its entirety?

[2019-09-25 20:59] MPNull commented on #754
I do believe that's it. I have problems to authenticate on Android (Java) so I actually moved to HTTP API instead so I were too bored to rewrite this on server. Can be closed.

[2019-09-26 16:51] callmehiphop commented on #754
Cool, thanks!

[2019-09-26 16:51] #754 closed

[2019-09-26 17:58] jakelowen opened #760 "Clarify potential misleading example"
**Is your feature request related to a problem? Please describe.**

I found the pubsub topic publish example very helpful: https://github.com/googleapis/nodejs-pubsub/blob/master/samples/topics.js#L84-L87

When I implemented a very similar publishMessage function in my code, I made what is now an obvious oversight, but one I probably would not have made with additional comments in the example.

In

[2019-09-26 18:07] callmehiphop commented on #760
@jakelowen thanks for raising this issue! Everything you've said is totally reasonable to me, I believe the reason we do the require inside of the sample function is for completeness.

@JustinBeckwith @bcoe thoughts here? I think this might be something we want to think about for all of our client library samples.

[2019-09-27 03:59] bcoe commented on #760
@callmehiphop it would be worth bringing up with @fhinkel too ... I don't think we want to add a comment to every single sample, to the effect that you should only instantiate the client once.

At the same time, I totally agree that this can be confusing, and lead folks down the wrong path (especially for high throughput clients like PubSub).

[2019-09-27 07:38] ctavan commented on #760
This issue is in fact even more intricate as there are also limitation as to how many parallel streams you can consume with one `PubSub` instance, see https://github.com/googleapis/nodejs-pubsub/issues/550#issuecomment-472778501 for reference.

So in some occasions it will be required to create multiple `PubSub` client instances, e.g. one for each subscription/topic (but definitely never one for e

[2019-09-27 10:36] gberth commented on #743
Fyi: Deployed app to google cloud, and ack errors are gone. Errors above occurs when running a local workstation on version 1.0

[2019-09-27 15:12] filipsuk commented on #568
We are still facing the same issue, have you found any workarounds @mkls @pjm17971 ?

[2019-09-27 15:22] kir-titievsky commented on #568
That a failed ack / modAck request would hang the client seems like a bug
or red herring.  Those failures should generally be harmless as they are
best effort anyway.  Peter, how frequently do you see these errors, per
time and per message?

On Fri, Sep 27, 2019 at 11:12 AM Filip Suk <notifications@github.com> wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.

[2019-09-27 16:29] callmehiphop commented on #758
We have since made a release containing a fix on the gRPC side, so I'm going to close this out. If your issue continues to occur, please let us know. Thanks!

[2019-09-27 16:29] #758 closed

[2019-09-27 16:59] callmehiphop commented on #753
@Royfangs sorry, maybe I mislead you a bit here. Setting `ackDeadline` via `setOptions` does not configure the ack deadline on the server like providing it at creation time would. It does 2 things

1. It configures the `stream_ack_deadline_seconds` field for all [`StreamingPull` requests](https://cloud.google.com/pubsub/docs/reference/rpc/google.pubsub.v1#google.pubsub.v1.StreamingPullRequest).
2.

[2019-09-27 17:01] callmehiphop commented on #743
@gberth interesting, are you by chance using a proxy on your local machine?

[2019-09-28 05:16] Royfangs commented on #753
@callmehiphop Thanks to mentioning, I know where is the problem.

The problem is I used new pubsub subscription every time I subscribe.
[code]

And I need to use setOptions every times I got existed subscription, or it didn't configure stream_ack_deadline_seconds when restart project.
[code]

Now it works as expected, thank you so much!

[2019-09-28 10:56] callmehiphop commented on #753
Awesome, thanks for letting us know!

[2019-09-28 10:56] #753 closed

[2019-09-30 08:28] mahaben commented on #679
Hey guys,

Any fix for this issue?

Thanks,

[2019-09-30 23:50] bcoe commented on #679
@mahaben are you getting the same exception, mind sharing a stack trace? I'm curious, are you running behind a proxy as well?

[2019-10-01 12:16] gberth commented on #743
No, native Node with project reference. As errors disappeared after deploying to the cloud, I think you can close this, and keep it as a reference that something is different (probably some network thing) between 0.22 and 1.0.

Regards
Gunnar

[2019-10-02 08:40] mahaben commented on #667
Hi @alexander-fenster,

We still have the error `Metadata key "a" contains illegal characters`. We use `@google-cloud/pubsub version: 1.0.0`

Any idea?

Thanks,

[2019-10-02 15:11] alexander-fenster commented on #667
Hi @mahaben,

This error comes from Node.js `http2` stack (https://github.com/nodejs/node/issues/28632) and we don't have any solution at this moment, but we made sure we only print a warning and not an error. Make sure you update your dependencies.

[code]

Starting from `@grpc/grpc-js` v0.5.2 this error is changed to warning so it should not crash your code.

We keep trying to catch and debug it

[2019-10-03 10:14] mahaben commented on #679
@bcoe Thanks for your reply.

`   ackIds: [
    0: "TgQhIT4wPkVTRFAGFixdRkhRNxkIaFEOT14jPzUgKEUSAAdnfjkORhoLazNcdQdRDRh0KWZza1sRVFMUWX9XWxENQGx-SgBVDR1ydGlybF8WBgFDU1bM4eqNyKT3RB1tNaO89r1ASpvFk7V0Zhs9WhJLLD5-MilFQV5AEkw5HERJUytDCypYEQ"
   ]
   code: 4
   details: "Deadline exceeded" `

[2019-10-03 10:52] fhinkel commented on #760
The code is wrapped in a function for testing purposes. The documentation that renders the sample doesn't show the function. IMO that makes it clear in the docs that the client doesn't need to be instantiated over and over again.

I think the confusion comes from looking at GitHub instead of the docs. If we want to add a comment to the sample, it needs to be outside of what gets rendered in the do

[2019-10-03 15:56] alexander-fenster opened #769 "TypeScript compilation fails on clean repo"
![image](https://user-images.githubusercontent.com/4015807/66143152-87b5e280-e5bb-11e9-9e12-1cb4b13491a5.png)

Looks like some dependency changed its types in an incompatible way.

Repro:
[code]

[2019-10-03 17:08] mahaben commented on #568
We are facing the same issue, this error puts the app in a state of not receiving messages at all. Any workaround?

Thanks,

[2019-10-03 22:05] #743 closed

[2019-10-04 04:43] sindresorhus commented on #769
Fixed in v1.2.0: https://github.com/sindresorhus/is/releases/tag/v1.2.0

[2019-10-04 07:10] mahaben opened #770 "DEADLINE_EXCEEDED makes application not receiving messages at all"
Environment details

Node.js version: v12.7.0
npm version: 6.10.0
@google-cloud/pubsub version: "^1.0.0",

Error:

`insertId: "gnr3q1fz7eerd"
 jsonPayload: {
  level: "error"
  message: "unhandledRejection"
  originalError: {
   ackIds: [1]
   code: 4
   details: "Deadline exceeded"
  }
 }`

After receiving this error, the app does not receive messages anymore and we have to exit the application t

[2019-10-04 16:06] bcoe commented on #770
Hey @mahaben did this issue recently start happening?

[2019-10-04 16:06] bcoe commented on #769
@sindresorhus :wave: thanks!

[2019-10-05 04:37] mahaben commented on #770
Hey @bcoe, first time after upgrading googlecloud/pubsub to ^1.0.0. Any workaround to recreate subsciption after this error?

[2019-10-06 07:26] hx-markterry commented on #770
We used to see these error messages, we now see these errors in all our projects that use it:
[code]

[2019-10-07 16:02] WaldoJeffers commented on #770
I can confirm this after upgrading to PubSub ^1.0.0, all our services stop sending pubsubs after the error occurs.

The full stacktrace is
[code]

[2019-10-07 18:46] maxmoeschinger commented on #770
Non of our services using pubsub is working anymore either. Getting this:
[code]
And this:
[code]

We have to restart our services every 10 minutes because of that...

[2019-10-07 20:51] ddehghan commented on #770
We also are hitting this. It happens after an hour or two and our publishing stops completely.

My only suspicion was that since we created and cached the topic in our constructor, the topic was timing out. we changed our implementation to to call publish like this:

Now running some tests.

We are not running the node 12 on alpine on GKE.

[2019-10-07 21:25] pworkpop commented on #575
Experiencing deadline exceeded errors with `@google-cloud/pubsub` 0.31.1
[code]

while these are delivered to the error handler on the subscription there is no possible way to retry that operation using the supplied ackIds without a reference to the message object? How are we supposed to handle such errors if `@google-cloud/pubsub` doesn't handle them?

[2019-10-07 21:39] pworkpop commented on #770
Seeing the same errors with `@google-cloud/pubsub` 0.31.1, same outcome application cannot receive messages. Does `subscription.close().then(() => subscription.open());` help in this case?

[2019-10-07 21:57] Tolgor commented on #770
Same error here with "@google-cloud/storage": "^3.3.1".

Having
[code]
and leaving the nodejs process running, raises the error from time to time.
[code]

[2019-10-07 22:49] ddehghan commented on #770
seems that our problem is solved.

I was caching pubsub.topic('xx') and then reusing it. Now I just call pubsub.topic('xx').publish().

[2019-10-08 01:45] ddehghan commented on #770
Nope. That didn't work.  ;-(  still getting this.

[code]

[2019-10-08 03:14] pworkpop commented on #770
Getting similar `total timeout exceeded before any response was received` errors with `subscription.close().then(() => subscription.get());`
What is the best approach, should we retry the operation ourselves until it goes through or better tweak the default GAX retry options? (https://googleapis.github.io/gax-nodejs/interfaces/BackoffSettings.html)

[2019-10-08 07:16] maxmoeschinger commented on #770
I have now downgraded to @google-cloud/pubsub version `0.31.0` and added this to my `package.json`:
[code]
Seems like things are working for longer than 10 minutes now.

[2019-10-08 08:03] FabianHutin commented on #770
Hello,
We hit the same problem here since 10/02.
We tried upgrading to 0.32.1, and even to 1.1.0.
Didn't solve a thing.
We are running in App Engine, so when one of the instances starts hitting the error, it snowballs and errors flow like crazy until the instance gets killed and another instance starts. Then, errors stop flowing for a bit.

[2019-10-08 13:20] Tolgor commented on #770
Since https://github.com/grpc/grpc-node/issues/1064#issuecomment-539432287

Using
[code]
as a temporary fix, works for me.

[2019-10-08 16:02] callmehiphop commented on #770
I'm putting this issue at the top of my list. Would anyone be able to re-test with the latest version of gRPC? A release (v0.6.6) went out yesterday and it may or may not have a fix for this. All that should be needed is to delete any lock files you might have and re-install the PubSub client with the same version you currently have pinned.

[2019-10-08 17:00] gae123 commented on #770
I believe we are hitting this one as well. After the application runs fine for several hours, we get the following logged from the subscription error handler. New messages that usually arrive once a minute have stopped arriving 5 minutes earlier.

![image](https://user-images.githubusercontent.com/6157123/66415917-8d436c00-e9b1-11e9-8999-d0bb40256aaa.png)

wondering if this issue is related to [th

[2019-10-08 17:19] bcoe commented on #770
@gae123 mind adding `grpc` to that `grep`? The specific dependency having issues is a sub-dependency of `pubsub`.

One thing that is jumping out at me immediately though, is that you're not running `pubsub@1.0.0`? So it would appear you're actually having issues with the `< 1.0.0` version of PubSub?

[2019-10-08 17:22] bcoe commented on #770
@gae123 I would, if possible, suggest trying out `PubSub@1.0.0` as (outside of the rough week of hot fixes we've had) we've been working hard to improve stability.

@mahaben are you able to ry out `0.6.6` of `grpc-js` as well, sounds like this fix might be on the right track.

[2019-10-08 18:04] gae123 commented on #770
@bcoe modified the original post

[2019-10-08 18:07] bcoe commented on #770
@mahaben closing this for now, as we believe it is fixed with the latest version of PubSub we've released.

@gae123 could I bother you to open a new issue. The dependency graph you're using is using PubSub in a variety of places, as a deep dependency, but none of the versions linked are up-to-date. I believe you are running into different issues related to older versions of the grpc library.

[2019-10-08 18:41] stephenplusplus commented on #318
Related issue: https://github.com/googleapis/nodejs-speech/issues/243

@eug48 @joshughes @xoraingroup We have recently made a fix that more eagerly refreshes an access token. Have you still been seeing this error after updating to the latest release?

[2019-10-08 19:55] murgatroid99 commented on #318
I have just been made aware of this issue so I want to clarify the information in https://github.com/googleapis/nodejs-pubsub/issues/318#issuecomment-467507119 about how grpc handles credentials. It is true that if you construct a channel using credentials, those credentials do not change for the lifetime of the channel. But that credentials object can provide the corresponding metadata dynamicall

[2019-10-08 20:24] bcoe commented on #318
@murgatroid99 the Google library does have this functionality, and we recently fixed a major bug with it (such that it actually works :laughing:). This is great to know.

[2019-10-09 12:39] sharif9876 commented on #42
@callmehiphop I'm having this issue now, do you know of any solution for this?

[2019-10-09 14:00] callmehiphop commented on #42
@sharif9876 What version of the PubSub client are you running? I think you might be getting hit by https://github.com/googleapis/nodejs-pubsub/issues/770, which we released a patch for just yesterday.

[2019-10-09 14:14] eljefedelrodeodeljefe opened #775 "docs: dead link to gax CallOptions"
https://github.com/googleapis/nodejs-pubsub/blob/2071954ad2deefa74e76e76e57c034cc58aae990/src/v1/publisher_client.js#L328 states the wrong link I suppose. You likely mean https://googleapis.github.io/gax-nodejs/interfaces/CallOptions.html

[2019-10-09 14:28] stephenplusplus commented on #775
I'm probably missing something, but it seems like it's doing the right thing. The address in the docs matches the link you suggested, https://googleapis.github.io/gax-nodejs/interfaces/CallOptions.html.

[2019-10-09 14:50] mahaben commented on #770
@callmehiphop yes I tried (v1.1.1) after deleting lock file..

[2019-10-09 15:13] callmehiphop commented on #770
@mahaben well that's no good, could you run `npm ls` and give me a print out of your dependency tree?

[2019-10-09 15:16] mahaben commented on #770
├─┬ @google-cloud/pubsub@1.1.1
│ ├─┬ @google-cloud/paginator@2.0.1
│ │ ├── arrify@2.0.1 deduped
│ │ └── extend@3.0.2 deduped
│ ├── @google-cloud/precise-date@1.0.1
│ ├── @google-cloud/projectify@1.0.1
│ ├── @google-cloud/promisify@1.0.2
│ ├─┬ @grpc/grpc-js@0.6.7
│ │ └── semver@6.3.0
│ ├── @sindresorhus/is@1.2.0
│ ├─┬ @types/duplexify@3.6.0
│ │ └── @types/node@12.7.12
│ ├── @types/long@4.0.0
│ ├──

[2019-10-09 15:46] callmehiphop commented on #770
@mahaben thanks! Are you still experiencing the same exact issue you mentioned in the issue overview? After re-reading the thread, I have reason to believe that the issue you are experiencing might be different than what the other users here are seeing.

[2019-10-09 18:03] anguillanneuf commented on #770
@callmehiphop An earlier suggestion in this thread to use the latest `@grpc/grpc-js` (`v0.6.6`) didn't quite work for some customers. They reported the same error with high volume of incoming messages unless they restarted the affected instances.

`Error: Retry total timeout exceeded before any response was received`

[code]

I see a new release of `@grpc/grpc-js` (`v0.6.7`) but is that where the

[2019-10-09 18:53] callmehiphop commented on #770
@anguillanneuf that is a good question, I'm still trying to play catch up from last week. @alexander-fenster @bcoe do either of you have any insight here? I didn't look very deeply into this yet but it seems like either grpc isn't the problem or 0.6.6 did not contain a fix for this particular issue.

[2019-10-09 20:19] MichaelMarkieta commented on #770
I am able to replicate this issue by deploying a GAE Standard service that pulls messages from PubSub at a rate of about 40/s. Instances need to be redeployed.

[2019-10-09 21:21] hongalex opened #776 "StreamingPull Retries on OK"
https://github.com/googleapis/nodejs-pubsub/blob/b9122763d85d08335a86559e8299c3cebfe5372a/src/message-stream.ts#L60-L71

[The gRPC "OK" code](https://github.com/grpc/grpc/blob/master/doc/statuscodes.md) indicates success and should not be retried.

[2019-10-09 21:21] hongalex commented on #776
cc @jadekler @callmehiphop

[2019-10-09 21:33] callmehiphop commented on #776
@hongalex thanks for bringing this up! Those specific set of codes are not passed to gax/grpc and are only used internally when trying to determine if we should continue to create new StreamingPull requests when previous ones have closed.

A side note is that as far as I know in the history of StreamingPull we've never actually received an OK response (lol). GAX configures a deadline and the only

[2019-10-09 21:36] hongalex commented on #776
Definitely! For more context, we're actually trying to use the "OK" code in a pubsub emulator for benchmarking. If the server/emulator closed the stream (without errors), we want to use the "OK" code as an indicator to not spin up new streams in `FillStreamPool`. I can make this change if that's fine with you?

[2019-10-09 21:48] gae123 commented on #770
Using the following did not work for us. The issue came back after several hours of starting a deployment like before.

[code]

[2019-10-09 21:52] callmehiphop commented on #770
I'm attempting to work on a reproduction case right now, but if anyone could enable gRPC logging and supply us with the output that might prove helpful.

Just need to enable the following environment variables

[code]

[2019-10-09 22:07] callmehiphop commented on #776
Yeah, absolutely.

[2019-10-09 22:18] pworkpop commented on #770
Someone suggested in https://github.com/grpc/grpc-node/issues/1064#issuecomment-538512609 downgrading `@grpc/grpc-js` to `0.5.4` so we are pinning `google-gax` to `1.6.2` until a working solution is provided
[code]

[2019-10-09 23:35] MichaelMarkieta commented on #770
@callmehiphop can these be simply added to the GAE Standard environmental variables?

[2019-10-09 23:46] callmehiphop commented on #568
@mahaben while this error can be frustrating, I am pretty concerned to hear that it puts your application into that kind of state. Might I trouble you for some additional details?

Are you seeing an uncaught exception/unhandled rejection when this error occurs?
How many subscription objects do you have open in your application?
Are you setting any custom flow control settings on the subscription?

[2019-10-09 23:48] callmehiphop commented on #770
@MichaelMarkieta I believe so. Can you confirm if you have `@grpc/grpc-js` >= 0.6.5 installed? I think these are a pretty new addition.

[2019-10-09 23:52] MichaelMarkieta commented on #770
[code]

[2019-10-09 23:53] MichaelMarkieta commented on #770
[code]

[2019-10-10 00:00] callmehiphop commented on #770
@MichaelMarkieta I think it works, although it didn't show up in the stack driver UI for me, I did have success using the `gcloud` tool with `gcloud app logs tail -s default`

[2019-10-10 07:43] FabianHutin commented on #770
Hello,
Just a followup.
We upgraded to pubsub 1.1.1 and we don't have errors anymore.
However, latency to push messages to pub sub is incredibly high. (between 5s and 50s)

[2019-10-10 08:17] filipsuk commented on #568
This happened to us mainly when doing CPU intensive work while processing task queue from pubsub.

However I found a suitable workaround, using the general library fixed the issue for me https://github.com/googleapis/google-api-nodejs-client

[2019-10-10 09:04] npomfret commented on #770
@google-cloud/pubsub@1.1.1 definitely not working for me.  I regularly see `{"code":4,"details":"Failed to connect before the deadline","metadata":{"internalRepr":{},"options":{}}}` and then my entire app stops working.  The subscribers stop processing messages.

[2019-10-10 09:07] paksu commented on #770
I can confirm that we still get "Failed to connect before the deadline" with version 1.1.1 and latest version of `google-gax` and `grpc-js`

[2019-10-10 10:58] npomfret commented on #770
Downgrading to 0.31.0 hasn't worked for me.

Also, downgrading to 0.31.0 AND adding ```"resolutions": {"google-gax": "1.6.2"}``` hasn't worked for me.

[2019-10-10 13:17] MatthieuLemoine commented on #770
Downgrading to 0.29.1 should do the trick @npomfret

[2019-10-10 13:30] npomfret commented on #770
@MatthieuLemoine what can I say, I tried and it also doesn't work.  I still get the errors and no messages are being sent or delivered.

[2019-10-10 14:17] MichaelMarkieta commented on #770
I haven't changed anything since last night (eastern time zone), and the last time I received an error in GAE was 10/10/19 2:32 AM EST. Not sure what's changed... Instance counts across the service's that use pubsub are steady, and messages are ack'd at a steady rate. I would say, things became a lot more stable around 4:00 AM EST.

![image](https://user-images.githubusercontent.com/3111752/665771

[2019-10-10 14:33] MichaelMarkieta commented on #770
Combing through the logs and GRPC debugging output I see some errors that line up with the Unack' count blips (bottom left graph in the previous message's attachment):

![image](https://user-images.githubusercontent.com/3111752/66578567-51dba580-eb49-11e9-9ed7-f44c1eac01d2.png)

[2019-10-10 14:39] MichaelMarkieta commented on #770
One more interesting log bunch that looks quite different than the rest, from earlier in the night around 3:45 AM EST

![image](https://user-images.githubusercontent.com/3111752/66579108-489f0880-eb4a-11e9-9aed-7f38605bd432.png)

[2019-10-10 15:56] npomfret commented on #770
Observed a new error just now:

`{"code":16,"metadata":{"_internal_repr":{"www-authenticate":["Bearer realm=\"https://accounts.google.com/\", error=\"invalid_token\""]},"flags":0}}`

[2019-10-10 16:22] MichaelMarkieta commented on #770
Looks like there are 3 errors in my playground that come up over and over:

[code]

[2019-10-10 16:34] callmehiphop commented on #770
@murgatroid99 does anything in the provided logs stick out to you?

[2019-10-10 16:46] npomfret commented on #770
This problem is getting worse and worse for me.  I've downgraded to "@google-cloud/pubsub": "0.29.1" and deleted all my subscriptions before recreating them but I'm still getting thousands of errors.  Is anyone at google making any progress on this?

[2019-10-10 16:48] callmehiphop commented on #770
@npomfret we're definitely making efforts here to resolve this as quickly as we can. Any additional info you can provide about your environment and application would be very helpful.

[2019-10-10 16:53] npomfret commented on #770
@callmehiphop is there anything in particular?

I'm running a node app with (some node 11 version) on a basic GCE instance (f1-micro).  It's been running fine for a long time and at  16:35:28 Oct 09  (UTC) i started getting a variety of pubsub errors (listed above).  The impact is that most of my subscribers aren't receiving any messages.  Sending seems to be ok, I can see a build up of messages v

[2019-10-10 16:55] MichaelMarkieta commented on #770
@npomfret 's experience would line up with my attempt to replicate the issue in GAE. However, since the instances in GAE are restarting or new instances come online when the service is unhealthy this deployment method is impacted slightly less.

[2019-10-10 16:58] callmehiphop commented on #770
@npomfret could you tell me a little more about your subscribers, like

- How many messages would you approximate are in the queue?
- What kind of flow control settings do you have configured?
- What is your ack deadline set to?
- How many subscription instances are you creating?
- How long on average does it take to ack a message?

[2019-10-10 17:11] MichaelMarkieta commented on #770
Note: I have a playground environment that I can tune using Locust to simulate load.

1. GAE Standard publisher service
2. GAE Standard puller service
3. Locust on GCE putting load on (1) publisher and (2) puller

- How many messages would you approximate are in the queue?
This doesn't matter, errors present at ~50 messages per second or ~500 messages per second

- What kind of flow control settin

[2019-10-10 20:01] gae123 commented on #770
Here are my observations with latest libraries, in case they help anybody to reproduce. Rest of the stack same as I described in other messages in this thread.

We have a regional k8s cluster with 3 pods---if you do not understand k8s these are basically three nodejs processes running the same code. Each pod receives messages from the same subscription, about 10 messages arrive almost simultaneous

[2019-10-10 20:05] bcoe commented on #770
@gae123 there's a chance we have a reproduction, we're working towards testing on a few `@grpc/grpc-js` versions, so that we can better isolate where the breakage occurs. Will keep you updated.

[2019-10-10 22:06] Redgwell commented on #770
I've hit this issue too - for now, I'm using this workaround:

[code]

[2019-10-10 22:13] bcoe commented on #770
@Redgwell what environment are you running PubSub in (Kubernetes Engine? App Engine?).

[2019-10-10 22:18] Redgwell commented on #770
@bcoe Running in GKE.

[2019-10-10 22:23] bcoe commented on #770
@Redgwell a couple more follow up questions:

1. how many messages/minute is your subscriber handling would you guesstimate?
2. how often are you seeing the subscriber issue in your logs?

[2019-10-10 22:35] Redgwell commented on #770
@bcoe
1. Really low throughput. Probably less than 10 a day at this point.
2. We just released our service last night, and when we checked the logs this morning, we saw this error. The service was happy for about 3-4 hours before the error showed up in the logs.

I did a quick google and landed here.
Locally, I was able to replicate the same error message and behaviour (that is, no longer receivin

[2019-10-10 23:02] bcoe commented on #770
@Redgwell thank you this is very thorough, and gives us a good starting point for debugging.

[2019-10-11 01:26] bcoe commented on #770
@Redgwell, could I bother you to test with `@grpc/grpc-js@0.6.8`, if you delete your `node_modules` and `package-lock.json`, and run `npm install @google-cloud/pubsub`, you should get it now. (you can run `npm ls` post install to confirm).

We believe we've potentially addressed the bug requiring you to resubscribe.

[2019-10-11 02:17] Redgwell commented on #770
Okay, I grabbed the latest as you said - here's the pubsub dependency tree from `npm ls`:

[code]

I tried my test loop again - with this code:
[code]

So with that running, I pushed some messages, saw the the app was handling them, then disconnected wifi and waited for the deadline exceeded error.
I reconnected wifi, pushed some more messages and waited for about 2 minutes. The app didn't process

[2019-10-11 02:56] pworkpop commented on #770
We found one service that happily didn't observe these failures and we are now downgrading our affected services to this version until a confirmed working solution is provided:
`@google-cloud/pubsub: 0.30.1`
`google-gax: 1.1.4`
`@grpc/grpc-js: ^0.4.3`

**You have to pin the google-gax version as it would pick the latest 1.x.x** (check your lock file)
[code]
We are also adding the `initSubscriber`

[2019-10-11 08:18] npomfret commented on #770
[code]

The queues are normally empty, some messages take a few hundred seconds to process but most happen within a second or so.  Sometimes the subscribers have maybe 10 messages backed up.  These are not busy queues.

I have two types of subscriber.  The first has flowControl: `{ maxMessages: 1, allowExcessMessages: false }`, the second doesn't have any flow control settings.  The both suffer fr

[2019-10-11 08:31] npomfret commented on #770
@pworkpop pinning the version of google-gax to 1.1.4 didn't work in my case.  The key management api blew up:

[code]

[2019-10-11 16:59] npomfret commented on #770
Rolling back to 0.29.1 on it's own was definitely not enough in my case.  I had to rollback a lot of the other google dependencies before it started working. I will gradually start to roll forward to see if I can find the culprit.

[2019-10-11 21:13] bcoe commented on #770
@pwrkpop @npomfret @xoraingroup, rather than rolling back to `0.29.1` of `@google-cloud/pubsub` I recommend one of the following workarounds:

## Using grpc, rather than @grpc/grpc-js

1. inside your project which uses `@google-cloud/pubsub`, add the dependency `grpc` (this is the old gRPC transport layer).
2. use the following code when creating your library:

[code]

:point_up: this same approac

[2019-10-12 01:24] rvillane commented on #770
will try the first workaround (using the old gRPC transport layer) and will report results soon.

[2019-10-12 03:43] MichaelMarkieta commented on #770
I am not seeing any errors using this method for more than 6 hours:

[code]

[2019-10-13 12:26] npomfret opened #779 "batching behaviour and promises"
The docs aren't clear about this (to me at least).  I'm trying to send messages in a batch from a cloud function.  I can't leave any code to run after the function completes so I need to know when all messages have been sent.

I want to use batching as I'm sending a lot of messages, so I set up a publisher like this:

        const publisher = this._pubsub.topic(topicName, {
            batching:

[2019-10-13 16:23] xoraingroup commented on #770
@bcoe Seems your trick worked. I have made some tests that are running last 24 hours and no such issue appeared. When can we expect a permanent fix than the above work around?

[2019-10-14 17:06] callmehiphop commented on #779
:wave: @npomfret we do batching under the hood automatically, if you want to know when all messages are published you could either use something like `Promise.all()` or wait for the last publish call to resolve.

[code]

[2019-10-14 17:07] npomfret commented on #779
Ok, thanks.  That's exactly what I'm doing.

[2019-10-14 17:07] #779 closed

[2019-10-14 20:01] #776 closed

[2019-10-15 02:59] pworkpop commented on #770
`google-gax: 1.1.4`
`@grpc/grpc-js: 0.4.3`
seem to be stable for us - we have those in production since May

@npomfret sorry about that, we only use pubsub (no kms & logging libs). `"@google-cloud/pubsub": "0.29.1"` uses built-in `grpc` as `@grpc/grpc-js` was added in `"@google-cloud/pubsub": "0.30.0"` so Michael's workaround is effectively same - use built-in.

I sure wish the `@grpc/grpc-js` dev

[2019-10-15 11:20] gberth commented on #770
Cant find anyting on creating PubSub with options includeing grpc? I use projectId, and tried to add grpc, but typescript rejects this.

https://googleapis.dev/nodejs/pubsub/1.1.1/PubSub.html

[2019-10-15 11:53] gberth commented on #770
A peculiar regularity shows here. Every hour it seems that the pubsub stops for a peridod of approximately 5 minutes. Not seen the regularity like this until today. The node app runs as normal, other type of events are showing that.
![Screenshot from 2019-10-15 13-49-40](https://user-images.githubusercontent.com/13643208/66829170-1844d900-ef53-11e9-8717-70e404b31a11.png)

[2019-10-15 14:48] RaptDept commented on #770
@bcoe I wanted to confirm the workaround, so I did a quick scan of the source. Neither does the `PubSub` constructor nor the `google_auth_library_1.GoogleAuth` constructor inside of it seem to consume the `grpc` object that's passed into them. I'm not sure how this would work. This applies to versions `0.30.3` (the version our project is currently using) and the latest `1.1.2`.

[2019-10-15 14:55] RaptDept commented on #770
My bad, I see it now. It gets passed to `GrpcClient` in `google-gax` eventually!

[2019-10-15 16:48] bcoe commented on #770
@gberth (as you noticed @RaptDept, the ClientOptions accepted by `new PubSub` extends `gax.GrpcClientOptions`), which is where the `grpc` parameter is defined:

[code]

I've tested setting `grpc` and can confirm it toggles the transport layer.

[2019-10-15 17:03] bcoe commented on #770
I've downgraded this to `p2`, not because it's not top of mind, but because the `grpc` workaround seems to be working for most folks. We're continuing to dig into things on our end, and are attempting to figure out the root causes of the issues we've seen with `@grpc/grpc-js`.

[2019-10-15 17:06] MichaelMarkieta commented on #770
Have issues been logged in all other client libraries that depend on
`grpc-js` that are affected, for tracking purposes, and to ensure all users
can find this bug if they're searching online for help?

[2019-10-15 17:16] bcoe opened #780 "begin testing @grpc/grpc-js@0.6.9 as alternative to grpc"
@murgatroid99 believes he's continued to address some bugs in the `@grpc/grpc-js` libraries, based on logs we've been provided while debugging #770.

We're holding off on making this a recommendation for all users, as we don't want to continue to create disruptions, and the `grpc` transport is working well.

However, if a few folks would like to pilot the latest changes to `@grpc/grpc-js`, we woul

[2019-10-15 17:18] MatthieuLemoine commented on #770
@bcoe Why not releasing a new version using the `grpc` workaround? Every developer upgrading `@google-cloud/pubsub` will encounter this issue.

This issue is hard to catch on dev environments as you have to wait one hour for the error to be triggered. Therefore we can assume that at least some of them will end up pushing broken code to production.

[2019-10-15 17:22] bcoe commented on #770
@MatthieuLemoine  @MichaelMarkieta I have been running a PubSub consumer for `4d15h` now, on Kubernetes Engine, without a single issue:

[code]

This is an issue hitting a percentage of our users, but is not hitting 100% of library users, and we are continuing to attempt to see the actual root cause.

This is why we haven't opted to switch the `grpc` dependency.

[2019-10-15 17:30] bcoe opened #781 "document grpc as alternative to @grpc/grpc-js for some workloads"
## The Problem

In #770 we continue to see a percentage of customers who bump into exceptional behavior with the `@grpc/grpc-js` library.

We haven't figured out a consistent reproduction of this issue, but most folks running into issues, have indicated in the thread that swapping in the [grpc](https://www.npmjs.com/package/grpc) dependency helps mitigate the issue.

## Document the grpc option

W

[2019-10-16 00:21] #781 closed

[2019-10-16 03:23] ericpearson commented on #770
this comment is nonsense and I totally agree with @MatthieuLemoine release a proper fix for this or one with this 'workaround' built in, asking customers to change their production code with some speculative 'fix' is irresponsible

what happens when this is actually fixed and this ends up causing more problems later

[2019-10-16 06:31] gae123 commented on #770
This has been a workaround for us too, no issues in the last 24 hours. I ll keep monitoring....

[code]

[2019-10-16 07:09] bcoe commented on #770
We're very much trying to avoid this, I realize how frustrating the string of patches to `@grpc/grpc-js` was last week. Which is why we've taken a step back, and asked folks to opt for the `grpc` library instead, since we've seen this consistently address the issues that people are experiencing.

Our libraries were designed to allow `grpc` as an alternative to `@grpc/grpc-js`, specifically in case

[2019-10-16 13:40] gberth commented on #770
Have run with grpc since 10.30 AM today. App. 400' msgs read. No errors, no hangups. For information - messages like these below  (had app 200 of them during 46 hours) has also disappeared

(node:16) Error: Failed to add metadata entry A...: Mon, 14 Oct 2019 11:40:19 GMT. Metadata key "a..." contains illegal characters

[2019-10-16 16:21] alexander-fenster commented on #770
@gberth Thanks for letting us know! Just to give you some details, the metadata warnings are caused not by `@grpc/grpc-js` but by some (unknown) bug in Node.js `http2` implementation. The bug is here https://github.com/nodejs/node/issues/28632 for tracking purposes but no useful debug info is there yet.

`grpc` uses its own `http2` stack, so the Node.js `http2` module bug does not affect it - that

[2019-10-16 20:46] yanzit commented on #770
just adding some observations in case it helps.  have two services both running pubsub 1.0.0.  One is older, and have no issues, one is newer and have the issue.  have not tried to roll back the new service, using the workaround for now.

Here are the differences when running "npm ls @grps/grps-js"

old:
├─┬ @google-cloud/logging@4.0.1
│ └─┬ google-gax@0.20.0
│   └── @grpc/grpc-js@0.2.0
├─┬ @googl

[2019-10-16 21:53] pworkpop commented on #770
@bcoe
We run on GKE using credentials passed to PubSub and GoogleAuth (not the GKE service account). Most services run `0.30.1` with `google-gax: 1.1.4` & `@grpc/grpc-js: 0.4.3` without issues since 0.30.1 was released in Jun. One service was updated to `google-gax: 1.6.4` & `@grpc/grpc-js: 0.6.6` started observing the issues last week.
We have [this](https://github.com/googleapis/nodejs-pubsub/is

[2019-10-17 10:03] sharif9876 commented on #42
@callmehiphop That seems to have fixed it! Thanks!

[2019-10-17 16:55] callmehiphop commented on #42
@sharif9876 awesome, thanks for stopping by and letting us know!

[2019-10-17 17:25] sjb933 opened #784 "flowControl.maxMessages is being ignored"
`flowControl.maxMessages` is seemingly being ignored. I've created a small focused test repo to highlight the issue.

### Environment details
  - OS:  Mac OSX
  - Node.js version: 8.16.2
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: 1.1.2

### Steps to reproduce
See: https://github.com/sjb933/gcloud-pubsub-maxMessage-bug
1. Clone project
2. `npm install`
3. Open `test.ts` and populate

[2019-10-17 17:41] sjb933 commented on #784
The output produced from my test script:
[code]

The messages in my script are `ACK`'d on a timeout and there should only ever be 2 running concurrently.

[2019-10-17 18:02] callmehiphop commented on #318
Howdy folks! We think that this has been fixed by the latest auth library release. If anyone here could let us know if they're still experiencing this issue after updating dependencies, that would be great. Otherwise I'm planning on closing this out. Thanks!

[2019-10-17 18:06] callmehiphop commented on #784
@sjb933 the backend doesn't actually let us configure how many messages it sends per batch, so unless the `allowExcessMessages` flag is set to `false` you'll get more. Can you try out the following config?

[code]

[2019-10-17 18:48] callmehiphop commented on #568
I think this is probably a duplicate of #770 so I'm going to close this out. If anyone feels that this is an error, let us know and we'll be happy to re-open.

[2019-10-17 18:48] #568 closed

[2019-10-17 18:49] #775 closed

[2019-10-17 19:42] sjb933 commented on #784
@callmehiphop confirmed, `allowExcessMessages: false` resolves the issue. I'm in the process of updating to newer libs and this was revealed in our consuming code's tests.

Was this a new option, or did it perhaps default to false before?

Thanks you for the quick support!

[2019-10-17 20:31] callmehiphop commented on #784
I think it shipped with [`v0.23.0`](https://github.com/googleapis/nodejs-pubsub/releases/tag/v0.23.0) which was released back in January. Before that we had behavior that mirrored setting it to false.