[2017-11-27 12:41] callmehiphop opened #2 "unacked messages being redelivered"
_From @rhodgkins on November 23, 2017 15:19_

In previous (I think v0.12 and lower) versions of pubsub messages were auto acked upon receiving a message (or if this was turned off, had to be manually acked). As I understood this had to happen within the `ackDeadlineSeconds` time and this could be modified with `subscription.modifyAckDeadline()`.

Now the newer version (v0.15), from looking at the

[2017-11-27 12:41] callmehiphop commented on #2
_From @rhodgkins on November 23, 2017 15:44_

I've managed to reproduce the duplicated delivery which happens probably 2/5 times:

[code]

Console:
[code]

Pubsub version: 0.14.8 (I shall try 0.15 but I'm not sure it'll make a difference as it was only GAX that was updated?)

Also - I let the code run for a while after the initial message was ACKed - and you can see it was _still_ redelivered then

[2017-11-27 12:49] callmehiphop commented on #2
@rhodgkins thanks for opening this, I need to dig into this a little more, but I think there could be a latency issue where we try and extend the ack deadline but before the request is sent it expires -
 hence the redelivery.

[2017-12-11 19:41] alexander-fenster opened #5 "Remove setTimeout() in system tests"
The first two system tests (system-tests/pubsub.js, Topic: should be listed, should list topics in a stream) are flaky, possibly because of the 5 sec timeout in the before() block that waits for the topics to be actually created and, in some cases, might be not enough.

Let's make a small refactor of the test to avoid using setTimeout in the before() block and try to poll the service instead and w

[2017-12-12 18:31] stephenplusplus opened #6 "Make ackDeadline editable"
This is a request originally from @mkamioner [in this PR](https://github.com/GoogleCloudPlatform/google-cloud-node/pull/2752#issuecomment-351136176).

[2017-12-12 19:58] #5 closed

[2017-12-13 03:36] stephenplusplus opened #8 "get messages count waiting in subscription"
_From @pierre-b on May 4, 2015 15:34_

Hi,

I need to know how many messages are waiting in the subscription, to pop new workers or monitor the health of my system. This is something AWS SQS does too.

Is it in the roadmap actually ?

Thank you

_Copied from original issue: GoogleCloudPlatform/google-cloud-node#527_

[2017-12-13 03:36] stephenplusplus commented on #8
_From @pierre-b on May 5, 2015 13:1_

FYI: as https://code.google.com/p/cloud-pubsub/issues/detail?id=13 told me, there is a "num_undelivered_messages" endpoint to get that metric.

[2017-12-13 03:36] stephenplusplus commented on #8
_From @ryanseys on May 5, 2015 13:15_

Considering it's "not accurate" I wouldn't use it yet and don't think we should support it in this library until we know it is accurate.

[2017-12-13 03:36] stephenplusplus commented on #8
_From @pierre-b on May 5, 2015 14:21_

This feature could never be accurate because messages are always flowing into the subscription (depending on the publish rate), but it's crucial to know if you need to add more workers to process messages or monitor the health of your workers.

[2017-12-13 03:36] stephenplusplus commented on #8
From https://cloud.google.com/monitoring/api/metrics, they list two interesting ones:

_num_outstanding_messages_: Current number of messages delivered but not yet acknowledged.
_num_undelivered_messages_: Current number of messages pending to be delivered.

Maybe we could open up a generic `subscription.getMetrics('num_outstanding_msesages')` and anything else from the list: `topic.getMetrics('me

[2017-12-13 03:37] stephenplusplus commented on #8
Assigned this to @callmehiphop since you had some ideas for how to implement this generically.

[2017-12-13 03:37] stephenplusplus commented on #8
_From @leibale on December 10, 2015 17:54_

what about this one?

[2017-12-13 03:37] stephenplusplus commented on #8
We have a few more things to implement with a higher priority before getting to this one, mostly support for the Prediction and Translate APIs, then promises.

[2017-12-13 03:37] stephenplusplus commented on #8
_From @leibale on December 12, 2015 16:3_

@stephenplusplus if i will create a pull request, you will merge?

[2017-12-13 03:37] stephenplusplus commented on #8
That would be great!

[2017-12-13 03:37] stephenplusplus commented on #8
_From @sahas- on March 31, 2017 0:16_

Great to see you guys working on this already. If its worth, right now I use stackdriver's subscription metrics capabilities to get this information, apparently, stackdriver lags behind and the count is not accurate. Just wanted to add +1 to this request and happy to be a beta tester, if need be. Let me know.

[2017-12-13 03:37] stephenplusplus commented on #8
_From @mpcm on April 6, 2017 2:14_

Adding link to the current related google doc page, for others like me that ended up here looking to learn about msg depth in a sub: https://cloud.google.com/pubsub/docs/ordering#order_of_processed_messages_matters

[2017-12-13 03:37] stephenplusplus commented on #8
@callmehiphop given the large Pub/Sub rewrite that happened since this issue was opened, is this request still relevant / do you have an idea for a reliable implementation?

[2017-12-13 03:37] stephenplusplus commented on #8
_From @callmehiphop on November 27, 2017 17:28_

@stephenplusplus AFAIK the re-write hasn't changed anything in regard to collecting these metrics.

[2017-12-13 03:37] stephenplusplus opened #9 "subscription.on message wasn't received of messagActually unrelated failures, but we should bump this anyway.es after 10 mins or more."
_From @QTGate on September 7, 2017 17:42_

  - OS: Debian
  - Node.js version:  8.4.0
  - npm version:   5.4.0
  - google-cloud-node version:  0.56.0
  - @google-cloud/pubsub version: 0.14.0

#### Steps to reproduce

[code]

I received all un-received messages when I restart it.
I checked the connectionPool object when it have not received message:
connectionPool.isPaused [false]
connectionPool.is

[2017-12-13 03:37] stephenplusplus commented on #9
_From @callmehiphop on September 8, 2017 18:19_

Thanks for reporting! We've had multiple reports of similar behavior and we're currently investigating this issue. In the meantime you might want to use pubsub v0.13.x as a temporary workaround.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @QTGate on September 8, 2017 23:32_

Thank you.
I did a temp code to use the pubsub v0.14.0 like this:
[code]

[2017-12-13 03:37] stephenplusplus commented on #9
_From @caseyduquettesc on September 18, 2017 3:20_

We see a similar behavior, although it takes a few hours. Eventually the subscription stops processing new messages and we have to restart the subscription. This only started after upgrading to 0.14.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @mscottx88 on September 22, 2017 18:52_

I too am seeing the same problem.  We set up a forever running process on GKE and it seems to go unresponsive after some time.  I came to the same conclusion of putting a restarter.

Let's hope this gets resolved soon!

[2017-12-13 03:37] stephenplusplus commented on #9
_From @callmehiphop on September 23, 2017 0:4_

This is definitely a result of moving towards the new streaming API, I'm working on resolving this issue, but in the mean time I suggest downgrading to 0.13. I'll update this issue once it's been resolved.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @pongad on September 23, 2017 10:44_

@callmehiphop FYI, we resolved this in Go by adding gRPC keepalive. I'm not sure how the code should look like in Node though. https://code-review.googlesource.com/#/c/gocloud/+/17070/

[2017-12-13 03:37] stephenplusplus commented on #9
_From @callmehiphop on September 25, 2017 14:10_

@pongad thanks for the update! I believe we just have to set the `grpc.keepalive_time_ms` option.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @callmehiphop on September 25, 2017 14:17_

@QTGate @mscottx88 @caseyduquettesc I've opened a PR (#2627) which I believe will fix the issue you are seeing, would any of you mind testing it out? Thanks!

[2017-12-13 03:37] stephenplusplus commented on #9
_From @mscottx88 on September 25, 2017 14:18_

I'm willing to give it a go, for sure!

On Mon, Sep 25, 2017, 7:17 AM Dave Gramlich <notifications@github.com>
wrote:

[2017-12-13 03:37] stephenplusplus commented on #9
_From @mscottx88 on September 25, 2017 22:46_

@callmehiphop I applied the two fixed files to my deployment but now I am seeing duplication of message delivery.  That is, I am seeing the same message being pulled more than one time.

**update** Also, it appears that the connection has been lost  or something as it is sitting idle again even with messages being published to it.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @callmehiphop on September 26, 2017 17:30_

@jganetsk I'm noticing that messages that are not acked before a stream is closed will be redelivered when the next stream is opened regardless of whether or not the ack deadline was hit. Is that the expected behavior? If so I'm assuming we need to filter these messages out.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @jganetsk on September 26, 2017 17:45_

@callmehiphop I don't think you should be filtering any messages out. In general, it is possible to receive duplicates, and it is possible that they come before the ack deadline was hit. If this happens consistently, that's a problem that we should look at. How much time passes between delivery and redelivery? Does it correspond to the default ack dead

[2017-12-13 03:37] stephenplusplus commented on #9
_From @jganetsk on September 26, 2017 18:5_

We will take a look at this, thanks for reporting it.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @callmehiphop on September 26, 2017 18:7_

@jganetsk as far as I can tell it only happens when closing and re-opening a stream. I'm putting together an elaborate test and I'll give you the details of my findings once I have some to share.

[2017-12-13 03:37] stephenplusplus commented on #9
_From @callmehiphop on September 26, 2017 21:6_

There appears to be 2 different scenarios in which messages will be redelivered before they have been acked.

### Streams being closed.

In the event of a stream being closed it appears that all un-acked messages will be redelivered to a different stream regardless of the current ack deadline.

  * **Test 1:** Set the initial `streamAckDeadlineSecon

[2017-12-13 03:37] stephenplusplus commented on #9
_From @mscottx88 on September 30, 2017 0:22_

Here is my solution to the race condition you describe.  A simple `activeMessages` tracking mechanism, combined with async shutdown that is event-driven.

<pre>
'use strict';

const config = require('@google-cloud/rcloadenv');
const cp = require('child_process');
const fs = require('fs-extra');
const logger = require('winston');
const pubsub = require(

[2017-12-13 03:37] stephenplusplus commented on #9
_From @QTGate on October 16, 2017 1:4_

  - OS: Debian
  - Node.js version:  8.7.0
  - npm version:   5.5.1
  - @google-cloud/pubsub version: 0.14.5

#### Steps to reproduce

[code]
I did make new subscription each 10 mins.
But looks the `@google-cloud/pubsub` did not release memory when pubsub exit with subscription.close().

[
![pubsub](https://user-images.githubusercontent.com/19976150/31591286

[2017-12-13 03:37] stephenplusplus commented on #9
_From @ShahNewazKhan on October 18, 2017 19:23_

-     OS: Debian
-     Node.js version: 6.11.1
-     npm version: 3.10.10
-     version: 0.14.5

I am also seeing the memory increase and not being released after implementing the subscriber refresh.

[2017-12-13 03:37] stephenplusplus commented on #9
@callmehiphop will this be addressed by #2716 or another issue/PR you've already worked on?

[2017-12-13 03:37] stephenplusplus commented on #9
_From @QTGate on November 3, 2017 8:0_

No I am not. Even the new v0.14.6. Also have memory problem. I plan do subscription.on gCloud API's by my self.

[2017-12-13 03:38] stephenplusplus opened #10 "subscription.on message wasn't received of messagActually unrelated failures, but we should bump this anyway.es after 10 mins or more."
_From @QTGate on September 7, 2017 17:42_

  - OS: Debian
  - Node.js version:  8.4.0
  - npm version:   5.4.0
  - google-cloud-node version:  0.56.0
  - @google-cloud/pubsub version: 0.14.0

#### Steps to reproduce

[code]

I received all un-received messages when I restart it.
I checked the connectionPool object when it have not received message:
connectionPool.isPaused [false]
connectionPool.is

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on September 8, 2017 18:19_

Thanks for reporting! We've had multiple reports of similar behavior and we're currently investigating this issue. In the meantime you might want to use pubsub v0.13.x as a temporary workaround.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @QTGate on September 8, 2017 23:32_

Thank you.
I did a temp code to use the pubsub v0.14.0 like this:
[code]

[2017-12-13 03:38] stephenplusplus commented on #10
_From @caseyduquettesc on September 18, 2017 3:20_

We see a similar behavior, although it takes a few hours. Eventually the subscription stops processing new messages and we have to restart the subscription. This only started after upgrading to 0.14.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @mscottx88 on September 22, 2017 18:52_

I too am seeing the same problem.  We set up a forever running process on GKE and it seems to go unresponsive after some time.  I came to the same conclusion of putting a restarter.

Let's hope this gets resolved soon!

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on September 23, 2017 0:4_

This is definitely a result of moving towards the new streaming API, I'm working on resolving this issue, but in the mean time I suggest downgrading to 0.13. I'll update this issue once it's been resolved.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @pongad on September 23, 2017 10:44_

@callmehiphop FYI, we resolved this in Go by adding gRPC keepalive. I'm not sure how the code should look like in Node though. https://code-review.googlesource.com/#/c/gocloud/+/17070/

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on September 25, 2017 14:10_

@pongad thanks for the update! I believe we just have to set the `grpc.keepalive_time_ms` option.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on September 25, 2017 14:17_

@QTGate @mscottx88 @caseyduquettesc I've opened a PR (#2627) which I believe will fix the issue you are seeing, would any of you mind testing it out? Thanks!

[2017-12-13 03:38] stephenplusplus commented on #10
_From @mscottx88 on September 25, 2017 14:18_

I'm willing to give it a go, for sure!

On Mon, Sep 25, 2017, 7:17 AM Dave Gramlich <notifications@github.com>
wrote:

[2017-12-13 03:38] stephenplusplus commented on #10
_From @mscottx88 on September 25, 2017 22:46_

@callmehiphop I applied the two fixed files to my deployment but now I am seeing duplication of message delivery.  That is, I am seeing the same message being pulled more than one time.

**update** Also, it appears that the connection has been lost  or something as it is sitting idle again even with messages being published to it.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on September 26, 2017 17:30_

@jganetsk I'm noticing that messages that are not acked before a stream is closed will be redelivered when the next stream is opened regardless of whether or not the ack deadline was hit. Is that the expected behavior? If so I'm assuming we need to filter these messages out.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @jganetsk on September 26, 2017 17:45_

@callmehiphop I don't think you should be filtering any messages out. In general, it is possible to receive duplicates, and it is possible that they come before the ack deadline was hit. If this happens consistently, that's a problem that we should look at. How much time passes between delivery and redelivery? Does it correspond to the default ack dead

[2017-12-13 03:38] stephenplusplus commented on #10
_From @jganetsk on September 26, 2017 18:5_

We will take a look at this, thanks for reporting it.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on September 26, 2017 18:7_

@jganetsk as far as I can tell it only happens when closing and re-opening a stream. I'm putting together an elaborate test and I'll give you the details of my findings once I have some to share.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on September 26, 2017 21:6_

There appears to be 2 different scenarios in which messages will be redelivered before they have been acked.

### Streams being closed.

In the event of a stream being closed it appears that all un-acked messages will be redelivered to a different stream regardless of the current ack deadline.

  * **Test 1:** Set the initial `streamAckDeadlineSecon

[2017-12-13 03:38] stephenplusplus commented on #10
_From @mscottx88 on September 30, 2017 0:22_

Here is my solution to the race condition you describe.  A simple `activeMessages` tracking mechanism, combined with async shutdown that is event-driven.

<pre>
'use strict';

const config = require('@google-cloud/rcloadenv');
const cp = require('child_process');
const fs = require('fs-extra');
const logger = require('winston');
const pubsub = require(

[2017-12-13 03:38] stephenplusplus commented on #10
_From @QTGate on October 16, 2017 1:4_

  - OS: Debian
  - Node.js version:  8.7.0
  - npm version:   5.5.1
  - @google-cloud/pubsub version: 0.14.5

#### Steps to reproduce

[code]
I did make new subscription each 10 mins.
But looks the `@google-cloud/pubsub` did not release memory when pubsub exit with subscription.close().

[
![pubsub](https://user-images.githubusercontent.com/19976150/31591286

[2017-12-13 03:38] stephenplusplus commented on #10
_From @ShahNewazKhan on October 18, 2017 19:23_

-     OS: Debian
-     Node.js version: 6.11.1
-     npm version: 3.10.10
-     version: 0.14.5

I am also seeing the memory increase and not being released after implementing the subscriber refresh.

[2017-12-13 03:38] stephenplusplus commented on #10
@callmehiphop will this be addressed by #2716 or another issue/PR you've already worked on?

[2017-12-13 03:38] stephenplusplus commented on #10
_From @QTGate on November 3, 2017 8:0_

No I am not. Even the new v0.14.6. Also have memory problem. I plan do subscription.on gCloud API's by my self.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on November 3, 2017 18:46_

I believe it will!

[2017-12-13 03:38] stephenplusplus commented on #10
_From @ChrisBartonLC on November 5, 2017 23:12_

I am using PubSub node.js client version 0.14.5 and I sometimes have CloudFunctions that when triggered are no longer able to add messages to a topic or pull messages from a subscription. The fix is to redeploy the CloudFunction which mostly works but not always. The issue is intermittent.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @rhodgkins on November 9, 2017 10:51_

Apologies for asking the obvious...!

But is this now fixed as #2716 has been released with 0.14.8?

Cheers!

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on November 9, 2017 19:6_

@rhodgkins which parts? I think there are a number of issues being described here.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @rhodgkins on November 13, 2017 18:38_

@callmehiphop the issue around no messages being received on a subscription after a period of time.

[2017-12-13 03:38] stephenplusplus commented on #10
_From @callmehiphop on November 13, 2017 18:48_

@rhodgkins from what I understand the only environment in which this occurs is GKE, but I also know a fix was deployed on the GKE side of things that should have resolved it. I haven't seen or heard of any reports verifying this though.

[2017-12-13 03:39] #9 closed

[2017-12-13 03:39] stephenplusplus opened #11 "messages sit in queue until GKE pod with subscriber gets reset"
_From @ShahNewazKhan on October 1, 2017 9:3_

#### Environment details

  - OS: Debian GNU/Linux 8.9 (jessie) [K8s pod based on dockerfile gcr.io/google_appengine/base]
  - Node.js version: 6.11.3
  - npm version:  5.4.2
  - google-cloud/pubsub version: 0.14.2

#### Steps to reproduce

  1. Spin up nodejs pubsub publisher to topic1 in GKE pod 1
  2. Spin up nodejs pubsub subscriber to subscription

[2017-12-13 03:39] stephenplusplus commented on #11
_From @callmehiphop on October 1, 2017 15:50_

We've seen a number of reports of messages not being delivered in k8s, I believe this issue is being investigated internally, although I do not know the status. @lukesneeringer have we heard any news in regards to this?

[2017-12-13 03:39] stephenplusplus commented on #11
_From @eyalse on October 1, 2017 22:33_

I'm suffering from the same issue at the moment :(

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ApeNox on October 2, 2017 8:5_

Suffering the same issue too, please provide a fix as these are production used tools.

[2017-12-13 03:39] stephenplusplus commented on #11
_From @eyalse on October 2, 2017 9:26_

@callmehiphop (@lukesneeringer) hey any update? as mentioned these tools (k8s and pubsub) are used in production.

[2017-12-13 03:39] stephenplusplus commented on #11
_From @callmehiphop on October 2, 2017 14:54_

I don't have any official updates, but a new patch release was made this morning that *might* resolve the issues you're seeing.

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ShahNewazKhan on October 2, 2017 20:25_

@callmehiphop I have done some preliminary testing with the google-cloud/pubsub patch version: 0.14.3 release this morning and it looks promising so far

I have not been able to reproduce the issue yet however will need to run full end to end tests to confirm

[2017-12-13 03:39] stephenplusplus commented on #11
_From @callmehiphop on October 2, 2017 20:34_

@ShahNewazKhan that's great, please keep us posted! 😃

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ShahNewazKhan on October 3, 2017 1:42_

@callmehiphop I have been able to replicate the issue with google-cloud/pubsub patch 0.14.3 in a slightly different use case.

Environment details

    OS: Debian GNU/Linux 8.9 (jessie) [K8s pod based on dockerfile gcr.io/google_appengine/base]
    Node.js version: 6.11.3
    npm version: 5.4.2
    google-cloud/pubsub version: 0.14.3

Steps to reprodu

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ShahNewazKhan on October 10, 2017 21:41_

Just checking in for updates on this issue.

[2017-12-13 03:39] stephenplusplus commented on #11
_From @callmehiphop on October 11, 2017 18:27_

@ShahNewazKhan We believe this is a  GKE issue and because of that I can't comment on if its being worked on and when it will be fixed. I'm really sorry for the inconvenience.

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ehacke on October 16, 2017 1:25_

We may be having similar issues, not sure. @ShahNewazKhan what version of GKE are you on?

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ShahNewazKhan on October 16, 2017 2:10_

@ehacke

GKE: 1.6.10-gke.1
Kubernetes: 1.5.6

[2017-12-13 03:39] stephenplusplus commented on #11
_From @kir-titievsky on October 26, 2017 18:23_

Question for those who'd reported this: is there any chance you had no messages published or delivered for 10 minutes or longer before you started publishing and accumulating them in the backlog?

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ShahNewazKhan on October 26, 2017 19:2_

@kir-titievsky I can confirm that the published messages sit in the subscription queue only when the publisher has been inactive longer than 10 minutes.

[2017-12-13 03:39] stephenplusplus commented on #11
_From @kir-titievsky on October 26, 2017 19:47_

Thanks @ShahNewazKhan .  My guess here is this: by default, GCE suspends inactive connections after 10 minutes [1].  Since Pub/Sub relies on a persistent streamingPull connection, this connection would get suspended if no messages flow for 10 minutes.  This condition was not properly detected by Pub/Sub. This was fixed as of 2017-10-20 by shutting d

[2017-12-13 03:39] stephenplusplus commented on #11
_From @ShahNewazKhan on October 31, 2017 22:56_

@kir-titievsky Can you clarify what you mean by 'server-initiated shutdown'. Does this mean that the inactive Pub/Sub streamingPull connections are now being shutdown instead of being suspended by GCE?

I have noticed messages sitting in the queue intermittently still, do I have to update the Pub/Sub client to a latest version to handle the streamin

[2017-12-13 03:39] stephenplusplus commented on #11
I'm marking this as `blocked`, since it sounds like GKE is the party responsible for any progress on this. @callmehiphop does this sound right?

[2017-12-13 03:39] stephenplusplus commented on #11
_From @callmehiphop on November 27, 2017 15:37_

@stephenplusplus I believe it does!

[2017-12-13 03:40] stephenplusplus opened #12 "add Subscription#setOptions()"
_From @tonila on November 5, 2017 6:40_

We are upgrading pubsub from 0.13.x to 0.14.x and current API documentation does not seem to answer our questions.

Documentation states that "subscription options do not persist across multiple instances".

With current knowledge, I assume it means, that subscription, that you see at cloud console does not store subscription options, so you need to set the

[2017-12-13 03:40] stephenplusplus commented on #12
You can set the options at the time of creating the Subscription reference object.

[code]

You do bring up a good question-- how can you set the options when you get a Subscription from `topic.getSubscriptions()`? @callmehiphop ?

[2017-12-13 03:40] stephenplusplus commented on #12
_From @callmehiphop on November 5, 2017 19:46_

You currently can't, sounds like maybe we need to make a setter.

[2017-12-13 03:41] stephenplusplus opened #13 "possible memory leak?"
_From @JoshFerge on November 27, 2017 19:15_

#### Environment details

  - OS:  Debian GNU/Linux 9.2 (stretch
  - Node.js version: v8.9.1
  - npm version: 5.5.1
  - google-cloud-node version: pubsub-0.15.0
[code]
#### Steps to reproduce
[code]
memory usage quickly climbs and eventually runs out. is there something i'm missing here or is there an internal problem?

(I have thousands of messages in

[2017-12-13 03:41] stephenplusplus commented on #13
_From @callmehiphop on November 27, 2017 20:1_

@JoshFerge thanks for reporting! I wrote a quick test that publishes 500 messages every 10 seconds but my memory usage never seems to go above 40mb.

Could you tell me a little more about your environment?

About how long on average does it take to acknowledge a message in your app?
Are you running your application in GKE, GCF, etc.?
How much memory

[2017-12-13 03:41] stephenplusplus commented on #13
_From @JoshFerge on November 27, 2017 20:12_

@callmehiphop

I am running this code exactly and I am experiencing the leak, so the acknowledging should be happening pretty quickly. I am running the application right now on a GCE instance standard 2CPU configuration. Here is the output from my application (i am console.logging `c`, which should be the number of events acknowledged.

<details>
<pre>

[2017-12-13 03:41] stephenplusplus commented on #13
_From @victorperin on November 30, 2017 16:52_

Is it happening on pubsub version 0.14.xx too?

[2017-12-13 03:41] stephenplusplus commented on #13
_From @glesage on December 8, 2017 14:54_

For us we did notice something similar, but only on the 0.15.xx versions

[2017-12-13 03:41] stephenplusplus opened #14 "published messages with more than 5000 characters truncated"
_From @emilyplusplus on November 30, 2017 4:15_

#### Environment details

  - OS: macOS High Sierra
  - Node.js version: 8.1.3
  - npm version:5.5.1
  - google-cloud-node version: 0.15.0

#### Steps to reproduce

  1. require `@google-cloud/pubsub`
  2. authenticate properly
  3. publish message to existing topic and message with > 5000 characters will be truncated as if their is a character limi

[2017-12-13 03:41] stephenplusplus commented on #14
_From @callmehiphop on November 30, 2017 15:14_

Thanks for reporting @emilyplusplus, this should be a quickfix, but PubSub is currently in a code freeze. Hopefully we can address it soon.

[2017-12-13 03:41] stephenplusplus commented on #14
_From @emilyplusplus on November 30, 2017 16:49_

@callmehiphop Glad to hear it should be an easy fix and glad to bring it to your attention. Out of curiosity do you know where I might want to look in source to identify problem (just a hunch on where problem may lie?) so that I might look on my own and see if I can identify a temporary fix?

[2017-12-13 03:41] stephenplusplus commented on #14
_From @callmehiphop on November 30, 2017 18:2_

There's actually a [gRPC flag](https://github.com/GoogleCloudPlatform/google-cloud-node/blob/master/packages/pubsub/src/connection-pool.js#L401) we need to set to allow a larger message size. By default it only allows payloads to be 4MB (I think).

[2017-12-13 03:41] stephenplusplus commented on #14
_From @emilyplusplus on November 30, 2017 19:46_

@callmehiphop ok. i tried upping the constant you linked to to 40000001 but didnt' see any change. Additionally 5000 characters should be well under 4MB so i doubt its the message size that's at fault. seems to be more of a hard character limit or something of that sort. But thanks so much for your timely response. I will continue seeing what I can

[2017-12-13 03:41] stephenplusplus opened #15 "admin operation default deadline should be 60s"
_From @mdietz94 on December 12, 2017 21:44_

Right now the deadline defaults to 30s as declared by gRPC. We should set this to 60s so it can more quickly be retried by clients if a server is unreachable or unavailable. This also mirrors the deadlines set by Java/C#.

_Copied from original issue: GoogleCloudPlatform/google-cloud-node#2772_

[2017-12-13 05:03] kir-titievsky commented on #11
@ShahNewazKhan: Pub/Sub servers now close streamingPull connections regularly, with a timeout shorter than GCE's 10 minute limit. This allow the client library to quickly rebuilt the connections making sure that none are stuck in a suspended state.

[2017-12-13 18:35] mdietz94 commented on #15
This is not an enhancement, we will soon consider operations made with deadlines shorter than 60s as out of SLO - this is a GA blocker and would cause users of the current client library to potentially suffer outages they would not with a higher deadline.

[2017-12-13 18:42] stephenplusplus commented on #15
Thanks for providing that info.

[2017-12-13 18:56] callmehiphop commented on #15
@mdietz94 currently all deadlines are configured to be 60s in our [client config](https://github.com/googleapis/nodejs-pubsub/blob/master/src/v1/subscriber_client_config.json). This leaves me wondering if this is an issue in our code or perhaps gax isn't honoring these configurations anymore.

[2017-12-13 19:01] ChrisBartonLC commented on #10
I get confused by the moving around of these tickets but we see issues in Cloud Functions with PubSub which we fix by pinning to version 0.14.0

[2017-12-13 19:04] mdietz94 commented on #15
I see, thanks, I was trying to follow this in the code and did not realize we had overrides - I did not actually see users' deadlines that were set shorter. Thanks for pointing out these configs.

[2017-12-13 19:05] callmehiphop commented on #15
Awesome, glad to hear!

[2017-12-13 19:05] #15 closed

[2017-12-13 21:15] callmehiphop commented on #14
@emilyplusplus I've tested this against the latest master code (we did some refactoring) and I believe this should be resolved as of `0.16.0`, if things aren't resolved on your end please let us know!

[2017-12-13 21:15] #14 closed

[2017-12-14 14:33] stephenplusplus commented on #11
Please let us know if there are still any issues. For now, this sounds like it's resolved.

[2017-12-15 11:04] bkw opened #17 "setting promise implementation does not seem to work"
If I understand [the docs](https://googleapis.github.io/gax-nodejs/CallSettings.html) correctly, the following should work:

[code]

... but it throws with `TypeError: pubsubClient.createTopic(...).tap is not a function`, since the returned promise is a native one and not by bluebird.

Setting `global.Promise` to bluebird makes this example work, but that's besides the point.

I also tried setting

[2017-12-15 15:09] ehacke commented on #2
:+1: I think I'm seeing this issue as well.

[2017-12-15 17:35] stephenplusplus commented on #17
Sorry about this. For now, `global.Promise` seems to be the only workaround. I opened an issue on the repo that can help us: https://github.com/googleapis/gax-nodejs/issues/162

[2017-12-15 18:51] callmehiphop commented on #17
@stephenplusplus I think gax actually supports custom promise libraries, but because we supply a callback in every function, I don't think it would matter even if we did set it.

[2017-12-15 18:52] stephenplusplus commented on #17
Interesting. How can we solve this?

[2017-12-15 18:52] callmehiphop commented on #17
I think if we just localized a `Promise` property on each object that has a callback accepting method, that would do the trick.

[2017-12-15 18:54] stephenplusplus commented on #17
Can you show an example of that? Then I can run with it and try to implement it.

[2017-12-15 18:56] callmehiphop commented on #17
Sure, in the `PubSub` constructor we would need something like

[code]

Then in all other classes, we would need to reference that property like so.

[code]

[2017-12-15 18:58] stephenplusplus commented on #17
And how does that get recognized? I was thrown, because Pub/Sub isn't a GrpcService/Service.

[2017-12-15 19:01] callmehiphop commented on #17
Well technically our promisification helper is ignorant to what base classes we use. It's just looking for a `Promise` property.

Alternatively we could update said helper to accept a Promise argument instead of looking for one on the object.

[2017-12-15 19:07] stephenplusplus commented on #17
Ah, I see now. I'll PR shortly with the instance property solution.

[2017-12-17 03:18] greenkeeper[bot] opened #19 "An in-range update of eslint-plugin-prettier is breaking the build 🚨"
## Version **2.4.0** of [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-pubsub/compare/greenkeeper%2Feslint-plugin-prettier-2.4.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plug

[2017-12-17 17:49] ehacke commented on #2
Could this be related to this issue: https://github.com/GoogleCloudPlatform/google-cloud-go/issues/778 ?

Seems to be similar.

Right now I'm seeing a large number of 499, 503 and 504 errors in the console for all of my node pubsub clients. Throughput is also quite low, it seems like the client is reading from pubsub at a much lower rate than it should, which could be explained by a large percenta

[2017-12-18 14:48] #19 closed

[2017-12-18 15:13] callmehiphop commented on #2
@ehacke I can't say for certain, but since moving to the StreamingPull rpc, I haven't seen a single stream close gracefully. For some reason the upstream API almost always closes with some kind of error. I would only be concerned if those errors were being generated from ack or modifyAckDeadline requests.

[2017-12-18 15:22] ehacke commented on #2
@callmehiphop thanks for info. Yeah I'm sort of at a loss for what is going on in my system right now so I'm looking everywhere. The other thing that is suspicious is the 98th percentile latency as seen in the Cloud Console for the PubSub API is regularly spiking over 500,000 ms. Which seems bad.

[2017-12-18 19:18] #17 closed

[2017-12-19 15:11] kir-titievsky commented on #2
This is working as intended: Pub/Sub will continue trying to re-deliver a message until a nack or ack.  Streams are really not meant to close gracefully since they are terminated by the server every so many minutes, by design.  The client rebuilds them very quickly so these errors are unimportant.

[2017-12-19 15:14] kir-titievsky opened #22 "Pub/Sub topic.publish does not expose retry settings"
Topic.publish should expose retry settings, similarly to all other methods (e.g. using gaxOpts).  This had been implemented in an earlier version (ca April 2017) but is not anymore.

[2017-12-19 15:20] callmehiphop commented on #22
The current API batches publish calls together, hence why we haven't exposed those options. But I think we could probably allow them to be configured at the publisher level. The code would look something like this

[code]

@stephenplusplus WDYT?

[2017-12-19 15:23] kir-titievsky commented on #22
For the record: The specific issue that prompted this was a customer
attempting to write integration tests for network problems saw that it took
five minutes before the client reacted to network unavailability.
Presumably because it kept retrying.

On Tue, Dec 19, 2017 at 10:20 AM Dave Gramlich <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cl

[2017-12-19 15:43] stephenplusplus commented on #22
@callmehiphop that makes sense to me.

[2017-12-20 22:03] alexander-fenster commented on #22
If it's still possible to pass down the retry parameters with no code changes, we need to have it documented somewhere. If not, we should make it possible to override the parameters which might require changing of the auto generated code.

[2017-12-21 01:42] kir-titievsky commented on #22
Note that the admin methods /- which are auto generated - do appear to
allow this. I feel the inconsistency is part of the "documentation" -- or
more generally usability -- problem.
On Wed, Dec 20, 2017 at 5:03 PM Alexander Fenster <notifications@github.com>
wrote:

--

Kir Titievsky | Product Manager | Google Cloud Pub/Sub

[2017-12-21 14:20] stephenplusplus opened #23 "Project ID not automatically determined from key file"
###### Copied from original issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2782

<a href="/victorandree"><img src="https://avatars2.githubusercontent.com/u/52588?s=88&v=4" height=44 width=44 align=left></a>@victorandree<br>December 21, 2017 8:30 AM

Pub/Sub authentication documentation suggests that the project ID will be determined automatically if you provide a `keyFilena

[2017-12-21 14:20] stephenplusplus commented on #23
<a href="/victorandree"><img src="https://avatars2.githubusercontent.com/u/52588?s=88&v=4" height=44 width=44 align=left></a>@victorandree<br>December 21, 2017 8:49 AM

I guess the code for Pub/Sub has been moved to https://github.com/googleapis/nodejs-pubsub -- The "Report Issue" links still go here, though...

[2017-12-21 14:31] stephenplusplus commented on #23
Sorry for the confusion about the repos.

I haven't been able to reproduce this error. @callmehiphop could you take a look?

[2017-12-22 11:49] rhodgkins commented on #2
@kir-titievsky is this a change from how pub-sub used to work? Previously when running on GAE each instances (say 2) would be subscribed to a topic, and only 1 instance would handle the message at a time until the message ack deadline expired. From what you've said above, either of those instances could handle the message **at the same time**?

[2017-12-22 14:44] kir-titievsky commented on #2
@rhodgkins No. Sorry. When I said "will continue trying to re-deliver a message": I meant that Pub/Sub will keep trying to deliver the message, but once it was nacked or it's been out longer than the ackDeadline.   Pub/Sub still does it's best to have only one copy of any given message out.  The basic guarantees of the service have not changed: we do our best to send each message once to a single

[2017-12-28 09:33] mkamioner opened #27 "Getting GOAWAY error"
I have been getting the following error a lot after upgrading to `0.15.0`

`Received a GOAWAY with error code ENHANCE_YOUR_CALM and debug data equal to "too_many_pings"`

It seems that the `grpc` module is printing it (it is the only place in my code base where this string exists) and pubsub is the only component using grpc... Anyone else having this problem? What is the impact and how can we stop

[2017-12-28 16:00] stephenplusplus commented on #27
This issue was moved to grpc/grpc-node#138

[2017-12-28 16:03] stephenplusplus commented on #27
Thanks for reporting. I moved the issue to the gRPC repo, since it shouldn't be logging anything unless a user opts-in for that. As far as the error itself (too many pings), is this anything we need to be worried about @callmehiphop?

[2017-12-29 21:15] mchavarriae commented on #10
Recently we start experimenting the problem using version 0.13.0, Does anybody has this problem?

[2017-12-29 21:28] ChrisBartonLC commented on #10
We still see this issue unless we pin to version 0.14.0 of the node.js client lib. Even with that version there are now lots of errors due to recent changes with Cloud Functions as reported here in the private Cloud Functions Beta Testers group:

https://groups.google.com/forum/#!topic/cloud-functions-beta-testers/CwGuBwHaZo8

[2018-01-02 10:21] rhodgkins commented on #2
@kir-titievsky yeh it does thanks!

So the only issue here now is the redelivery of acked messages?

[2018-01-02 14:25] kir-titievsky commented on #2
@rhodgkins To be more precise, we see a rate of re-delivery higher than we want in cases where messages are not acknowledged within seconds by applications using streamingPull (and client libraries that use it).  Re-delivery of acked messages should be expected since the service is at-least-once.   That said, we are working to reduce the rate of re-delivery to a minimum and eventually put some spe

[2018-01-03 15:33] timcash opened #28 "No method for delete subscription and topic"
No methods for
* Deleting a topic
* Deleting a subscription
* Getting a subscription info (e.g. queue depth and messages in flight)

[2018-01-03 15:57] stephenplusplus commented on #28
* Deleting a topic

* Deleting a subscription
- [subscription.delete()](https://googlecloudplatform.github.io/google-cloud-node/#/docs/pubsub/0.15.0/pubsub/subscription?method=delete)

* Getting a subscription info (e.g. queue depth and messages in flight)
- [subscription.getMetadata()](https://googlecloudplatform.github.io/google-cloud-node/#/docs/pubsub/0.15.0/pubsub/subscription?method=getMetad

[2018-01-03 23:52] wenbozhu commented on #27
@mkamioner

 Could you describe your deployment environment? The error is likely from a proxy between your client and the GCP service.

[2018-01-04 07:48] mkamioner commented on #27
We run on GKE in GCP. We didn't create any proxy between my client and pubsub and I am unaware of any proxies that exist by default.

[2018-01-04 15:46] benhunt29 opened #29 "Subscriber stops acknowledging messages after running for a few minutes"
I have sort of a weird issue and explaining it is somewhat difficult so please bear with me. It sounds very similar to an issue I read on the python pubsub github page (https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4274).

I have a worker service on App Engine that I'm using to pull messages off of a PubSub topic, it is just listening to the topic and when it receives a message

[2018-01-04 19:37] wenbozhu commented on #27
@mkamioner

Thanks for the info.  One more question, how soon did you see the error, after the stream was opened?

[2018-01-04 19:46] marodriguez-llbean commented on #27
I'm getting the same with version 0.16.1

[2018-01-04 19:56] mkamioner commented on #27
@wenbozhu in my most recent logs I initiate the connection `08:59:17` and the first error occurs @ `14:03:00`. From that point it consistently re-occurs on the hour but no every hour (strange).

[2018-01-05 03:50] jamesholcomb opened #30 "Auth error: ETIMEDOUT"
#### Environment details

Note: App is running external from GCP

  - OS: Ubuntu 16.04.3 LTS
  - Node.js version: 8.9.1
  - npm version: 5.5.1
  - @google-cloud/pubsub version: 0.14.5

#### Steps to reproduce
UNKNOWN

[code]

This error occured after the server app had been connected and processing messages for several days.  Is it expected that the pubsub lib automatically reconnects (eventually)

[2018-01-05 17:06] MohsenElgendy opened #31 "using "topic.exists()" raises "TypeError: Channel's second argument must be a ChannelCredentials""
#### Environment details

  - OS: Ubuntu 16.04
  - Node.js version: 9.3.0
  - npm version: 5.5.1
  - @google-cloud/pubsub version: 0.16.1

#### Steps to reproduce
  1. Setup PubSub emulator and set PUBSUB_EMULATOR_HOST
  2. run topic.exists()

This issue does not happen with PubSub version 0.15.0, when upgrading to 0.16.* and calling topic.exists() the following error occur:

[code]

Thanks!

[2018-01-05 17:12] stephenplusplus commented on #31
Would you mind doing a full un- and re-installation of your project's node_modules (`rm -rf node_modules && npm install`). If that still doesn't work, try `npm cache clean --force` before the command.

[2018-01-05 18:03] MohsenElgendy commented on #31
Every time I try, I build a new Docker image, that means it is a clean install and I also tried the `cache clean` and it did not work. Could it be a problem with the Emulator version it self ?

[2018-01-05 20:21] baronfel commented on #6
Agree on this. We have long-running processes that we dynamically refresh the ackDeadline on a timer based on a rolling average of job completion, and we lost this capability on this version.

[2018-01-05 20:22] baronfel commented on #27
I can also report getting this on version 0.15.0 on node 8.9 on GKE as well.

[2018-01-05 20:55] baronfel opened #32 "Message functions don't work with destructuring"
On version 0.15 of the pubsub library, destructuring a message makes the `ack` and `nack` functions nonfunctional, because of the different `this` parameter passed to them once destructured.

#### Environment details

  - OS: Debian Jessie 8
  - Node.js version: 8.9.1
  - npm version: 5.5.1
  - @google-cloud/pubsub version: 0.15

#### Steps to reproduce

  1. The following code reproduces the prob

[2018-01-05 22:30] mscottx88 commented on #23
This is still happening as of today.

[2018-01-05 22:32] stephenplusplus commented on #23
Any reproduction code I could try?

[2018-01-05 22:34] mscottx88 commented on #23
This is with `"@google-cloud/pubsub": "^0.16.1"`

[code]

[2018-01-05 22:40] mscottx88 commented on #23
Message I am getting:

[code]

I added environment variable `GCLOUD_PROJECT` as well and still getting this error.

[2018-01-05 22:46] mscottx88 commented on #23
Downgrading to `0.15.0` seems to resolve the issue...

[2018-01-05 23:45] fardog commented on #31
I'm seeing this issue as well; an `npm cache clean --force` did not change the behavior, nor did whacking the `package-lock.json` and regenerating it from an `npm install` unfortunately.

[code]

Let me know if i can provide any additional information.

[2018-01-06 00:41] stephenplusplus commented on #23
Thanks, I was able to reproduce this.

@callmehiphop, could you take a look at this? It seems to relate to the frequency that google-auto-auth is being asked for the projectId via `authClient.getProjectId()`. The error is being caught here: https://github.com/stephenplusplus/google-auto-auth/blob/252db3e3226aefa7c3d9f7dce0575e968837f618/index.js#L123, and returned from `authClient.getProjectId()`,

[2018-01-06 00:51] wenbozhu commented on #27
We believe the issue is caused by a bug introduced in grpc 1.7.0  (fixed in 1.8.0).

@y-zeng

The error should only happen when there is no outstanding request on a channel. Let us know if this is not the case.

[2018-01-07 07:42] mkamioner commented on #27
We were using 1.8.0  (just double checked) :-/

[2018-01-07 19:54] joemanfoo opened #33 "API Documentation link broken"
The link for [Cloud Pub/Sub Node.js Client API Reference](https://googlecloudplatform.github.io/google-cloud-node/#/docs/pubsub/latest/pubsub)

redirects to
https://cloud.google.com/nodejs/docs/reference/libraries

[2018-01-07 22:24] stephenplusplus commented on #33
cc @jmdobry @alexander-fenster

[2018-01-08 16:27] baronfel commented on #27
Same for us, our deployed grpc version is 1.8.0 per the lock file.

[2018-01-08 22:23] y-zeng commented on #27
Sorry, the fix was not shipped with 1.8.0. I'm creating a new release (v1.8.4) that includes this fix. I'll update this thread after it's done.

[2018-01-09 00:09] nunofgs commented on #27
Yes please! 😄

[2018-01-09 12:12] bkw commented on #13
I experience the same on 0.16.1.
[code]

[2018-01-09 17:52] stephenplusplus commented on #29
@callmehiphop any ideas?

[2018-01-09 17:53] stephenplusplus commented on #30
Sorry for the delay @jamesholcomb. @callmehiphop do you know?

[2018-01-09 17:56] stephenplusplus commented on #32
Thanks for catching this! Would you be willing to send a PR?

[2018-01-09 18:05] stephenplusplus commented on #27
@y-zeng we've locked our dependency on gRPC to the 1.7.x range, due to a bug introduced in 1.8.0: https://github.com/grpc/grpc-node/issues/130. Do you know if that issue has been resolved?

[2018-01-09 18:11] stephenplusplus commented on #31
This sounds like a problem with multiple versions of gRPC loading. I believe I've found the issue, and will be sending a PR soon.

[2018-01-09 18:27] stephenplusplus opened #35 "Pub/Sub retry settings: needs common api between data & admin ops, better docs."
###### Copied from original issue: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2788

<a href="/kir-titievsky"><img src="https://avatars2.githubusercontent.com/u/18533398?s=88&v=4" height=44 width=44 align=left></a>@kir-titievsky<br>January 9, 2018 4:42 PM

This is a bug to track progress on an email discussion about setting custom retry settings.

Previous suggestion:
In src/v1

[2018-01-09 18:27] #31 closed

[2018-01-09 18:30] callmehiphop commented on #29
We've seen similar reports in the past and the Python team recently identified an issue with gRPC that can max out CPU usage to 100% which can cause it to become unresponsive. We can keep this open, but I would suggest tracking https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4600

[2018-01-09 21:32] stephenplusplus commented on #31
0.16.2 is out! Please let me know if there are still any issues.

[2018-01-09 21:41] rossj commented on #2
I've been experiencing some of these same re-delivery issues. Some of my tasks take up to an hour, so ideally the message would not be re-delivered as long as my client is actively leasing & updating the ack deadline of the message.

As it is, my Node subscription will often receive duplicate messages of still-leased and un-acked messages at somewhat random intervals. Most of the time the duplicat

[2018-01-09 22:21] rossj commented on #6
I also have long-running jobs, and the current approach will start with an `ackDeadline` of 10 seconds and renew this deadline at a random interval somewhere between 0 and 0.9 times the current deadline (0-9 seconds initially). This is too frequent for my taste, so for now I've overridden the starting `ackDeadline` and the histogram object to maintain a constant `ackDeadline` of 5 minutes.

[code]

[2018-01-10 19:22] y-zeng commented on #27
I've published the gRPC core v1.8.4 release (https://github.com/grpc/grpc/releases/tag/v1.8.4) which included the PING bug fixes.

@murgatroid99 could you please do a new grpc-node release with v1.8.4?

[2018-01-10 19:24] y-zeng commented on #27
@murgatroid99 do you know if there is any update on grpc/grpc-node#130?

[2018-01-10 19:52] murgatroid99 commented on #27
I expect to be able to publish the grpc-node 1.8.4 by tomorrow, and it has a change that should improve that situation. Specifically, it makes some network errors (I think including that one) report a status of UNAVAILABLE, which should be retried.

[2018-01-10 20:30] jmdobry commented on #33
It may take some time for folks' caches to update, but https://googlecloudplatform.github.io/google-cloud-node/#/docs/pubsub/latest/pubsub works for me now

[2018-01-10 20:32] #33 closed

[2018-01-11 11:28] MohsenElgendy commented on #31
Seamless, Great work!

[2018-01-12 00:37] jmdobry opened #38 "Constructor does not normalize arguments in all cases"
The `PubSub` constructor function contains

[code]

but that code is only activated when `PubSub` is used as a factory function. This is a problem when `PubSub` is used as a constructor, i.e. `new PubSub()`. `common.util.normalizeArguments` performs inference of the `projectId`, so when doing `new PubSub()`, it no longer recognizes your `GCLOUD_PROJECT` environment variable.

The problem of not ca

[2018-01-12 00:44] jmdobry commented on #38
Here's an example:

[code]

[2018-01-12 01:04] stephenplusplus commented on #38
@callmehiphop it seems that there was a reason we didn't normalize the arguments outside of that block. Do you remember if there was one?

[2018-01-12 02:00] kir-titievsky commented on #2
Rich, there is a server side problem that currently resets all the
outstanding messages every half an hour. We have fixed it and are rolling
out updates next week. Sorry for setting you up for an undoubtedly
frustrating experience. Let me know if you need something working before
that and we can work on an alternate solution.
On Tue, Jan 9, 2018 at 4:41 PM Ross Johnson <notifications@github.com>
w

[2018-01-12 11:10] rhodgkins commented on #2
@kir-titievsky no problem - this is what betas are for I guess 👍  !
But thanks for the update and could you let us know here once the fixed is released?

[2018-01-12 18:44] callmehiphop commented on #38
If I had a guess I would say it was because at one time we only had a single module in which the only accessors for services, like PubSub, were via factory patterns. I think the ability to instantiate clients is more recent than this code and it simply got overlooked.

[2018-01-12 19:30] #38 closed

[2018-01-13 00:08] mscottx88 commented on #10
So far, v 0.15.0 seems to be working 🤞

[2018-01-16 02:39] greenkeeper[bot] opened #41 "An in-range update of eslint-plugin-prettier is breaking the build 🚨"
## Version **2.5.0** of [eslint-plugin-prettier](https://github.com/prettier/eslint-plugin-prettier) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-pubsub/compare/greenkeeper%2Feslint-plugin-prettier-2.5.0">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      eslint-plug

[2018-01-16 14:09] #41 closed

[2018-01-17 11:08] vcrepin opened #42 "Not receiving all messages"
- OS: Google Container Engine (Kubernetes)
  - Node.js version: gcr.io/google_appengine/nodejs
  - npm version:
  - @google-cloud/pubsub version: 0.16.2

I have a very simple subscription on a topic that runs in Container Engine. The code is the same as your examples:

[code]
The problem is that not all messages are received. I would say a little more than 50% are.

I see in my logs that messages

[2018-01-17 19:22] stephenplusplus commented on #10
Can anyone else confirm 0.15.0 is working?

[2018-01-17 19:26] stephenplusplus commented on #42
@callmehiphop any thoughts?

[2018-01-17 19:37] callmehiphop commented on #42
We've had issues with Kubernetes becoming unresponsive in the past - when you say you don't receive all the messages, would you also say its accurate that they stop coming in altogether?

[2018-01-17 21:33] vcrepin commented on #42
No. IT stays responsive but some messages are missing.

[2018-01-17 21:36] callmehiphop commented on #42
Interesting. @kir-titievsky any thoughts on why that might happen?

[2018-01-17 21:43] vcrepin commented on #42
Is There à way to get some insight into what pubsub is doing ? Some kind of debug logs in stackdriver ? I did not find some...

[2018-01-18 02:49] jamesholcomb commented on #30
On a possibly related note, I started getting this error after updating to 0.16.2.

Sending messages seems to continue working.  But I have to restart the app in order to receive messages on subscriptions.

[code]

[2018-01-18 10:14] ChrisBartonLC commented on #10
version "google-cloud/pubsub": "0.16.2" works in Cloud Functions using our integration test suite.

[2018-01-18 12:50] jkolaric commented on #27
I can see that the grpc-node 1.8.4 is still not published, and there is also no 1.8.4 tag for grpc on npm. When can we expect it to be published?

[2018-01-18 13:15] stephenplusplus commented on #10
@callmehiphop does this sound resolved to you?

[2018-01-18 19:20] kir-titievsky commented on #42
@vcrepin The first thing would be to look at the Pub/Sub metrics in Stackdriver:
- Can you check if your backlog is growing (look for Pub/Sub subscriber metrics)?
- Are you seeing errors on pull or ack?
- Are you seeing errors on publish? Meaning, you may be logging publish calls but some of them are not succeeding.
Next: is there anything in logs from the container?  Any errors?

If you send a no

[2018-01-18 19:54] vcrepin commented on #42
Hello and thank you for your response.

Well, I must admit that I'm ashamed... when I read your post I realized that I effectively has another old instance of my subscriber running in another namespace...

This instance was simply getting messages and outputting them on the console...

So Thank you very much and really sorry for this.

[2018-01-18 19:56] stephenplusplus commented on #42
It happens, @vcrepin! Thanks for the help, @kir-titievsky.

[2018-01-18 19:56] #42 closed

[2018-01-18 21:28] ChrisBartonLC commented on #10
Unfortunately it is still broken in Cloud Functions. Last night we ran a few tests but this morning with many developers using the new version, messages are intermittent:

{
 insertId:  "000000-3d55d68d-ee61-4721-95bd-e8e7dfe65852"
 labels: {…}
 logName:  "projects/localcover-65/logs/cloudfunctions.googleapis.com%2Fcloud-functions"
 receiveTimestamp:  "2018-01-18T21:21:55.361917350Z"
 resource: {…

[2018-01-18 21:41] ChrisBartonLC commented on #10
We have downgraded and pinned to v0.14.0 which is more reliable in Cloud Functions

[2018-01-20 04:23] MichaelMarkieta opened #45 "ackDeadline option on new subscription not working"
https://github.com/googleapis/nodejs-pubsub/blob/f1cadad897e3999fe89413129443ff58586a5a70/src/index.js#L211-L213

When creating a new subscription, the option `ackDeadline` does not appear to be used.

[2018-01-21 06:15] robertjchristian opened #46 "FlowControl MaxMessages not minded"
Reported this first on s/o and waited a couple days.

https://stackoverflow.com/questions/48326756/google-cloud-pubsub-client-does-not-mind-flowcontrol-settings-as-advertised

#### Environment details

  - OS:  macOS 10.13 High sierra
  - Node.js version: 8.1.4
  - npm version: 5.0.3
  - @google-cloud/pubsub version: 0.16.2

#### Steps to reproduce

  1. Clone nodejs bookshelf example app
  2. Run

[2018-01-22 02:40] robertjchristian commented on #45
I found the same to be true.  But this is prob just a documentation bug.  You can successfully set on Pubsub constructor like this:

[code]

[2018-01-22 15:55] callmehiphop commented on #45
@MichaelMarkieta this appears to be a documentation error, we haven't honored that option for quite some time, just as @robertjchristian had suspected. I apologize for the inconvenience.

[2018-01-22 16:06] callmehiphop commented on #46
@robertjchristian thanks for reporting! Looking at the bookshelf app's [depdenencies](https://github.com/GoogleCloudPlatform/nodejs-getting-started/blob/master/6-pubsub/package.json#L60) it looks like they've pinned a slightly older version of PubSub. Can you verify that

1. I am referencing the correct project
2. That your installed version is >= 0.16.0

I ask because at some point there was a bu

[2018-01-22 17:01] robertjchristian commented on #46
You are correct.  I was using the older version.  Same issue in both versions.

Note - I mention Google Bookshelf app for easy repro.  I am using something more sophisticated but started with same background.js and pubsub lib from example.

When I debug, the “current messages” seems to always be 0, occasionally 1, despite the number of messages currently processing.  Also, not sure what is popping

[2018-01-22 17:16] callmehiphop commented on #46
@robertjchristian would you mind putting together a minimal example that reproduces your issue? I've tried locally but `maxMessages` appears to be functioning correctly in my tests. I should also mention we had a significant rewrite at `0.15.0`, so `maxMessages` will definitely **not** be honored on any version previous to it.

[2018-01-23 00:21] y-zeng commented on #27
grpc-node 1.8.4 has been published. @mkamioner, @baronfel Could you please update grpc-node and verify the fix? Thanks!

[2018-01-23 04:33] robertjchristian commented on #46
@callmehiphop - you are right.  Upon creating a repro, I found it was an early ACK after some async calls that was causing this.  MaxMessages works as advertised.  My apologies for the red herring.

[2018-01-23 04:33] #46 closed

[2018-01-23 21:28] kir-titievsky commented on #2
The fix is out.  I was able to run a long running task in python, which
uses the same service API.  Would love to see if you have better experience
with node as well.

On Fri, Jan 12, 2018 at 6:10 AM, Rich Hodgkins <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-01-25 01:31] ncjones commented on #33
It's broken again.

[2018-01-25 11:18] rhodgkins commented on #2
@kir-titievsky yeh it looks much better just from a brief test! I'll keep an eye on the test env we're using it in and report back. Thanks again for your help 🙂

[2018-01-25 14:47] nikkatalnikov opened #49 "Release gRPC 1.8.x"
Please, do NPM release along with
https://github.com/googleapis/gax-nodejs/issues/173

for Alpine images support.

thank you!

[2018-01-25 20:34] stephenplusplus commented on #2
I’m going to close for now, but we will reopen if you experience more trouble.

[2018-01-25 20:34] #2 closed

[2018-01-25 21:26] STeveShary opened #50 "Resolve subscription.close() once streams have been flushed."
After using the pub/sub client for test, I have found that I wanted to know when the queue was flushed before exiting.  The comment in the code states that a promise is returned when no callback is provided: https://github.com/googleapis/nodejs-pubsub/blob/master/src/subscription.js#L377 but the code does not return a promise.

#### Environment details

  - OS: OSX
  - Node.js version: 8.6.0
  - n

[2018-01-25 21:44] joemanfoo opened #51 "API Documentation link broken - again"
Didn't want to resurrect a zombie so creating a new issue that's the same as closed issue#33.

https://googlecloudplatform.github.io/google-cloud-node/#/docs/pubsub/latest/pubsub

is redirecting back to

https://cloud.google.com/nodejs/docs/reference/pubsub/0.16.x/

[2018-01-28 09:31] giltayar commented on #31
Thanks. This solved my problem. Just wanted to let you know that there are no prebuilt binaries for node 8 (at least for the version I'm using) and grpc-1.7.3. This makes my docker build times really long...

Is there any way I can know what prebuilt binaries there _are_ for this version of grpc and node, so I can fine tune the node version?

[2018-01-29 16:52] callmehiphop commented on #50
@STeveShary thanks for reporting! I'm sorry you're running into this issue. Generally we do not return promises directly in *any* of our methods. Instead we use a [decorator](https://github.com/googleapis/nodejs-pubsub/blob/master/src/subscription.js#L1245) to wrap them.

I attempted to reproduce the error you were seeing, however in my local testing `close()` returned a promise for me. If you wou

[2018-01-29 16:55] callmehiphop commented on #51
/cc @jmdobry @alexander-fenster

[2018-01-29 19:27] STeveShary commented on #50
@callmehiphop Thanks for responding.  My commit from above: https://github.com/STeveShary/nodejs-pubsub/commit/2bf9c33f92bd43f1020f5467c58c48a796348309 has a really simple test as part of it.  I found that I had to add the code fix to get the test to pass.

[2018-01-29 19:30] STeveShary commented on #50
I threw a PR over to help with that.

[2018-01-29 19:42] callmehiphop commented on #50
@STeveShary we stub the decorators in our unit tests, so promises will not work there unless we return the promise directly, which I think we want to avoid so we can stay uniform with the rest of the code.

[2018-01-29 19:50] callmehiphop commented on #50
I created the following e2e test in <kbd>/system-test/pubsub.js</kbd>

[code]

And it passes/logs as expected. By any chance have you been exclusively testing in the unit test files? That would have the potential for a false positive.

[2018-01-29 20:08] STeveShary commented on #50
Hmmm...  I know we ran into this problem initially when we were trying to close and make sure the queue was flushed before exiting.  Let me look...

[2018-01-29 20:31] STeveShary commented on #50
Ok.  Jogged the memory.  The issue that we ran into is that we found that our acks were not being sent back.  This we found was because there is no command that will return a promise that tells us when the queue for acks has been drained.  We did see in the `close()` method:

[code]

This would be GREAT!  But, alas it does not return that promise and therefore we can't know when the queue is clear

[2018-01-29 20:39] callmehiphop commented on #50
Ah, I see. In most cases that queue isn't actually used. Its primary function is to act as a backup in case we're unable to make a streaming connection. I'd need to investigate a bit more, but it might be possible to implement a `flush` (or similar) event to listen to.

[2018-01-30 11:45] ncjones commented on #31
@giltayar Are you using Alpine? I think this is related to glibc vs musl (https://github.com/grpc/grpc/issues/6850). For this and other reasons we switched from Alpine back to Debian and we are able to use prebuilt grpc binaries (using pubsub 0.16.2).

[2018-01-30 12:12] giltayar commented on #31
Yes, I am. Ahhh.... thank you. I'll switch back to the regular debian. Thanks!

Although, given the love a lot of people have for Alpine, it _would_ be nice to have prebuilt binaries for them too... 😉

[2018-01-30 14:29] mkamioner commented on #27
Unfortunately after updating to grpc-node 1.8.4 the bug still occurs :-(

What is the next step @y-zeng ?

[2018-02-01 03:06] greenkeeper[bot] opened #53 "An in-range update of google-gax is breaking the build 🚨"
## Version **0.14.5** of [google-gax](https://github.com/googleapis/gax-nodejs) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-pubsub/compare/greenkeeper%2Fgoogle-gax-0.14.5">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td>
    <td>
      google-gax
    </td>
  </tr>
  <tr>
    <th

[2018-02-01 03:50] mdietz94 opened #54 "Samples do not show best practices"
The samples that demonstrate flow control use them in a CreateSubscription RPC. This is not the recommended pattern, as users only have 1 QPS limit. It is preferred that users attempt to subscribe, and user the error handler to create the subscription if they receive NOT_FOUND from the server. Please correct samples to show this, since we have had users running this in production hit their limits

[2018-02-02 17:31] stephenplusplus commented on #54
Please take a look at #56.

[2018-02-02 19:41] #54 closed

[2018-02-05 11:51] mkamioner commented on #27
@y-zeng ping...

Bueller? Bueller?... ;-)

[2018-02-05 20:04] jmdobry commented on #51
This is the correct behavior. https://googlecloudplatform.github.io/google-cloud-node is deprecated.

[2018-02-07 09:34] thomas-hilaire commented on #11
Hello,

I continue to encounter this issue regularly. As you my pod stops to receive any message after an inactive period, as soon as I restart the pod all messages are well delivered to this new pod instance.

Do I need to update anything to get the fix explained by @kir-titievsky? How can I investigate about this issue?

Thanks!

**Environment details:**
- google-cloud/pubsub: 0.15.0
- node: 8.4

[2018-02-07 11:25] janisto commented on #11
We have experienced the same issue in the past few weeks.

A bit annoying to restart the pods daily.

**Environment details:**
-    google-cloud/pubsub: 0.13.1
-    node: 6.11

[2018-02-07 15:25] stephenplusplus commented on #11
Re-opening in case @kir-titievsky or @callmehiphop know anything.

[2018-02-08 06:44] janisto commented on #11
I think this was caused by grpc 1.8.4. I added grpc 1.7.3 as dependency and so far everything seems to be working fine.

[2018-02-08 08:44] shwei commented on #2
I am very lost when it comes to setting ackDealine in Node; in desperate need to try to understand pubsub a little better.

1. When I set {ackDeadlineSeconds: 120} in subscription creation, the returned Subscription will have ackDeadlineSeconds as 120 but ackDeadline as 10000. Here is the snippet of the object:
[code]
    let topic = pubsub.topic(topicName);
    const results = await topic.get({au

[2018-02-08 13:24] kir-titievsky commented on #2
Shawn, could you tell us about what behavior your are trying to produce
with these settings? That would help answer the question.
On Thu, Feb 8, 2018 at 3:44 AM Shang Heng (Shawn) Wei <
notifications@github.com> wrote:

--

Kir Titievsky | Product Manager | Google Cloud Pub/Sub

[2018-02-08 14:54] shwei commented on #2
Hi Kir, thanks for replying. I have multiple listeners on the same subscription. It takes about 50 secs for a subscriber to process one message and ack it. I notice there are multiple subscribers getting the same message about 50 secs apart and they ack the same message successfully. That's why I tried to change the ack deadline which I haven't had any success doing so far.

[2018-02-08 15:18] kir-titievsky commented on #2
Is this happening for every message or just some? We expect this to happen
occasionally (maybe 0-1% of the messages, depending on the details of your
situation).

In general, the node client library automatically manages the ack deadline.
It looks how long it takes you to process a message and keeps extending the
deadline for each message. So you should not have to worry about this.

That said, I

[2018-02-08 20:45] jonparrott commented on #8
This functionality unfortunately is not something we can provide without the Pub/Sub API itself adding a feature specifically for it. We've communicated with the product team to express the desire for this feature, but at this point, there's nothing more we can do in this client library.

I'm closing for now, but feel free to continue to comment.

[2018-02-08 20:47] #8 closed

[2018-02-08 20:50] danoscarmike commented on #10
@stephenplusplus can you please disambiguate the various issues here and update the description?  Or close this issue and if there unaddressed elements (e.g. the most recent version's performance in Cloud Functions) here open new issues for them?  Thanks!

[2018-02-08 20:51] jonparrott commented on #11
Related: https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4737

[2018-02-08 20:59] jonparrott commented on #28
See https://github.com/googleapis/nodejs-pubsub/issues/8#issuecomment-364242782 for more details on queue depth and messages in flight.

Closing this

[2018-02-08 20:59] #28 closed

[2018-02-08 21:00] jonparrott commented on #29
@benhunt29 are you able to reproduce this with the latest version of grpc?

[2018-02-08 21:07] albi34 opened #59 "Documentation is misleading - Topic.createSubscription Subscription name is not optional"
I was trying to create a subscription with no name after reading some older threads in the old github (https://github.com/GoogleCloudPlatform/google-cloud-node/issues/1257 & https://github.com/GoogleCloudPlatform/google-cloud-node/pull/1799), especially about allowing subscription to get random names if no name was provided.

The documentation seems to be wrong on that particular point: https://cl

[2018-02-09 13:09] codyzu opened #60 "Not working in cloud function"
I am unable to get the client to work in a cloud function. Sometimes messages are never acknowledged (even though `ack()` is being called) and the cloud function can get "stuck" where no newly published messages are ever fetched until the cloud function is redeployed.

Reading [the cloud function docs](https://cloud.google.com/functions/docs/bestpractices/tips#do_not_start_background_activities),

[2018-02-09 15:49] stephenplusplus commented on #59
The docs are wrong :\ A name is required. I'll get a PR going to correct that.

As for why it's now required, as far as I know, it was requested by the Pub/Sub team to remove it. @callmehiphop any more info?

[2018-02-09 16:19] stephenplusplus commented on #10
I think @callmehiphop can do a better job of that.

[2018-02-09 18:32] ctavan opened #62 "subscription.close() leads to "Request payload size exceeds the limit""
#### Environment details

  - OS: Kubernetes Engine
  - Node.js version: 9.3.0
  - npm version: –
  - @google-cloud/pubsub version: 0.16.2

#### Steps to reproduce

I have a consumer running on Kubernetes Engine which reads messages from a PubSub subscription and writes them to BigQuery.

I have implemented a clean shutdown logic when my pods get terminated (e.g. during a rolling updated). In that

[2018-02-09 18:40] callmehiphop commented on #62
@ctavan thanks for reporting, I was unaware of any size constraints on these methods, but I would guess your conclusion is correct, in that we need to implement batching.

If you have any spare time and would like to contribute a PR, we'd be very grateful! Otherwise I think I can get to this next week.

[2018-02-09 19:05] jonparrott commented on #30
Related: https://github.com/GoogleCloudPlatform/google-auth-library-python/issues/211

This is due to Compute Engine's metadata server being occasionally unavailable. We should move this to the nodejs auth library and set a reasonable timeout and retry when talking to the GCE metadata server.

In the meantime, you can use a service account private key file as describe in cloud.google.com/docs/auth

[2018-02-09 19:06] jonparrott commented on #30
@stephenplusplus can you handle moving this to the appropriate place?

[2018-02-09 19:08] jonparrott commented on #32
@stephenplusplus do you think this is a blocker for GA? Does fixing this change the interface at all?

[2018-02-09 19:10] jonparrott commented on #35
@kir-titievsky do you think this is release blocking? Does this affect the interface or is it something that can be changed post v1.0.0 without necessitating a major version bump?

[2018-02-09 19:11] jonparrott commented on #49
@stephenplusplus @nikkatalnikov I'm taking this to mean that we need to release a new version of this package that accepts the latest version of grpc. If so, this should be done ASAP.

[2018-02-09 19:14] #51 closed

[2018-02-09 19:15] stephenplusplus commented on #49
We have used 1.8.x, but have been reverting to 1.7.x in the GAX repo and common-grpc: https://github.com/googleapis/nodejs-common-grpc/pull/10

@alexander-fenster where do we stand on this? What version do we want?

[2018-02-09 19:15] #59 closed

[2018-02-09 19:17] stephenplusplus commented on #53
@jonparrott I usually disregard these, but must have missed this one. These are due to flaky CI issues.

[2018-02-09 19:17] jonparrott commented on #60
Hi @codyzu. Using `pull` within cloud functions is not a supported use case, instead, you should use push for your subscriptions. See https://cloud.google.com/functions/docs/calling/pubsub

Closing this, but feel free to comment if you have further questions.

[2018-02-09 19:17] #60 closed

[2018-02-09 19:18] stephenplusplus commented on #32
Yeah, we should fix this. We have a PR in #37 that needs a sign-off from @callmehiphop

[2018-02-09 19:22] stephenplusplus commented on #30
Hmm, I'm not sure which library of code is making the request, whether it's our handwritten layer, the gapic, or the auth library itself. @callmehiphop do you know?

[2018-02-09 19:22] jonparrott commented on #53
SG.

[2018-02-09 19:23] #53 closed

[2018-02-09 19:52] nikkatalnikov commented on #49
@jonparrott
yes, it is correct. thank you.

@stephenplusplus
for Alpine containers, any of 1.8.x works.

[2018-02-09 20:51] alexander-fenster commented on #49
We still have the auth issue in 1.8.x as for now, @schmidt-sebastian was going to look at it.

[2018-02-09 20:55] schmidt-sebastian commented on #49
GitHub issue for auth: https://github.com/grpc/grpc-node/issues/173

[2018-02-09 21:03] callmehiphop commented on #30
@stephenplusplus hard to say, when creating the gapic clients we attempt to get the project id from the auth library, after which all requests are made by the gapic. If this error occurs multiple times, I would think it was from the gapic since we cache the project id.

[2018-02-09 21:11] callmehiphop commented on #13
I believe this is related to https://github.com/grpc/grpc-node/issues/123

[2018-02-09 21:18] stephenplusplus commented on #30
@jamesholcomb do you know the minimum required code to track down the method that is making the request that returns that error? Not so much concerned with reproducing, but just knowing which method is making the call.

[2018-02-09 21:39] callmehiphop commented on #10
From what I can tell there are 4 issues being described here.

1. Workers stop receiving messages until they are restarted (original issue) - Duplicate of #11
2. Messages are being re-delivered - Duplicate of #2
3. Possible memory leak - Duplicate of #13
4. gRPC `Stream Removed` error - Duplicate of https://github.com/googleapis/nodejs-datastore/issues/35

Because there are already threads for the

[2018-02-09 21:39] #10 closed

[2018-02-09 22:18] #32 closed

[2018-02-10 12:59] stephenplusplus commented on #50
@callmehiphop do we need these changes: #52?

[2018-02-10 15:10] callmehiphop commented on #50
No, it can be closed.

On Feb 10, 2018 7:59 AM, "Stephen" <notifications@github.com> wrote:

[2018-02-10 15:30] jamesholcomb commented on #30
@stephenplusplus  I've only encountered this error once.  The server where it was running did not have full debug/trace enabled at the time, so I don't have much to go on.

[2018-02-11 11:28] lostpebble opened #64 "Can't access reference documentation - keeps directing to overview page"
Hi there,

I've been trying to dig a little deeper into the documentation of PubSub lately, specifically to find out how to extend the ack deadline upon receiving a message, but I can't seem to access the library reference.

As seen here, which according to the url should probably be the library reference:
https://cloud.google.com/nodejs/docs/reference/pubsub/0.16.x/

It's the overview, and if you

[2018-02-11 11:36] #64 closed

[2018-02-12 08:05] codyzu commented on #60
Thanks @jonparrott for your response!

We use pull because we want PubSub to "queue" messages, that can be serviced in bulk at a regular interval.

In detail, the function is triggered (pushed to) by a PubSub Topic (`T1`). `T1` is published to by cronjob, every 5 minutes (for example). The messages have no interesting payload for the cloud function.

An independent process publishes messages ("job

[2018-02-12 14:53] ctavan commented on #62
I will try to provide a fix now.

[2018-02-12 15:25] kir-titievsky commented on #35
I think this is release blocking, unless we are convinced that offering a consistent retry settings API across all operations will not require client library API changes.

[2018-02-12 15:35] stephenplusplus commented on #35
Anything that is passed to the PubSub constructor gets passed to PublisherClient. Has the issue reporter try the suggestion from the end of the opening post in this thread? (Seems like we are only seeing a piece of the conversation)

[2018-02-12 16:12] jonparrott commented on #60
/cc @kir-titievsky

I would say that yes, the second part of that is an unusual use case for pubsub. I would suggest maybe using a persistent database to queue up bulk jobs.

[2018-02-12 16:29] codyzu commented on #60
Sorry to be stubborn :stuck_out_tongue: and BIG thanks for your time!

From an architectural standpoint, it is interesting because cloud function never has to access any permanent storage (DB, cloud storage, etc...). All the data to service the jobs (some API calls in our case) is stored in the PubSub message payload.

This adds an interesting decoupling in our system. Also, it allows the cloud fu

[2018-02-12 16:38] jonparrott commented on #60
I mean, I'm not saying you can't, I'm just saying it's a little unusual. (@kir-titievsky can maybe speak a bit more to it).

[2018-02-12 18:03] stephenplusplus commented on #23
@victorandree we've made a few background changes regarding auth. Could you try again against master?

[code]

[2018-02-12 18:34] kir-titievsky commented on #60
@codyzu I think a combination of App Engine & with Task Queues and App Engine Cron would be a much better integrated set of tools for implementing what you've outlined.

That said, here are a couple ways to get this working with Pub/Sub with mild hacks:
- Don't wait to do the work.  Have T2 trigger the CF as soon as the jobs arrive.  Optionally use really low quota.  I assume there is a reason you

[2018-02-13 00:30] ctavan commented on #62
@callmehiphop I have submitted a potential fix in #65.

I'm simply chunking the `ack/modifyAckDeadline` requests into chunks of 3000 or less `ackIds`.

While I was getting the error described in this issue for almost every shutdown of my app with `0.16.2`, I haven't seen it with my patch applied so far (and I have provoked ~10 shutdowns with the updated code so far) yet.

Let me know what you thin

[2018-02-13 08:31] codyzu commented on #60
Thanks @kir-titievsky for your thoughtful response!

Yes :smile_cat: there are 2.

1. The primary reason is that the jobs are "scheduled". Each one is set to execute sometime between now and 7 days (the [maximum retention of a PubSub message](https://cloud.google.com/pubsub/docs/subscriber#create)).The scheduling is unique per job (defined by user settings). When the cloud function pulls the messa

[2018-02-13 10:05] ctavan commented on #30
@stephenplusplus @callmehiphop I have encountered a similar error (see below) while running my branch from #65 (which is based on current master). I'll base my branch on the `v0.16.2` tag and test again.

Here's the error, I'm getting `ECONNRESET` instead of `ETIMEDOUT`:

[code]

[2018-02-13 13:28] ctavan opened #66 "subscription keeps receiving messages after subscription.close() was called"
#### Environment details

  - OS: Kubernetes Engine
  - Node.js version: 9.3.0
  - npm version: –
  - @google-cloud/pubsub version: 0.16.2

#### Steps to reproduce

During my investigations on #62 I cluttered the library code with `console.log()` statements ([see this branch for reference](https://github.com/googleapis/nodejs-pubsub/compare/master...contentpass:fix-ack-on-subscription-close-debug)

[2018-02-13 15:30] ctavan opened #68 "Duplicate messages exactly every 15 minutes"
#### Environment details

  - OS: Kubernetes Engine
  - Node.js version: 6.3.0
  - npm version: –
  - @google-cloud/pubsub version: 0.16.2

#### Steps to reproduce

This is most likely related to the discussion in https://github.com/googleapis/nodejs-pubsub/issues/2#issuecomment-356423284 (and following comments in that thread). However since the discussion there somewhat faded out I want to repor

[2018-02-13 17:20] callmehiphop commented on #68
I believe the lifespan of each stream created via `streamingPull` is 15 minutes, in my own testing I've also seen messages get redelivered when one stream closes and another opens. That being said, I believe the stream is just reaching the end of its lifespan and when a new stream is opened to take its place, the PubSub service redelivers the messages.

@kir-titievsky does that sound like the expe

[2018-02-13 17:27] callmehiphop commented on #66
Interesting, about how long would you say this occurs for after closing a subscription?

@murgatroid99 would there be any reason why gRPC would continue to deliver messages after `end()` has been called on a duplex stream?

[2018-02-13 17:52] rossj commented on #68
From my reading of the code, the Node subscription client assumes that it will not receive messages with ack ids that it is already leasing. This is evident based on how it tracks and clears ack ids in the internal inventory array, with no checking of an existing duplicate ack id.

IMHO the current client is broken in this regard, as after receiving a duplicate message / ack id, calling `ack()` or

[2018-02-13 18:11] ctavan commented on #66
@callmehiphop I have just checked the logs again and this happened for up to 10 seconds after the `subscription.close()` call.

Btw, where in https://github.com/googleapis/nodejs-pubsub/blob/ace59b086c9f72fb1e582398f7cf232b1428b6bc/src/subscription.js#L381-L395 does the `end()` happen?

[2018-02-13 19:14] murgatroid99 commented on #66
Those streams are normal Node streams, where calling the `end` method indicates that you are done writing to the stream. But in general, saying that you are done writing to the stream does not mean that you do not want to read more data from it, and as long as the server keeps sending messages, gRPC will keep outputting them. If you want to stop it abruptly, you can call the `cancel` method, but k

[2018-02-13 20:06] callmehiphop commented on #68
@rossj I agree with you, however the client was built with specifications from the PubSub team and this particular issue has been brought up several times before. I think we want input from the PubSub team on what the correct solution to this issue actually is.

[2018-02-13 21:56] stephenplusplus commented on #30
This issue was moved to https://github.com/google/google-auth-library-nodejs/issues/283.

[2018-02-13 21:56] #30 closed

[2018-02-14 09:58] victorandree commented on #23
@stephenplusplus Did you want me to try it out with `nodejs-storage` or is that a typo? Trying with `nodejs-pubsub`, I get the same error as @mscottx88 now. Here's my full test environment:

**package.json**
[code]

**index.js**
[code]

Running locally (on my MacBook) with no default credentials or default project but with a service account key tied to a project, I get:

Same result if I run in a

[2018-02-14 14:53] stephenplusplus commented on #23
@callmehiphop can you try to reproduce?

[2018-02-15 19:10] cmdshepard commented on #31
@stephenplusplus I'm experiencing the same issue with `0.16.3` when I downgrade to `0.16.2`, I not longer get the error.

I'm trying to connect to the pubsub emulator.

OS: macOS 10.13.3
Node.js version: 8.7.0
npm version: 5.4.2
Yarn version: 1.3.2
version: 0.16.3

This is the error that I get on `0.16.3`
[code]

[2018-02-16 16:14] ctavan opened #70 "v0.16.3 comes with incompatible grpc versions"
When using yarn, v0.16.3 introduced the following error for me:

[code]

The reason is that `@google-cloud/pubsub` now defines `grpc@^1.8.4` as a direct dependency   as well as `google-gax@^0.14.2`.

`google-gax@^0.14.2` however currently pins its grpc dependency to `grpc@~1.7.2`, see https://github.com/googleapis/gax-nodejs/pull/178

This altogether breaks `v0.16.3` of `@google-cloud/pubsub` and

[2018-02-16 17:03] #62 closed

[2018-02-16 18:14] cmdshepard commented on #70
I can confirm this as well.
This is related to issue [#31](https://github.com/googleapis/nodejs-pubsub/issues/31)

[2018-02-16 19:00] #70 closed

[2018-02-16 21:08] stephenplusplus commented on #49
Consolidating issues to: https://github.com/googleapis/gax-nodejs/issues/188

[2018-02-16 21:08] #49 closed

[2018-02-19 20:37] ctavan opened #73 "Oldest Unacknowledged Message > 2days"
#### Environment details

  - OS: Kubernetes Engine (1.8.5)
  - Node.js version: 0.9.5
  - npm version: –
  - @google-cloud/pubsub version: 0.16.4

#### Steps to reproduce

I'm running a single nodejs subscriber which reads messages from one pubsub topic in streaming pull mode at a rate of ~500 messages/s. Messages are usually being acked within below a second.

I'm reading from the same topic on

[2018-02-20 09:15] ctavan commented on #29
@benhunt29 I've seen exactly this behavior with a node process that consumes from PubSub and writes to BigQuery, in my case running on Kubernetes Engine. If I allow it to consume PubSub messages too quickly, it will use 100% of available CPU and become unresponsive.

Have you checked whether your process consumes the entire available CPU?

I suggest running node processes at a maximum of 80% of av

[2018-02-20 14:40] callmehiphop commented on #73
I don't believe the cause of this is anything the client itself is doing. @kir-titievsky @jonparrott any ideas?

[2018-02-20 16:22] stephenplusplus commented on #23
I believe I found a fix: #74

@victorandree would you mind trying again?

[code]

*double checks for nodejs-storage instead of nodejs-pubsub... nope, we're good :)*

[2018-02-20 16:44] victorandree commented on #23
@stephenplusplus Yes, it works! And I verified again that it does not work without this patch so I think you fixed it :)

[2018-02-20 16:58] #23 closed

[2018-02-21 11:12] Etendard7 opened #76 "Batching settings is ignored"
Hi,

I am running a nodejs-pubsub client on Windows and Linux and finding this bug on both Platform.

The `batching` parameter of `topic.publisher()` is ignored when message are published, despite being visibile and correctly set-up when I read from `publisher.settings.batching`.

I tried to set the `maxMessages` parameter to 1 but my messages are still published in batches.

I tried to set `Batch

[2018-02-21 18:38] callmehiphop commented on #76
@Etendard7 thanks for reporting, sorry you're running into this issue. Can I ask how you're verifying that your messages are being sent in a batch? I'm testing on my local machine and setting `maxMessages` to `1` seems to be working as expected for me.

[2018-02-21 18:47] greenkeeper[bot] opened #77 "An in-range update of @google-cloud/nodejs-repo-tools is breaking the build 🚨"
## Version **2.2.1** of [@google-cloud/nodejs-repo-tools](https://github.com/GoogleCloudPlatform/nodejs-repo-tools) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-pubsub/compare/greenkeeper%2F%40google-cloud%2Fnodejs-repo-tools-2.2.1">Build failing 🚨</a>
    </td>
  </tr>
  <tr>
    <th align=left>
      Dependency
    </td

[2018-02-21 18:53] #77 closed

[2018-02-22 09:29] Etendard7 commented on #76
Hi @callmehiphop ,

I have set up a simple python worker to process the messages one by one (using `FlowControl(max_messages=1)`).

[code]
If I publish some messages using the following python code, I can see in worker's output that they are all processed together (`max_messages=1` is not working) :

[code]

So I guess that all theses messages are in a batch and that `max_messages=1` really means

[2018-02-22 13:16] codyzu commented on #60
I wrote [an article on our blog](https://blog.hubwa.re/google-cloud-pubsub-background-job-queue-with-cloud-function-workers-78092ce5a8cb) discussing in more detail _why_ we use PubSub the way we do (and the challenges we encountered). It may be more clear than my description above.

Don't hesitate to add any questions or feedback over there aslo...

[2018-02-22 15:32] callmehiphop commented on #76
@Etendard7 thanks for the detailed write up! I could be wrong, but I think you've identified a bug within the Python library. AFAIK `FlowControl(max_messages=1))` should not be used to configure how many batches you receive. While technically it is not possible to configure how many messages come in a batch, in Node we use the `maxMessages` option to determine how many overflow messages to `nack()

[2018-02-22 15:43] callmehiphop commented on #68
@kir-titievsky just a friendly ping :)

[2018-02-22 16:38] Etendard7 commented on #76
Ok thanks! I have reported the issue on the github of the python library.
FYI : https://github.com/GoogleCloudPlatform/google-cloud-python/issues/4912

[2018-02-26 11:55] greenkeeper[bot] opened #79 "An in-range update of protobufjs is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **6.8.6** of [protobufjs](https://github.com/dcodeIO/protobuf.js) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-pubsub/compare/greenkeeper%2Fprotobufjs-6.8.6"

[2018-02-26 14:56] benhunt29 commented on #29
@ctavan Thanks for your suggestion, it doesn't look like my instances were getting over 40% CPU Utilization so I doubt that's the problem.

@jonparrott I upgraded to the latest version of this package and it seems to be working as I expect now. Thanks for your help!

[2018-02-26 14:58] callmehiphop commented on #29
@benhunt29 thanks for the update! Please let us know if you start to experience any more issues.

[2018-02-26 14:58] #29 closed

[2018-02-26 15:24] kir-titievsky commented on #68
@ctavan @rossj This should get better this week. The behavior had to do with how treated messages that were sent to a client but not yet acknowledged when a streamingPull connection was broken down and rebuilt.  A feature rolling out right now (and expected to be completely out tomorrow) should ensure that nothing special -- like duplicate delivery-- happens when connections are rebuilt.

@ctavan

[2018-02-26 15:25] #79 closed

[2018-02-26 15:58] ctavan commented on #68
Thanks @kir-titievsky, we'll check again in a few days!

Any chance that the changes might affect #73 as well?

[2018-02-28 10:15] muryginm opened #80 "Broken flow control in rare cases"
In production I have a memory consuming task. So if I get two messages at a time my app runs out of memory. I found out that flow control settings do not always works.

#### Environment details

  - OS: Ubuntu 16.04
  - Node.js version: 8.9.4
  - npm version: 5.5.1
  - @google-cloud/pubsub version: 0.16.4

I created a repository with code to reproduce this issue.

#### Steps to reproduce
  1. Clon

[2018-02-28 10:30] muryginm opened #81 "AckDeadline does not work even after subscription creation with v1.SubscriptionClient"
In my app I really need to configure message ackDeadline. Because of [that issue](https://github.com/googleapis/nodejs-pubsub/issues/6) I am not able to do it using `createSubscription`. So I found out a way to create subscription with specific ackDeadlineSeconds using `v1.SubscriptionClient`. But client library does not care about that setting.

#### Environment details

  - OS: Ubuntu 16.04
  -

[2018-02-28 17:54] callmehiphop commented on #80
@muryginm based on some recent dialogue shared with me from the PubSub team, there is no guarantee that `maxMessages` will be hit exactly. That's because the PubSub API does not accept such an option and sometimes will give us batches of messages that can be higher than the desired limit.

As far as the increased memory usage, I've been chasing down similar reports (https://github.com/googleapis/n

[2018-02-28 17:54] #80 closed

[2018-02-28 18:01] callmehiphop commented on #81
Currently we don't allow the ack deadline to be modified. The Subscription object has an auto-leasing feature that will automatically extend the deadline on any messages waiting to be acked. Even if we allowed the deadline to be set, the current code would overwrite it and your message would not get redelivered until your subscription object was closed.

I'm going to close this issue because it lo

[2018-02-28 18:01] #81 closed

[2018-02-28 21:58] kir-titievsky commented on #13
@callmehiphop : FYI @jonparrott seems to have encountered & solved a similar issue in python. Can't locate the bug.

[2018-03-01 03:05] muryginm opened #83 "Lease message do no work for long running jobs"
Hi,
#### Environment details

  - OS: Ubuntu 16.04
  - Node.js version: 8.9.4
  - npm version: 5.6.0
  - @google-cloud/pubsub version: 0.16.4

In [that issue](https://github.com/googleapis/nodejs-pubsub/issues/81) @callmehiphop mentioned the following:

But the message **get redelivered** even when `subscription.close` and `message.ack` are not called.

#### Steps to reproduce
  1. Create topic an

[2018-03-02 17:20] callmehiphop commented on #83
Thanks for reporting!

It should. I'm not sure if the server-side fix has been pushed yet, but in some cases PubSub will redeliver messages when a stream is opened/closed. However I suspect this could actually be related to https://github.com/googleapis/nodejs-pubsub/issues/13.

I'm hoping to have a fix for this either today/this weekend. If you're not busy I might ask you to give it a test ride :

[2018-03-02 17:22] callmehiphop commented on #76
@Etendard7 I'm going to close this issue. Moving forward Node is going to adopt Python's strategy for flow control. Thanks again for bringing this to our attention!

[2018-03-02 17:22] #76 closed

[2018-03-03 04:25] jamorales-bsft opened #85 "axios library throws error on createTopic"
- Environment details
OS: GKE standard Google container OS
Node.js version: 8.9.1
npm version: 5.6.0
google-cloud-node version: 0.16.4

- Steps to reproduce
Note: I ran it locally on my macbook it works however on GKE it fails with the following error when running the exact same code.

1. require google-cloud
2. Do PubSub.createTopic("a-Topic", aCallback)
3. It throws the exception below. It seems

[2018-03-04 07:53] mkamioner commented on #27
No longer relevant for us. We moved to SQS. I highly recommend getting this SDK stuff together. We were on pubsub for over a year and the we decided that the SDK is just not stable enough right now and we need something that is production ready

[2018-03-04 09:13] SimonShapiro opened #86 "Cloud function and pub sub performance"
I have a cloud function that takes in a text file from Google storage, re-formats each line into a json object and publishes the json object into a pub sub topic.

My test input file is just over 400 lines (54KB) and yet the cloud function with 2GB of memory gives a time out after 180 seconds (the setting).  It then runs to conclusion.  However, it takes just on 10 minutes to process the 442 lines

[2018-03-05 19:48] stephenplusplus commented on #85
Hey @jamorales-bsft, thanks for reporting. I've tried this and haven't found it to fail for me. Could you show the minimum necessary code to reproduce? Are you authenticating with a key file or automatically through GKE?

Also, it could be a case where there was a temporary failure in a transient module. It might be worth re-deploying or otherwise updating the dependencies to see if something got

[2018-03-05 20:05] jamorales-bsft commented on #85
@stephenplusplus Unfortunately this only happens when we deploy to k8. When run locally on my Mac and my coworkers Mac everything works fine. Also it only starts happening when using v0.16.x of the pubsub lib. 0.14.8 works fine with the exact same code. I included some code that reproduces it but again this only happens when deployed as a container on GKE. We have not tried minikube or docker dire

[2018-03-05 20:13] stephenplusplus commented on #86
Hey @SimonShapiro, thank you for reporting.

4.4 does sound bad, and let me know if my math is wrong, but it sounds like it is actually 44.2 lines being processed per minute?

In general, our libraries have been known to run slowly on Google Cloud Functions. @alexander-fenster does this rate of processing seem abnormal or expected, given the details above?

[2018-03-05 20:33] jamorales-bsft commented on #85
Also we have redeployed this many times and also npm install from scratch so the dependencies should all be up to date

[2018-03-05 20:34] stephenplusplus commented on #85
Thanks for the extra information. I'll give it another shot.

[2018-03-05 21:01] stephenplusplus commented on #85
I re-deployed using the same code and auth style (a keyfile), but still didn't receive the error.

Looking at the stacktrace, it mentions: `IncomingMessage.handleStreamEnd (node_modules/axios/lib/adapters/http.js:186:37`. That file has evidently changed, since my environment is pulling a newer model, where the same line is now at 195 instead of 186. If you haven't already tried today, could you pl

[2018-03-05 21:26] jamorales-bsft commented on #85
I just tried again this time I:

1. deleted package-lock.json
2. npm rm --save @google-cloud/pubsub
3 rm -rf node_modules
4. npm install
5. npm install --save @google-cloud/pubsub
5. Then committed and ran another build. I got the same error on the same line 186

However it now reproduces locally and on GKE.

Here is a gist with a minimum package.json, package-lock.json and npm-list output. I do n

[2018-03-05 21:38] stephenplusplus commented on #85
Thanks for going through all of that. Does `gcloudAuthPath` point to a JSON service account key file?

[2018-03-05 21:44] jamorales-bsft commented on #85
yea it is of "type": "service_account"

[2018-03-05 23:06] stephenplusplus commented on #85
Could you see if you could get a longer stacktrace that shows where the error comes from within our library? Also, what are the details of your local environment?

[code]

[2018-03-05 23:18] jamorales-bsft commented on #85
I tried a bunch of things to get a longer stack trace and unfortunately nothing worked. I tried https://github.com/tlrobinson/long-stack-traces which was causing it's own crashes as well as setting the stack-size to 1000.

OS: Mac OS 10.13.3
node: v8.9.1
npm: 5.6.0

[2018-03-06 02:35] wenbozhu commented on #27
@mkamioner

Sorry to hear about this.

We had been tracking the issue with you and other users on the grpc repo.

https://github.com/grpc/grpc-node/issues/138#issuecomment-354649395

Would still be useful to have the log in case you have it.

Thanks.

[2018-03-06 13:12] jamessharp opened #88 "Receiving lots of duplicate messages"
Hi

I've been getting a lot of duplicate messages recently, specifically when running with a largeish backlog of messages, limited `maxMessages` and delayed acking. I have downgraded to v0.13 (i.e. before StreamingPull) and the dupes have disappeared.

This could possibly be related to https://github.com/googleapis/nodejs-pubsub/issues/68, https://github.com/GoogleCloudPlatform/google-cloud-java/i

[2018-03-06 16:12] stephenplusplus commented on #88
Thanks for reporting. Do you think this is a duplicate of #68?

[2018-03-06 16:31] jamessharp commented on #88
It could be, but I haven't noticed any regularity (e.g. the 15 min spikes) like in #68. The dupes come pretty quickly (the repro scenario above only takes a couple of mins to run anyway). It feels like in some cases the modifyAckDeadline isn't getting back to the pubsub in time (the initial lease is for 10s I think)

[2018-03-07 16:47] callmehiphop commented on #73
@kir-titievsky just a friendly ping

[2018-03-07 17:06] kir-titievsky commented on #73
please submit a support case with subscription id, if you have the option.
Otherwise, please send a note to cloud-pubsub@google.com with same.  This
does not look like a client library issue at first glance.

On Wed, Mar 7, 2018 at 11:47 AM Dave Gramlich <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-03-07 17:35] stephenplusplus commented on #73
Given the above, I'll close this for now. We can re-open and investigate any client fixes if any results come back from a review by the Pub/Sub team.

[2018-03-07 17:35] #73 closed

[2018-03-07 21:36] greenkeeper[bot] opened #89 "An in-range update of google-auto-auth is breaking the build 🚨"
☝️ Greenkeeper’s [updated Terms of Service](https://mailchi.mp/ebfddc9880a9/were-updating-our-terms-of-service) will come into effect on April 6th, 2018.

## Version **0.9.7** of [google-auto-auth](https://github.com/stephenplusplus/google-auto-auth) was just published.

<table>
  <tr>
    <th align=left>
      Branch
    </th>
    <td>
      <a href="/googleapis/nodejs-pubsub/compare/greenkeeper%

[2018-03-07 21:43] #89 closed

[2018-03-08 13:05] victorandree opened #90 "Publish 0.16.5 to npm"
0.16.4 still shows as the most recent version on npm: https://www.npmjs.com/package/@google-cloud/pubsub

Should 0.16.5 be published?

[2018-03-08 13:07] stephenplusplus commented on #90
Yeah, let me try that again...

[2018-03-08 16:45] stephenplusplus commented on #90
It worked! Thanks for the heads up 🥇

[2018-03-08 16:45] #90 closed

[2018-03-12 10:50] Turniii opened #93 "High Latency To Publish"
Hello,

I am using the publish function in a basic way:

[code]
The problem is that I am experiencing a long time to publish, for a buffer length of 352 it takes 3608 ms to publish. Is there some settings to publish faster ? Am I doing something wrong ?

Environment Details:

Node: 8.1.4
google-cloud/pubsub: 0.16.5

[2018-03-12 13:37] stephenplusplus commented on #93
I have a feeling this is something that will be covered after #92 is merged. @callmehiphop what do you think?

[2018-03-12 14:34] callmehiphop commented on #93
Actually publishing messages does not use the streaming API, so #92 will have no impact on this sadly.

@Turniii I would suggest caching the publisher outside of your function. When you call `publish()` we start buffering any additional messages and send them all in a batch. If you create a new publisher every time, this would result in all your messages being delayed by 1 second.

I believe you c

[2018-03-12 15:11] callmehiphop commented on #13
For anyone still experiencing this, we have a fix prepared (#92) that should be published to npm either today or tomorrow.

[2018-03-12 15:12] callmehiphop commented on #50
@STeveShary we've got a fix prepared for this (#92) if you have the bandwidth to test it out that would be fantastic! Otherwise we should have it released within the next day or two.

[2018-03-12 15:13] callmehiphop commented on #66
@ctavan we've got a fix prepared for this (#92) if you have the bandwidth to test it out that would be fantastic! Otherwise we should have it released within the next day or two.

[2018-03-12 15:13] callmehiphop commented on #83
@muryginm we've got a fix prepared for this (#92) if you have the bandwidth to test it out that would be fantastic! Otherwise we should have it released within the next day or two.

[2018-03-12 15:15] callmehiphop commented on #88
@jamessharp we've made some adjustments to the flow control which I *think* should help cut down on duplicate messages. If you have the bandwidth to test #92 that would be fantastic!

[2018-03-12 16:35] bkw commented on #13
awesome, thanks for the heads up!

[2018-03-13 04:41] muryginm commented on #83
@callmehiphop
The issue still exists. During 3 minues I received the same message about 4 times. [You could check it by yourself](https://github.com/muryginm/google-cloud-pubsub-issues/tree/refactor-flow-control).

In addition to this issue I received a lot of new errors which were reported to `subscription.error` event. The new errors stack trace:

[code]

I suppose you should at least look at th

[2018-03-13 10:05] gahabeen commented on #13
I'm as well experiencing **Out Of Memory** issues (hopefully related to this same issue..) when I call the **@google-cloud/pubsub** lib in my Nodejs project from my Serverless Hosted Function.

In local everything works smoothly so I bet something's going sideways with Amazon Lambda :/

[2018-03-14 08:25] dwickstrom commented on #93
Hello,

I'm seeing this 1 second delay too and thinking about how I could cache the publisher in a nice way. What strikes me is how I have to send a message to be able to cache the publisher, and how this seems a bit unpractical to me.

Ideally what I'd like to be able to do, is to boot a publisher when my app starts, and then pass it around in the app. But since the order of arguments, probably d

[2018-03-14 09:37] jamessharp commented on #88
It feels like it's happening less frequently, but I've just run the above code (putting 10000 messages in rather than 2000) and ended up handling 10875 (i.e. 875 were duplicated).

The subscription had an ack deadline of 600s and the first dupes came in after around 40s

Also, for the record, getting the following console log appearing every 15s or so:
[code]

[2018-03-14 15:33] kir-titievsky opened #95 "maxMessages"
Thanks for stopping by to let us know something could be better!

Please run down the following list and make sure you've tried the usual "quick
fixes":

  - Search the issues already opened: https://github.com/googleapis/nodejs-pubsub/issues
  - Search StackOverflow: http://stackoverflow.com/questions/tagged/google-cloud-platform+node.js
  - Check our Troubleshooting guide: https://googlecloudpla

[2018-03-14 15:38] kir-titievsky opened #96 "Pub/Sub: Reduce default publisher batch.maxMilliseconds from 1000 to 100"
A customer reported excessive Publish latency on Pub/Sub: consistently over 1 second.  On closer inspection, it turned out that the user intended to publish one messages at a time, each from its own invocation of a Cloud Function. Since by default the batching settings were set to wait for 1000 ms [1], the user had observed a shockingly bad latency.

I propose changing the default to 100 ms as it

[2018-03-14 16:20] #95 closed

[2018-03-14 18:00] callmehiphop commented on #93
You don't need to send a message to cache the publisher.

@kir-titievsky I'm not really sure I'm in a place to say, but does @dwickstrom's request seem reasonable to you? Seems simple enough to me and the usage would resemble something like this

[code]

[2018-03-14 18:14] kir-titievsky commented on #93
Sure. Although I don’t think we have established that creating and
initializing the publisher takes a significant amount of time. Or did I
miss this?
On Wed, Mar 14, 2018 at 2:00 PM Dave Gramlich <notifications@github.com>
wrote:

--

Kir Titievsky | Product Manager | Google Cloud Pub/Sub

[2018-03-14 19:06] #96 closed

[2018-03-15 09:48] dwickstrom commented on #93
Unfortunately I started debating this without reading the source coding or knowing anything about the underlying architecture. But I'd expect an api that let's me understand which calls are expensive, so I can call them as rarely as possible. And so to me that part of the api feels obscured.

There has to be some kind of side effect going on, like establishing connections and asserting the topics

[2018-03-18 21:09] callmehiphop commented on #83
@muryginm I've opened a separate PR (#99) which looks to resolve this issue. If you have the bandwidth to test it/confirm that would be awesome.

[2018-03-19 10:08] muryginm commented on #83
@callmehiphop
Thanks for the work! The issue still exists but it occurs much rarely. Sometimes a message get redelivered after ~60 seconds, sometimes it does not.

I could create a pull request with this test. But it is not very stable and takes some time to complete. Would it be helpfull?

[2018-03-19 13:51] #13 closed

[2018-03-19 13:51] #50 closed

[2018-03-19 13:51] #66 closed

[2018-03-19 20:00] callmehiphop commented on #83
I think if the test can take up to several minutes to run, it might not be something we want. Or if we do we might want to conditionally run it based on an env. var or similar.

@stephenplusplus WDYT?

[2018-03-19 20:03] #88 closed

[2018-03-19 20:06] callmehiphop commented on #88
@jamessharp I merged a pr (#99) that should help cut down on the number of duplicates. However it doesn't appear to completely fix the issue. I'm going to continue to monitor this and any new info can be tracked via https://github.com/googleapis/nodejs-pubsub/issues/83. Thanks again for opening this issue and testing our changes!

[2018-03-20 12:49] stephenplusplus commented on #83
I think it's okay to open the PR, even if we don't merge it. It would be helpful to see a reproduction test case that we can all run.

[2018-03-20 22:14] callmehiphop commented on #93
I'm going to close this since the original issue has since been resolved in the latest release.

[2018-03-20 22:14] #93 closed

[2018-03-20 22:16] callmehiphop commented on #68
@ctavan have you been experiencing this issue lately?

[2018-03-21 16:03] muryginm commented on #83
I will do it within a couple of days when I have time for it

[2018-03-21 16:45] ctavan commented on #68
I'm currently out of office. I'll try to reproduce as soon as possible, but it might take me a few more days.

[2018-03-21 18:21] callmehiphop commented on #68
No worries!

On Thu, Mar 22, 2018, 5:45 AM Christoph Tavan <notifications@github.com>
wrote:

[2018-03-23 16:15] toots opened #105 "Documented ackDeadline configuration does not work"
Hi,

I'm testing the code documented at: https://cloud.google.com/nodejs/docs/reference/pubsub/0.16.x/Topic#createSubscription

Here's my test code:
[code]

Once executed, I can see the new subscription but its `ackDealine` is `10` seconds.

[2018-03-23 17:28] domparry commented on #27
Just for anyone else that might find this thread.

We have recently had this issue, and I resolved it by having a new `instance` of pubsub for each subscription that we poll in our app. We had around 5 working on a single `instance`, but when we added a sixth we started to get the `Received a GOAWAY with error code ENHANCE_YOUR_CALM and debug data equal to "too_many_pings"` errors.

[2018-03-23 19:26] toots opened #106 "Keep receiving messages while processing"
There does not seem to be a way to receive multiple messages in a subscription handler while processing one. If one doesn't `ack` or `nack` the last message then no more are delivered but in a reasonable use case, one should be able to process `n` messages according to the scaling capacities of the processing system and then start `nack`ing following messages while the first `n` messages are being

[2018-03-23 19:30] toots commented on #106
Code example:
[code]
This will result in handling only one message at a time, which isn't what was expected.

[2018-03-23 19:34] toots commented on #106
This use-case should be possible according to the underlying API so this appears to be a limitation of the node client itself. The objective is to assure implicit message re-queueing for cases where e.g. the processing system has crashed or has been terminated while processing messages, which does happen in auto-scaled distributed systems.

[2018-03-23 19:49] toots commented on #106
Just to make the use-case more clear. The Google cloud platform has auto-scaling capabilities based  on a number of messages pending in a pubsub queue. Without the functionalities above, if last instance `x` starts processing the last `n` messages in the queue but has to acknowledge them right way, this instance may get scaled down while processing its messages, rendering this scaling method usele

[2018-03-24 01:48] callmehiphop commented on #106
@toots you should be able to process as many messages as you like. You can specify the max number of messages to be processed at a given time by setting the flow control options. Only if you hit the `maxMessages` value should you see the behaviour you are describing.

[code]

I attempted to run your code (although my ack deadline was only 10 seconds) and I did not encounter the issue you are descr

[2018-03-24 01:52] callmehiphop commented on #105
Looks like some stale documentation. The [example](https://github.com/googleapis/nodejs-pubsub/blob/master/src/topic.js#L180) has since been fixed. You should be able to set the deadline like so

[code]

[2018-03-24 01:52] #105 closed

[2018-03-25 09:49] lazharichir commented on #22
So confused with the documentation... @kir-titievsky and fellow GitHubbers... I want to publish messages to a topic and have no retries from PubSub if it fails or if there is an error returned. Am I able to set that?

Code is rather straightforward:

[code]

[2018-03-26 17:28] domparry commented on #11
I have also solved this issue by adding grpc 1.7.3 as a dependency.

[2018-03-27 00:04] murgatroid99 commented on #27
We have what we think is a solution that we will publish in a gRPC patch release soon.

[2018-03-27 15:52] toots commented on #105
If I run this code:
[code]
I still see the subscription being created with a 10 sec ack deadline:
<img width="1014" alt="screenshot 2018-03-27 10 46 58" src="https://user-images.githubusercontent.com/871060/37978905-c85b87aa-31ac-11e8-9a72-688f6f55e7f5.png">

[2018-03-27 16:08] toots commented on #105
Okay, my bad, version bump and `ackDeadlineSeconds` does indeed fix it.

[2018-03-27 20:45] toots commented on #106
Yes, this works. I misunderstood the API. Thanks for your response.

[2018-03-27 20:45] #106 closed

[2018-03-27 20:49] callmehiphop commented on #105
@toots no worries! Sorry about the documentation bug

[2018-03-28 03:27] #22 closed

[2018-03-28 08:50] muryginm commented on #83
@callmehiphop I added PR with the issue test. You could use it to get the issue in your environment.

[2018-03-29 06:25] toots opened #115 "Document message auto-leasing, make it optional"
We've been hit very hard by the duplicate messages issues recently reported (#83, #88, #99). I was even more surprised to learn about an un-documented auto-lease feature where message's ack deadline is extended while the processing function is running (#81).

Please, document this feature. Most developper will expect an API client to stick as close as possible to the semantics of the underlying AP

[2018-03-29 07:38] callmehiphop commented on #115
@toots I'm sorry to hear you've run into some issues!

This is a failure on our part and you're absolutely right. I'm going to make this a priority for myself within the next week. I apologise for any confusion the lack of documentation has caused.

This isn't the first time we've seen a request like this. Originally this was implemented at the recommendation of the PubSub team. If you don't mind

[2018-03-29 08:12] tedj commented on #115
I join @toots on making this feature optional for the developer so we can
either change the logic, the issues of duplicates messages affected us a
lot during the previous weeks.

On Thu, Mar 29, 2018 at 11:38 AM Dave Gramlich <notifications@github.com>
wrote:

[2018-03-29 17:48] murgatroid99 commented on #27
We have published gRPC version 1.10.1 with another change that should help with this.

[2018-03-30 03:57] callmehiphop commented on #115
@kir-titievsky @alexander-fenster @jonparrott What are your feelings on allowing users to opt out of auto-leasing? Its been brought up before but usually gets swept under the rug.

Also in regard to better auto-gen docs, I assume this would mean better proto file docs? Would that fall on the API team?

[2018-04-02 14:20] kir-titievsky commented on #115
On auto leasing: yes, we should provide a clear way to configure the max
duration. I think that’s how this is handled in Java. Are there other or
better ways of approaching this?
On Thu, Mar 29, 2018 at 11:57 PM Dave Gramlich <notifications@github.com>
wrote:

--

Kir Titievsky | Product Manager | Google Cloud Pub/Sub

[2018-04-03 13:18] lazharichir commented on #22
the 0.18.0 update was pushed and released on NPM but the docs haven't yet been updated. any idea how this could be done for disabling any retry?

[2018-04-04 10:44] lazharichir commented on #22
@callmehiphop done it and it still retried every second or so

[code]

[2018-04-05 05:12] callmehiphop commented on #22
@lazharichir interesting. It appears to be working fine for me. Can I ask what steps you're following to confirm that the retry is happening?

[2018-04-05 05:58] lazharichir commented on #22
@callmehiphop I actually want the retry **NOT** to happen. I have a Google Cloud Function `A` publishing a message, that has as a subscriber another Function's endpoint `B` as PUSH.

I had a bug in `B` so the Function ended with `connection error` or `crash` and failed. That caused the retry to keep going indefinitely every second or so. I used the `gaxOpts: { retry: null }` and still the same.

[2018-04-06 00:33] Fofofosho opened #118 "Question, a pubsub subscriber that does a http PUSH to a cloud function"
Searching through stackoverflow and other google resources wasn't helping and thought this repo might be a good place to ask my question.

****EDIT****: I created a stackoverflow question for this - https://stackoverflow.com/questions/49696913/google-pubsub-subscriber-that-does-a-http-push-to-a-cloud-function-in-same-proj.   While writing up my question I did find this link - https://stackoverflow

[2018-04-12 00:06] #118 closed

[2018-04-12 04:29] ncjones opened #119 "Subscriber with flow control blocked by unacked messages"
#### Environment details

  - OS: OSX / GKE + Alpine Linux v3.6
  - Node.js version: 8.9.3
  - npm version: 5.5.1
  - `@google-cloud/pubsub` version: 0.16.2

#### Steps to reproduce

  1. Create subscriber with flow control max messages of 1 and a handler that throws an exception.
  2. Send two messages - first message results in error as expected but second message is never handled and first mess

[2018-04-12 21:54] callmehiphop commented on #119
@ncjones this sounds reasonable to me. What if we allowed an (optional) re-delivery time to be passed into nack.

[code]

@stephenplusplus @alexander-fenster any thoughts here?

[2018-04-12 22:16] ncjones commented on #119
@callmehiphop nack with delay would be useful but really I want to make sure that unacked messages get redelivered and don't block the subscriber (it's hard to guarantee message handlers will always explicitly ack or nack a message).

Any idea why unacked messages are blocking my subscriber? Here is how I create my subscribers (handler.handleMessage returns a promise):

[code]

[2018-04-12 22:41] callmehiphop commented on #119
We automatically extend the ack deadline of unacked messages, so if you don't explicitly ack or nack messages they will (in theory) just linger around forever. This can block new messages from being received because the subscriber thinks you are still processing the unacked messages. As the code is today, your best bet is to nack any messages you want redelivered.

[2018-04-13 15:35] ctavan commented on #68
@callmehiphop @kir-titievsky I have finally found the time to check this again.

First of all I re-ran the test using `@google-cloud/pubsub@^0.16.4` and I saw a similar behavior. Just that the duplicates now no longer appeared in strict 15-minute intervals but in more random intervals that were however still strict multiples of 1 minute!

<img width="712" alt="timeseries" src="https://user-images.

[2018-04-13 15:35] #68 closed

[2018-04-13 18:55] callmehiphop commented on #68
@ctavan glad to hear it, thanks for all your help!

[2018-04-17 11:03] glesage commented on #13
I'm unfortunately still seeing this with

 @google-cloud/pubsub@0.18.0
    └─┬ google-gax@0.16.1
      └── grpc@1.10.1

Not sure if it's grpc related but I have got some apps still running out of memory with only a few subscriptions.

[2018-04-18 20:44] glesage commented on #13
Yea for sure, been trying to figure out how to do that in a concise way but it's been a challenge... mostly dealing with this by just giving our pods excessive amounts of memory for now a bit swamped :/

[2018-04-28 00:48] steren opened #121 "pubish() should be able to take a JS object as input"
I wanted to publish a JSON payload to a topic:

Observed:
[code]

Expected:

`
await publisher.publish({ hello : "world" });
`

[2018-04-28 19:36] jasonwilson opened #122 "Duplicate subscription names silently fail"
#### Environment details

  - OS: OSX 10.13.3
  - Node.js version: v8.9.1
  - npm version: 5.6.0
  - `@google-cloud/pubsub` version: 0.18.0

#### Steps to reproduce

1. Create topic `foo`
2. Create topic `bar`
3. Create subscription `quix` on topic `foo`
4. Create subscription `quix` on topic `bar` (this is successful?)

If a subscription name already exists for a topic the client doesn't ensure i

[2018-04-30 15:48] callmehiphop commented on #121
We used to support this, but the PubSub team specifically requested we remove this feature and only accept Buffers. I'm not sure if they still have strong feelings on this subject. @kir-titievsky any thoughts here?

[2018-04-30 15:52] callmehiphop commented on #122
@stephenplusplus I'm not sure on the origin of this code, but it looks like its been around for quite some time. Do you have any insights on why we swallow this error?

[2018-04-30 21:31] kir-titievsky commented on #121
I don't remember why we said this. But I presume that one can have non-json Buffers.

[2018-04-30 21:34] steren commented on #121
To clarify: I am not asking for `.publish()` to only take JS objects, I am asking that when I pass a JS object to `publish()`that is not a buffer, it gets transformed into a buffer for me.

[2018-05-01 12:27] stephenplusplus commented on #121
Here's the origin discussion for anyone that can see it: https://docs.google.com/document/d/12QHQnF7ThXcNnFTOyQgsmygAYk8QiWvPjUfoYs_kKng/edit?disco=AAAABEGnPOE

[2018-05-01 12:31] kir-titievsky commented on #121
Ah. Thanks, Steren. Could you say more on how this addition would help you?
On Mon, Apr 30, 2018 at 5:34 PM Steren <notifications@github.com> wrote:

--

Kir Titievsky | Product Manager | Google Cloud Pub/Sub

[2018-05-01 14:17] steren commented on #121
This would improve the developer experience by simplifying a very common use case. See my first message in this issue to understand the difference.

[2018-05-02 00:06] JamesTheTerry opened #124 "modifyAckDeadline is duplicating messages"
#### Environment details

  - OS: macOS 10.13.4 (High Sierra)
  - Node.js version: 9.11.1
  - npm version: 5.6.0
  - `@google-cloud/pubsub` version: 0.18.0

#### Steps to reproduce

  1. Create a subscriber and topic
  2. Send a message to the topic
  3. Use v1's pull method
  4. modifyAckDeadline of a single message
  5. ack said message a couple seconds later

I'm using Pub/Sub for processes tha

[2018-05-02 14:35] stephenplusplus commented on #124
@callmehiphop -- I believe this is a common report. Do we have an issue or PR that would cover this already? Or is this part of the redesign we're about to go through?

[2018-05-02 15:43] callmehiphop commented on #124
@stephenplusplus I could be wrong, but it sounds like he's using the autogen layer. We don't allow users to use pull or modack within the hand written client.

@JamesTheTerry can you confirm that you're using the autogen layer?

[2018-05-02 15:48] callmehiphop commented on #122
@stephenplusplus we changed it from an http code to a grpc code in the redesign, but it [has exsisted](https://github.com/googleapis/nodejs-pubsub/blame/3ccd21c100ee078ac16c7d097b02f66baac832dd/src/index.js#L691) for much longer than that. I wasn't sure if it had something to do with the old mechanism of automatically creating subscription names or something.

[2018-05-02 15:53] stephenplusplus commented on #122
Found the origin! https://github.com/GoogleCloudPlatform/google-cloud-node/pull/465 by @jonparrott.

We used to have an option, `reuseExisting`. Looks like we removed the option, but not the behavior. We can revert it so that `if (409) return err`, although at this point, that would be a breaking change.

[2018-05-02 17:16] JamesTheTerry commented on #124
@callmehiphop Forgive me, what is the autogen layer? I'm using the v1.SubscriberClient if that helps.

[2018-05-02 17:36] callmehiphop commented on #124
My apologies for not clarifying. We offer 2 different clients - one of which is auto generated and offers bare bones functionality, the other is hand written (on top of the autogen) with some convenience methods/etc. Typically anything with the version prefix/namespace is a reference to the autogen.

@kir-titievsky any idea why we might be seeing re-deliveries here? Could this be a side effect of

[2018-05-03 16:08] glesage commented on #13
I actually found that it was our issue, we had a lot of zombie subscriptions that weren't acking messages anymore causing a chain of issues across our platform

All good (:

[2018-05-25 10:04] mirthlaj opened #131 "Messages are received only sometimes"
#### Environment details

  - OS: Ubuntu
  - Node.js version: 10.2.0
  - npm version: 5.6.0
  - `@google-cloud/pubsub` version: 0.18.0

#### Steps to reproduce

I have a topic named test with a subscribtion alos named test. I created a simple test.js file that looks like this:
[code]

The problem I have is after running this 100 times, only about half of the times the message was logged to the con

[2018-05-25 10:36] mirthlaj commented on #131
After creating a new topic and a new subscription it started to work everytime..
Not sure what was the problem.

[2018-05-28 10:29] steffiisawesome opened #133 "SSL23_GET_SERVER_HELLO:unknown protocol behind proxy"
#### Environment details

  - OS: CentOS Linux release 7.3.1611
  - Node.js version: v9.5.0
  - npm version: 5.6.0
  - `@google-cloud/pubsub` version: 0.18.0

#### Steps to reproduce

  1.
[code]
  2. env variables
[code]

I try to subscribe to a Google PubSub topic behind a corporate http proxy and get the following error:

`
Auth error:Error: write EPROTO 139711176046400:error:140770FC:SSL routi

[2018-05-29 20:12] callmehiphop commented on #11
@AlexandreAWE what version of the PubSub client are you experiencing these issues with?

[2018-05-30 03:25] ftechiesnitin opened #134 "Can't install @google-cloud/pubsub"
Hello Guys,

I am trying to install ``` npm install --save @google-cloud/pubsub ```, but I am facing following issue,

![screen shot 2018-05-30 at 11 13 47 am](https://user-images.githubusercontent.com/11813973/40696906-a05890ec-63fa-11e8-9944-f2b571862ba5.png)

I am using,
- OS: MacOS Sierra v 10.12.6
  - Node.js version: v9.4.0
  - npm version: v6.1.0

Here is the log file,
[code]

[2018-05-30 07:22] AlexandreAWE commented on #11
@callmehiphop i'm using v0.18.0. I have fixed this issue by looping every 15 minutes and restarting the subscription

[2018-05-30 17:00] jinwoo commented on #134
This seems to be https://github.com/npm/npm/issues/20809. I think npm has been suffering from issues like this recently.

[2018-05-30 17:53] walshie4 commented on #134
Yeah was getting this exact error yesterday, it's from their recent incident (which appears to still be happening sometimes) https://status.npmjs.org/incidents/238t55n6f03f

[2018-05-30 22:20] danoscarmike commented on #131
Hi @mirthlaj have you experienced the same behavior again or all running smoothly now?

[2018-05-30 22:27] danoscarmike commented on #134
@ftechiesnitin npmjs.org now reporting this as resolved (updated as of 2 hours ago 20:25UTC).  Can you confirm if it's working for you?

[2018-05-30 22:28] JamesTheTerry commented on #124
@danoscarmike I stopped using it and built a small load balancer instead, which works out better for me given that my tasks take like an hour sometimes.

[2018-05-30 22:28] danoscarmike commented on #133
@steffiisawesome thanks for the logging the issue.  @stephenplusplus can you please take a look?

[2018-05-31 02:52] ftechiesnitin commented on #134
@danoscarmike thanks, guys. Issue resolved. I can install google-cloud/pubsub now.

[2018-05-31 02:52] #134 closed

[2018-05-31 08:40] mirthlaj commented on #131
I restarted testing after reading your question and the same thing started happening again. Its like after a while it starts eating messages.
Have there been any similar issues?

[2018-06-01 00:56] rdlowrey commented on #134
FWIW, this bug started recurring for me in the past hour.

[2018-06-08 14:46] sanssucre opened #140 "Connection drop detection"
Seems that there is no easy way to monitor the validity of the subscription's connection pool.

#### Environment details

  - OS: OSX
  - Node.js version: 8.10.0
  - npm version: 5.6.0
  - `@google-cloud/pubsub` version: ^0.18.0

#### Steps to reproduce

  1. Start a subscription
  2. unplug the network (all of them)

The subscription remains alive and the connection pool reports all is well event

[2018-06-09 19:36] JustinBeckwith opened #141 "Convert to TypeScript"
Currently blocked on https://github.com/googleapis/gapic-generator/issues/2054

[2018-06-10 21:32] callmehiphop commented on #140
@murgatroid99 is there any easy way to monitor this kind of state change with gRPC?

[2018-06-10 21:56] callmehiphop commented on #131
@mirthlaj is it possible that the message is taking longer than expected to be delivered? e.g. if you do not remove the message handler does the message eventually get delivered?

Also have you tried chaining off of the `publish` call to make sure the message was published successfully?

[code]

[2018-06-10 22:51] murgatroid99 commented on #140
I know that gRPC uses HTTP2 pings to keep the connection alive, and I'm not sure but I think it also ends active requests with an error if too many of those pings are unanswered. I don't recognize the "too many listeners" error from the original question; maybe something is going wrong with handling those errors.

[2018-06-11 11:04] mirthlaj commented on #131
@callmehiphop Yes I tried both but the result is still the same.

[2018-06-14 18:04] yonran commented on #88
As I [commented](https://github.com/GoogleCloudPlatform/google-cloud-java/issues/2465#issuecomment-396760324) on GoogleCloudPlatform/google-cloud-java#2465, The StreamingPull server-side API has a [bug](https://cloud.google.com/pubsub/docs/pull#dealing-with-large-backlogs-of-small-messages) that makes it unusable for topics containing small messages (such as [GCS Object Change Notifications](https

[2018-06-22 21:49] Robula commented on #141
I am really confused, https://github.com/google/google-api-nodejs-client#typescript is written in TypeScript yet it is the _older_ library? All I want to do is pull from pubsub in my App Engine Node app, I'll stick to the older app with the types despite what the documentation advises.

[2018-06-26 21:17] JustinBeckwith opened #151 "Add synth script and update gax-google"

[2018-06-28 21:19] #151 closed

[2018-07-06 20:00] rvillane opened #169 "Error trying to create a topic: Cannot use 'in' operator to search for 'timeout'"
#### Environment details

  - OS:  Darwin Kernel Version 17.6.0
  - Node.js version: 10.0.0
  - npm version: 6.0.1
  - `@google-cloud/pubsub` version: 0.19.0

#### Steps to reproduce

const PubSub = require('@google-cloud/pubsub');
const pubsub = PubSub({
        projectId,
        keyFilename,
});
const topic = pubsub.topic(topicName);
const result = await topic.create(topicName);

##### Error me

[2018-07-06 20:12] rvillane commented on #169
correct syntax is const result = await pubsub.createTopic(topicName);

[2018-07-06 20:12] #169 closed

[2018-07-09 05:16] ak-org opened #170 "latency in message publish to pubsub"
Hi,
     I am using cloud function to publish a message from cloud function to pub/sub service using node.js library.

The package version is as following:

{
  "name": "talk2Slack6",
  "version": "0.8",
   "dependencies": {
    "@google-cloud/pubsub": "^0.19.0"
  }
}

My cloud function received the data in JSON at 20:22:00 PST but reported successful publish to pub/sub topic at 20:23:20 PST. A de

[2018-07-10 20:24] nareddyt opened #177 "Unhelp error message on invalid attributes"
The `publish(message, attributes)` method in the `Publisher` class provides an unhelpful error message when the attributes object is specified _incorrectly_. It seems like the attribute object must only have values that are strings, Buffers, or ArrayBuffers. When the `attributes` is specified incorrectly, the Error in the rejected Promise is not very helpful:

[code]

Note that this error doesn't

[2018-07-12 11:42] pmcnr-hx commented on #170
I've also observed one order of magnitude increase in subscription latencies going from `0.18` to `0.19`. With `0.18` we had highly predictable latencies which we lost when moving to `0.19`. I am pretty sure there was a regression somewhere in this regard. We had to pin `0.18` in our dependencies since we require low predictable latencies.

[2018-07-12 22:50] nareddyt opened #179 "Missing return statement in Publisher Docs"
On the [official docs page](https://cloud.google.com/nodejs/docs/reference/pubsub/0.18.x/Publisher), the function signature for the Publisher's constructor is:

[code]

but it should be:

[code]

I'll make a quick PR for this.

[2018-07-13 04:34] shinzui commented on #8
Why is this closed? How does stackdriver get access to that information if the API does not exist?

[2018-07-13 16:18] #179 closed

[2018-07-13 22:34] davidtom opened #181 "Monitor and Flush a Batch Publisher Queue"
Are there any methods or strategies that can be used to monitor the size of of a batch publisher's queue and flush it on demand?

I am building a service using the batch publisher and would like to set up some metrics and alerts on the queue size. In addition, I'd like to be able to flush the queue on demand in response to certain lifecycle events (ie SIGTERM).

I’ve read through the docs and exam

[2018-07-16 22:46] nareddyt commented on #177
Sounds good, I'll make a PR. I'm leaning towards including type checking just because the error isn't very helpful. I'll decide soon!

[2018-07-20 17:35] walshie4 commented on #181
You should be able to just peek inside the publisher via `publisher.inventory_`

https://github.com/googleapis/nodejs-pubsub/blob/222b6e3ad5279e49b92af370ad6fa3933ccb5c15/src/publisher.js#L81

[2018-07-23 20:49] davidtom commented on #181
@walshie4 That does look like it should work! Not sure how I missed that when reviewing the module, but thank you for pointing it out to me.

@callmehiphop It does indeed. For now I may be able to get what I need by using `_inventory`, but if/when I need to add a `flush` method I'll absolutely open a PR. I would love to contribute to this project.

I'll close this issue given I've got no further q

[2018-07-23 20:49] #181 closed

[2018-07-24 23:07] stephenplusplus commented on #133
This seems like a possible duplicate of https://github.com/googleapis/nodejs-storage/issues/277, in that proxy problems all lead to an issue in one dependency. Please follow along there for some discussion that might be useful.

[2018-07-25 19:34] callmehiphop commented on #170
@stephenplusplus I haven't been keeping up with Cloud Functions, but we've seen a lot of latency issues there, do you think this is related?

[2018-07-26 15:08] nareddyt commented on #177
Hey, just checking in. Could you take a look at my PR when you get a chance? Thanks @stephenplusplus!

[2018-07-30 11:32] marcusnielsen commented on #121
I'd love for it to be another method name for such a function, like `.publishJson()`.
Having the same method do multiple things and then sending it over the wire makes things harder to debug when someone sends in the wrong argument. And not even typescript will help in this case since any object shape will be allowed.

[2018-07-30 15:18] stephenplusplus commented on #170
It could be, however, it sounds likes 0.19 could have introduced a regression. Are there any commits you think that could have been a factor?

[2018-07-31 13:30] #177 closed

[2018-08-03 02:48] joseph-lum commented on #22
Hi, I was having some issues with what I think was caused by pubsub retrying requests, and chanced upon this fix. It seemed to be when internet connectivity was intermittent, occasionally Pubsub seemed to have published the same message twice, resulting in some unintended errors downstream.

However, I tried the following: when I turned off the Wifi of the device (to make the request fail) for a w

[2018-08-03 02:55] joseph-lum commented on #22
Hi, I was having some issues with what I think was caused by pubsub retrying requests, and chanced upon this fix. It seemed to be when internet connectivity was intermittent, occasionally Pubsub seemed to have published the same message twice, resulting in some unintended errors downstream.

However, I tried the following: when I turned off the Wifi of the device (to make the request fail) for a w

[2018-08-06 04:25] JustinBeckwith opened #201 "Drop dependency on @google-cloud/common"
After #200 lands, the only thing left should be to replace `util.noop`

[2018-08-06 04:26] JustinBeckwith opened #202 "Move from `var` to `let` and `const`"

[2018-08-10 15:14] JustinBeckwith commented on #201
Fixed in #210

[2018-08-10 15:14] #201 closed

[2018-08-10 15:15] JustinBeckwith commented on #202
Fixed in #204

[2018-08-10 15:15] #202 closed

[2018-08-10 15:38] jamesholcomb commented on #73
I'm experiencing a similar problem in 0.18.0 that I don't understand.  The Undelivered Message count in Stack Driver continues to grow even though the subscriber is ack() messages.  It's a single publisher, single subscriber configuration.

I tried deleting the subscription as a last resort, but the behavior repeats.

Should I open a new issue?

[2018-08-10 15:49] kir-titievsky commented on #73
Yes please. Knowing the project, subscription and timing details is
critical to debug something like this.

On Fri, Aug 10, 2018 at 11:39 AM James Holcomb <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-08-13 09:19] marcusnielsen commented on #122
Adding a use case for clarity:

Creating the same subscription `quix` on the same topic `foo` more than once should not fail after a fix have been made.

[2018-08-13 17:22] mgabeler-lee-6rs opened #212 "Subscriber/Subscription.close does not support promises"
#### Environment details

  - OS: Linux
  - Node.js version: 7.5.0
  - npm version: 6.3.0
  - `@google-cloud/pubsub` version: 0.19.0

#### Steps to reproduce

  1. Call `subscription.close()` without a callback argument
  2. Expect to receive a promise per documentation
  3. No promise is returned

UTSL: The code for the Subscription class calls `promisifyAll` on its members, but `Subscriber`, whe

[2018-08-14 16:52] stephenplusplus commented on #212
Thanks for reporting!

@callmehiphop - I can't find this method in the [public-facing docs](https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/Subscription). Is this intended to be a public method?

P.S. What's "UTSL"?

[2018-08-14 16:59] stephenplusplus commented on #122
I'm still a bit confused about the scenario reported in the first post. Would anyone be able to do an ELI5 on that for me?

[2018-08-14 17:01] mgabeler-lee-6rs commented on #212
[Use The Source, Luke!](http://www.catb.org/jargon/html/U/UTSL.html)

[2018-08-15 16:58] jasonwilson commented on #122
@stephenplusplus the client will seemingly allow the user to create two subscriptions that share the same name on different topics. Underneath the hood the client is saying "I've already got this resource you're good to go!" but the topic doesn't necessarily match what was passed into `createSubscription`.

[2018-08-15 17:15] stephenplusplus commented on #122
Could you show code that demonstrates the issue?

[2018-08-15 17:50] kevinmstephens opened #214 "Allow synchronous pull in nodejs client"
We are experiencing what is described in "Dealing with large backlogs of small messages" section of this doc https://cloud.google.com/pubsub/docs/pull#synchronous-pull.

Many small messages don't get redistributed to new subscribers that are brought online and the original subscriber creates a bottleneck for getting through a large set of messages.

We would like to work around this by using synch

[2018-08-15 18:56] jasonwilson commented on #122
[code]

[2018-08-15 19:05] stephenplusplus commented on #122
Thanks! In Pub/Sub, is it not possible to have a subscription with the same name on two
topics? In an attempt to convert this scenario to the Storage library, it sounds like this is the same as if I had a file with the same name in two buckets (which is allowed).

[2018-08-15 19:11] jasonwilson commented on #122
Exactly- from what I've observed subscription names are unique across all topics. In the above scenario the client is swallowing the duplicate resource error and returning the existing subscription which makes you think the call was successful.

[2018-08-15 19:16] stephenplusplus commented on #122
The resource name of a subscription is unique, because its full name is a "path", like `projects/{projectId}/topics/{topic}/subscriptions/{subscription}`. So when you insert a different `{topic}`, there isn't actually a conflict.

I ran the code you provided, and it exited successfully. To me, that is expected. Those topics should have been created without an error.

When I ran it again, it errore

[2018-08-15 19:17] jasonwilson commented on #122
The error isn't on the topic but the subscription.

[2018-08-15 19:18] stephenplusplus commented on #122
Could you elaborate?

[2018-08-15 19:19] stephenplusplus commented on #122
If you see a place where my line of thinking went wrong from my previous comment(s), please correct me!

[2018-08-15 20:09] jasonwilson commented on #122
Apologies for the terse response! Here's a more detailed example illustrating the issue. From what I can tell subscriptions are unique by name (not topic). After running the code below I don't see an additional subscription for the second topic in the console.

From cloud console:
Subscription:
`projects/someProject/subscriptions/quix`
Topic:
`projects/someProject/subscriptions/foo`

[code]

Outpu

[2018-08-16 17:32] callmehiphop commented on #212
@stephenplusplus it is, I think when I moved the Subscriber code into a separate class it got lost. So my take away is that we need to promisify the Subscriber object and include a JSDoc tag to make `close` (and any other public method) show up on the docs.

[2018-08-22 16:03] stephenplusplus commented on #214
Thanks for the issue!

@callmehiphop was this something the team originally asked us to remove? Is there a reason we cannot support this?

[2018-08-24 16:21] JustinBeckwith opened #219 "Fix the nightly tests"
The nightly tests are currently failing:
https://circleci.com/gh/googleapis/workflows/nodejs-pubsub

[2018-08-27 17:58] #214 closed

[2018-08-27 19:12] seriallos opened #222 "Single Message per Worker Default Configuration Issue"
When trying to handle a single message at a time on a subscriber (flowControl.maxMessages = 1), the default maxConnections configuration results in confusing and unbalanced processing.

My use case is that I'm trying to migrate away from Kue (a job processor using Redis) onto PubSub. My application runs CPU-intensive jobs that can take minutes to run and requires pretty fast pick up of new work (I

[2018-08-30 23:00] #219 closed

[2018-08-31 00:07] #122 closed

[2018-09-03 08:20] ctavan opened #238 "Oldest Unacknowledged Message up to 7 days!"
TL;DR: #73 seems to be back since Aug 11, 2018.

#### Environment details

OS: Kubernetes Engine (1.10.2-gke.3)
Node.js version: 10.6.0
npm version: –
@google-cloud/pubsub version: 0.18.0

#### Steps to reproduce

See #73

Since Aug 11, 2018 we're seeing the same issue as described in #73 again. Reappearance of the issue doesn't coincide with any code changes on our end: During the phase where the

[2018-09-03 14:15] ctavan opened #240 "Streaming pull regression in v0.19.0"
#### Environment details

  - `@google-cloud/pubsub` version: 0.19.0

#### Steps to reproduce

I believe that #147 has introduced a regression with respect to 0.18.0 of the library concerning the use streaming pull acknowledge requests.

I'm using a simple pubsub subscriber. With v0.18.0 it was reading messages using a streaming pull connection and ack/nack requests were also sent over that stream

[2018-09-04 19:44] callmehiphop commented on #240
We received a request (I believe by the PubSub team) to use ordinary acks moving forward. Is your deadline error being triggered by ack requests? By any chance do you know how many ack ids are being sent when you receive that error?

[2018-09-04 19:49] ctavan commented on #240
@callmehiphop ok, understood. Wasn't aware of that information.

The errors are thrown from the `modifyAckDeadline_()` method:

https://github.com/googleapis/nodejs-pubsub/blob/30ac556bbf984d2baf20a30dc3ee6014167a66e1/src/subscriber.js#L328-L349

I don't know the number of ack ids. It should be pretty low (<100) though. I can try to add more debugging output and re-run the code in the environment

[2018-09-04 22:51] kir-titievsky commented on #238
I don’t believe so.  This does not look like a client bug. If you have a
support contract with GCP, please submit a support case as soon as you can.

On Mon, Sep 3, 2018 at 4:20 AM Christoph Tavan <notifications@github.com>
wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-09-05 07:52] ctavan commented on #238
@kir-titievsky unfortunately I currently only have "Bronze" support, so no way of opening an issue.

Last time (when we still had Gold support) we created a support issue for #73 but never received a response.

Any other way to resolve this issue?

[2018-09-05 12:47] marcusnielsen opened #243 "this.keepAliveHandle.unref is not a function"
I just got the following exception in my integration tests:
[code]
I tried to remove the row that threw the error, and nothing crashes. I can publish and subscribe to pubsub as expected.

I opened a PR to help the discussion: https://github.com/googleapis/nodejs-pubsub/pull/242
Looking at the code, the `this.keepAliveHandle.unref()` call doesn't make sense to me as the code will be `15.unref()` (o

[2018-09-06 12:45] ofavre opened #244 "Where is 0.20.0? (and 0.19.1)"
https://github.com/googleapis/nodejs-pubsub/releases shows the two month old 0.19.0 and the seven days old 0.19.1 versions.
https://www.npmjs.com/package/@google-cloud/pubsub only shows 0.19.0 but display it as updated seven days ago.
Did you forget to run `npm publish`?
Is the 0.20.0 truly out? How can I get it?

[2018-09-06 12:48] ofavre commented on #244
Maybe it's because the tests failed.

[2018-09-07 17:53] felimartina commented on #177
Ohhh gosh!!! it took me like an hour trying to figure out where the problem actually was. Thanks God I came across this issue soon enough.

[2018-09-07 21:46] jganetsk opened #245 "API response objects shouldn't use arrays to represent structured data"
https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/global

Many response types are arrays rather than objects. For example: CreateTopicResponse is an array of size 2 where the first element is a Topic and the second element is "The full API response"

These should be members of an object rather than elements of array.

[2018-09-07 21:51] jganetsk opened #246 "Publisher class is incomplete"
https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/Publisher
Publisher has 1 method: publish (which supports batching)

https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/v1.PublisherClient
v1.Publisher client has over a dozen methods, including publish (which does not support batching)

Can these APIs be combined? It would be ideal if v1.PublisherClient's publish method just s

[2018-09-07 22:01] jganetsk opened #247 "Many ways to construct a Subscription without specifying message receipt options"
The Subscription constructor takes an important options argument for configuring the receipt of messages: aka batching/flow control

https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/Subscription#Subscription

But there are many ways to get a Subscription object without having the ability to specify these options:
https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/v1.Subscribe

[2018-09-07 22:04] jganetsk opened #248 "What's the point of Subscription.get()?"
https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/Subscription#get

Subscription.get() returns a Subscription object. Why would I need to call get() on a Subscription object to get a Subscription object when I already have a Subscription object?

[2018-09-10 15:06] stephenplusplus commented on #248
It populates the `metadata` property with the remote description of the object. It's also useful for the `{ autoCreate: Boolean }` option. The method, along with `exists()`, `getMetadata()`, and `setMetadata()` is consistent across all of the nodejs-* libs.

History and context: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/862#issuecomment-141784935

@theacodes you marked as `re

[2018-09-10 15:16] jganetsk commented on #248
Seems confusing to me. How do you intend people to use this? With code like...

`var subscription = ...;
subscription = (await subscription.get())[0];`

How would they know whether they needed to call get()?

It seems more appropriate to have a method called getSubscription, something like

`var subscription = PubSub.getSubscription();`

[2018-09-10 15:51] theacodes commented on #248
This is feedback from the reviewing pub/sub engineer, we need to "resolve" it before we can do 1.0. :)

[2018-09-10 16:00] stephenplusplus commented on #248
I think the most common way to use a Subscription object would be to get a reference to one:

[code]

I don't think they ever *need* to call `get()`-- it's a convenience method. If their application is uncertain if the subscription exists, `get({ autoCreate: true })` could be useful, so their application can just get a subscription and move on. Ignoring the `autoCreate` feature, using `subscriptio

[2018-09-10 16:10] jganetsk commented on #248
I should note that auto-creating a subscription is not a common Pub/Sub use case. Subscriptions hold data. If the user is uncertain about whether their subscription exists, creating a subscription doesn't get their data back for them.

A good analogy is that of using a database. If you want to query a database table, you should be sure the database table already exists. If you auto-create a table,

[2018-09-10 16:15] stephenplusplus commented on #248
But, would it receive future messages?

This is familiar to the discussion about if the client library or API should auto-generate names for subscriptions, so that users can start listening for new messages as quickly as possible.

[2018-09-10 16:29] stephenplusplus commented on #248
The other libs have `get({autoCreate})`. Here are a few examples:

- Bigtable Family: https://github.com/googleapis/nodejs-bigtable/blob/09e0b5c09b97fb3672decf29e3c7969545c88247/src/family.js#L264
- BigQuery Dataset: https://github.com/googleapis/nodejs-bigquery/blob/ba39ed2604d92f770d55eeb36487803e8f698aab/src/dataset.ts#L106
- Compute Engine Instance: https://github.com/googleapis/nodejs-compute

[2018-09-10 16:49] jganetsk commented on #248
Of course. "Listening for new messages since the last message my subscriber processed" is very much a pattern. "Listening for new messages since the subscriber restarted" is very much an anti-pattern and our users will be unhappy.

In other words, let's say I'm running a subscriber on my laptop. I reboot my laptop, and it takes 5 minutes to reboot. Those 5 minutes of messages would be lost if I cr

[2018-09-10 17:03] stephenplusplus commented on #248
This is a great description that helps me understand your view a lot. So, thanks! I think I would agree that if the user knows the name of a subscription, they should know if it exists. And if they're just trying to create a subscription, that should be done through our methods that handle that explicitly.

That's something we don't do silently, in that the user has to set `autoCreate: true` manua

[2018-09-10 17:18] jganetsk commented on #248
I don't think we have autoCreate functionality in the Pub/Sub client libraries of other languages.

Moving back to the original discussion, I think `subscription.get` is confusing. It is just odd that you call `get` on a Subscription object to get a Subscription object. You already have a Subscription object, why do you need another Subscription object? Isn't there a chicken-and-egg problem here?

[2018-09-10 17:42] stephenplusplus commented on #248
It all started back in 2015 after a request by @jgeewax, who at the time, was the most involved in our development. I'm not sure how far he cast that suggestion or why it only hit Node, if it did.

The utility in `get()` is that it gives you `autoCreate`. Without it, it's not very useful, other than it will ping the API to get and populate the `metadata` property on the instance. We have always ha

[2018-09-10 18:28] jganetsk commented on #248
I will repeat what I said earlier, which you did not address with your comment:

There are other ways to make subscription objects, like the constructor: https://cloud.google.com/nodejs/docs/reference/pubsub/0.19.x/Subscription#constructor_1

So you can expose autoCreate there. Make it a constructor option. There's no fundamental reason why `subscription.get()` is necessary. autoCreate can be an o

[2018-09-10 18:32] stephenplusplus commented on #248
That way is `var subscription = pubsub.subscription()`. That's *the* way. `pubsub.subscription().get(callback)` is a way to use `autoCreate` and populate the `metadata`.

[2018-09-10 18:39] stephenplusplus commented on #248
... accidental click on "Close and comment".

Continuing...

That's actually not supported. Subscriptions must be created through `pubsub.subscription()`. I suppose a user could figure out how to do that, but it's not the intended way to use it. That's a byproduct of the JSDocs-style documentation, where each class gets its own page, and the constructor is a publicly-documented place to put an int

[2018-09-10 19:48] theacodes commented on #248
Okay, I spent a few minutes reading over this thread and the code itself.

It seems to me (and please correct me if I'm mistaken) that this is a remnant of our previous *resource-class oriented* design, and the new client takes on more of a *rpc-method oriented* design.

For example, resource-class stuff looks like this:

[code]

vs rpc-method:

[code]

It seems to me that everything *except* `sub

[2018-09-10 19:50] theacodes commented on #248
Fwiw, this is the approach the Python client takes. It does *not* conflate the subscription "data" with the "eventemitter" that constitutes opening a streaming pull on the subscription. The latter is a distinct action (`subscribe`).

[2018-09-10 20:13] stephenplusplus commented on #248
I'll be honest, those terms are new to me, but we've always been structured like this:

PubSub
\- > Topic
\- - > Subscription

Subscriptions can be accessed without a Topic, however, so we have:

PubSub
\- > Subscription

To create a subscription:

[code]

To reference a subscription:

[code]

And to use the Subscription:

[code]

A long time ago, in a not-strictly PubSub-related conversation, it

[2018-09-10 20:15] theacodes commented on #248
I'm not understanding why we need "subscription" and "topic" classes at this point. They should be POD types.

[2018-09-10 20:18] stephenplusplus commented on #248
I believe to contain their respective functionality.

A few from `Subscription`: `subscription.modifyPushConfig()`, `subscription.seek()`, `subscription.setMetadata()`.

A few from `Topic`: `topic.getSubscriptions()`, `topic.getMetadata()`, `topic.createSubscription()`.

[2018-09-10 23:14] kinwa91 opened #250 "Fix samples test failure: Cannot use \'in\' operator to search for \'timeout\' in nodejs-docs-samples-te.."
https://circleci.com/gh/googleapis/nodejs-pubsub/5262

Several samples tests started failing on nightly builds with the same error:

![screen shot 2018-09-10 at 4 13 46 pm](https://user-images.githubusercontent.com/4001432/45329299-91822900-b514-11e8-90df-762e4cccb2be.png)

[2018-09-11 01:55] #250 closed

[2018-09-11 16:35] AVVS commented on #244
Still missing from npm, though there is already a git release

[2018-09-11 16:39] JustinBeckwith commented on #244
@kinwa91 can you prioritize this today?

[2018-09-11 18:27] kinwa91 commented on #244
Sorry! Our tests failed when trying to release 0.20.0, but here it is now:
https://www.npmjs.com/package/@google-cloud/pubsub/v/0.20.0

For 0.19.x, I am suspecting `npmjs.com` is showing a cached version or something - I can see 0.19.1 is published 12 days ago. I also double checked `npm install @google-cloud/pubsub@0.19.1` works on my machine.

[2018-09-12 12:06] stephenplusplus commented on #245
We have an issue for this, discussing what to do for all of our libraries: https://github.com/GoogleCloudPlatform/google-cloud-node/issues/2556

[2018-09-12 16:30] jganetsk commented on #248
You suggest:

[code]

Why not just have a method called `createIfNotExists`? Isn't that clearer than `get`?

[2018-09-12 16:42] stephenplusplus commented on #248
I don't mind the "get" / "get no matter what" (autocreate) naming philosophy. It's been around for 3 years, and I can't speak for the users who have this written into their applications and are getting along just fine (...or the ones who don't use it and/or don't like it). Since this is in all of the APIs we support, if you feel strongly this needs to be re-considered, we should probably move the

[2018-09-12 18:28] jganetsk commented on #248
I don't have a problem with `get()` in general. It just seems obvious to me that an API shouldn't have a getter that returns an object of the same type as `this`.

Can you point me at APIs that do this, in the wild? Like does the string class in any programming language you know have a method called `get()` that returns a value of string type? Usually `get()` methods exist on types that are boxes

[2018-09-12 18:46] stephenplusplus commented on #248
I opened up https://github.com/googleapis/nodejs-common/issues/234 to try to sum up where we're at, and seek more feedback. Feel free to add anything.

[2018-09-12 18:50] jganetsk commented on #248
Ok, this is the lowest priority of the 4 issues I reported. This is a style issue, and I ultimately defer to you and Thea on this.

[2018-09-12 18:52] stephenplusplus commented on #248
Do you think we should remove the auto-create functionality of a Subscription (Topic, as well?)

[2018-09-12 19:00] jganetsk commented on #248
I think it's fine to leave auto-create in there as long as it's non-default. We should make sure the documentation is clear that creating a new subscription means not receiving any messages published prior to creation. And if user's intention is to resume from where they left off last, they should beware using auto-create.

[2018-09-13 04:46] JustinBeckwith commented on #245
👋 We're going to track this up at the master issue for now, and take this on as part of a larger all-up effort across all libraries in Q4.

[2018-09-13 04:46] #245 closed

[2018-09-13 15:40] vIceBerg opened #253 "message.ack() not alway's working"
Thanks for stopping by to let us know something could be better!

Please run down the following list and make sure you've tried the usual "quick
fixes":

  - Search the issues already opened: https://github.com/googleapis/nodejs-pubsub/issues
  - Search the issues on our "catch-all" repository: https://github.com/GoogleCloudPlatform/google-cloud-node
  - Search StackOverflow: http://stackoverflow.

[2018-09-13 19:45] vIceBerg commented on #253
I know that it`s "at-least-once" delivery, but I find 20% re-delivery to be huge

[2018-09-14 23:22] mgabeler-lee-6rs opened #255 "Should be possible to nack a message for delayed redelivery"
#### Environment details

  - OS: any
  - Node.js version: any
  - npm version: any
  - `@google-cloud/pubsub` version: current

#### Steps to reproduce

  1. Receive a message
  2. Decide that the message cannot be processed yet
  3. Don't want to block flow control by delaying before `nack`ing
  4. Find yourself frustrated

This is something I'd been looking for for my application, but also came

[2018-09-18 21:13] callmehiphop commented on #246
@jganetsk what if we were to just have our Topic class extend the Publisher instead? Most of the v1.PublisherClient functionality already exists on the Topic object and I believe this is where the publishing functionality lived prior to our last major refactor.

[2018-09-19 16:05] jganetsk commented on #246
I think I would need more details about what you are proposing to make a judgement, but sounds plausible. @theacodes What do you think?

[2018-09-20 16:40] callmehiphop commented on #253
@vIceBerg have you tried messing with the batching option at all? By default we buffer acks for 100ms. I suspect lowering this value might reduce the number of duplicates you see.

[code]

[2018-09-20 16:43] callmehiphop commented on #247
This seems reasonable to me. @stephenplusplus @jmdobry do you have any feelings here?

[2018-09-20 17:09] vIceBerg commented on #253
Hi!

I should lower the value ou higher it?

As I understand it, I should higher the value to give more my process more time to ack it.. isn’t it?

Envoyé de mon iPhone. Il se peut que ce message soit bref.

[2018-09-21 07:08] marcusnielsen commented on #243
Any progress on this?

[2018-09-29 13:38] stephenplusplus commented on #247
I would rather keep things the way they are, in that a `Subscription` is ready to emit messages whenever the user is. Another way we thought to solve this was adding a `setOptions()` (better name welcome): https://github.com/googleapis/nodejs-pubsub/issues/12

[2018-09-30 22:03] stephenplusplus commented on #131
@callmehiphop you're probably better off handling this, given your understanding of the wires that run through this library. Feel free to pass it back if you have any leads I can follow.

[2018-10-03 20:30] adrianodennanni opened #277 "Auto reestablish StreamingPull connection after retryable error events"
#### Environment details

  - OS: Debian GNU/Linux 8 (jessie)
  - Node.js version: 11.10
  - npm version: v10.11.0
  - `@google-cloud/pubsub` version: 0.20.1

#### Steps to reproduce

1. Create a StreamingPull listener:
[code]

2. Works fine for few minutes until the server becomes UNAVAILABE (error 14, code 8a75). After that, the stream stops receiving events.

---

I know that some of the error

[2018-10-04 01:33] ide commented on #253
Reading the code, it looks like this library overrides the ack deadline set on the Subscription when it was created and attempts to indefinitely renew the ack deadline for each message until it is ack'd or nack'd.

The StreamingPull method requires an ack deadline, hardcoded to 10 seconds in this library. Then for each message, this library sets the ack deadline to the 99th percentile of ack times

[2018-10-04 01:38] ide commented on #243
Node's `setInterval` returns a Timeout instance, which defines `unref`: https://nodejs.org/api/timers.html#timers_timeout_unref. If `setInterval` is returning a plain number instead of a Timeout instance, perhaps there's some other code that is overriding `setInterval` (this seems particularly likely if you're using a mocking library in your tests)?

[2018-10-04 07:48] frenkelor commented on #118
@lazharichir Is your solution still working?
I'm getting the same error after i verified the function domain

[2018-10-04 08:28] lazharichir commented on #118
Yes, I did it for a new pubsub and GCF yesterday or two days ago and it worked (verify the domain on Search Console, then add to the GCP Domain verification list, and then I can push).

Make sure you use the GCF url with a slash at the end when you create the PUSH subscription as `https://.../name-of-function/`

[2018-10-04 09:54] frenkelor commented on #118
`https://.../name-of-function/`
That was the issue thank you! @lazharichir

[2018-10-04 16:34] Legogris opened #279 "Publisher not pushing immediately when single message is larger than maxBytes"
Publisher immediately publishes a message that is exactly equal to `maxBytes`. Is there any particular reason why this is only done when there is an exact match (and then queued for sending later any way) rather than when it's bigger or equal?

I have a PR ready for this.

#### Environment details
  - OS: NixOS / ubuntu
  - Node.js version: v8.11.3
  - npm version: 5.6.0
  - `@google-cloud/pubsub`

[2018-10-04 16:47] Legogris opened #280 "Publisher attempts pushing empty payload when first message published larger than maxBytes"
Even if all our messages seemed to be publishing successfully and our logs looked fine, but every now and then we were seeing instances of `INVALID_ARGUMENT` for publish requests Stack Driver.
After a lot of digging it turned out that if a single message hits `maxBytes`, the publisher will attempt to publish queued messages, even if there are no queued messages.

This was made worse by the fact th

[2018-10-05 14:01] marcusnielsen commented on #243
@ide All the love to you! We have removed our integration code right now, but it explains why our tests failed when it seemed to work well in our development environment.

To reproduce this issue outside of pubsub, just write a test in `jest` where you call `unref()`, and it will fail. I'm so happy to finally close this issue after spending lots time trying to reproduce the error.

[2018-10-05 14:01] #243 closed

[2018-10-05 14:16] marcusnielsen commented on #243
_(You should set jest to `testEnvironment: 'node'`, which our integration test config did not have, but our unit tests had.)_

[2018-10-10 15:48] #279 closed

[2018-10-10 15:55] callmehiphop commented on #280
Closing per #281. Thanks again @Legogris!

[2018-10-10 15:55] #280 closed

[2018-10-10 23:03] #212 closed

[2018-10-11 07:44] villeodell commented on #141
In the meantime is there a recommended way to import and use @google-cloud/pubsub with TypeScript?

I'm using typescript definitions from [@types/google-cloud__pubsub](https://www.npmjs.com/package/@google-cloud/pubsub)

Below makes ts complain -
"Only a void function can be called with the 'new' keyword."
"New expression whose target lacks a construct signature, implicitly has 'any' type.
[code]

[2018-10-17 04:09] binarytracer opened #288 "running pm2 spikes cpu and memory"
using with
[code]

file: **subscription.js**
[code]

running this in pm2 initially

first
![start-1](https://user-images.githubusercontent.com/8814442/47061677-1abc0800-d205-11e8-81b6-bba8cde29632.png)

second
![second](https://user-images.githubusercontent.com/8814442/47061716-4e972d80-d205-11e8-9f2d-e104ec345f3e.png)

third
![third](https://user-images.githubusercontent.com/8814442/47061754-7555

[2018-10-22 22:20] mattxgreen commented on #255
I had this issue as well, but just add a delay to the nack, and increase concurrency. :/

[2018-10-22 23:01] mgabeler-lee-6rs commented on #255
That's basically what we're doing now, but it does not scale well, at all.

[2018-10-29 06:01] binarytracer commented on #288
@JustinBeckwith, hold your horses. :D, in version v.0.19.x the cpu is behaving smoothly.

It appears the v0.20x. is not sending 'message' event to the publishers, but confirmed to work on 0.18 and 0.19. Or do i have to create another issue for this one?

[2018-11-01 13:26] ils-sapnaj opened #308 "Error: keys that don't end with '-bin' must have String values"
#### Environment details

  - OS: windows 10
  - Node.js version: 6.11.2
  - npm version: 3.10.10
  - `@google-cloud/pubsub` version: 0.20.1

#### Steps to reproduce
Here is my package.json

[code]

Here is code which to create a topic :

[code]

After calling this function in your route to add any topic, I am getting following errors :

[code]

Please help me to sort it out.

[2018-11-02 05:19] JustinBeckwith opened #311 "re-enable `gts check` and linting"
The work here is to get `npx gts fix` passing.  Then the `lint` command should do a `gts check`, and the `fix` command should do a `gts fix`.  This will be a very large change, so it's ok to do it in small chunks.

[2018-11-02 05:20] JustinBeckwith opened #312 "Enable noImplicitThis in the tsconfig"

[2018-11-02 05:21] JustinBeckwith opened #313 "Enable noImplicitAny in the tsconfig"
The goal here is to provide perfect TypeScript types for customers using the module.  Generally when doing this work I like to:

1. enable `noImplicitAny` in the tsconfig
2. Choose a single file to get passing, and fix all errors in that file (using VSCode here is really useful)
3. disable`noImplicitAny`
4. Get all the tests passing
5. Submit a PR for just the single file I updated
6. Repeat until

[2018-11-02 10:48] stephenplusplus commented on #308
I think what's causing the weird error is putting the `addTopic` method on the `Object` prototype. If you take that part out, can you see what happens?

[2018-11-02 11:32] ils-sapnaj commented on #308
I have removed and updated code like this :

app.post('/addTopic', function(req, res) {
    var response;
    var jresp;
    var fs = require("fs");
    const PubSub = require(`@google-cloud/pubsub`);
    if(req.body.data) {

            var util = req.app.get('util');
                var constant = req.app.get('constants');
                const project_id = constant.GCP_PROJECT_ID;

[2018-11-02 17:00] orourkedd opened #314 "Not acking without ackDeadline override"
#### Environment details

  - OS: alpine-node:8.9
  - Node.js version: 8.9
  - npm version: 5.6.0
  - `@google-cloud/pubsub` version: 0.20.1

#### Steps to reproduce

  1. Create topic with 60 second acknowledgement deadline
  2. Process messages slowly
  3. Observe that *somtimes* 500 messages are acknowledged correctly after a deployment, the rest are not acknowledged.  I confirmed that `ack()`

[2018-11-05 02:14] eug48 opened #318 "Subscription does not recover from authentication credentials error (token expiry?)"
#### Environment details

  - OS: Linux, GKE container
  - Node.js version: 8.12.0
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: 0.20.1

#### Steps to reproduce

  1. Created a subscription
[code]
  2. Subscription works fine for many hours
  3. Suddenly in the middle of the night I get an uncaughtException:
[code]

Bunyan also logged some metadata:
[code]

The gcpPubsubSubscription `

[2018-11-05 22:12] #312 closed

[2018-11-06 14:54] Matt11 commented on #133
@stephenplusplus - Now what is the solution to this issue? The possible duplicate you mentioned also doesn't help...

[2018-11-12 20:08] stephenplusplus commented on #133
@JustinBeckwith I believe you had been working on the Axios + Proxy issues-- do you know what became of that, and if your prior work would have fixed this?

[2018-11-12 20:10] stephenplusplus commented on #308
Would you mind putting together a small reproduction test case, that I can clone and install? Something consistent that can reproduce the error, with the minimum amount of dependencies necessary (preferably, just `@google-cloud/pubsub`).

[2018-11-12 20:29] JustinBeckwith commented on #277
We could even transfer this over there now!  Should I just move it to google-gax?

[2018-11-12 20:51] callmehiphop commented on #277
Sure!

[2018-11-15 15:39] JoeStanton opened #338 "Hanging Callback for all `PublishClient` methods"
All methods called on `topic()` publisher hang indefinitely. i.e. do not execute any callbacks at all.

I'm not sure if there are some debug flags I can enable, but I dug through the code as far as I could until it entered gRPC territory.

#### Environment details

  - OS: OS X Mojave
  - Node.js version: v10.11.0
  - npm version:
  - `@google-cloud/pubsub` version: `0.21.1`

#### Steps to reprodu

[2018-11-15 17:39] JoeStanton commented on #338
So strange... I have tracked this down to only occurring when our `jest` unit tests are running.

[2018-11-16 10:39] Gusten opened #339 "Promises never throw or resolve if PUBSUB_EMULATOR_HOST is set to an invalid value"
#### Description
If the PUBSUB_EMULATOR_HOST env variable is set and is not a valid value, the pubsub client promises will never resolve or throw.

#### Environment details

  - OS: macOS 10.14.1
  - Node.js version: 10.13.0
  - npm version: 6.4.1
  - `@google-cloud/pubsub` version: 0.21.1

#### Steps to reproduce

  1. export PUBSUB_EMULATOR_HOST=something
  2. run the following js snippet
[code]

[2018-11-19 16:27] #255 closed, assigned to callmehiphop

[2018-11-20 15:24] watsab opened #346 "PubSub Emulator Error With pubsub.v1.SubscriberClient()"
Hi !

I'm trying to pull the messages from a PubSub topic using the PubSub Emulator.
At first I used the asynchronous method which worked fine but was not what I really wanted.
So I switched to synchronous pull of messages as explained in the documentation here: https://cloud.google.com/pubsub/docs/pull?hl=FR#synchronous-pull

However I can't get it to work. It keeps throwing the followin error:

[2018-11-20 18:03] vijay-qlogic commented on #311
@JustinBeckwith type "any" is in use at multiple places, and as per "/tslint.json" which extends "gts/tslint.json", follows "no-any" rule.

At some places it's hard to decide if type "any" should be removed,
like: src/subscriber.ts ln 129 col 67

Shall I set rule { "no-any": false } in "tslint.json"?

[2018-11-20 18:52] JustinBeckwith commented on #311
Heh, nah.  This is going to hurt.  What you do is set `noImplicitAny` to true in the tsconfig.  That's going to break *a lot* of stuff.  You start with one file, and add types to fix pretty much all of the ambiguous types.  Then, you turn noImplicitAny back off, and submit a PR for just that file.

Here are a few examples of repos that have been transitioned in this way:
- https://github.com/googl

[2018-11-21 01:00] anguillanneuf opened #347 "New Samples Not Copy-Pastable"
This may beg for a lengthier discussion somewhere else, but I'm filing it as a bug here just in case it counts as one.

All the code samples in `/samples` now use `await`, but `await` is only valid in async function, which means that the samples can't be run if someone just copies and pastes the code. This is different from what we are striving for across all our samples.

[2018-11-21 08:20] vijay-qlogic commented on #311
@JustinBeckwith Thanks!
But raising PR for individual file-change my break the stuff, for changes like:
` export class IAM {
   Promise?: PromiseConstructor;`
to
` export class IAM {
   promise?: PromiseConstructor;`
that is changing the property name.

Any concerns with raising PR for all changes together?

[2018-11-21 11:22] JustinBeckwith commented on #311
So we absolutely do not want to introduce breaking changes here.  In this example, we would us a tslint ignore.  Place this on the pine above the property.

// tslint:disable-next-line variable-name

If we don't limit this to one file at a time, the PR will quickly get out of control.  I'd the changes to other files are small and required to get basic compilation going that's fine.

[2018-11-21 12:25] yoshi-automation opened #350 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/b5cd2d69-0831-4c9e-b2d1-9b102b29664f).

[2018-11-21 18:06] #350 closed

[2018-11-21 19:28] #311 closed, assigned to vijay-qlogic

[2018-11-21 19:54] stephenplusplus commented on #347
I agree, we should probably use this as a model: https://github.com/googleapis/nodejs-pubsub/blob/b642898736d8143f6732cd1ed5a8f7279bc6c8c8/samples/quickstart.js#L18

[code]

### Before
[code]

#### After
[code]

[2018-11-21 19:58] JustinBeckwith commented on #347
That makes a lot of sense.  We absolutely want to keep the async/await, but shifting things around like this makes a ton of sense.

Adding @fhinkel so she can chime in here as well.

[2018-11-21 19:59] stephenplusplus commented on #85
@jamorales-bsft since it's been so long, have you still been having this issue?

[2018-11-21 22:35] fhinkel commented on #347
The REPL allows for top level async await if you start it with the right flag. So we're not quite there yet.

+1 to the examples @stephenplusplus posted.

[2018-11-22 14:45] SkeLLLa opened #363 "Add proper types interface for PubSub constructor options"
PubSub constructor should have proper interface for options instead of `any`.

Also it will be good if `noImplicitAny` options will be set to `true` in `tsconfig.json` in order to avoid having low quality code.

[2018-11-22 15:04] SkeLLLa opened #367 "Way to provide credentials through constructor"
There is no documentation and no examples about way how credentials could be provided to PubSub constructor. Is it available like in other googleapis projects?
E.g.:
[code]
Where `credentials` contain `private_key` and `client_email`.

So if there's such option, then it should be documented properly. If there's no such option, then it should be a new feature.

[2018-11-22 18:15] JustinBeckwith commented on #363
Greetings!  This is doable, and not terribly well documented.  Here are all of the options for auth that can go into the constructor:
https://github.com/googleapis/google-auth-library-nodejs/blob/master/src/auth/googleauth.ts#L55

The easiest way to do this is to pass in the path to the keyfile:

[code]

If you want to pass the individual fields in on your own, you can do that too!

[code]

Hope t

[2018-11-23 06:04] SkeLLLa commented on #363
Thanks.

[2018-11-23 07:54] SkeLLLa opened #376 "Wrong typescript signatures for methods returning Promise"
All methods that could return Promise have invalid typescript signatures.

For example, `createTopic`:
[code]

First of all there's no override with Promise returned, but it should be. But for now usage of this lib in typescript is not possible with Promises or async-await, because

[code]

The second thing - `gaxOpts` should be optional. And it would be good if it have proper interface, not just

[2018-11-25 10:54] aayusharora commented on #93
@kir-titievsky
I am encountering the same problem.
If I make even 33 queries per second to app-engine which after validating publishes them to Pub/sub.

Each request-response cycle of pub/sub takes 170ms to complete. Till that completes, the request remains in App Engine Queue.

As App Engine can hold 80 concurrent requests in the queue per instance and the other instance take some time to spin up

[2018-11-26 15:22] kir-titievsky commented on #93
@aayusharora Have you tried reducing the publish batch sizes? See https://cloud.google.com/pubsub/docs/publisher#publisher-batch-settings-nodejs for sample. You should set maxMessages=1 and maxMilliseconds = 1.  I'd love a report back on whether this solved the issue.

[2018-11-26 15:40] aayusharora commented on #93
@kir-titievsky Does that mean, I have to use batching at any cost.
What if I don't want to specify batches and want to process my results in real-time?

[2018-11-26 15:43] kir-titievsky commented on #93
No, sorry I was not clear. The opposite: I'm asking you to turn *off* batching. It is on by default in the client library, if I remember correctly.

[2018-11-26 15:44] aayusharora commented on #93
Any pointers to turn it off.
I have already removed
[code]
from the code.

[2018-11-26 15:50] watsab commented on #346
Hi !
Update: I have the same issue with the v1.PublisherClient. Are the v1 modules not compatible with Pubsub Emulator ? If not, it would be great to work on this to allow development on local machines. Thanks !

[2018-11-26 15:51] callmehiphop commented on #93
I don't think you can turn it off per se, but you should be able to do something like this

[code]

[2018-11-26 15:52] stephenplusplus commented on #363
@JustinBeckwith I think we're good?

[2018-11-26 15:52] #363 closed

[2018-11-26 15:53] kir-titievsky commented on #93
Yes, please, @aayusharora  -- don't remove the settings. Set them explicitly. As I said, the default is to batch.

[2018-11-26 16:05] stephenplusplus commented on #367
What path did you take for docs? We have this section on the PubSub constructor on the API docs page: https://cloud.google.com/nodejs/docs/reference/pubsub/0.20.x/PubSub. It lists `options` and links to [`ClientConfig`](https://cloud.google.com/nodejs/docs/reference/pubsub/0.20.x/global.html#ClientConfig), which shows `projectId`, `keyFilename`, etc.

[2018-11-26 17:57] SkeLLLa commented on #367
@stephenplusplus I've just followed you link and didn't find anything that tells that there's a way to provide credentials object just like I showed in example in the 1st message:
[code]

So I've asked exactly about `credentials`, not `keyFilename` because providing jsons is not an option for me.

[2018-11-26 17:59] stephenplusplus commented on #367
`credentials` is documented here: https://cloud.google.com/nodejs/docs/reference/pubsub/0.20.x/global#ClientConfig

[2018-11-26 18:08] SkeLLLa commented on #367
Ah, ok thanks.

[2018-11-26 18:08] #367 closed

[2018-11-26 21:39] aayusharora commented on #93
Thanks @kir-titievsky
The average latency is reduced to 80-100 ms from 170ms.

But, still, it's too high if I want to process 16k requests in one second.
As I explained earlier the app engine will allow only 80 concurrent requests in the queue and the other instance will take time to spin up.

The requests in the meantime will drop. Do you have any other suggestions to reduce this latency?

Any he

[2018-11-26 22:43] kir-titievsky commented on #93
Can you point me to the specific limit or quota which on concurrent
requests that you are hitting here?

[2018-11-27 07:16] SkeLLLa commented on #376
@kinwa91 fyi there's a workaround to deal with this. First of all you need to cast result of function that suppose to return Promise to unknown type, and then convert it to type that actually should be returned. Example:

[code]

But obviously it should have proper typings.

[2018-11-27 16:52] aayusharora commented on #93
Maximum quota, I am going to expect 20-30k requests in a second.

The problem with the App Engine Standard Env is " Only 80 concurrent requests are allowed per instance"
Now it will take time to start in a new instance in autoscaling and requests will drop.

The more the latency, the more requests failure will occur and 80-100ms is also huge.

[2018-11-27 20:52] kir-titievsky commented on #93
Ah, wait. This is per app engine standard instance.   Why not just have
more instances?

On Tue, Nov 27, 2018 at 11:52 AM Aayush Arora (angularboy) <
notifications@github.com> wrote:

--
Kir Titievsky | Product Manager | Google Cloud Pub/Sub
<https://cloud.google.com/pubsub/overview>

[2018-11-27 21:47] aayusharora commented on #93
@kir-titievsky
I already have auto scaling enabled but as you know spinning up the instance take some time.
Even you start with a minimum of two.

What I am interested to know here is, what is the latency of a pub/sub request without even sending any payload ?

This can give me the idea to setup the minimum instances

[2018-11-28 10:56] Prajjwal commented on #93
@kir-titievsky Experiencing the same latency issues, it hovers around `~200 ms` regardless of whether we batch or not. Caching the client doesn't seem to affect performance. Any pointers? I'm pasting my test routes verbatim (these have no application logic, nor authentication that could affect performance) for reference.

[code]

[2018-11-28 20:12] aayusharora commented on #93
Setting maxMessages = 1 results in another error :

`(node: 28) UnhandledPromiseRejectionWarning: Error: The number of elements 1000 exceeds the limit 1000`

And the solution I got from the discussion is to set maxMessages: 999. Please check:
https://github.com/googleapis/gax-nodejs/issues/149

[2018-12-03 09:40] watsab opened #382 "Cannot add custom attributes to message when using v1.PublisherClient.publish()"
Hi !

I'm facing an issue using the v1 PublisherClient: when I publish an array of messages as described in the documentation (https://cloud.google.com/nodejs/docs/reference/pubsub/0.20.x/v1.PublisherClient#publish), the custom attributes are empty.
Below is my code:

The message object that is published is built according to the documentation I found here: https://cloud.google.com/pubsub/docs/ref

[2018-12-03 15:48] callmehiphop commented on #346
Hi @watsab I believe all the v1 modules are compatible with the PubSub emulator. However IIRC both the Subscriber and Publisher clients will need to be configured to use the emulator like so

[code]

[2018-12-03 15:52] callmehiphop commented on #339
Possibly related to https://github.com/googleapis/gax-nodejs/issues/208

[2018-12-03 16:21] JustinBeckwith commented on #133
Aye, that's where we're headed.

[2018-12-03 18:16] mainephd commented on #133
Is there anything i can help with? @JustinBeckwith

[2018-12-04 00:30] kinwa91 commented on #376
Yes, but I recommend that you use v0.22.0 for now that doesn't contain types information, while we finish up with converting to TypeScript.

[2018-12-04 00:42] callmehiphop commented on #35
@kinwa91 I'm actually not 100% what the issue is describing, haha..

In regards to gapics, I can't tell if gax actually uses/caches any call options passed in via the client constructor, but as far as I can tell, it does not.

If this is about the hand-written Publisher client, it should be resolved.

[2018-12-04 08:31] watsab commented on #346
Hi @callmehiphop !

Thanks for your answer !
I noticed these two options but I still can't make it work with these, as it keeps asking for my credentials. FYI, I am using Docker Compose to run the app in one container and the emulator in another; so I set "servicePath" to my PubSub service name, and "port" to 8085 as it is the one used but maybe I misconfigured these options... I'll keep digging a

[2018-12-04 08:43] watsab commented on #382
Hi @callmehiphop !

Again thanks for your answer :wink:

Using the hand written publisher works fine. However as I need to publish several messages at a time, I would have preferred to call the publish method once rather than looping through each and calling the "publish" method several times. And I was hoping it could be done using the the v1.Publisher. Yet if it is not possible, I'll arrange my

[2018-12-04 11:48] villeodell commented on #376
@kinwa91 Doesn't v0.22.0 in fact contain type information?

[2018-12-04 15:32] watsab commented on #346
Update:
I created a service account just to try if it would work with credentials. However I have errors raising in both my PubSub container and my app Container:

[2018-12-04 16:41] JustinBeckwith commented on #376
Greetings!  We've done the initial conversion to TypeScript, but it is no way close enough to have high fidelity types.  We're tracking actually turning type hinting on in #141 :)

[2018-12-04 16:41] #376 closed

[2018-12-05 10:17] watsab commented on #382
Hi !
I actually don't know what I've done but it seems attributes are now added to message and successfully published. Again thanks @callmehiphop !
Just a warning if some encounter the same problem: custom attributes can only be a 1-level object, meaning that it cannot be something like:
`
const attributes = {
  key: 'value',
  key1: {
    key11: 'value'
  }
}
`

but rather:
`
const attributes = {

[2018-12-05 10:17] #382 closed

[2018-12-05 16:01] callmehiphop commented on #382
Glad you got it worked out, thanks for coming back to let us know what your fix was!

[2018-12-05 17:50] callmehiphop commented on #247
I'm going to close this since it appears to be a duplicate of #12

[2018-12-05 17:50] #247 closed

[2018-12-05 18:03] samiislam600 opened #389 "Unexpected Error 13: GOAWAY error while using gRPC"
Issue summary: The GOAWAY error returning from pubSub which originates from gRPC Client library.

The OS for both container and the compute instance is Debian 9
Client Library PubSub node.js latest 0.20.1 version
The customer has configured pubsub messages as a service node. The payload of the received message is used in the following format.

\"depth_limit\": 3, \"run_id\":
\"c8d503f18024e03f97b6

[2018-12-06 12:38] zxbodya commented on #314
Having same issue after upgrading from 0.18.0 to 0.19.1, back then - I did not had much time to investigate, so reverted, and forgot about it for some time.

Today, was trying to deploy new version using version 0.21.1, and have exactly same issue as before - some messages are not acknowledged.

And, indeed - it looks to be related to having delay for message processing before acknowledging it… I

[2018-12-06 15:03] kir-titievsky commented on #93
Any watchers of this interested in profiling the node client?  Also: are these latency figures coming from request latency metrics reported by Stackdriver or some end-to-end measurements you are doing in the application?

@aayusharora apologies for the delay in response.  I suspect there is some combination of server and client latency here.  It might be worth profiling the client to cut that late

[2018-12-07 03:41] sduskis commented on #389
@stephenplusplus, any idea on how to fix this pesky GOAWAY?

[2018-12-07 09:53] pmcnr-hx commented on #170
The unpredictable high latency is for subscriptions is still an issue several months and releases later (I've just tested with 0.22.1). This means that we're stuck with version 0.18.0 because our application requires predictable low latency. Is this issue being looked at all?

[2018-12-07 16:00] pmcnr-hx opened #397 "High and jittery subscriber latency"
#### Environment details

  - OS: Alpine Linux
  - Node.js version: 10
  - npm version:
  - `@google-cloud/pubsub` versions: `0.19.0` to `0.22.0`

#### Problem description

Our applications require low, predictable, consistent message latencies. With `@google-cloud/pubsub` `0.18.0` we got exactly that: low double digit millisecond latencies (`< 20 ms` when the publisher is configured with `batchin

[2018-12-07 17:34] troystackforce commented on #93
I experienced a similar issue recently. Our use case is to publish a single message to a pubsub topic from within a web client request/response cycle (an express route).

I wrote this test script to evaluate the time it takes to publish a message.

[code]

It takes ~120ms to publish a message using the above test script in cloud shell which is longer than we were hoping for. I reached out to the g

[2018-12-07 17:41] kir-titievsky commented on #93
Troy, Thanks for submitting that example. Very helpful.  One thing to note
is that your first publish call to Pub/Sub in XX minutes will generally
take longer since it requires extra information to be retrieved and cached
(e.g. auth bits).  Do you observe comparable latency if you keep publishing?

On Fri, Dec 7, 2018 at 12:34 PM Troy Martin <notifications@github.com>
wrote:

--
Kir Titievsky | Pr

[2018-12-07 17:46] troystackforce commented on #93
I think the latency stays the same but I can double check by running the script a few times back to back.

[2018-12-07 17:54] troystackforce commented on #93
The latency gradually decreases as the test progresses.

The first publish:
[code]

The 1000th publish
[code]

[2018-12-12 13:04] watsab commented on #346
Hi @callmehiphop !

do you have an idea of how I could solve the credentials issue ? I'm wasting a lot of time not being able to have a proper local dev environment :disappointed:
Thanks !

[2018-12-12 16:15] callmehiphop commented on #346
Sorry about that @watsab, I forgot that you also need to provide some credentials as well. I *think* the following should work

[code]

[2018-12-12 17:30] watsab commented on #346
Thanks a million @callmehiphop ! It works fine now ! Thanks so much !!!!!! :smiley:

[2018-12-12 17:30] #346 closed

[2018-12-12 20:36] barrettc commented on #11
I'm also seeing this behavior with the latest version of google pubusb as of this comment - 0.22.2. We have two apps running in GKE communicating with each other via pubsub and the subscribers just stop receiving messages until the pods are restarted. At this point I guess I'm looking at looping and restarting the subscription every 15 minutes as described above but this feels very hacky.

[2018-12-13 11:45] Sh33pman opened #412 "Pull timeout error doesn't have a code for easy error handling."
#### Environment details

  - OS: Mac OSX
  - Node.js version: v8.12.0
  - npm version: v6.4.1
  - `@google-cloud/pubsub` version: v0.22.0

#### Steps to reproduce

  1. Using `pull` function on `pubsub.v1.SubscriberClient` to pull messages from the a subscription, the example code works for testing, here is a bit of code I used to print the message:
[code]
  2. Ensure there is no messages sent to

[2018-12-14 02:03] kinwa91 commented on #85
Closing this issue due to inactivity. Please reopen if new information comes up.

[2018-12-14 02:03] #85 closed

[2018-12-16 07:40] TraxRetail commented on #124
I can confirm the issue: @google-cloud/pubsub 0.22.2 (consitst to a few lower version)
nodejs 8.12.0
npm 6.5.0
linux mint 17.3
I'm having the same issue with retrieving message before the lock is over, this is out test in nodejs:
[code]
extendMessageLock function
[code]

[2018-12-16 08:02] TraxRetail opened #413 "Messages are retrieved before modifyAckDeadline time expires"
modifyAckDeadline doesn't work as expected.
We are able to retrieve messages before the lock is expired:

@google-cloud/pubsub 0.22.2 (reproducible in lower versions)
nodejs 8.12.0
npm 6.5.0
linux mint 17.3
The queue default AckDeadline is 30 seconds in our code and in the cloud.

Our mocha test:
0 - send a message
0 - pulldown 1 message from subscription with 30 second deadline and it's received.

[2018-12-18 17:36] callmehiphop commented on #413
@TraxRetail does the rest of your `CloudProvider` class use the `v1.SubscriberClient` client?

[2018-12-18 23:07] callmehiphop commented on #412
You could try increasing the timeout for the request

[code]

Otherwise you could use the `returnImmediately` option. It should be noted that setting this option will cause the backend to respond immediately even if there are no messages available, so you'll have to implement your own polling logic.

[code]

[2018-12-19 19:44] callmehiphop commented on #413
You might consider adjusting the `maxConnections` option. This controls the number of `StreamingPull` streams we establish with the backend. My concern is that the message might actually be redelivered before the lock is put in place

[code]

[2018-12-19 20:31] TraxRetail commented on #413
Tried it now, it's still inconsistent, it gets retrieved before the lock expires.
Also tried without the modifyAckDeadline and it didn't work.

[2018-12-19 23:19] callmehiphop commented on #413
So by default the handwritten client attempts to lock messages based on the 99th percentile of acknowledge times. It is very likely that your `modifyAckDeadline` call is getting stomped on by this feature which would make the message deadline much shorter, although this does not explain the redelivery itself, just the time at which it happens.

If you want to manage the lock yourself, I would sugg

[2018-12-20 08:33] TraxRetail commented on #413
The pr #388 doesn't run. 'Cannot read property '_readableState' of undefined'.
I will try streamingPull

[2018-12-21 14:40] TraxRetail commented on #413
Are we supposed to use just v1 subscriber client OR subscriber but not both?

[2018-12-21 18:23] callmehiphop commented on #413
@TraxRetail I think in most cases the handwritten client should fit most needs, however if you wanted to manage locks yourself then you definitely want to use `v1.Subscriber`. If you're looking for more control while receiving messages there's also a `v1.Subscriber#pull` method that you can use to poll the server for messages.