[2019-10-17 20:31] #784 closed

[2019-10-17 22:23] ringzhz commented on #770
I'd like to :+1: this going back to a P1. Providing a workaround isn't an acceptable response. Indeed, we have implemented the workaround and rolled out to Prod to see that while it successfully mitigated the lost pub/sub connection, it also introduces a memory leak that requires periodic restart of our k8s pods regardless.

[2019-10-18 03:41] mrmodelo commented on #770
As mentioned on https://github.com/grpc/grpc-node/issues/1064 , this is also an issue that is surfacing when using scheduled Firebase Functions, which you do not have access to the grcp config value. When the connection bridge drops the entire suite of firebase functions hosted also begin to fail. The only workaround is to not have the scheduled function deployed, which is not an acceptable soluti

[2019-10-18 13:35] npomfret commented on #770
Has there been any progress?  If not, and the work around is the official way forward are all the docs updated?

[2019-10-18 15:37] hx-markterry commented on #770
Everytime there has been a new version of @google-cloud/pubsub we've updated, but since grpc-js, we've had increased latency in sending and/or receiving (dependant on version used) or memory leaks. In the past weeks we've been pinning versions to work around various bugs.

We've made the decision to go back to `"@google-cloud/pubsub": "0.29.1",` as this fixes the problem for us with no code change

[2019-10-18 23:54] bcoe commented on #770
I just wanted to give an update before the weekend, we do have a version of `@grpc/grpc-js` (`0.6.9`), that all signs are indicating is stable:

* the timeout issue, that we had managed to reproduce on one system, are no longer occurring.
* folks running this version of the API have, so far, indicated that they're not seeing any issues.
* my colleague @murgatroid99 is feeling confident that he add

[2019-10-21 08:09] npomfret commented on #770
@bcoe I don't fully understand the fix.

In order to get my system working, a rollback of pubsub to 29.1 wasn't enough.  I had to roll back a bunch of other google projects I'm using (logging, storage, kms etc) also.  I don't know what combination of rollbacks fixed the problem and so I'm worried about rolling forward now.

What exactly is the proposed fix please?

Which projects do I need to appl

[2019-10-21 08:38] pmcnr-hx commented on #770
I've done a fresh install of `1.1.2` (which now is pulling `@grpc/grpc-js@0.6.9`) in a project and can confirm it looks stable. I will keep it under observation for the next 24 hours and upgrade the remaining projects based on the results.

[2019-10-21 11:05] pmcnr-hx commented on #770
After a few more hours of testing, the behaviour has improved but I'm still seeing the odd message being lost and nacked back into the queue which results in latency spikes. This _does not_ happen with `0.29.1`. `0.29.1` is the latest version that is giving us consistently predictable latency.

[2019-10-21 15:08] bcoe opened #787 "@google-cloud/PubSub@1.x has increased memory usage compared to 0.29.1"
@pmcnr-hx this memory issue sounds a bit different than what folks were initially seeing in #770 (which was a ceasing up of message processing), so I've created this new tracking issue.

If it's not too much of a bother, could I get you to run your system with debugging enabled:

[code]

see #770

#### Environment details

@pmcnr-hx mind providing this information, with regards to OS/Runtime, are

[2019-10-21 15:08] bcoe opened #788 "@google-cloud/PubSub@1.x has increased memory usage compared to 0.29.1"
@pmcnr-hx this memory issue sounds a bit different than what folks were initially seeing in #770 (which was a ceasing up of message processing), so I've created this new tracking issue.

#### Running In Debug Mode

If it's not too much of a bother, could I get you to run your system with debugging enabled:

[code]

☝️ I'm curious to see if there is any odd behavior immediately before the message f

[2019-10-21 15:10] #787 closed

[2019-10-21 15:23] bcoe opened #789 "How do I get on the latest version of @grpc/grpc-js?"
Over the past few weeks there were a few bad releases of `@grpc/grpc-js` that went out the door, and effect the behavior of `@google-cloud/pubsub`, and other libraries that rely on `grpc`.

There is now a version of `@grpc/grpc-js` available, `0.6.9`, which has addressed a variety of stability issues.

#### Getting on the new version

1. in your project that uses `@google-cloud/pubsub` (`@google-c

[2019-10-21 15:23] #780 closed

[2019-10-21 15:30] bcoe commented on #770
👋 as mentioned Friday, we're testing early this week with `@grpc/grpc-js` as a stable release candidate for `@grpc/grpc-js`.

We ask that folks [upgrade to @grpc/grpc-js@0.6.9](https://github.com/googleapis/nodejs-pubsub/issues/789), and let us know if you have any trouble doing so.

If you continue to run into issues with this new version of the dependency, I ask that we:

### 1. create a new iss

[2019-10-21 15:41] #770 closed

[2019-10-21 15:44] ericpearson commented on #788
Since #770 is locked for discussion now....

An update here on our issues:

We use a ton of google libraries (stackdriver trace, debug, cloud tasks, pubsub etc). They all seem to share the same common dependecies what I did was go into the package-lock and update all of these to make sure they are pinned at grpc-js 0.6.9 and pinned google-gax which a lot of them depend on to 1.7.5.

This has resol

[2019-10-21 15:50] bcoe opened #790 "not all grpc libraries are consistently installing 0.6.9 dependency"
### Problem

Some dependencies still pin on older versions of `grpc`.

### Original Message

@ericpearson I've moved your comments here, since it's unrelated to the memory issues that are reported in #788

An update here on our issues:

We use a ton of google libraries (stackdriver trace, debug, cloud tasks, pubsub etc). They all seem to share the same common dependecies what I did was go into the

[2019-10-21 15:53] bcoe commented on #790
@ericpearson would you be able to share the final `npm ls` after you performed surgery on `package-lock.json`, it sounds very odd to me that pinning to `0.6.9` would have different behavior than manually editing the `package-lock.json`, I'm curious what it looked like before and after.

[2019-10-21 16:06] ericpearson commented on #790
the file is too large to post but it was mainly replacing everywhere "google-gax" was mentioned in the client lib deps like this:

`    "google-gax": {
      "version": "1.7.5",
      "resolved": "https://registry.npmjs.org/google-gax/-/google-gax-1.7.5.tgz",
      "integrity": "sha512-Tz2DFs8umzDcCBTi2W1cY4vEgAKaYRj70g6Hh/MiiZaJizrly7PgyxsIYUGi7sOpEuAbARQymYKvy5mNi8hEbg==",
      "requires": {

[2019-10-21 16:07] #769 closed

[2019-10-21 16:16] bcoe commented on #790
@ericpearson I'll spend the day today updating our dependencies to all explicitly pull in the known good version of gax.

Due to the nature of lock files, I think this still would require some manually fiddling, to make sure each library you use is on the latest patch release.

[2019-10-21 16:24] ericpearson commented on #790
yeah I wouldn't call this even a fix it's more of a mitigation until someone can be done, at least there were improvements so I was hoping it would help solve what is going on

[2019-10-21 16:45] bcoe commented on #790
@ericpearson could you explain the issues you're continuing to see in a new issue? Or I can open an issue.

If you're no longer seeing issues with 0.6.9, this is the version that folks will start getting when they install. If you're continuing to see issues with 0.6.9, it would be really helpful if we could describe and reproduce what you're seeing in an isolated manner.

[2019-10-21 16:54] bcoe commented on #790
@ericpearson what I'm trying to separate out, is the issues related to there still being references to broken `@gprc/grpc-js` versions in your stack, which I believe will be addressed by us explicitly updating the version in all our libraries, and your final point:

:point_up: this is disconcerting, and I believe is unrelated to `gax` version, so we should dig into independently.

Any chance we co

[2019-10-21 17:03] bcoe opened #791 "user witnessing timeouts on @grpc/grpc-js@0.6.9"
_@ericpearson, I went ahead and opened this issue in reference to the discussion in #790._

I'd like start delving in a bit deeper, so that we can hopefully figure out a pattern in the timeouts you're seeing.

#### Environment details

  - OS/platform: What are you running `@google-cloud/pubsub` on, Google App Engine, Kubernetes Engine, other infrastructure?
  - Node.js version: ?
  - npm version:

[2019-10-21 22:06] anguillanneuf commented on #724
@slavoroi Which GCP Pub/Sub metric are you referring to from [this table](https://cloud.google.com/monitoring/api/metrics_gcp#gcp-pubsub)?

[2019-10-21 23:09] #724 closed

[2019-10-22 09:36] npomfret commented on #789
@bcoe so there are no code changes?  I merely bring in the latest changes?

[2019-10-22 12:18] ericpearson commented on #790
it looks like this ended up not fixing our problems we are seeing memory leaks and timeouts again in our project in alignment with #791

[2019-10-22 17:08] bcoe commented on #791
@ericpearson I believe that you are continuing to see some issues, but could I bother you to start providing some debug information here :+1:

Alternatively, if `grpc` is an acceptable workaround for your use-case, we can close out this issue.

[2019-10-22 17:09] bcoe commented on #789
@npomfret correct, we are in the process of updating everything explicitly across all our libraries, so it would be good to check after the update, with `npm ls` to make sure you do have up-to-date dependencies.

[2019-10-22 17:17] bcoe commented on #790
@ericpearson just moved your update to the #791 thread, apologize for the deleted message. So far we haven't had many additional folks report issues, so if you're willing, I'd like to help dig in to your specific issues with our engineers.

Even if we end up pinning `@google-cloud/pubsub` to `grpc`, it would be good to have forensic information to correct issues with `@grpc/grpc-js`.

[2019-10-22 18:06] rdlowrey opened #794 "Pubsub Emulator support seems broken in 1.1.4"
#### Environment details

  - OS: Ubuntu 18.04
  - Node.js version: 12.10
  - npm version: 6.10.3
  - `@google-cloud/pubsub` version: 1.1.4

#### Steps to reproduce

Works with `0.29.1`, doesn't work with anything after (including the just-released `1.1.4`).

[code]

Outputs:

[code]

We know you folks have been working hard trying to fix the recent issues. Using the javascript grpc lib doesn't wo

[2019-10-22 19:07] callmehiphop commented on #794
@rdlowrey thanks for reporting this issue! I'm currently investigating, but it appears that this only occurs when passing in the grpc C++ extension. For an immediate workaround I would suggest conditionally passing it in based on whether or not you're using the emulator.

[2019-10-22 19:32] #794 closed

[2019-10-22 19:49] callmehiphop commented on #794
@rdlowrey just waiting for our bots to do their thing, but this fix for this will be released in `1.1.5` very shortly. Thanks for reporting!

[2019-10-22 21:01] bcoe commented on #790
I've released versions now of all our libraries that rely on `@grpc/grpc-js`, such that they should force the `0.6.9` dependency.

This might not address all issues (_@ericpearson let's see if we can't get to the bottom of what the heck is happening to you) but this at least means it should be easier to ensure we're testing with a specific version of the library.

[2019-10-22 21:01] #790 closed

[2019-10-23 10:00] ad34 opened #797 "can publish but not receive from subscription on hosted environnement"
**Environment details**

Node.js version: v12.13.0
yarn version: 1.17.3
@google-cloud/pubsub": "^1.1.2"

**Steps to reproduce :**

I have issues with google pubsub.

**On local workstation:**

I can publish & receive message from my subscription

**On Hosted K8S instance (corporate cloud, behind proxy)**

I can publish message but no message is received in the subscription

Any suggestion ? I conf

[2019-10-23 15:18] bcoe commented on #797
@ad34 bind sharing a snippet of code demonstrating the publisher/subscriber you've created?

[2019-10-24 10:44] Industrial opened #798 ""Error: not supported" with SSR"
Hi.

I'm opening this ticket because I can't get Server Side Rendering to work with firebase.

I've searched the interwebs and found https://github.com/googleapis/nodejs-pubsub/issues/570 which said to open a new ticket, so I made this one.

#### Environment details

  - OS: Ubuntu 19.04
  - Node.js version: 10.x (Firebase)
  - npm version: 6.9.0
  - "@firebase/app": "^0.4.12",
  - "@firebase/fire

[2019-10-24 19:36] #798 closed

[2019-10-25 11:05] stoked10 opened #800 "Retry across all subscribers"
I can move this to stackoverflow if it is not a feature request and just my own lack of understanding.

My basic scenario is that I have three microservices that consume on pubsub. Service A sends a message with a 'id; of B, which tells service B this message is for him, service C nacks it.

What I'd like is to be able to redeliver unacked messages across all subscribers for a topic, so that if I

[2019-10-25 11:35] nicolasguenther opened #801 "Unexpected behaviour when using nodejs-pubsub to load balance message to subscribers"
#### Environment details

  - OS: Windows
  - Node.js version: 10.15.3
  - npm version: 6.11.3
  - `@google-cloud/pubsub` version: 0.31.0

I want multiple subscribers to process messages one message at a time. From my understanding this can be achieved by using the following settings:

[code]

Based on the current unacked message count further subscribers will be started/stopped to reduce overall

[2019-10-25 13:42] #800 closed

[2019-10-25 13:42] stoked10 commented on #800
Ignore, found a better way to do what I want programmatically

[2019-10-25 15:45] bcoe commented on #791
@oande thank you for the debug information, I'll share with with folks on the `grpc` team 👍

How frequently is this happening to you?

[2019-10-25 17:57] callmehiphop commented on #791
@oande do you know if you see the deadline error when there are messages waiting to be consumed? I ask because I am pretty sure that `pull` will give a deadline error in the event that it finds no messages after a certain period of time (1 minute)

[2019-10-25 18:22] callmehiphop commented on #801
I think I have an idea of what is happening here. The configuration you've shared is indeed the only way to process a single message at a time, however it should be noted that PubSub doesn't actually let us configure the number of messages to send down at any given time.

I think what is happening is you are receiving a batch of messages (could be in the hundreds) and we give you the desired amoun

[2019-10-27 16:05] oande commented on #791
I had another look today

[2019-10-27 16:24] oande commented on #791
I had another look today, turns out all timeouts occur after 5s of no messages. Seems to be by design, from this config value? https://github.com/googleapis/nodejs-pubsub/blob/master/src/v1/subscriber_client_config.json#L29

However if I increase the timeout, I get an empty array back after ~20s
[code]

I've found two ways (below) to change the timeout...
[code]
...where 60s from the config will b

[2019-10-28 17:16] callmehiphop commented on #791
@oande I would probably just increase the timeout myself. It looks like you're finding yourself with an empty queue and IMO it would be better to wait than to make additional requests that will likely timeout as well.

[2019-10-29 12:18] Legogris commented on #789
@bcoe Given the issues with `0.6.9` in https://github.com/grpc/grpc-node/issues/1085, what's the most stable version from what you've seen so far?  0.5.4 seemed decent for me, curious if a more recent one is worth a shot.

[2019-10-29 12:33] Legogris commented on #780
@bcoe Motivation for closing this? `0.6.9`  Unfurtunately does not work for us. Just discovered the thread in https://github.com/googleapis/nodejs-pubsub/issues/770 now and will see if using `grpc` changes anything. Are there any known issues with `0.5.4`?

[2019-10-29 15:08] bcoe commented on #789
@Legogris if you are running into the memory leak described in 1085, I recommend potentially running the C++ grpc version for the time being:

https://github.com/googleapis/nodejs-pubsub#running-grpc-c-bindings

Once tested, we will work with the gRPC team to get a patch for the memory leak described in https://github.com/grpc/grpc-node/issues/1085 out ASAP.

[2019-10-29 15:11] bcoe commented on #788
a memory issue has been found in the upstream @grpc/grpc-js library, this is most likely the root cause. See:

https://github.com/grpc/grpc-node/issues/1085

@Legogris I will update you and close this thread as soon as the fix is rolled out.

[2019-10-29 15:39] Legogris commented on #789
@bcoe The weird thing is our issues are manifesting primarily as a memory leak (although too many sockets/connection could definitely be part of the story).

Basically we are running a system that is doing a lout of outbound HTTP requests and posting parsed results through PubSub, and the recent versions result in a lot of timeouts for those outbound requests (not the ones to PubSub). I did try ru

[2019-10-29 16:54] bcoe commented on #788
@Legogris could you share a snippet of code, demonstrating where you're initializing your PubSub client in logic, @alexander-fenster points out to me that one way memory can leak is if the client is being created multiple times in an application, rather than once at the entry-point of the application?

@pmcnr-hx, likewise, I'm wondering if you might be bumping into a similar issue.

[2019-10-29 17:04] bcoe commented on #789
@Legogris it might be worth bringing the conversation over to #788, because this conversation is related specifically to memory issues.

I'm sharing your updates with internal folks, and we're in the process of discussing what might be causing these memory issues.

If possible could you share some sample code demonstrating how you initialize your client?

[2019-10-29 17:30] Legogris commented on #788
@bcoe It's definitely only instantiated once (there are two per node-process though, each initialized at entry-point).

Just to clarify, our symptoms are outbound network requests made from inside node but unrelated to PubSub / GRPC starting to fail. So if it's related to a memory leak issue, it would be resulting from use of sockets. I'll have to leave now, but I'll try to provide more details to

[2019-10-29 19:41] bcoe commented on #788
@Legogris if you're able to, running the process with:

[code]

could provide some valuable information to share with the gprc folks.

[2019-10-30 00:29] bsato212 commented on #788
I am seeing the same increase in memory usage after upgrading a Node.js 8 Cloud Function that forwards POST data to a PubSub queue. The function is running on us-central1 with 512 MB RAM. After upgrading from `@google-cloud/pubsub` 0.16.2 to 1.1.5 I get a memory limit exceeded error roughly every two hours. Only one PubSub instance is lazily initialized and re-used. I will now try rolling back to

[2019-10-30 05:51] bcoe commented on #788
@bsato212 what are you running the worker on that is consuming from the PubSub queue? (is it the worker that is running out of memory periodically?).

[2019-10-30 07:11] Legogris commented on #788
@bcoe I emailed you some logs

[2019-10-30 08:11] Legogris commented on #788
I think I have a satisfactory explanation: The increased number of sockets due to the socket leak cause the connection pool to fill up and since we have global `http(s)Agent`s with finite `maxSockets`, this causes requests to be blocked.

[2019-10-30 17:24] callmehiphop commented on #791
@bcoe `pull` is exclusively a gapic method, we don't support it in the veneer, so I'm not really sure what the best way for us to document this is.

It's also worth noting that `pull` behaves a little bit differently than most rpcs, in that if there are no messages in the queue the rpc itself will attempt to wait until there are. If no messages show up, then eventually we'll hit a deadline error.

[2019-10-30 21:25] ibarsi commented on #788
@bcoe It seems to be due to an increase in memory consumption. As @vigandhi stated, we noticed the flood after shipping changes that added extensive usage of `@google-cloud/logging-bunyan`'s WARN severity. As a test, we modified all calls to log INFO instead and noticed that the errors persisted. This makes us believe that it's not actually the logging of WARN itself but perhaps another change in

[2019-10-30 21:48] yoshi-automation opened #804 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8a07d261-927e-4b33-837b-54d22ffcd346).

[2019-10-30 22:27] yoshi-automation commented on #804
Autosynth passed, closing! :green_heart:

[2019-10-30 22:27] #804 closed

[2019-10-30 23:52] gae123 commented on #255
This has been closed with a commit by @JustinBeckwith but unless I am missing something it does not appear to be integrated, what is the status?

[2019-10-31 00:05] bcoe commented on #255
@callmehiphop can you speak to this, we've released quite a few releases of the library since this this landed, is the option just not exposed to users?

[2019-10-31 00:46] mgabeler-lee-6rs commented on #255
This was reverted in #668

[2019-10-31 00:51] gae123 commented on #255
I understand that this was reverted but the need for this remains. Any plans?

[2019-10-31 17:02] callmehiphop commented on #255
My understanding is that the PubSub team is aware that users want this functionality and they're planning something around it, but currently there's nothing on my radar.

[2019-10-31 17:29] mgabeler-lee-6rs commented on #255
Are you referring to ordering, or to delayed retries?  There are good reasons for delayed retries that have nothing to do with ordering, as evidenced by Google's on (very good!) recommendations on exponential backoff ... which PubSub doesn't seem to believe in?

[2019-11-01 12:53] nicolasguenther commented on #801
In my use case processing a single message can take multiple (up to ~20) minutes. I tried various scenarios to validate your guess. I'll try to illustrate it with an example where messages are published one by one to prevent batches of multiple messages:

- start subscriber A
- publish message 1
-> subscriber A processes message 1
- publish message 2
-> subscriber A still processes message 1, mess

[2019-11-02 04:45] callmehiphop commented on #801
@nicolasguenther by any chance are you creating (not starting) subscriber B after message 2 is published?

[2019-11-02 09:41] nicolasguenther commented on #801
I create and start subscriber B after message 2 is published. I would expect subscriber B to immediately pickup message 2 when started.

[2019-11-04 08:39] oande commented on #791
@bcoe yeah it helps -- and I agree it would be helpful to include in the README!

[2019-11-04 17:27] callmehiphop commented on #801
@nicolasguenther I had to do a double check on the [subscriber docs](https://cloud.google.com/pubsub/docs/subscriber), but it sounds like what you're seeing is happening by design.

[2019-11-04 18:24] bcoe opened #810 "document timeout configuration options in README"
The user @oande was seeing errors in their log, due to `@google-cloud/pubsub` failing to find a message in the default timeout (see: #791).

Optimizing timeout settings helped the user reduce this category of error.

I think it would be good to add a section to our README that speaks to some of the tuning options that one might apply to `@google-cloud/pubsub` to help reduce noise in logs.

[2019-11-04 18:26] bcoe commented on #791
@oande I've created a tracking issue to add tuning documentation to our README.md:

https://github.com/googleapis/nodejs-pubsub/issues/810

---

I'm closing this issue for the time being, due to lack of information about the original underlying bug. @ericpearson, please don't hesitate to re-open if you're continuing to bump into issue,s and can provide some specific debugging information about the

[2019-11-04 18:26] #791 closed

[2019-11-04 19:10] bcoe commented on #810
@alexander-fenster or perhaps this is something we should configure in gax?

[2019-11-04 19:21] zerefel opened #811 "Cannot subscribe to a topic linked with a GCS bucket"
### Problem description
Using `"@google-cloud/pubsub": "^1.1.5"`, cannot obtain an existing subscription for a GCS bucket, or create a new one.

### Reproduction steps
Here's the reproduction code. A GCS bucket with a Pub/Sub topic and a subscription have already been set up.

[code]

### Environment
 - Docker environment `FROM node:10.16`
 - Node version 10.16
 - `"@grpc/grpc-js": "^0.6.5"`

###

[2019-11-04 20:33] nicolasguenther commented on #801
Thanks for pointing this out. I think it is crucial to distinguish between the terms subscription and subscriber. I'm using a single subscription with multiple subscribers as described in the same document:

My subscription was created before any message was published. My subscriber B (the node program using nodejs-pubsub) in the above scenario was indeed started after message 2 was published.

Wh

[2019-11-04 20:47] callmehiphop commented on #801
@nicolasguenther Thanks for clarifying and sharing all these details about your application. I think you may want to consider using the [pull](https://github.com/googleapis/nodejs-pubsub/blob/master/samples/subscriptions.js#L273) API.

Since your application only wants to process 1 message at a time and it can take a bit of time, it seems like the streaming API doesn't offer you very many advantag

[2019-11-04 21:21] nicolasguenther commented on #801
Thanks again. I think obtaining a subscription with `pubsub.subscription()` (as i did) is implicitly using the pull API as described in  [Subscription Docs](https://googleapis.dev/nodejs/pubsub/latest/Subscription.html):

I still don't understand why using this with the above flow control settings and streaming options doesn't behave as expected. I see that using `pubsub.v1.SubscriberClient()` lik

[2019-11-05 20:28] callmehiphop commented on #801
@nicolasguenther so we offer 2 clients, a handwritten one (`pubsub.subscription()`) and a generated client (`pubsub.v1.SubscriberClient`). We don't actually use or support the `pull` RPC in our handwritten client (which you appear to be using), we use a streaming version instead.

It is pretty reasonable to expect messages to stop being delivered to your subscriber once you've hit the configured l

[2019-11-06 19:19] jcurlier commented on #575
+1

[2019-11-08 17:02] zerefel commented on #811
I managed to figure it out in a more isolated context. The problem only appears when `@google-cloud/storage` is initiated before PubSub.
Using `@google-cloud/storage: "^4.1.1"`.

Providing further context as to the setup of the connection.

[code]

[2019-11-11 12:32] npomfret commented on #791
The "Deadline exceeded" bug is back for me using:

[code]

I thought it was fixed?  This is the error:

`{"ackIds":["KlgRTgQhIT4wPkVTRFAGFixdRkhRNxkIaFEOT14jPzUgKEUaAiBuFD1CWhoOB1xcdQdRDB8neDB2a1xHUwFPU3RfcysvV1RYcgBWCRtye2d0bFsVAyrBuOnH3ZuSWUZgTc3pmMdHXbXW3-giZh49WxJLLD5-MzVFQV5AEkw4AERJUytDCw"],"code":4,"details":"Deadline exceeded","metadata":{"internalRepr":{},"options":{}}}`

Is there any mor

[2019-11-12 17:23] colmsnowplow opened #817 "Publisher Client `close()` method"
**Is your feature request related to a problem? Please describe.**

There's currently no method to close a client. I'm using the client in a persistent environment, which isn't guaranteed to be actively processing data at any given time.

If there's a delay between messages, there's a chance that the network connection fails to resolve, eg. if the connection is closed on the server side but not cl

[2019-11-12 17:27] merlinnot commented on #817
This is a great feature request, I'd benefit from it too.

There's a similar FR against Firestore: https://github.com/googleapis/nodejs-firestore/issues/769
And a preliminary PR against API Client Generator for TypeScript: https://github.com/googleapis/gapic-generator-typescript/pull/126

[2019-11-13 09:30] npomfret opened #818 ""Failed to connect before the deadline" errors being seen"
Since upgrading to the latest pubsub (`"@google-cloud/pubsub": "1.1.5"`) my node is still getting occasional errors from the underlying grpc library.  My app is using grpc-js@0.6.9:

$ npm ls | grep grpc-js
│ │ ├─┬ @grpc/grpc-js@0.6.9

It's not as bad as it was.  When I first upgraded to pubsub 1.x it simply didn't work at all, I'd get an error within a few seconds of the app starting and from the

[2019-11-13 17:35] bcoe commented on #818
as discussed [here](https://github.com/grpc/grpc-node/issues/1173) this is a known, non-fatal, warning coming out of `@grpc/grpc-js`; there's a hunch that it might actually be a problem with the HTTP2 implementation in Node.js.

[2019-11-13 22:39] npomfret commented on #818
@bcoe including the "Failed to connect before the deadline" error?

It happened again today with the debug flags on:

[code]

[2019-11-13 23:27] bcoe commented on #818
@callmehiphop can you speak to the above :point_up: , what situations can lead to this (I believe you were helping a user with a similar issue last week).

[2019-11-14 00:13] callmehiphop commented on #818
@bcoe this is not the same issue, this looks like the same issue we were having with gRPC previously. That specific error occurs when a timeout occurs while waiting for the gRPC channel to get put into a ready state.

[2019-11-14 19:59] bcoe commented on #818
@callmehiphop @alexander-fenster I was wondering if there's a parameter that can be tuned to increase the connect timeout.

@npomfret would you be able to provide the detailed debug output when this connection error occurs?

[2019-11-14 20:02] callmehiphop commented on #818
@bcoe there is, but the default value is 5 minutes, so I'm not sure I think that increasing the timeout here is the right solution.

[2019-11-15 10:18] npomfret commented on #818
I have (above).  I tuned on `GRPC_TRACE=all` and `GRPC_VERBOSITY=DEBUG` as instructed.  The only output I saw in stackdriver that was at a similar time to the error occurring is:

`E 2019-11-13T12:40:23.450999975Z 2019-11-13T12:40:23.451Z | subchannel | 172.217.203.95:443 IDLE -> TRANSIENT_FAILURE
`

All other logging at that time came from my app.

[2019-11-15 22:02] bcoe commented on #818
@npomfret it sounds like your logs have given @murgatroid99 a hunch, as to what's happening. If you're open to it, we can try floating a patch to you early next week?

CC: @alexander-fenster who I've been working on a process with to facilitate releasing candidate versions to folks.

[2019-11-17 13:14] npomfret commented on #818
@bcoe happy to help

[2019-11-18 11:08] shaibt commented on #811
Same problem here.
Node: 12.13.0
PubSub: 1.1.5
Storage: 4.1.2

If I init PubSub before Storage - no problem (so far)
If I init Storage 1st - same exact problem (and trace) as above:
[code]

BTW, Firestore client (2.6.0) is inited before both.
Also, just noting: Firestore & Pubsub are pulling in google-gax (1.7.5) which is pulling in  @grpc/grpc-js (0.6.9) while Storage isn't. Read in some other Gi

[2019-11-19 02:00] bcoe opened #821 "the first call to snapshot.create() fails with 13 INTERNAL"
## The Issue

The first call to `subscription.createSnapshot` or `await snapshot.create` consistently fails with:

[code]

This error is reproducible in the console:

![example](https://user-images.githubusercontent.com/194609/69109625-2fcd2100-0a2d-11ea-9fe8-76942215f8f5.png)

## Workaround

Calling `create` a second time works both from the client library and console.

[2019-11-19 19:24] bcoe commented on #788
@Legogris @vigandhi @ibarsi @bsato212 if anyone has the cycles to test the dependency out, could I bother you to try the dependency:

[code]

:point_up: I've released version ` 1.1.6-beta.0` of PubSub, which hopefully addresses some lingering memory issues that folks were seeing.

---

@ibarsi @vigandhi I have not floated a similar patch for `@google-cloud/logging-bunyan`, if this seems to be wher

[2019-11-20 12:50] glesage opened #825 "Error [ERR_STREAM_WRITE_AFTER_END]: write after end"
#### Environment details

  - OS: Google Cloud Container-Optimized OS
  - Node.js version: 10.17.0
  - npm version: 6.12.0
  - `@google-cloud/pubsub` version: 1.x (1.1.5, tried reverting down to 1.0.0, same error, currently using 0.21.1)

#### Steps to reproduce

Unclear so far but have been seeing it after publishing 10k+ messages to various topics. Will get back with more details when we can but

[2019-11-20 20:38] callmehiphop commented on #825
@glesage thanks for reporting! Do you know when this error starting popping up? Did it start after a dependency update or was it there from the start?

Also do you have any insight as to whether this might be coming from the publisher or the subscriber?

[2019-11-20 21:56] glesage commented on #825
This started happening for us when we rolled out version 1.1.5 a few days ago.

Unfortunately I do not know for certain because the app that uses this is both a subscriber and publisher and the stack traces are very un-helpful /: No matter how many try catch blocks we add temporarily to debug they never seem to trigger and our app just crashes without correctly handling this error

[2019-11-20 23:29] glesage commented on #825
We are actually able to go up to v0.29.1 without this issue happening so it seems possible that v0.30.0 introduced it (or exposed it)

Maybe one of the changes to grpc extensions & dependencies has something to do with it. Will try to identify more clearly where it gets thrown tomorrow

[2019-11-22 09:00] flunderpero commented on #818
Every time we see this error, the subscription stops working and no new messages are consumed until we restart the POD.

[2019-11-22 16:36] ericpearson commented on #788
@bcoe Cool, we will try out the patch thanks for the information. Can you elaborate on what you mean by not floating a patch for the same issue to bunyan? Is there a common piece of code that affects both products in relation to the memory issues that were being observed?

I also was curious if using the native c++ grpc client mitigates this issues and if so can other libraries be made to use the

[2019-11-22 19:15] bcoe commented on #788
@ericpearson we will soon have the updated version of `@grpc/grpc-js` to all libraries, we are testing it out first on @google-cloud/pubsub, because this is the library that the bug had been discovered on.

The grpc dependency works on any of our grpc libraries, and I don't believe has been exhibiting this specific bug (so might be worth a shot). Within the next couple weeks we'll also release the

[2019-11-22 19:19] bcoe commented on #818
@npomfret we've released `@google-cloud/pubsub@next` (`1.1.6-beta.0`), which has `@grpc/grpc-js@6.12.0`, there's a bug fix related to the error you reported.

If you have a chance, try it out? and we'll release more widely after the american holidays?

[2019-11-23 10:45] npomfret commented on #818
I'll do a release today using @google-cloud/pubsub@next and run it for a few days

[2019-11-24 04:40] alexander-fenster opened #826 "system and samples tests failing"
This Saturday some system and samples tests started to time out. I'm not sure if it's caused by a service issues or this library, but the problems reproduce in nightly tests, on my local machine, and in gax pubsub tests.

Example of the failure: https://source.cloud.google.com/results/invocations/55727ac5-4208-49e2-a5bd-ee92659740ca/targets/cloud-devrel%2Fclient-libraries%2Fnodejs%2Fnightly%2Fgoog

[2019-11-24 11:39] npomfret commented on #818
I've had two of these in the past 24h with the new code:

`{"code":4,"details":"Failed to connect before the deadline","metadata":{"internalRepr":{},"options":{}}}`

My app is still running and receiving messages.

[2019-11-24 14:13] stephenplusplus commented on #826
The same tests that fail in that log aren't the same for me locally. I do have one failing test:

[code]

PR sent to fix that: #827

[2019-11-27 23:44] failure-checker[bot] opened #829 "Warning: a recent release failed"
The release PR #432 is still in a pending state after several hours

[2019-11-28 00:30] #829 closed

[2019-11-28 01:01] failure-checker[bot] opened #830 "Warning: a recent release failed"
The release PR #401 is still in a pending state after several hours

[2019-11-28 01:33] #830 closed

[2019-11-28 02:01] failure-checker[bot] opened #831 "Warning: a recent release failed"
The release PR #394 is still in a pending state after several hours

[2019-11-29 13:14] glesage commented on #825
We've reverted to version 0.29.1 for now and been using for a week with no issues. Hopefully we'll find some time to debug this some more so we can upgrade but may be a while. Just throwing it out there for those who might be able to (:

[2019-11-29 22:33] ASRagab opened #832 "Allow Choice of Encoding for publishJSON method"
https://github.com/googleapis/nodejs-pubsub/blob/13a33b5bd34b470aa46206b7fb8c42d9b6067c2a/src/topic.ts#L720

The `publishJSON` method encodes the stringified json in `utf8`. If I would like to publish this message so that it could trigger another cloud function, this Buffer should be encoded in `base64`.

https://cloud.google.com/pubsub/docs/publisher

I would like to allow the encoding to be pass

[2019-11-29 23:43] #832 closed

[2019-12-02 03:33] reco commented on #679
hey there, not behind a proxy but same issue:

[code]

[2019-12-02 08:59] npomfret commented on #818
[update] I've had zero errors since the 24th November.

[2019-12-02 17:25] bcoe commented on #818
:+1: @npomfret that's great to hear, I'll close as soon as we've ensure that all of our libraries are on `@grpc/grpc-js@6.12.0`.

[2019-12-03 16:43] michelepatrassi commented on #570
@hbk899 @danieldanielecki you can fix by adding process to your fake window in the `server.ts` file
[code]
[You can find more info in this article](https://medium.com/@michele.patrassi/angular-ssr-firebase-save-days-of-debugging-by-reading-these-fixes-fcb060e248bb?source=friends_link&sk=62bebf17f7250c3a47d43bfb38f03786), with also other errors I encountered with Angular SSR + Firebase

[2019-12-05 15:25] davemason-ladbible opened #834 "TypeError: channelCredentials._equals is not a function"
This issue occurs on versions 1.1.2 and later.

When attempting to publish a message to the emulator, I'm getting the following error:

`TypeError: channelCredentials._equals is not a function`

Function to re-create error:

[code]

Dockerfile of emulator:

[code]

#### Environment details

  - OS: alpine
  - Node.js version: 10.15.0
  - npm version: 6.5.0
  - `@google-cloud/pubsub` version: 1.1.2

[2019-12-05 18:18] callmehiphop commented on #834
@davemason-ladbible thanks for the write up! Any chance you could provide us with a stack trace?

[2019-12-06 15:30] davemason-ladbible commented on #834
@callmehiphop Sure, here you are:

[code]

[2019-12-06 20:20] callmehiphop commented on #834
Interesting, @murgatroid99 any thoughts on this?

[2019-12-07 09:20] murgatroid99 commented on #834
My best guess from that error is that a Client or Channel is being created with a bad `channelCredentials` argument. It could be some other kind of object, or a `ChannelCredentials` object from the `grpc` library or an older version of `@grpc/grpc-js`. I don't immediately see anything in that code that would cause that.

[2019-12-09 11:12] soubhikchatterjee commented on #679
Even I was able to replicate it when using the google ML npm module

[code]

Any fix for this yet?

[2019-12-09 20:13] lijjumatt commented on #118
@lazharichir - The solution worked for me. I was wondering if there is a way to automate this step. I see a gcloud domain verify but not for the URL though. I was looking for a automated way (as part of CICD) of creating the Cloud function, domain verification and pub sub subscription

[2019-12-10 22:57] andykellr commented on #346
The above solution didn't work for me. Here is what I used, borrowed from the `nodejs-firestore` repo.

[code]

[2019-12-11 09:36] npomfret commented on #818
Sadly I spoke too soon.  I upgraded from `"@google-cloud/pubsub": "^1.1.6-beta.0"` to `"@google-cloud/pubsub": "^1.1.6"` on the 6th November, and according to my logs the errors came back on the 6th November.  At the same time I also upgraded `@google-cloud/firestore` and `@google-cloud/logging` to the latest versions, perhaps the problem lies in them?  Currently I'm running with:

    "@google-cl

[2019-12-12 21:08] #821 closed

[2019-12-12 21:10] bcoe commented on #826
this was an internal API issue that should now be fixed.

[2019-12-12 21:10] #826 closed

[2019-12-12 21:13] bcoe commented on #818
@murgatroid99 ☝️ does anything jump out at you in these logs, is there anything additional that @npomfret can provide to help you debug.

[2019-12-12 23:35] JasperWoo commented on #791
@npomfret Hi, in which API call are you getting this Deadline Exceeded error?

[2019-12-13 00:03] npomfret commented on #791
pubsub

[2019-12-13 16:15] bcoe commented on #791
@npomfret as @callmehiphop mentions in this thread, one thing that can happen is that a `pull` occurs, and it times out because there are no messages available (it getting close to the holiday season, I wonder if it could potentially be less messages in the pipeline as an example).

Have you tried increasing the timeout, like @oande suggests in this thread:

[code]

[2019-12-13 16:46] npomfret commented on #791
I'm not using the pull api.

[2019-12-16 14:03] bcoe commented on #791
@npomfret bother you to open a new issue with a specific breakdown of the bug you're seeing. I think useful additional information would be:

1. `@grpc/grpc-js` version you're on.
2. if you're able to run with debug enabled, I've found this has helped a ton in isolating issues.

[code]
3. frequency with which you're seeing this issue; _is it happening periodically in your logs? all the time?_

Tha

[2019-12-20 00:59] feywind commented on #679
I've set up a local proxy to try to reproduce this (since it seems like a proxy was the common denominator for most of the reports) but I haven't had much luck so far. I'll keep it in my queue to look in more depth.

[2019-12-21 09:00] merlinnot commented on #817
@bcoe @callmehiphop It was now implemented in the Firestore client and I got impressive gains thanks to it, see https://github.com/googleapis/nodejs-firestore/issues/769#issuecomment-568165126. Is there a chance to prioritize this feature somehow? I have the exact same issue with PubSub, as I had with Firestore.

[2019-12-26 21:30] bcoe commented on #817
@merlinnot just added to the schedule for our next library group meeting; @feywind probably worth having this on your radar 👍

[2019-12-26 22:09] #831 closed

[2019-12-30 17:58] colmsnowplow commented on #817
Good to hear this will be discussed!

For the record/in case it's pertinent I read over the issue @merlinnot linked to for firestore, and we face exactly the same problem (although he described it better than I!)

[2019-12-30 20:00] bcoe opened #842 "all builds are failing due to upstream dependency"
All builds are currently failing, e.g., #841, due to a breaking upstream dependency preventing TypeScript compilation.

[code]

  -- **Benjamin Coe**

[2020-01-06 14:48] stephenplusplus commented on #842
Looks like #843 removed `is`, so that probably fixed this one.

[2020-01-06 14:48] #842 closed

[2020-01-06 21:53] hixus opened #847 "Pushing 400k messages creates 10m messages to pubsub"
I tried to push avro file contents to pubsub (1 record/message). The file had 429 077 records but after the push pubsub graph showed about 10 million messages. Also logged the publish calls and it was called the correct amount of times (429 077). Code is below and it's highland stream wrapped to promise.

[code]

#### Environment details

  - OS:
  - Node.js version: v10
  - npm version: 6.11.3

[2020-01-08 11:07] glesage commented on #743
Hi there, is there some information anywhere about which setting this `batching.callOptions.timeout` affects? What is the default value and what is it's effect?

eg in this file I see lots of settings but not sure which it applies to https://github.com/googleapis/nodejs-pubsub/blob/master/src/v1/subscriber_client_config.json

[2020-01-08 12:06] glesage commented on #825
As a quick note just ran another test of this and still happening with 1.5.0

[2020-01-10 17:46] #733 closed

[2020-01-12 20:42] pjm17971 opened #850 "Backlog spikes reported every hour"
We run many workers on GKE that essentially pull messages from a Pubsub subscription at a rate of about 120k/min, do some processing and write the result into Bigtable. As part of a recent change we upgraded this Pubsub client library from 0.29.1 to 1.2 and immediately started to see alerts.

What we started to see after this upgrade was spikes in the reported backlog (and oldest unacked message a

[2020-01-13 12:10] kbariotis commented on #834
Found the same when attempting to connect to the emulator.

[2020-01-13 12:33] willianw commented on #834
Found the same when attempting to create a new subscription wihtin the emulator. Topic creation is ok. Versions:

- @google-cloud/pubsub@0.30.1
- grpc@1.22.2
- npm@6.13.4
- node@12.14.0

[2020-01-13 22:22] feywind commented on #850
@pjm17971 Hi Peter, we've been seeing a number of issues lately that involved upgrading the nodejs-pubsub version from one of the 0.x to the latest one. The common suggestion I've seen is to try switching to the C++ gRPC bindings, so you might give that a try.

[code]

(Or however you instantiate the PubSub object, you can provide `grpc` to replace its implementation.)

I'll look at this some more

[2020-01-14 08:27] pmcnr-hx opened #851 "`batching.maxMilliseconds` publisher option not being honoured in 1.2.0"
#### Environment details

  - OS: any
  - Node.js version: any
  - npm version: any
  - `@google-cloud/pubsub` version: `1.2.0`

#### Steps to reproduce

1.  Create a publisher for a topic and set its `batching.maxMilliseconds` option to something other than the default 100ms.
2.  Measure the latency for a message being received by a subscriber:
- for `@google-cloud/pubsub <= 1.1.6` the latency wi

[2020-01-14 12:10] yoshi-automation opened #852 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/c9a67de3-2540-4828-a553-47aa5fbae976).

[2020-01-14 16:36] pmcnr-hx commented on #850
We have seen similar behaviour when using the `@grpc/grpc-node` pure JavaScript module that is the default in > 0.29.1 versions and I can confirm that this is solved, like suggested above, by opting in to the native bindings gRPC module instead.

[2020-01-15 12:42] yoshi-automation commented on #852
Autosynth passed, closing! :green_heart:

[2020-01-15 12:42] #852 closed

[2020-01-15 15:00] pjm17971 commented on #850
@feywind Thanks for the info. If we give it a try I'll report back here if it worked or not. Is there an issue on the grpc javascript side that we can track so we'll know when to switch this back out?

[2020-01-15 16:19] ReefBuddy commented on #367
@stephenplusplus I see the link you shared points to legacy docs. Does it still apply? Do you have an updated link for the latest?

[2020-01-15 22:50] feywind commented on #367
@ReefBuddy I think all of that has been moved over to the .dev site now:

https://googleapis.dev/nodejs/pubsub/latest/global.html#ClientConfig

Hope that helps!

[2020-01-16 18:07] feywind commented on #850
@pjm17971 I'm actually pretty new on the team, so I don't have a map of everything that's going on in my head yet :) but there have been a number of issues lately with gRPC vs grpc-js. I'll be on the lookout for a useful grpc issue for you.

@bcoe Do you know of one off the top of your head?

[2020-01-16 21:50] feywind commented on #850
@pjm17971 If you have a chance, can you try turning on the GRPC debug flags with these environment variables?

GRPC_TRACE=all
GRPC_VERBOSITY=DEBUG

Specifically with the configuration described as problematic in the original post, if possible.

Thanks!

[2020-01-17 17:39] ettancos opened #854 "AckDeadline is not respected"
#### Environment details
  - OS: linux
  - Node.js version: >12
  - npm version: > 6
  - `@google-cloud/pubsub` version: 1.3.0

What are trying to do is to have is a simple fixed-retry using the default ackDeadline.

#### Steps to reproduce
  1. create a subscription with an arbitrary ackDeadline
  2. run a subscriber and nack() any message

Message will be redelivered in the next 1-3 seconds rega

[2020-01-17 18:03] feywind commented on #854
@ettancos Thanks for the super detailed description! It sounds like, from the earlier PR, the Pub/Sub service itself doesn't support the delays, and maybe they didn't want us exposing a half-baked version from the client library side. I'm new to these libraries though, so I will see if there's someone on this side that would know more.

[2020-01-17 21:53] feywind opened #855 "Synchronous pull sample is actually synchronous pull with lease management"
This was discovered by way of a documentation bug report, which was fixed by (https://github.com/googleapis/nodejs-pubsub/pull/844). The sample called synchronousPull is actually for the synchronous pull with lease management doc section. There isn't a sample for real synchronous pull, and there should be.

This task is for updating the GitHub repo for the above. The doc site change is being track

[2020-01-18 11:39] hixus commented on #847
Tested this with pubsub emulator and syncronous pull. Worked as intented but with the actual pubsub-service the message count just kept increasing and increasing (purged after 400k messages where nearing 10 million).

Where could i file a bug report to pubsub itself? It seems that pub/sub is horribly buggy. TO RECAP IT DOES NOT HAPPEN WITH MESSAGE BURST LESS THAN 100K.

[2020-01-18 12:57] hixus commented on #847
Created example repo https://github.com/hixus/faulty-google-pubsub. Message multiplication was less but still 50% when I kept publisher on. Does the publisher also need to ack sent messages?

[2020-01-21 22:34] feywind commented on #854
The best answer I've gotten from anyone internally is pretty much what I wrote above, that the actual service team doesn't want us pseudo-implementing ack delays in the client libraries. If something changes there, I'll update this. In the meantime, you might try pinning to an older version, as that linked PR suggests. Really not a very satisfying answer, but it's the best one I have right now.

A

[2020-01-21 23:05] feywind opened #858 "Update client library defaults to match other language libraries for Pub/Sub"
This is in regards to cps-libs-defaults. We want to update the client libraries to have matching defaults.

[2020-01-22 00:43] feywind commented on #847
@hixus Hi and thanks for making a nice detailed example. I'm new to the client libraries, so I apologize up front if it takes a few tries to get this where it needs to go! (Also for the late response.)

After staring at the code a bit, I want to say that there may be an issue with the queue batching code in the client library. If there's an issue with the service itself, I'll try to get the matchi

[2020-01-22 23:21] ettancos commented on #854
@feywind thank you very much for checking this. This helps us decide how to move forward. Clarifying the semantics in the documentation sounds great.

I'm trying to understand this, let me try to rephrase. In the higher level subscription provided in the library, the ack deadline should only be used for message processing timeout. Message delay semantics (i.e.: cannot handle the message right now,

[2020-01-22 23:58] feywind commented on #855
Devsite is also updated, going to go ahead and close this out.

[2020-01-22 23:58] #855 closed

[2020-01-23 10:05] wspringer commented on #367
I keep getting "User not authorized to perform this action." This is my ClientConfig:

[code]

It works fine if I relace all of that with this:

[code]

But because of some deployment restrictions, I can't use files.

[2020-01-24 21:48] feywind commented on #854
@ettancos

Yep, that was my intent. I'm not completely sure about the answer some of these other points. I'll see if I can poke some others who might know more than me about the details.

[2020-01-24 22:05] kamalaboulhosn commented on #854
Yes, that is correct.

The intended semantics were much closer to a message lease than an ack deadline. In other words, the idea behind the ack deadline (and the ability to modify it) is "the subscriber has x seconds to process the message. If it needs more time to process the message, it can ask for more time via the modifyAckDeadline request."

We understand that the ability to delay redelivery

[2020-01-25 16:21] ettancos commented on #854
@feywind @kamalaboulhosn thank you, this makes things a lot clearer for us. Feel free to ping me if I can help somehow.

[2020-01-27 12:52] kbariotis opened #866 "Deadline exceeded error with any version after 1.1"
#### Environment details

  - OS: MacOS
  - Node.js version: 12
  - npm version: latest Yarn (1.x)
  - `@google-cloud/pubsub` version: All versions after 1.1

#### Steps to reproduce

Code:

[code]

#### Logs

Below starts the execution of the above function with version 1.0, then I am installing version 1.1 and start the execution again.

[code]

[2020-01-27 22:31] feywind commented on #866
@kbariotis Thanks for the detailed reproduction steps! I'll put this in the queue to look at.

[2020-01-27 22:45] feywind opened #867 "Normalize error / return codes for Node.js Pub/Sub library"
This is a chore task to update the error codes to match our other client libraries. Will post further links internally, but this is to track on GitHub.

[2020-01-27 23:12] feywind commented on #797
Closing this out as a stale issue, please re-open with sample code if possible, if this is still a problem.

May be related to this, re proxies: https://github.com/googleapis/nodejs-pubsub/issues/679

[2020-01-27 23:12] #797 closed

[2020-01-27 23:18] feywind opened #868 "Various problems seem to be happening in regards to grpc-js"
Over the course of the last few months, I've been tracking a number of issues where the answer was "roll back to an earlier version", and often when I ask people to try the newest version, but sub in the gRPC C++ bindings, it also works fine. (Or sometimes even better than the older version.)

There is something going on there that needs to be figured out. I'm making this to track related things i

[2020-01-28 00:04] feywind commented on #858
Turns out there were several more tabs of stuff to update, so I'm re-opening this.

[2020-01-28 00:05] feywind commented on #867
This is being rolled back into https://github.com/googleapis/nodejs-pubsub/issues/858

[2020-01-28 00:05] #867 closed

[2020-01-28 00:12] feywind commented on #679
My guess right now is that this is some sort of interaction between Node's HTTP/2 implementation and user proxies, but since none of us have been able to repro it here, I'm not sure there's much we can do. :( If anyone can give us detailed info about their proxies (especially if it's something open source like Squid) then we can try with that.

[2020-01-28 00:12] #679 closed

[2020-01-28 01:04] feywind commented on #847
I built my own reproduction case that's just publishing really simple messages (101k of them) and I'm not seeing the problem, but I will try again tomorrow with your sample repo.

There are two variables for me:
- I'm using Node v12.13.0 ... will try out with 10.
- I'm using the latest nodejs-pubsub, which is now 1.4.0. Not much changed since 1.3.0 though, which it looks like your sample repo is u

[2020-01-28 10:49] kbariotis opened #869 "Pubsub emulator with v1 doesn't work"
#### Environment details

  - OS: MacOS
  - Node.js version: 12
  - npm version: Latest yarn 1.x
  - `@google-cloud/pubsub` version: Latest

#### Steps to reproduce

Using the [synchronous pull example](https://github.com/googleapis/nodejs-pubsub/blob/master/samples/synchronousPull.js), the PusSub emulator doesn't seem to be working. It's as the env variable `PUBSUB_EMULATOR_HOST` is being ignored

[2020-01-28 19:34] feywind commented on #869
@kbariotis Thanks for the bug report! I just recently worked on these samples, and it's possible there's something missing in there that needs to be re-piped-through. I'll take a look.

[2020-01-28 23:31] feywind commented on #869
Yeah, I'm able to see this too. There are errors on both synchronous pull samples with the emulator. There is some higher priority stuff in the queue ahead of this, but I'll be looking to fix it.

[2020-01-29 00:46] feywind commented on #847
With your test, I am definitely seeing the dashboard jump up to 800k+ unacked messages, which is interesting. I'm also seeing more read messages than what was pushed. With my own test sample, for whatever reason, that's not happening. One thing I noticed with your test repro though, the draining via subscription takes a super long time, and it looks like I'm doing event-based draining, while you'r

[2020-01-29 21:28] hixus commented on #847
I managed to get it send correct amount of messages with v1.publisher (batches of 100 messages). Subscriber was changed to v1 because of this https://cloud.google.com/pubsub/docs/pull#streamingpull_dealing_with_large_backlogs_of_small_messages.

I think something is not working correctly with new publisher when dealing with large amount of messages. The reason could be fire and forget style (await

[2020-01-31 09:49] merlinnot commented on #817
@bcoe Did the meeting happen already?

[2020-01-31 13:54] saeromCho commented on #742
Yes, I understand your comment. Thank you guys for comment for my issue :)

[2020-01-31 20:59] feywind commented on #817
@merlinnot @colmsnowplow It's been discussed a couple of times. I haven't heard a super definite "yay do it", but I think the consensus is that we're planning to do it. Basically that it probably shouldn't be necessary to use a close() method, but that it will still probably help people for now. It's behind another fire or two though :)

[2020-02-04 09:07] npomfret commented on #818
I'm still getting these with the latest release, although it has to be said they do appear to be reducing in frequency (2 in the past 4 days, before it was more like 4 per day on my system).

Using...

    "@google-cloud/firestore": "^3.4.1",
    "@google-cloud/logging": "7.1.0",
    "@google-cloud/logging-bunyan": "^2.0.3",
    "@google-cloud/pubsub": "^1.4.1",

[2020-02-04 21:28] merlinnot commented on #817
@feywind Some edge cases were discussed in this thread: https://github.com/grpc/grpc-node/pull/1083. It's quite lengthy, but it took quite some time to get to a common understanding. Bottom line: there are some scenarios where having a `close` method is strictly necessary and there's no way around it. That's why a patch was made to [@grpc/grpc-js](https://github.com/grpc/grpc-node/pull/1083), then

[2020-02-05 14:35] Ezard commented on #868
@feywind #770 is another one

[2020-02-05 16:43] JimPatterson opened #879 "missing @grpc/grpc-js dependency"
#### Environment details

  - OS: Alpine Linux 3.9
  - Node.js version: 12.13.0
  - npm version: **[pnpm](https://pnpm.js.org/)** 4.9.2 instead of npm
  - `@google-cloud/pubsub` version: 1.4.1

#### Error seen

When trying to require pubsub, I get an error that @grpc/grpc-js can't found like:

[code]

The error is being seen due to the non-flat node_modules layout that [pnpm](https://pnpm.js.org/)

[2020-02-05 22:20] feywind commented on #868
After reading that issue, I think this may also fall into the bucket: https://github.com/googleapis/nodejs-pubsub/issues/866

[2020-02-07 09:11] psychonetic commented on #825
Hello,

I can confirm the same behaviour. This usually happens after a couple of hours. After restarting the application everything works fine again.

[2020-02-07 18:51] feywind commented on #825
Yeah, and this happened in 0.30.0, too:

https://github.com/googleapis/nodejs-pubsub/pull/658

We're looking at just reverting back to the gRPC C++ bindings for now. I'm talking with some folks on Monday before we commit to that. In the meantime, it's possible to manually switch to them and see if it helps:

[code]

[2020-02-07 21:10] #858 closed

[2020-02-08 00:15] feywind commented on #879
Thanks @JimPatterson for the report! There are some other issues going on regarding grpc-js, so I'll probably look at this in that context.

[2020-02-10 17:41] JustinBeckwith opened #884 "Sample tests are flaky"
Looking at https://github.com/googleapis/nodejs-pubsub/pull/882, there's no reason the sample tests should be failing there.

Results are here:
https://source.cloud.google.com/results/invocations/c478b728-cd2b-4a0f-a3a5-545b2b668db1/targets/cloud-devrel%2Fclient-libraries%2Fnodejs%2Fpresubmit%2Fgoogleapis%2Fnodejs-pubsub%2Fnode10%2Fsamples-test/log

[2020-02-10 17:50] feywind commented on #884
To be fair, this deadline exceeded thing is something we've been hearing about outside of sample tests, so this might just be the sample tests working as intended.

[2020-02-10 17:53] JustinBeckwith commented on #884
_nods_ I hear ya.  May not be anything we're doing wrong in the code, but we can't be flakin.  I'm fine with tactical retries if that's what we need here.

[2020-02-10 17:56] feywind commented on #884
Oh I agree, I just think it's potentially nice that the tests are catching problems rather than just being flaky :)

[2020-02-10 20:44] bcoe commented on #879
@feywind @JimPatterson :wave: [google-gax](https://www.npmjs.com/package/google-gax) which is depended on by `@google-cloud/pubsub` has `@grpc/grpc-js` as a dependency, so it's definitely in the dependency graph of a fresh installation.

This sounds like it's potentially an issue with `pnpm`, mind testing out with an `npm` install, and seeing if things do work for you as expected?

[2020-02-10 21:18] feywind commented on #879
@bcoe I guess my quick triage of the question last week... the Pub/Sub code is directly require()'ing grpc-js. e.g.:

[code]

It seems like that's making some shaky assumptions about the availability of the grpc-js module to the pub/sub module. I'm guessing we decided to pull it in through gax to manage versions there, but it doesn't seem technically correct to me.

On the other hand @JimPatterson

[2020-02-11 21:42] feywind commented on #884
I think this may also go on the flake list (though not strictly about samples, I'm okay with this issue being a bit expansive). https://github.com/googleapis/nodejs-pubsub/pull/880/checks?check_run_id=439299785

[2020-02-12 00:41] willbattel opened #885 "Slamming Pub/Sub with publishJSON requests yields google-gax timeout errors"
I've noticed numerous other related issues, but followed the recommendation here https://github.com/googleapis/nodejs-pubsub/issues/770#issuecomment-544013584 to post a new issue in isolation for posterity, just in case.

#### Environment details

  - OS: Google App Engine Standard
  - Node.js version: `^10`
  - npm version: N/A
  - `@google-cloud/pubsub` version: 1.5.0

#### Steps to reproduce

W

[2020-02-12 00:51] feywind commented on #868
Potentially related. https://github.com/googleapis/nodejs-pubsub/issues/885

[2020-02-12 00:51] feywind commented on #885
@willbattel Thanks for posting this! I'm going to link this to the meta-issue I've been building in regards to things that be grpc-js issues. I don't guess you've tried with the C++ bindings?

[2020-02-12 01:13] willbattel commented on #885
@feywind just tried it now. Following the `grpc` technique shown here https://github.com/googleapis/nodejs-pubsub/issues/770#issuecomment-541226361, we're curiously getting the same error in Stackdriver but the process survives noticeably longer (3x) before tripping over itself and dying.

Looking at the Pub/Sub console, it seems significantly more messages did get published than before changing t

[2020-02-12 01:46] willbattel commented on #885
@feywind upon further inspection, it looks like every document did get sent over to the receiving subscriber. I'm still not sure why we see the same errors in Stackdriver, but if those errors hadn't appeared it would have seemed to work without issue when using `grpc`.

[2020-02-12 16:21] Zimovets opened #886 "code example doesn't work"
![Аннотация 2020-02-12 181329](https://user-images.githubusercontent.com/28711392/74354287-cfe3dd80-4dc3-11ea-978f-c473f9dcd770.jpg)
![Аннотация 2020-02-12 181359](https://user-images.githubusercontent.com/28711392/74354292-d07c7400-4dc3-11ea-9913-b2efc90478ff.jpg)

I did all as mentioned in docs, I got JSON  with credentials, I set the environment variable for windows, but I got an error, recentl

[2020-02-12 16:34] Zimovets commented on #886
was searching the solution and tried to install Google Clouse SDK, and got this

![image](https://user-images.githubusercontent.com/28711392/74355998-4eda1580-4dc6-11ea-84c3-a7ef65d8ed6e.png)

[2020-02-12 20:59] feywind commented on #886
@Zimovets Thanks for the report. It sounds like there might be two separate issues here. I'll see if I can get the latter issue pushed to the gcloud installer folks. For the former, this is a total shot in the dark, but can you try removing the spaces from the filename of the json file?

[2020-02-13 09:08] Zimovets commented on #886
I tried remove spaces, it didn't work, but this problem I solved using process.env

![image](https://user-images.githubusercontent.com/28711392/74418497-21867980-4e51-11ea-8d67-8773e44d6583.png)

[2020-02-17 09:53] npomfret commented on #818
I may be speaking too soon, but it looks like the latest release may have fixed this issue.

Recent releases seem to have steadily reduced the number of errors, but until recently I was getting one or two errors per day.  I've had zero for five days now.  The upgrade in question took my deps from:

    "@google-cloud/firestore": "^3.4.1",
    "@google-cloud/logging": "7.1.0",
    "@google-cloud/lo

[2020-02-17 12:05] pmcnr-hx commented on #851
As of `1.5.0` this seems to be fixed (might have been earlier), so I'm closing this issue as fixed.

[2020-02-17 12:05] #851 closed

[2020-02-17 17:27] Zimovets opened #888 "Notification delay time"
I was testing the library and can't understand one thing, how much time should pass after I changed or posted review and I will get the notification using subClient.pull, because, I changed something and get only 4 DEADLINE_EXCEEDED: Deadline exceeded , as I understand this error occurs if the queue is empty, but one time I got some message but unfortunately didn't check is it the message about re

[2020-02-17 17:36] yagodorea commented on #868
I saw some bugs were resolved by the latest pubsub release. Is this gRPC issue one of them? If changing the default binding can solve it, can't we make it the default binding in the lib?

[2020-02-18 18:25] feywind commented on #886
@Zimovets Thanks for the update! Was the Powershell part of that in a sample/doc somewhere? If so, it sounds like we might need to update the docs, if the env setting didn't make it through.

[2020-02-18 19:13] Zimovets commented on #886
setting up environment variable on windows didn't work for me, maybe I did something wrong

[2020-02-19 00:00] feywind commented on #888
Generally the lag between posting to a topic and receiving on a subscription should be fairly short. I'm not as familiar with the queue empty behavior, but DEADLINE_EXCEEDED does kind of make sense if you're doing synchronous pull calls.

[2020-02-19 09:03] ctavan commented on #850
Just chiming in to let you know that I'm experience the precise same behavior as @pjm17971 with a couple of subscribers running on GKE.

Here are the versions and the respective behavior that I have been observing:

[code]

Providing the C++ `grpc` bindings to the `PubSub()` constructor as suggested by @feywind seems to be a viable workaround so far.

----

That said, with the `pubsub-1.1.5 grpc-j

[2020-02-19 09:37] ctavan commented on #850
I just realized that in the original issue description the spikes appear exactly each full hour. This is not the case in my setup. In my setup the spikes appear in irregular intervals around 2-5 times per day.

[2020-02-19 12:24] ctavan opened #890 "Subscriber maxes out CPU after exactly 60 minutes on GKE"
#### Environment details

  - OS: GKE
  - Node.js version: 12.14.1
  - npm version: –
  - `@google-cloud/pubsub` version: `pubsub@1.5.0` / `grpc-js@0.6.16`

#### Steps to reproduce

  1. Start a pod that subscribes to an idle subscription
  2. Wait 60 minutes
  3. Observe node process eat up all available CPU

<img width="570" alt="Screenshot 2020-02-19 12 54 29" src="https://user-images.githubuse

[2020-02-19 16:05] hefekranz commented on #890
same is happening to us. Thought it was a bad implementation...

[2020-02-19 16:58] codersbrew commented on #890
We are also seeing the same issue. We've been having a lot of strange behavior with this library.

[2020-02-19 18:20] feywind commented on #890
Thanks everyone, especially for that log output! I find this to be particularly suspicious:

[code]

I'm working on trying to build some kind of repro to pass on to the grpc team.

We have only one Node library that's defaulting to the gRPC C++ bindings at this point (spanner), so there has been some hesitation about switching this one back to it by default, but it also seems to be affecting a lot

[2020-02-19 18:51] crivera commented on #890
We are seeing a similar issue where our node process gets killed if a subscription has been idle for 60 minutes - without any logs.

[2020-02-19 19:02] murgatroid99 commented on #890
Can you clarify when you restarted the process relative to the final timestamped log message? Was the log cut off because you restarted, or was there a time gap after the last log message and before the manual restart?

[2020-02-19 19:08] crivera commented on #890
We are not manually restarting the process. Its GKE, that finds an unhealthy "health" check and restarts it. There has been no code changes except for upgrading packages. The worker has a PubSub connection and at night is mostly idle (except for running a cron job every hour). It seems that since pretty close after 1 hour the process just gets killed because of unknown reasons (ie we dont see any

[2020-02-19 19:25] murgatroid99 commented on #890
The log you posted shows that the grpc library establishes a connection and some requests are made, then exactly an hour later the connection drops and a new connection is established (this is a normal thing that the grpc library is designed to handle). Then, right after the new connection is established, the log cuts off, saying that the process was restarted. I'm wondering if you can see timesta

[2020-02-20 00:27] ctavan commented on #890
I only restarted about 20 mins after the last log message (see the graph in the original post, where the bump in CPU usage goes down again).

Between the last log message in my gist and the restart there were no further log messages retrievable from kubectl or Google cloud logging and the process consumer all CPU that Kubernetes allowed.

[2020-02-20 00:30] ctavan commented on #890
My observation is: after 60 minutes of repeated log output every 30 seconds all log output stops and the node process jumps to max available CPU usage for no apparent reason. The log output in the gist shows everything retrieved from that pod which formally lived about 20 minutes longer than the last line of logs.

[2020-02-20 00:37] ctavan commented on #890
Just to make sure we're not missing out any details, our initialization logic is like this:

[code]

where `MEMORY_LIMIT_BYTES` comes from the Kubernetes pod spec resource limits.

[2020-02-20 10:07] sonu27 commented on #879
I'm getting this issue too using npm on alpine.

[2020-02-20 11:23] Zimovets opened #891 "Synchronous Pull problem"
I run this code every minute to test API, what I expected, the first time I should get messages about the new and edited review, then for this subscriber, this messages will be acknowledged, and during next iteration I got nothig

![image](https://user-images.githubusercontent.com/28711392/74928865-008acf00-53e3-11ea-96f1-956789c0c7fb.png)

but every iteration I get the same message

![image](http

[2020-02-20 11:54] ctavan commented on #890
@murgatroid99 I tried it with early versions of `@grpc/grpc-js` and the problem only appears with `@grpc/grpc-js@0.6.16`. It did not appear with `0.6.12`, `0.6.14` and `0.6.15`.

I have updated [the gist](https://gist.github.com/ctavan/bf3d67cba82f8fd1b302f0cb0ee93f8b) to include the log output of the same pod with the earlier versions of `grpc-js`.

[2020-02-20 19:32] feywind commented on #742
@saeromCho This was brought up today during a meeting. I'm not sure if the specific suggested architecture in this is useful for you, but it's an example of how you might use Pub/Sub from mobile?

https://cloud.google.com/solutions/setting-up-a-pubsub-proxy-for-mobile-clients-on-gke

(Would also apply to a downloaded client on a PC, I'd guess.)

[2020-02-20 20:29] crivera opened #892 "Stream: Removed"
#### Environment details

  - OS: node slim via docker running in GKE
  - Node.js version: 13.3.0
  - npm version: 6.3
  - `@google-cloud/pubsub` version: 1.5.0
  - grpc version:  1.24.2
  - google gax version: 1.14.1

#### Steps to reproduce

Randomly we just got an error from our connection to pubsub

  message: "Error: Stream removed
    at MessageStream._onEnd (/app/node_modules/@google-cloud/

[2020-02-20 23:28] hongalex opened #893 "pubsub: expose a maxDurationPerAckExtension setting for subscribers"
For languages that support lease management, we have bound the percentile distribution to 10s - 10m. It would be useful if the upper bound were configurable.

A user might process messages very slowly (8m to ack)
If the application fails 5s after receiving a message (whose ack deadline was set to 8m, because that's the deadline the percentile distribution gave), the user has to wait 7m55s for the

[2020-02-21 00:16] hongalex commented on #893
From a discussion from the previous maintainer, it seems like the percentile distribution is only used when [`ackDeadline`](https://github.com/googleapis/nodejs-pubsub/blob/32ae4114fb7b42722a6c5100e9d494e470a5cae2/src/subscriber.ts#L211) is not set. This is inconsistent with the other languages, so this might need to be removed at a later point (possibly bundled with another breaking change).

[2020-02-21 17:11] npomfret commented on #818
Closing this as no errors have occurred in my system for 9 days now.

[2020-02-21 17:11] #818 closed

[2020-02-21 17:50] murgatroid99 commented on #890
I have published `@grpc/grpc-js` version 0.6.17 with a possible mitigation for the issue and some more logging that should hopefully be relevant. Can you try that out and share the resulting logs?

[2020-02-21 19:20] ctavan commented on #850
Just a quick confirmation that the issue is gone for me since switching back to the C++ bindings. Need to wait for #890 until I can try out `grpc-js` again.

[2020-02-21 19:47] pjm17971 commented on #850
@feywind Sorry I didn't reply, but kind of a non-update from my end: we went back to the C++ gRPC implementation and our process behaved fine. We couldn't reproduce easily in a non-production environment so we did not attempt to deploy again with the bad library version. We can try any new version of grpc-js again down the road if a fix is believed to be in place and give feedback as to if this wo

[2020-02-21 21:42] ctavan commented on #890
Whoops, I have troubles downloading the logs, there are megabytes of:

[code]

during the period where the process runs with maxed out CPU. So basically `tryPick` seems to run in an infinite loop.

I can highly recommend _not_ running `@grpc/grpc-js` version 0.6.17 with debug flags enabled 😉

[2020-02-21 21:58] ctavan commented on #890
@murgatroid99 I managed to download 140MB of logs from Google Cloud Logging and put the part until the infinite loop begins into [the gist](https://gist.github.com/ctavan/bf3d67cba82f8fd1b302f0cb0ee93f8b#file-pubsub-debug-output-grpc-js-0-6-17-log).

[2020-02-21 22:16] feywind commented on #890
@ctavan Thanks for the continued debug info! This actually is starting to sound like something we were talking about as a possibility for a cause. Basically, after some time (I think it might've been 30 minutes) the stream is closed, and we attempt to reconnect it. If something prevents that connection, it's not supposed to busy loop reconnecting, but that might be what it's doing.

A gRPC fix mig

[2020-02-22 00:15] murgatroid99 commented on #890
I had a feeling that the problem was something like that, but I tried to mitigate a slightly different potential issue. I didn't realize it would loop that tightly and generate that many log lines, though I do want to note that in normal circumstances, when you're not encountering this bug, you'll usually get about one extra log line per request.

What's happening here is that a connection has bee

[2020-02-24 20:42] murgatroid99 commented on #890
I have now published `@grpc/grpc-js` version 0.6.18. I'm pretty sure I've fixed it this time, and if not I added some more relevant logging. Can you try that out?

[2020-02-25 11:50] ctavan commented on #890
@murgatroid99 I've upgraded to `@grpc/grpc-js@0.6.18` and the specific problem described in this issue is now gone. Great work!

For the sake of completeness I have added the log output of the (still running since 160 minutes) pod to [the gist](https://gist.github.com/ctavan/bf3d67cba82f8fd1b302f0cb0ee93f8b#file-pubsub-debug-output-grpc-js-0-6-18-log).

I'll leave this issue open in case you want

[2020-02-25 18:24] feywind commented on #890
@ctavan I will take a look at updating the versions in nodejs-pubsub. Thank you for all the help in testing this stuff!

[2020-02-25 19:25] feywind commented on #642
I tried removing the s.replace() hack back on Jan 27 but it looks like it's still broken. I haven't seen fixes for this on the horizon, so I'm going to go ahead and close it out for now.

[2020-02-25 19:26] feywind commented on #817
Potentially related: https://github.com/googleapis/nodejs-pubsub/issues/725

(for the subscriber side)

[2020-02-25 19:29] feywind commented on #742
I'm going to go ahead and close this out, because I think the actual answer is that we don't really officially support it, and the proxy is probably the encouraged solution. Feel free to add comments though, if you find a better solution!

[2020-02-25 19:29] #742 closed

[2020-02-25 19:32] feywind commented on #760
I believe this was (mostly) taken care of in this PR: https://github.com/googleapis/nodejs-pubsub/pull/844

Basically when I reworked the samples into the latest style guide format, I also added comments suggestion that you should cache the PubSub object.

[2020-02-25 19:32] #760 closed

[2020-02-25 20:30] JustinBeckwith commented on #642
I'm happy to move this to another repo (gapic generator maybe?), but we do want to track these kinds of issues with the generators and synth hacks.  cc @alexander-fenster

[2020-02-25 20:48] feywind commented on #642
I'm fine with tracking it, but I've also been tasked with not leaving issues open if we're not fixing them in the particular repo soon. Should I create a new issue in gapic?

[2020-02-25 22:55] alexander-fenster commented on #642
We will try to remove this hack when we move this library to TypeScript generator.

[2020-02-25 22:56] JustinBeckwith commented on #642
In that case @alexander-fenster - you ok with just closing this? I figure we'll have a chance to discuss it in the PR that moves us to TS :)

[2020-02-25 23:00] alexander-fenster commented on #642
Sure! (I actually thought it _is_ closed :) )

[2020-02-25 23:00] #642 closed

[2020-02-26 16:26] crivera commented on #892
not sure if this helps but locally i see when using the simulator

09:58:46:160 ERROR Received RST_STREAM with error code 8 (node_modules/@taxfyle/backend-commons/lib/connections/pubsub.js:197)
    →  Error: Received RST_STREAM with error code 8
    →      at MessageStream._onEnd (/Users/crivera/Development/Taxfyle/message-api/node_modules/@google-cloud/pubsub/src/message-stream.ts:299:20)
    →

[2020-02-26 16:42] Sandhyakripalani commented on #788
@bcoe Is this fixed. We face a similiar issue with @google-cloud/pubsub@1.4.0
What used to consume <256MiB wth pubsub <1.x is consuming 1GiB with 1.4.0.
Does 1.5.0 have the fix for this?

[2020-02-26 17:32] bcoe commented on #788
@Sandhyakripalani there have been some fixes to the `@google-cloud/pubsub` library over the last couple months. I recommend trying the latest version and seeing if it helps (it should always be safe to update minor versions, e.g., from `1.3.0` to `1.4.0`).

[2020-02-27 08:34] Sandhyakripalani commented on #788
![image](https://user-images.githubusercontent.com/10030011/75418481-97163d80-5959-11ea-9009-c28630655a24.png)
We did a deployment at around the time indicated in the image screenshot.
1.5.0 does not seem to help

[2020-02-27 14:15] crivera commented on #892
this has been happening now nightly... any update?

[2020-02-27 15:48] JustinBeckwith opened #900 "System tests are failing / flaking"
Was taking a look at this PR:
https://github.com/googleapis/nodejs-pubsub/pull/898

And noticed the system tests are failing when they probably shouldn't be:
https://source.cloud.google.com/results/invocations/ef1f2dcb-8913-4642-b5a1-4cafb02d0ae9/targets/cloud-devrel%2Fclient-libraries%2Fnodejs%2Fpresubmit%2Fgoogleapis%2Fnodejs-pubsub%2Fnode10%2Fsystem-test/log

[code]

[2020-02-27 18:04] feywind commented on #892
@crivera Sorry for the silence - I've been watching another issue to see if it bore fruit. Can you try the instructions in this comment and see if it helps? https://github.com/googleapis/nodejs-pubsub/issues/890#issuecomment-590538772 We've been tracking some issues related to the streams reconnecting on subscriptions.

[2020-02-27 18:07] crivera commented on #892
I will try it!

[2020-02-27 20:43] feywind commented on #884
Combining this in here to look at, at the same time. https://github.com/googleapis/nodejs-pubsub/issues/900

[2020-02-27 21:05] JustinBeckwith commented on #884
Oops - apologies, forgot I had opened this one!

[2020-02-27 21:09] feywind commented on #884
Hah, no worries. :) It technically is a separate issue to look into, though I think fixing one will probably fix the other.

[2020-02-28 00:29] feywind commented on #892
The same issue in that there's a spike in CPU and then it's killed after a while without any log output?

Can you paste in some more details about how you're initializing the PubSub object, any changed parameters, etc...? I haven't seen the exact problem you're describing above, but maybe we can make a repro that way.

[2020-02-28 00:34] feywind commented on #891
Taking a closer look at this, it's possible that between the time you run the publisher and the subscriber, it's timing out and retrying delivery of the message, which would go into the same topic. Do you get similar results if you run them consecutively? Like:

[code]

(I mean, conceptually, because your files are no doubt different.)

I believe it's possible to adjust that ack timeout if that's

[2020-02-28 00:37] feywind commented on #888
@Zimovets Are you still having trouble with this one? If so, can you go into a bit more detail on what you're doing in your publisher and subscriber, and what changed between it working and not working?

[2020-02-28 00:40] feywind commented on #886
I did end up creating an internal bug for the installer issue. For the environment variable, there's also this comment from another project: https://github.com/GoogleCloudPlatform/nodejs-docs-samples/issues/117#issuecomment-221343452

It seems like it would be nice for the docs to explicitly call out how to do this stuff in Windows, so I'll pass that comment on to the writers as well.

I'm going t

[2020-02-28 00:40] #886 closed

[2020-02-28 00:50] feywind commented on #885
Going through the issue list again here. Is this something that's still going on for you? If so, I can see if someone on the grpc team has any ideas.

[2020-02-28 00:56] feywind commented on #866
Sorry for the delay - I'm looking at what changed between 1.0 and 1.1, and it looks like that was when a potentially flaky update to grpc-js was introduced:

[code]

Newer versions are more stable - can you try again with nodejs-pubsub 1.5.0?

[2020-02-28 00:58] feywind commented on #854
I think there isn't further action here on the nodejs-pubsub side, so I'm going to close this out. I've got a few other comments to send to the docs team, so I'll add this to the list.

[2020-02-28 00:58] #854 closed

[2020-02-28 01:01] feywind commented on #850
Thanks, everyone! There's a PR out now to update to the grpc-js that should fix the issues in https://github.com/googleapis/nodejs-pubsub/issues/890. I'll update here again once that's merged, and an update to that nodejs-pubsub should pull it in.

[2020-02-28 01:04] feywind commented on #847
With nodejs-pubsub 1.5.0, we made some changes that set new defaults and retry logic having to do with batching. I'm unsure if that'll help, but it's probably worth mentioning.

[2020-02-28 01:37] willbattel commented on #885
I believe so, but let me take a closer look again this weekend and get back to you with more specifics.

[2020-02-28 03:46] lukelove commented on #885
I am receiving this message now simply doing one call with `.publishJSON`

[code]

[2020-02-28 07:13] saharshMMC commented on #847
Was happening with me too I was pushing 6K messages and on the dashboard it showed 150K messages. My code had a problem of re-creating pubsub object every-time it wanted to publish the message.
check this question on stackoverflow - [https://stackoverflow.com/questions/60297471/publishing-more-than-actual-messages-in-google-pub-sub-using-node-js-and-csv-par/60306869#60306869]

[2020-02-28 07:58] saharshjain opened #905 "Pull subscriber receives messages even after purging!"
#### Environment details
  App engine template

Package.json

#### Steps to reproduce
 I am using GCP App engine to deploy a server
Operation of server can be understood in the [question](https://stackoverflow.com/questions/60297471/publishing-more-than-actual-messages-in-google-pub-sub-using-node-js-and-csv-par/60306869#60306869)
STR
  1.  Due to some error(fixed by the answer in question) my pub

[2020-02-28 14:19] crivera commented on #892
Yes we see a little spike in CPU (but that could also be from restarting) and yes no log output. It seems its blocking the whole node thread since the "health" endpoint becomes unavailable and k8s restarts the pod

We do a very standard project setup:

[code]

"@google-cloud/pubsub": "^1.5.0",
"@grpc/grpc-js": "^0.6.18",
"google-gax": "^1.14.1",

running on node 13.

Nothing has changed

I am able

[2020-02-28 19:11] feywind commented on #905
@saharshjain Thanks for the report! Two questions for you:

1) When you say you purged the old messages, do you mean you clicked the purge button in the GCP control panel page (or something similar)?

2) Was the publisher still running while you were trying to purge? By which I mean, the publisher service had sent all of its messages, but the Node process was still running. It's possible that old

[2020-02-28 19:14] feywind commented on #847
Thanks for that link! Yeah, I was helping someone earlier who was having troubles because of recreating the PubSub object itself for each request. I've been trying to push some hints into the samples that the PubSub object should be kept around. That the topic objects are also heavy is a good thing to know.

[2020-02-28 23:56] cbosco commented on #779
Hi, regarding the `Promise.all()` approach here, I am curious the behavior of a batch failure.

For example, if I have a batch size of `10`, and assuming that a HTTP failure would apply to an entire batch, not one discrete message, would I expect 10 of my promises to reject?

[2020-03-02 04:45] saharshjain commented on #905
@feywind  Your most welcome.

Ans. 1 - Yes, purged those messages. Used purge button on GCP Panel.

Ans. 2 - No my publisher was done sending the messages. Yes publisher had sent all the messages and my listener started working on them. Then I purged them all and for a significant amount of time the listener was working and still receiving those messages.
If the node processor was still publishing

[2020-03-02 14:29] Zimovets commented on #891
can't understand what do you mean saying, run publisher and subscriber, as I understand we have publisher it is the service that create messages when review changed or created, then we created subscriber, then I posted or changed some review, using this subscriber profile (if we can call it like this) I tried to get messages about my actions, as I expected I should get message only one time then a

[2020-03-03 12:39] ctavan commented on #850
I have removed the C++ bindings again and upgraded to `@grpc/grpc-js@0.6.18` (which fixed  #890 for me). I have not observed a single spike for 24h now, a situation I have never seen with `@grpc/grpc-js@0.6.9`.

So for the time being I conclude that

[code]

is finally a stable setup for my use case again!

@pjm17971 I think the above versions are a setup that is worth trying out.

[2020-03-03 18:45] feywind commented on #850
Thanks for the update! I'm working on getting the default grpc-js version pushed up to 0.6.18. There *might* be a `next` tag coming up that will pull in 0.7.0, but the timing on that is TBD.

[2020-03-04 12:16] ThomWright commented on #868
Could I add grpc/grpc-node#767 as another example of things going wrong because of `grpc-js`?

Thanks for looking into this, we've been stuck on an old version (`0.28.1`) for almost a year. It's a case of choosing which bugs are least problematic (we're suffering from #574), and at the moment I'm still convinced that upgrading to v1 is too risky.

[2020-03-04 13:00] ctavan commented on #868
@ThomWright I can feel you 😉 Maybe to bolster you up a bit:

[code]

is the first combination in months that really seems to work flawlessly for me, see https://github.com/googleapis/nodejs-pubsub/issues/850#issuecomment-593930469.

[2020-03-04 19:48] feywind commented on #884
https://github.com/googleapis/nodejs-pubsub/pull/880/checks?check_run_id=485759235

[2020-03-10 17:32] meredithslota commented on #725
(Just shifting assignee, will leave to @feywind to determine path forward.)

[2020-03-11 09:19] airburst commented on #892
I am seeing the same issue.  It started around 5 days ago and now my alerting service, which subscribes to a couple of pubsub topics, dies within 24 hours with the error below:

`error: uncaughtException: Stream removed
Error: Stream removed
    at g._onEnd (/usr/app/dist/index.js:341:2283)
    at ClientDuplexStream.<anonymous> (/usr/app/dist/index.js:341:2535)
    at Object.onceWrapper (events.js

[2020-03-12 11:14] Gusten commented on #892
We've started to receive this in our production environment as well and it completely halts the services from receiving messages which is quite the annoyance.
We are using @google-cloud/pubsub 1.6.0 and we are also using the solution in https://github.com/googleapis/nodejs-pubsub/issues/825 for injecting grpc manually.

We received this at the exact same time across multiple topics and subscriptio

[2020-03-16 16:46] stephenplusplus commented on #888
@Zimovets I'm going to close the issue, but please just let us know if there's more we can help with.

[2020-03-16 16:46] #888 closed

[2020-03-17 16:55] nicknovitski opened #914 "`maxRetries` field missing from ClientConfig type"
The docs say I can specify `maxRetries` when instantiating a client, but typescript does not allow it.

#### Environment details

  - OS: macOS 10.15.3
  - Node.js version: 10.17.0
  - npm version: 6.11.3
  - `@google-cloud/pubsub` version: 1.6.0
  - typescript version: 3.7.2

#### Steps to reproduce

  1. create a new file containing `new Pubsub({projectId: "whatever", maxRetries: 5})`
  2. run `

[2020-03-17 17:29] feywind commented on #914
Thanks for the report!

I'm not sure at a glance if this is a code or docs bug, but I'll have to look a bit more.

[2020-03-17 17:53] feywind commented on #914
After looking at the code a bit, I'm going to guess this is a docs bug - I don't see maxRetries referenced anywhere else in the code besides those comments in pubsub.ts, so this is probably something that was removed earlier in the context of not supporting client-side delayed redelivery. I'm going to see if anyone else has thoughts on why this is in there.

[2020-03-17 18:39] jperasmus commented on #890
Had a similar issue and switched to the older C++ `grpc` client in the meantime. It seems to be behaving.

[2020-03-17 18:45] jperasmus commented on #892
@airburst

We're seeing the same error. For now, we catch the error by listening to the `error` event on the subscription and then just re-subscribe everything. It seems to work for a bit until the error comes back.

Simplified example:

[code]

[2020-03-17 18:56] airburst commented on #892
Thanks @jperasmus

I took the less valiant approach and moved the container onto a k8s cluster.  Now the entire container will restart - and resubscribe - if it fails.  Luckily it hasn't experienced the dropout since I moved host; quite possibly because everything is on GCP.

[2020-03-17 19:02] jperasmus commented on #892
Okay, cool. Glad it is mitigated for you. We're actually using Google App Engine Flexible Environment and still getting the issue, so we're still experiencing the issue while on GCP.

[2020-03-17 19:06] airburst commented on #892
I actually plan to change the architecture.  This is not the first time that I have had issues with a long subscription in a micro service.

I plan to take the subscription out, leaving an API.  Then write a GCF to trigger on the topic and post messages to the API.

[2020-03-17 22:59] feywind commented on #914
The consensus seems to be that this library used to be based on `@google-cloud/common`, which did provide a maxRetries option (and thus Pub/Sub probably inherited it into its `ClientConfig`). But at this point, the only things between this library and the service endpoint are gax and grpc, which don't seem to support that concept of setting max retries.

So the docs do definitely need to be update

[2020-03-18 13:44] carmelid commented on #892
Oh my... I was hoping to avoid that work around

We're manually injecting `grpc@1.24.2` into `@google-cloud/pubsub@1.6.0` and are also experiencing the issues described above. I haven't seen the issue before bumping from `@google-cloud/pubsub@1.1.5` on March 13th, but I don't know if that is a coincidence or not though...

[2020-03-18 18:46] cbosco commented on #779
Is there a better place to ask this question? I thought this context was helpful, but maybe because it's a closed issue, I should raise an issue for it?

[2020-03-19 17:22] feywind commented on #779
@cbosco No, this is totally the right place to ask. I've just been flying solo on this repo for the most part and buried lately. My off the cuff understanding is that you'd get a failure for each message in a batch. The batching is meant to be more or less transparent.

I am actually working on something right now that will let you explicitly flush any batched messages, for closing down the client

[2020-03-19 20:41] feywind commented on #900
Related: https://source.cloud.google.com/results/invocations/c1b2cd19-3d88-4c98-a6e6-0fec30efe73e/targets
(via this PR: https://github.com/googleapis/nodejs-pubsub/pull/917)

[2020-03-20 11:55] yoshi-automation opened #919 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/8cf334a1-bc22-45a5-834b-d972511183f1).

[2020-03-21 11:51] yoshi-automation commented on #919
Autosynth passed, closing! :green_heart:

[2020-03-21 11:51] #919 closed

[2020-03-23 14:00] oreporan opened #924 "testing pubsub client on docker - Could not load the default credentials"
After reading googleapis/google-cloud-node#2610

#### Environment details

  - OS: docker node:10...node:12
  - Node.js version: 10..12
  - google-cloud-node version: 0.28.1 and 1.6.0

#### Steps to reproduce

[code]

Error:

[code]

[2020-03-23 17:22] andryichenko opened #925 "Google Cloud Pub/Sub triggers high latency on low messages throughput"
i'm running project which publishes messages to a PubSub topic and triggers background cloud function.

I read that with high volumes of messages, it performs well, but for lesser amounts like hundreds or even tens of messages per second, Pub/Sub may yield high latencies.

Code example to publish message:

[code]

Code example of function triggered by PubSub:
[code]

#### Environment details

  -

[2020-03-25 21:51] feywind commented on #924
@oreporan Thanks for the report. A couple of questions:

1) Is the code snippet above part of a Cloud Function? I know some of our people were working on some issues related to being unable to get authentication info during client object creation, which I think should be covered by the way you wrote that, but I might run this by them to see if it looks at all familiar.

2) I'm assuming the credent

[2020-03-25 23:32] feywind commented on #884
https://source.cloud.google.com/results/invocations/0b75c074-4b85-4193-bbc0-3a6f10dc8af9/targets/cloud-devrel%2Fclient-libraries%2Fnodejs%2Fpresubmit%2Fgoogleapis%2Fnodejs-pubsub%2Fnode10%2Fsamples-test/log

(part of https://github.com/googleapis/nodejs-pubsub/pull/916)

[2020-03-26 00:08] oreporan commented on #924
Hey

This is all part of a test environment.

I have a docker-compose setup, one of them being a container running the pubsub like so:

[code]

Then I'm passing to my test runner (also on docker, running `node:12`) like so:

`PUBSUB_EMULATOR_HOST=pubsub:8085`

As my understanding no authentication is needed at this point

[2020-03-26 18:03] #817 closed

[2020-03-30 23:11] cbosco commented on #779
@feywind Thanks this sounds like my assumption, so whatever fails with regard to the batch, any individual message callback (or promise) gets called/rejected as if there was no batch mediating it? The PR was helpful to look at!

[2020-03-31 08:02] mad-it opened #937 "PubSub.close throws error"
This bug report is related to https://github.com/googleapis/nodejs-pubsub/pull/916.

#### Environment details

  - OS: Linux
  - Node.js version: v10.16.3
  - npm version:  6.9.0
  - `@google-cloud/pubsub` version: 1.7.0

#### Steps to reproduce

Here is a test written to test this newly introduced `close` method.

[code]

When running this simple test in Jest, I get the following error.

[code]

[2020-03-31 13:29] stephenplusplus commented on #937
// @feywind

[2020-03-31 17:14] feywind commented on #937
@mad-it @stephenplusplus Thanks! I will take a look in a moment.

[2020-04-01 00:50] feywind commented on #937
Well, this will teach me to not write a system test for a feature. :S The Pub/Sub client API objects are hand-written and not using a standard generated gax client, and this gets cast to a standard gax interface, which is really confusing. I'll work on getting this piped through tomorrow and add a system test based on the case above.

Thanks again for the report!

[2020-04-01 17:37] rvillane commented on #892
My environment is exactly the same as reported by @carmelid and can confirm also experiencing the issue described here

[2020-04-03 00:01] ZHamburglar commented on #818
`{"code":4,"details":"Failed to connect before the deadline","metadata":{"internalRepr":{},"options":{}},"level":"error","message":"GCP subscription errorFailed to connect to channel. Reason: Failed to connect before the deadline","stack":"Error: Failed to connect to channel. Reason: Failed to connect before the deadline\n    at MessageStream._waitForClientReady (/kw/node_modules/@google-cloud/pub

[2020-04-06 23:05] feywind commented on #937
I'm not sure I like the issue auto-close. Anyway, this PR should fix the problem, can you try again?
https://github.com/googleapis/nodejs-pubsub/pull/941

[2020-04-07 03:00] failure-checker[bot] opened #945 "Warning: a recent release failed"
The release PR #943 is still in a pending state after several hours

[2020-04-07 06:53] #945 closed

[2020-04-07 11:14] merlinnot commented on #937
@feywind Were you able to run it yourself? I just tried, made sure I have the latest version, but I still see the same error.

[2020-04-07 11:38] mad-it commented on #937
@feywind it looks like this issue has been resolved for the very specific test case provided, but the same issue occurs when a subscriber is created.

By adding `await topic.subscription('subscriber-1').get({ autoCreate: true });` to the test case above we get the exact same error.

So the complete test case becomes:

[code]

[2020-04-07 11:39] merlinnot commented on #937
Indeed. It looks like `PublisherClient` has the `close` method, but `SubscriberClient` does not.

[2020-04-07 22:22] feywind opened #947 "Add samples for dead letter queues feature"
Currently there are no dead letter queue (DLQ) samples for Node, and those will need to be added.

* pubsub_dead_letter_delivery_attempt
* pubsub_dead_letter_create_subscription
* pubsub_dead_letter_update_subscription
* pubsub_dead_letter_remove

[2020-04-08 17:31] feywind commented on #937
Hmm, that's interesting - the subscriber version was already there before my work on the publisher, so I didn't spend much time with it. It's possible that there was some code rot in there from the underlying gapic generation, too. I'll take a look at that.

[2020-04-09 00:23] feywind commented on #937
@merlinnot @mad-it
1.7.2 adds the close() method to the SubscriberClient also. Let me know if that works for you? I think that should be all of them, since there are only stubs for publisher and subscriber. There is another system-test that will validate that this one works going forward as well.

We're in the process of releasing 2.0.0 that will bring a lot of dependencies up to date, and also in

[2020-04-09 00:41] merlinnot commented on #937
Thanks for fixing it so quickly. It doesn't crash now, but it also doesn't seem to close gRPC connections. I'll try to create a minimal reproduction and report it in a separate issue, this one can be considered closed.

[2020-04-09 00:59] merlinnot commented on #937
My bad, it works perfectly fine. Thank you! 🎉

[2020-04-09 06:52] mad-it commented on #937
Thanks for the quick fix!

[2020-04-09 06:52] #937 closed

[2020-04-09 17:58] jeffijoe opened #951 "Race condition when flushing message queues while a batch is in-flight"
There seems to be a race condition in `subscriber.close()` (`_waitFlush`) when the check for pending requests is made while a batch is currently in-flight.

I think we should track the in-flight requests as well, and resolve the `_waitFlush` when in-flight requests have drained.

#### Environment details

  - OS: macOS Catalina
  - Node.js version: 13.8.0
  - npm version: 6.14.3
  - `@google-cloud

[2020-04-13 10:50] npomfret opened #959 "strange delays in message delivery to pubsub cloud function"
Not sure if this is a bug report or a support request, sorry!

I'm trying to understand some strange behaviour I'm seeing from time to time.  In summary, I am occasionally seeing messages that are just _sitting_ in the subscriber, for no apparent reason, until their acknowledgement deadline is reached, at which point they get delivered.  It doens't happen very often, but when it does it wreaks hav

[2020-04-13 15:10] kamalaboulhosn commented on #959
From the Pub/Sub perspective, it looks like this message was delivered right after it was published, but received a 503 error. It was then redelivered 10 minutes later. The 503 error could cause backoff behavior in redeliveries, particularly if there were other 503 errors happening at the time. Therefore, it looks like something happened outside of Pub/Sub itself. It could be something with the Cl

[2020-04-13 15:10] #959 closed

[2020-04-13 18:53] npomfret commented on #959
Where do you see this 503 error?

[2020-04-13 19:08] kamalaboulhosn commented on #959
You should be able to see it in the Stackdriver subscription/push_request_count metric (see[ pubsub metrics](https://cloud.google.com/monitoring/api/metrics_gcp#gcp-pubsub)), which can be broken down by response_class and response_code.

[2020-04-13 21:20] bduclaux commented on #892
I get the same "Stream removed" error while using a connection between a C++ app inside a GKE pod and a Bigtable backend, using the Google Cloud C++ stack (which uses the GRPC underlying stack) :

[code]

The error happens quite frequently (every hour). Using GKE 1.16.8-gke.8 and gGRPC v1.26.0.
The "Stream removed" error is definitely not specific to NodeJS / pubsub.

[2020-04-13 23:41] feywind commented on #892
Sorry this is still causing a problem for you all. Let me check with our gRPC guru, especially if it's happening across multiple libraries. @murgatroid99, any thoughts?

[2020-04-14 15:45] npomfret commented on #959
I mean, where did YOU see the 503?  I didn't show any 503 in the data I posted in this ticket (did I?).  Do you have access to the data?

[2020-04-14 16:54] kamalaboulhosn commented on #959
I was able to look at internal logs for the provided message ID.

[2020-04-14 17:15] npomfret commented on #959
Oh, thanks for taking the time!

Thanks for pointing me at the metrics explorer.  I can't see the problem though.  I filtered the time range down to that in question (one hour either side) and I don't see any errors.

<img width="2135" alt="Screenshot 2020-04-14 at 18 14 28" src="https://user-images.githubusercontent.com/5489469/79253962-e8cc4600-7e7b-11ea-9a4f-e225bd483be9.png">

[2020-04-14 22:28] kamalaboulhosn commented on #959
It could be a transient issue with Cloud Functions infrastructure, e.g., if a server restarts at the moment the message is sent.

[2020-04-14 22:36] npomfret opened #962 "max instance appears to get exceeded"
I've been experiencing times where my app is crashing badly and I've noticed that my cloud functions are having trouble getting a db connection.  The metrics explorer shows that the number of instances is far greater than the number I've configured.

Is this a known issue?
Is there a way around it?

https://stackoverflow.com/questions/61206658/google-cloud-functions-maximum-function-instances-regu

[2020-04-14 23:23] feywind commented on #962
@npomfret I'm going to guess that it's actually a GCF issue rather than a Pub/Sub issue, but we can leave this here to track it.

[2020-04-15 03:02] benmadany opened #963 "Errors in ack and modAck possibly causing UnhandledPromiseRejectionWarning outside of user defined handlers"
#### Environment details

  - `@google-cloud/pubsub` version: 1.5.0
Running in a container based on the node 10.19.0-slim image

#### Steps to reproduce

It may be difficult to reproduce, I encountered this in a couple cases, first during the outage of gcp services around 7:30am PST on April 8th ([gcp incident](https://status.cloud.google.com/incident/zall/20005)) and then again a day later around

[2020-04-15 09:29] npomfret commented on #959
It's happening often enough that it's becoming quite a problem for me.  The messages doesn't get redelivered until the acknowledgment deadline, and that's set to a very high figure compared with the _normal_ latencies that my app expects.

Is there a workaround?

How do I file a bug report?

[2020-04-15 09:55] npomfret commented on #962
Apologies, of course it is.  Can you advise me on where I can report it?

[2020-04-15 16:10] murgatroid99 commented on #892
My recommendation is to stop using the C++-based `grpc` library. I believe that the previously referenced `grpc-js` issues have been fixed.

[2020-04-15 18:20] #951 closed

[2020-04-15 20:57] kamalaboulhosn commented on #959
It could happen occasionally because acks and nacks (which is what the 503 is interpreted as) can be dropped under certain circumstances. We are aware that the frequency of these has increased and are working to mitigate it, though it will take a few weeks for such changes to roll out. If you want to file a bug report, it is best to create a support case via the [support page in the Cloud console]

[2020-04-15 22:14] rvillane commented on #892
@murgatroid99 on recent @google-cloud issues the advice was exactly the opposite, I actually had to start using the C++ gRPC binding in order to stabilize my production environment that heavily depends on Google Pub/Sub.  What is the the level of confidence that grpc-js is now stable?  can it be considered production ready?

to me is a bit worrisome that gax-nodejs dependency is no longer pinning

[2020-04-16 18:01] kamalaboulhosn opened #969 "Pin dependencies to minor versions"
In an attempt to minimize issues caused by bad minor releases in dependencies and to make the rollback procedure for customers easier, we should pin dependencies to a minor version. When new minor versions are released, we should increase the pinned minor version to match the new version in a PR and release a new version of the Pub/Sub client library. If there is no new code in the library, but th

[2020-04-16 20:59] murgatroid99 commented on #892
When there are bugs in `grpc-js`, switching to the C++-based `grpc` library can be an effective way to work around the bug, but that does not mean that doing so is necessary or valuable in the long term. I believe `grpc-js` is sufficiently stable, but as this issue demonstrates, even an older and more tested library like `grpc` has bugs occasionally.

Regarding the pinning, that was done previousl

[2020-04-17 09:00] npomfret commented on #959
Thanks.

https://issuetracker.google.com/issues/154260226

[2020-04-17 23:53] chungnho opened #972 "Re-export `ClientConfig` from pubsub.ts in package index.ts"
**Is your feature request related to a problem? Please describe.**
I am using the PubSub package in a TS project. I would like to be able to import the `ClientConfig` interface/type that is defined here: https://github.com/googleapis/nodejs-pubsub/blob/966614d43db9bbffc6d821f713733168d3e1d67f/src/pubsub.ts#L63-L68

eg
[code]

 **Describe the solution you'd like**
Include `ClientConfig` in the list

[2020-04-20 14:49] jperasmus commented on #892
What is more concerning is that both the PubSub and Firebase SDK libraries are using the GRPC JS version by default while the package's own readme says that it is still incomplete and experimental.

![grpc-js](https://user-images.githubusercontent.com/6787452/79765388-d7c18000-8326-11ea-8d6c-4510da96e149.png)

[2020-04-20 21:05] murgatroid99 commented on #892
@jperasmus I have some good news for you: we published grpc-js version 1.0 today and that version is no longer considered "incomplete" or "experimental". The client libraries should be able to pick that version up soon.

[2020-04-20 23:23] d-torres opened #974 "nodejs-pubsub: add support for retry policy"
Add an additional field for subscriptions that allows configuring a [RetryPolicy](https://github.com/googleapis/googleapis/blob/42ee97c1b93a0e3759bbba3013da309f670a90ab/google/pubsub/v1/pubsub.proto#L704). RetryPolicy allows configuration of how long a message can be delayed before delivery is retried. The default policy is the current behavior, in that messages are redelivered as soon as possible

[2020-04-21 07:07] jperasmus commented on #892
That is excellent news, thanks @murgatroid99

[2020-04-21 18:16] d-torres opened #976 "nodejs-pubsub: add support for filtering"
Add an additional field for subscriptions that allows [configuring a filter](https://github.com/googleapis/googleapis/blob/master/google/pubsub/v1/pubsub.proto#L682). Filters control what messages are sent to subscribers based on the message attributes.

As an example, if a message filter is the string attributes.event_type = "1", then messages with attributes of event_type=1 will be delivered, wh

[2020-04-21 21:17] feywind commented on #892
At this point we're basically held up by some versioning gotchas with the other libraries and some GCP services. :S I'm working on a way to work around that right now.

[2020-04-22 18:16] hongalex opened #978 "Remove experimental notice from DLQ related fields"
DLQ is now GA, so any experimental notices can now be removed.

[2020-04-22 20:49] Thr1ve opened #979 "Subscription errors and does not reconnect when connection is cancelled by server"
After upgrading `@google-cloud/pubsub` to escape a cpu issue in `@grpc/grpc-js`, we found that services using a long-running pubsub subscription began to crash periodically during local development and in GKE.

#### Issue

When the pubsub service closes the underlying http2 connecton (this happens after 15 minutes), the connected subscription instance emits an `error` event and does not reconnect.

[2020-04-22 21:32] feywind commented on #979
@hongalex Hey Alex, these default / retry updates were something you worked on. Did you have any thoughts on the change that led to this?

[2020-04-22 21:37] feywind commented on #972
@chungnho This looks pretty straightforward, I'll put it in the queue. I suspect it got exported correctly in other libraries because (I think) the microgenerator would be responsible for that code.

[2020-04-22 21:39] feywind commented on #969
There's still some ongoing discussion about this internally, I think. The last I heard is that this may not be an issue with the Node libraries since most things are pretty properly semver versioned. I'll leave it open for now until we can get a complete resolution.

[2020-04-22 21:41] feywind commented on #963
@benmadany I wonder if this is related to this issue... https://github.com/googleapis/nodejs-pubsub/issues/979

The 1.5.0 version of the library is where those defaults were changed.

[2020-04-22 21:44] feywind commented on #924
I want to say that there was an issue in the past with the library looking for credentials when it was running with the emulator. I don't see one open now. I'll try to give this a test in a bit.

[2020-04-22 21:51] merlinnot commented on #924
There is a leaner version of a Docker image with PubSub Emulator, [Dott](https://ridedott.com/) maintains it: https://github.com/ridedott/pubsub-emulator-docker. You can also just take a look at the Dockerfile.

As for the configuration, here's a simple setup:

[code]

Hope that will help.

[2020-04-22 21:53] feywind commented on #924
Thanks @merlinnot!

[2020-04-23 17:24] feywind commented on #900
These haven't really had problems lately, so at Justin's inquiry, I'm going to go ahead and close this.

[2020-04-23 17:24] #900 closed

[2020-04-23 17:25] feywind commented on #850
`grpc-js` is up to 0.6.18 in the last few releases, and this issue hasn't seen much traffic lately, so I'm going to go ahead and close it. Please feel free to re-open/comment if necessary.

[2020-04-23 17:25] #850 closed

[2020-04-23 21:09] hongalex commented on #979
Thanks for filing this issue! Indeed, the timeout for a streaming pull stream is 15 minutes, but it shouldn't be returning a CANCELLED status code.

We removed CANCELLED as a retryable error per https://aip.dev/194, so we're currently investigating where the status is being surfaced from.

[2020-04-24 00:41] feywind commented on #979
I haven't been able to get the repro code to work on a local emulator (it doesn't time out) but I'll try again tomorrow with the real server. There's some thought that there may be a race condition between the client library timing out and the server timing out. There's also this possibility:

https://github.com/grpc/grpc-node/pull/1391

[2020-04-27 19:27] lucasalexandre-cc commented on #346
If you got ```TypeError: Channel credentials must be a ChannelCredentials object```, try this code:

[code]

[2020-04-30 18:26] kamalaboulhosn commented on #969
It looks like we are going to explore other options for dealing with this issue. Closing.

[2020-04-30 18:26] #969 closed

[2020-05-05 07:46] mrdulin opened #990 "Broken link for gaxOpts"
Broken link(404): https://googleapis.github.io/gax-nodejs/CallSettings.html

From the doc: https://googleapis.dev/nodejs/pubsub/latest/PubSub.html#createTopic

The description of `gaxOpts` option.

The correct link maybe http://googleapis.github.io/gax-nodejs/interfaces/CallOptions.html

[2020-05-05 17:14] feywind commented on #788
Is this still a problem for everyone with the latest library release? (1.7.2) We've been held up a bit by some dependency timing issues, but I'm hoping we can get 2.0 out the door soonish. There are quite a few dependencies updates and generated code changes that other libraries have already received.

[2020-05-05 17:16] feywind commented on #825
Is this still an ongoing problem for everyone? I'm hoping to get us onto grpc-js 1.x soon. That library has really stabilized lately, and is no longer considered beta, so it may help with anything that gRPC C++ previously helped with.

[2020-05-05 17:21] feywind commented on #801
There hasn't been a response on this for a while, so I'm going to go ahead and close it, but please feel free to re-open and/or comment further if there is still a problem.

[2020-05-05 17:21] #801 closed

[2020-05-05 17:27] feywind commented on #789
I'm going to go ahead and close this since we haven't needed to manually bump anyone to newer grpc-js lately, but please feel free to comment and/or re-open if needed.

[2020-05-05 17:27] #789 closed

[2020-05-05 17:29] feywind commented on #725
I'd like to take a further look at this after we've got 2.x out the door.

[2020-05-05 17:33] feywind commented on #834
I'm going to put this on my list of stuff to retry shortly. I suspect some changes have happened to the emulator itself, because some of the problems I've tried to reproduce weren't happening for me. Also grpc-js has changed a lot. I see that some are using gRPC C++, though, so grpc-js updates wouldn't help with that.

[2020-05-05 17:35] feywind commented on #847
I just wanted to check in on this and see if it's still causing anyone problems. (Though I'm aware with https://github.com/googleapis/nodejs-pubsub/issues/847#issuecomment-579968039 there may still be an issue with the subscription wrappers in any case.)

[2020-05-05 17:36] feywind commented on #866
I'm going to go ahead and close this, since it hasn't seen a reply in a while, but please feel free to re-open/comment if needed.

[2020-05-05 17:36] #866 closed

[2020-05-05 17:39] feywind commented on #868
The sort of gestalt I'm seeing lately is that grpc-js is really a lot more stable for everyone, so I'm going to go ahead and close this out. Please feel free to add more comments with examples of problems, though. These examples are being fed into internal notes about pain points everyone has been experiencing.

I'm hoping to get us onto grpc-js 1.x soon, as it's no longer marked as a pre-release.

[2020-05-05 17:39] #868 closed

[2020-05-05 17:40] feywind commented on #869
Adding this to my look-at-shortly queue.

[2020-05-05 17:44] feywind commented on #879
I think that post-2.x I'm planning to just add `@grpc/grpc-js` as a dependency for `pubsub`. Pulling in the constants from that seems okay, even for gRPC C++ usage, but it shouldn't be assuming it'll be there in the tree, in my opinion.

Incidentally, there have been a lot of updates to `grpc-js` lately. I'm also hoping to get us on the 1.x version of that after the `pubsub` 2.0 is released. So pe

[2020-05-05 17:45] feywind commented on #884
There haven't been any sample test flakes for a while, and we have buildcop coming online for finding them individually, anyway. I'm going to go ahead and close this.

[2020-05-05 17:45] #884 closed

[2020-05-05 17:50] feywind commented on #885
Can anyone who's had this problem go ahead and try it with the latest `pubsub` library version? I notice that gRPC C++ was mentioned above, `grpc-js` has seen a lot of stability improvements.

I'm going to see if someone who handles `google-gax` can look.

[2020-05-05 17:51] willbattel commented on #885
@feywind I'll revisit this as soon as I can- likely the week after next.

[2020-05-05 17:52] feywind commented on #890
@jperasmus Did you try out the latest version of the library lately, which pulls in `grpc-js` 0.6.18? That library released 1.x recently, and I'm planning to pull that in after `pubsub` has its 2.0 release.

[2020-05-05 17:57] feywind commented on #891
@Zimovets I was wondering if this is still a problem for you.

To clarify my last comment there, the default ack extension timeout is pretty short by default. So if you push a lot of messages onto a topic (which has a subscriber) and aren't reading them off that subscriber relatively quickly, they can end up being redelivered. So you might end up with N copies of the same message.

@kamalaboulhosn

[2020-05-05 18:00] feywind commented on #892
This versioning issue should be sorted out next week when `pubsub` 2.0 is expected to be released.

[2020-05-05 18:05] feywind commented on #905
@kamalaboulhosn I'm wondering if there's a service issue here, because hitting the purge button in the GCP site seems like it should be independent of the client library. The only other thing I can think of is if the messages are being cached and fed to the application on the client side (or if they're queued up for streaming on the server side).

It's possible, too, that something in the client l

[2020-05-05 18:14] feywind commented on #924
@oreporan Is this still causing you troubles? I'm wondering if merlinnot's suggestion helped.

[2020-05-05 19:57] kamalaboulhosn commented on #905
@feywind Most likely, there were some messages already buffered to be sent to the client (and potentially in the client itself, e.g., the gRPC buffer) and these are the messages that were delivered. The purge button would not clear out those buffers. Additionally, the purge does not happen synchronously at the moment the button is pressed. With the distributed and asynchronous nature of the operat

[2020-05-05 21:51] feywind commented on #925
@andryichenko Sorry for the late reply on this, but could it be that the publisher piece you showed above is queueing the messages for batch send? You might try decreasing the max batching timeout:

[code]

The default is already low (100), but it's possible something is getting set incorrectly. It's also possible that it's not properly obeying that number in your case, in which case I need to do

[2020-05-05 21:53] feywind commented on #962
@npomfret Sorry for the late response. I think the answer is "it's complicated", because of some discussions we've been having around support channels, but let me see if I can find someone who can route it.

[2020-05-05 23:24] feywind commented on #990
@mrdulin Thanks for the report! I think a comment in there just needs an update.

[2020-05-06 06:18] andryichenko commented on #925
@feywind Thanks for the reply!
I already tried to decrease the max batching timeout, but it didn't really help. (It seemed to me that messages are going faster but still it struggles).
Also as can be found in this [guide](https://cloud.google.com/pubsub/docs/publisher#batching), PubSub tries to gather multiple messages before delivering it. In other words, it tries to deliver many messages at once

[2020-05-06 07:22] mrdulin opened #992 "pubsub-emulator throw error when publish 50k messages."
#### Environment details

  - OS: `uname -a` => `Darwin US_C02WG0GXHV2V 17.7.0 Darwin Kernel Version 17.7.0: Thu Jan 23 07:05:23 PST 2020; root:xnu-4570.71.69~1/RELEASE_X86_64 x86_64`
  - Node.js version: `node -v` => `v10.16.2`
  - npm version: `npm -v` => `6.14.4`
  - `@google-cloud/pubsub` version:  `"@google-cloud/pubsub": "^1.7.3"`

### Description

When I tried to publish 50k messages, the p

[2020-05-06 08:04] jperasmus commented on #890
@feywind I did try with the latest version at the time, which was after Christoph posted about 0.6.18. I will try with the latest v1 grpc-js client on one of our test environments after v2 of this library includes it.

[2020-05-06 13:05] megaz94 commented on #825
Yess. This issue is affecting a user running @google-cloud/pubsub v1.5.0

[2020-05-06 22:04] tummalah commented on #974
This feature makes sense and probably eliminates an immediate dead lettering of the message. @d-torres  thank you for requesting this.

[2020-05-08 05:50] build-cop-bot[bot] opened #995 "Mocha Tests: should respect flow control limits failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 9582316343b119fb1b295475c10d85f6a9a115e6
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-05-08 08:35] #995 closed

[2020-05-08 18:21] feywind commented on #992
@mrdulin Thanks for the detailed write-up! Just based on the Java error trace at the top, I'm guessing this is something with the Pub/Sub emulator, but I'll try out your repro steps.

[2020-05-11 07:22] mrdulin commented on #992
@feywind ok. Thanks. But I also hit this issue in the production environment.  If I publish 50K messages without using `Promise.all`, just use for loop and `async/await`. The issue gone.

[code]

[2020-05-13 12:32] vyacheslav-kara commented on #925
We also face the same problem: when we send 1-2 messages per minute the latency is around 1200 ms but once we push more messages it becomes faster and faster (around 10ms). It looks like there is some cache mechanism for pushing the messages.

[2020-05-13 15:31] stephenplusplus commented on #990
Thanks @mrdulin! There were apparently a lot of broken links like that! PR sent: #999

[2020-05-13 17:48] remi-bruguier commented on #869
Can confirm the same exact behaviour in a similar environment.

[2020-05-14 05:13] nazimkh opened #1000 "Using nodejs-pubsub client in multi tenant application"
Hi,

**Background:**
We are building a Multi tenant node js application where user can come in with their credentials and use our app to interact with Google pub sub.
Few points to be noted:

- The application we are trying to build is a multi tenant node js application.
- There will be a single node process running in which multiple users can come with their access tokens and use the application

[2020-05-14 13:37] yoshi-automation opened #1001 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ea51e8ba-def4-460f-9acd-a09a559fce5d).

[2020-05-14 17:37] feywind commented on #788
I'm going to go ahead and close this for now since it's been idle, but please do re-open/comment if needed.

[2020-05-14 17:37] #788 closed

[2020-05-14 17:40] feywind commented on #811
Adding this to my hotlist for some attention soon.

[2020-05-14 23:13] yoshi-automation commented on #1001
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/30e633c5-055b-437c-9be8-8b2a9ed80d0d).

[2020-05-15 02:37] yoshi-automation commented on #1001
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/ab56f2e1-d6ee-423b-92fe-ef8544e78c16).

[2020-05-15 12:47] yoshi-automation commented on #1001
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](https://sponge/9005fcf3-dd82-4e8a-9eed-ade452c70736).

[2020-05-15 20:06] yoshi-automation commented on #1001
Autosynth passed, closing! :green_heart:

[2020-05-15 20:06] #1001 closed

[2020-05-17 12:07] nazimkh opened #1002 "Support for OAuth2 authentication is not clear ?"
**How to use this module for following:**

- To sign in behalf of user using OAuth2 access_token & refresh_token.
- Is there a way to override the default authentication type of PubSub client with OAuth2 ?

[2020-05-18 20:46] mau21mau commented on #73
Any updates on this? We are having this issue at my company as well.

[2020-05-18 21:36] kamalaboulhosn commented on #73
@mau21mau This is the type of issue that can have many different causes. In order to investigate, it is usually necessary to have more detailed information about the project, topic, and subscription. Please create a Cloud support request from the Cloud console at https://console.cloud.google.com/support

[2020-05-19 12:31] oande commented on #869
Any update on this?

[2020-05-19 20:16] feywind commented on #869
@oande Sorry for the delay, I've still got this on my list.

[2020-05-19 20:18] feywind commented on #891
I'm going to go ahead and close this for now for lack of comments, but please feel free to comment/re-open if needed.

[2020-05-19 20:18] #891 closed

[2020-05-19 20:19] feywind commented on #892
The Pub/Sub library 2.0 is still not released yet, due to a confluence of factors, but I'm crossing my fingers that we can do it this week.

[2020-05-19 20:24] feywind commented on #924
I'm going to go ahead and close this since it's been idle, but please feel free to comment/re-open if needed.

[2020-05-19 20:24] #924 closed

[2020-05-19 20:27] feywind commented on #925
I'm not as knowledgable about what happens after it leaves the Pub/Sub library, so it's possible something down in gax/gRPC is doing its own buffering. I can ask the maintainers of those libraries if there's anything possibly there. But as for the Pub/Sub library itself, it should be obeying that batching configuration and not pausing. I will peek at that and see if there's possibly a bug there, t

[2020-05-19 20:29] feywind commented on #962
@npomfret I finally got this link from someone, you might want to try putting in a bug here?

https://issuetracker.google.com/issues?q=status:open%20componentid:187195&s=created_time:desc

[2020-05-19 20:35] #990 closed

[2020-05-19 20:36] feywind commented on #990
This will go in with the 2.0 release.

[2020-05-19 20:40] feywind commented on #992
Realistically you should be able to just fire and forget (unless the Node process is terminated or something) so it does kind of seem like there's some library issue there. We're going to be pulling in some much newer versions of the pieces under the Pub/Sub library soon with the 2.0 release of the Pub/Sub library. I'm hoping that will help with some of these issues. I think the plan is to release

[2020-05-19 20:54] feywind commented on #1000
@nazimkh At a glance, you should be able to make separate PubSub objects and publish for different clients. I don't know the full stack offhand, so I'm not 100% sure of that, but it makes sense to me.

The way to get different authentication for each one is to pass in the credentials manually instead of letting the library pull it from environment variables. So you'd create one more or less like t

[2020-05-19 20:55] feywind commented on #1002
The Pub/Sub library should support the underlying config options from gax/gRPC, so I think it might be a question for them. Let me see if I can find someone who would know.

[2020-05-19 21:26] JustinBeckwith commented on #1002
Greetings!  Today this library doesn't support user-scoped auth, or a way to override the default auth client.  Generally though, this isn't a problem :) What specifically are you trying to do?

[2020-05-20 04:41] nazimkh commented on #1000
@feywind it works properly. Thanks

[2020-05-20 04:41] #1000 closed

[2020-05-20 08:50] npomfret commented on #962
@feywind thanks, I already created an issue: https://issuetracker.google.com/issues/154260228

It appears that `maxInstances` isn't what it sounds like.  It's more of a guideline than a rule.

[2020-05-21 08:55] npomfret opened #1007 "Could we add a link to the release notes to the README.md file?"
Could we add a link to the release notes to the README.md file?  There has been a major version number change in the latest release and I'd like to read about what's changed.

[2020-05-21 14:54] tbadlov commented on #1007
You can review it in the releases section => https://github.com/googleapis/nodejs-pubsub/releases

[2020-05-21 18:08] bcoe commented on #1007
@tbadlov @npomfret perhaps we could add a link to the CHANGELOG in the README, just to help direct people towards it.

There's a [CHANGELOG maintained here](https://github.com/googleapis/nodejs-pubsub/blob/master/CHANGELOG.md).

[2020-05-21 22:11] feywind commented on #1007
The super TL;DR version of the 2.0.0 release is:

* No more Node 8 support; you'll need to push up to Node 10 at the minimum for this release
* TypeScript version updates and switching to the TS-based micro-generator for the GAPIC parts; there's one small change in the wording of one of the API methods, but this should largely be a no-op for most
* Dependencies updated

I think in practice, the la

[2020-05-21 23:40] feywind commented on #978
@hongalex Is this the same as what you were looking for here?

https://github.com/googleapis/nodejs-pubsub/pull/997

[2020-05-21 23:41] feywind commented on #825
I spoke with @megaz94 separately, but I wanted to check once more on this - `@google-cloud/pubsub` version 2.0.0 should be pulling in a newer (post-1.0) grpc-js, so that may help.

[2020-05-21 23:43] feywind commented on #992
`@google-cloud/pubsub` 2.0.0 is now released, so if you're on Node 10+, it might be worth trying that to see if the newer versions of gRPC/gax help anything.

[2020-05-21 23:44] feywind commented on #892
`@google-cloud/pubsub` 2.0.0 is now released, so if you're on Node 10+, it might be worth trying that to see if the newer versions of gRPC/gax help anything.

[2020-05-22 04:58] mrdulin commented on #992
@feywind ok. thanks. I will try it.

[2020-05-22 10:15] andryichenko commented on #925
@feywind did you find any solution?

[2020-05-22 13:44] yoshi-automation opened #1009 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/8aeddfbb-7b58-4fc8-9895-2ada12afbca7).

[2020-05-23 19:54] yoshi-automation commented on #1009
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/55b41abd-49e7-468a-beba-a8683b58c54c).

[2020-05-24 17:46] yoshi-automation commented on #1009
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/1b789978-f73a-46c5-b32f-b0f5a9fa15cc).

[2020-05-25 15:48] yoshi-automation commented on #1009
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/ba51bb8e-983e-4ef5-846f-55ea9fa4e79c).

[2020-05-26 10:54] naugtur commented on #825
We're also seeing this in @google-cloud/pubsub v1.5.0 too
Did anybody confirm v2 is a fix? I need to choose between bumping to 2.0.0 or passing grpc bindings - can't do both with limited resources, but would prefer to bump to v2

[2020-05-26 19:12] hongalex commented on #978
Seems like an experimental notice was never added for the "deliveryAttempt" field (which I think should have been added). Nonetheless, #997 does close out this issue.

Thanks!

[2020-05-26 19:12] #978 closed

[2020-05-26 21:39] oaguilar5 opened #1011 "Google PubSub Import Error"
**Environment details**
OS: Windows
Node.js version: v13.10.1
npm version: 6.13.7
Google Cloud SDK 293.0.0
bq 2.0.57
core 2020.05.15
gsutil 4.50

**Steps to reproduce**
Importing @google-cloud/pubsub results in what looks like a combination of bootstrap and GRPC errors. I have included the stack trace and package.json for reference. The error appears to be an issue from google gax and grpc status

[2020-05-27 12:53] yoshi-automation commented on #1009
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/51e18e2a-b562-4e19-987f-9aedba25285d).

[2020-05-27 19:06] qstrahl commented on #1011
I've got the same issue with the following npm/node:
[code]

[2020-05-27 20:00] feywind commented on #1011
@oaguilar5 @qstrahl Thanks for the report. There are some TypeScript incompatibilities that were introduced when we moved up to the latest minor in Pub/Sub 2.0.0. I wonder if there's something going on there, but I'll try to look at this after fixing that other issue.

[2020-05-27 21:52] matetukacs commented on #825
We are still seeing this error on 2.0.0

[2020-05-28 12:46] yoshi-automation commented on #1009
Autosynth passed, closing! :green_heart:

[2020-05-28 12:46] #1009 closed

[2020-05-29 23:15] feywind commented on #825
@glesage @naugtur @matetukacs Can you all describe the character of data being sent and received which is problematic? To unpack that question a bit, I'm asking for e.g. the size of messages, the frequency of message, the length of time before the problem typically happens.

That error stack looks like something from `readable-stream`. For me, `grpc-js` is pulling `readable-stream` 2.3.7, which se

[2020-05-29 23:37] murgatroid99 commented on #825
`grpc-js` has never had a dependency on `readable-stream`, so I don't know where that could be coming from.

Regardless, a similar issue was filed in the google-gax repository and it looks like grpc/grpc-node#1436 will address it.

[2020-05-30 00:19] feywind commented on #811
@zerefel @shaibt Sorry it's taken so long for someone to get back to you on these.

I just built a small repro case out of the original messages above, and I can't get it to misbehave with the old or new versions of storage and pubsub. However, I noticed this:

[code]

So I went back and pulled in the then-current versions of gax and grpc-js explicitly, expecting that I'd see it then. Sadly, I did

[2020-05-30 00:21] feywind commented on #811
Also posting this here in case it helps avoid a round trip. This is my test case:

[code]

[2020-06-01 15:02] stephenplusplus commented on #992
@mrdulin Just checking in to see if you're still experiencing these issues?

[2020-06-01 18:55] #947 closed

[2020-06-03 18:51] feywind commented on #811
I'm going to go ahead and close this for now, but please comment/re-open if there are still issues.

[2020-06-03 18:51] #811 closed

[2020-06-03 18:54] feywind commented on #825
I think the `external` tag isn't the right thing here, but since there's a fix happening elsewhere potentially, I'm going to put it on there. I'll keep an eye on this for when we can bump the gax dependency.

[2020-06-04 17:40] build-cop-bot[bot] opened #1018 "Mocha Tests: should pass the acceptance tests failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 3ad4809f60b6ca26078723f35b17397e22d1a9ca
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-06-05 11:39] yoshi-automation opened #1019 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/a84fe804-6b84-41a5-b1f2-e6d681e30fa2).

[2020-06-05 17:31] yoshi-automation commented on #1019
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge/efbc612a-a1be-43b9-a32e-48ba98cdbde3).

[2020-06-05 22:56] yoshi-automation commented on #1019
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/1545d56b-1b0a-4c16-8a59-d0188538d872/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-06-06 14:45] yoshi-automation commented on #1019
Autosynth passed, closing! :green_heart:

[2020-06-06 14:45] #1019 closed

[2020-06-10 01:03] #1018 closed

[2020-06-11 22:44] 6utt3rfly commented on #825
Confirmed - I'm getting this error after idling and not receiving a message for about 15 mins. @google-cloud/pubsub@2.1.0 and grpc-js@1.0.5.

I think I'll try switching to the C++ build of grpc

[2020-06-12 17:10] feywind opened #1029 "Add samples for RetryPolicy and filtering"
This is in response to these two issues:

https://github.com/googleapis/nodejs-pubsub/issues/974
https://github.com/googleapis/nodejs-pubsub/issues/976

It looks like the support is in for us to do this, but some samples could go a long way toward making it accessible.

[2020-06-12 17:10] feywind commented on #974
Closing this out in favor of the sample issue.

[2020-06-12 17:10] #974 closed

[2020-06-12 17:11] feywind commented on #976
Closing this out in favor of the sample issue.

[2020-06-12 17:11] #976 closed

[2020-06-12 18:36] feywind commented on #825
Ah, darn. I was hoping 1.0.5 would fix it. I'm going to go ahead and bump the dependency version anyway, in case it helps the others' issues.

[2020-06-16 14:58] maheshgattani commented on #255
You can now configure a retry policy in your Cloud Pub/Sub subscription. Retry policy allows users to have per message exponential backoff in case of failures.

More information can be found [here](https://cloud.google.com/pubsub/docs/admin).

[2020-06-16 15:34] JustinBeckwith commented on #1011
@oaguilar5 just to make this crystal clear - you're trying to run this through webpack and run it in the browser, right?

[2020-06-16 16:01] oaguilar5 commented on #1011
@JustinBeckwith correct, tried both import and require

[2020-06-16 17:57] mgabeler-lee-6rs commented on #255
To save folks that come here and are about to ask the question I was going to of "how": #1029

From some UTSL: it looks like the basic answer is "use `subscription.setMetadata`, there is a `retryPolicy` member in there".

[2020-06-16 21:21] feywind opened #1031 "Add support for detaching subscriptions"
The server API is not released yet, but we need to add client support for detaching subscriptions, as well as the "detached" flag for subscription metadata.

https://github.com/googleapis/googleapis/blob/e45a2f54dce1ac68497acf305145f9e5bb7e1e48/google/pubsub/v1/pubsub.proto#L130

[2020-06-23 11:39] naraB commented on #1011
any updates on this?

[2020-06-23 14:31] JustinBeckwith commented on #1011
Nope

[2020-06-23 17:38] feywind commented on #1011
I somehow totally missed the browser connection there. After a bit of internal discussion, we don't actually support using this library from a browser, but it's an aspiration. It looks like what's happening here is that it's failing to load protos via gax, which is pretty understandable. (I think they are dynamically require()'d in.) So I'm going to flip this from a question to a feature request f

[2020-06-23 17:56] meredithslota commented on #834
@feywind If the issue isn't resolved with the new version of grpc-js (and it's still an issue with the emulator) let's kick it to @kamalaboulhosn for guidance on ownership.

[2020-06-24 12:30] koalaty-code opened #1034 "Expose Prometheus metrics to track numPendingRequests and numInFlightRequests"
**Is your feature request related to a problem? Please describe.**
It is difficult to gain insight into the number of messages currently being processed by a subscriber client. This has led to difficulty when trying to fine-tune flow control settings.

 **Describe the solution you'd like**
Expose Prometheus metrics that can be scraped from the application to track the number of numPendingRequests

[2020-06-25 19:22] feywind commented on #834
I finally got a chance to try this out myself. I did have to make a few tweaks to make it works, so maybe this will help.

This is my Dockerfile, based on the original, but with an updated openjdk:

[code]

This fixed a Java exception in the emulator for not finding the Duration class.

This is the sample code:

[code]

This is the package.json:

[code]

And I'm getting this output:
[code]

So I t

[2020-06-25 19:23] #834 closed

[2020-06-25 19:44] feywind commented on #1034
Thanks for the request! I'm not completely sure off the top of my head, but I'll bring it up to see what we can do.

[2020-07-01 22:50] oaguilar5 commented on #1011
@feywind thank you! This would be fantastic to use on a browser to enable communication of components that are not worthy of being saved to a database (i.e. user field focus on a shared form). At the moment we are blocked on this aspect of our app - may I ask on a ballpark level how feasible this feature request will be to process/implement? (A month, this year, next year, etc) depending on feasib

[2020-07-02 10:42] ibmappcon opened #1039 "Require error codes returned by the response"
Hi,

We are using nodejs-pubsub package for one of our connector and to handle errors we are supposed to map error.code to proper http status code.
Currently in the documentation we cannot find all the possible error codes available in this package.

Could you please give us all the error codes returning from different errors and if possible the mappings with http code?

[2020-07-02 18:02] jeffijoe commented on #124
I'm seeing this as well. By not doing `modifyAckDeadline` no duplicate is generated.

Do we even need to use this in userland? I believe I read somewhere that the convenience client will keep extending for you?

[2020-07-03 12:18] harkal18 commented on #570
maza aa gya bhai
love you

[2020-07-06 04:36] ibmappcon opened #1040 "Require documentation for retries with its settings"
Hi,

In the two sample code, I see that we can pass maxretries, retryCodes and other retry settings.
It would be better if we get documentation on how this time settings are handled in backoffSettings.
https://github.com/googleapis/nodejs-pubsub/blob/544a061b1b6d7fdc4051486c2b8ae5d14e1ec141/samples/publishWithRetrySettings.js#L83

[2020-07-07 04:50] #972 closed

[2020-07-07 13:11] yoshi-automation opened #1044 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/5a5eac25-ce10-46bf-85cb-2b4068d6908c/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-07-08 00:06] alexander-fenster commented on #1044
This one and other similar issues should be fixed by https://github.com/googleapis/gapic-generator-typescript/pull/587.

[2020-07-08 13:20] yoshi-automation commented on #1044
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/49432b8e-830d-4fc2-a1ff-52fba07ebbaf/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-07-08 15:35] psilospore opened #1046 "createSubscription("topic-name", ...).topic is undefined"
However `createSubscription("topic-name", ...).metadata.topic` contains the topic name

#### Environment details

Seen in the firebase emulator thing.

  - OS: Mac
  - Node.js version: v12.15.0
  - npm version: 6.13.4
  - `@google-cloud/pubsub` version: 2.1.0

#### Steps to reproduce

[code]

[2020-07-09 14:30] yoshi-automation commented on #1044
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/cc99acfa-05b8-434b-9500-2f6faf2eaa02/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-07-10 15:00] yoshi-automation commented on #1044
Autosynth passed, closing! :green_heart:

[2020-07-10 15:00] #1044 closed

[2020-07-13 12:12] sameerRsystems commented on #885
I am also facing same problem. Did you guys found fix?

[2020-07-13 12:31] lukelove commented on #885
I ended up using Python which doesn't have the problem

On Mon, Jul 13, 2020 at 8:12 PM Sameer Verma <notifications@github.com>
wrote:

--
Luke Love

[2020-07-13 16:57] feywind commented on #1046
@psilospore Thanks for the report! I _think_ maybe `sub.topic` is intended to be private, but I will look at it more in a bit.

[2020-07-14 18:52] build-cop-bot[bot] opened #1054 "topics: should publish with specific batch settings failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 628e4c25ec0ba001751bfa8b0a1d93f7a97096a3
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-07-14 18:52] build-cop-bot[bot] opened #1055 "topics: should publish with retry settings failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: 628e4c25ec0ba001751bfa8b0a1d93f7a97096a3
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-07-16 17:27] psilospore commented on #1046
No problem!

[2020-07-16 18:01] stephenplusplus commented on #1046
The `metadata` object that's on our "ServiceObject" classes (such as a Topic or Subscription) is meant to be publicly accessible and reserved for data that comes from the API (not manipulated by us). The properties directly on the instance are sometimes leaked and useful, but not generally guaranteed to be reliably accessed by users.

[2020-07-17 17:39] sethmaxwl opened #1061 "Add OpenTelemetry Support"
OpenTelemetry should be added to PubSub to provide OpenTracing and OpenCensus functionality as one API and SDK. It would be helpful to use it to trace a message throughout its life cycle. This is being added to the Python Pub/Sub client and would be useful to have in the node client as well.

https://github.com/googleapis/python-pubsub/pull/149

[2020-07-17 23:12] #1055 closed

[2020-07-17 23:12] #1054 closed

[2020-07-20 23:21] #1031 closed

[2020-07-20 23:27] build-cop-bot[bot] opened #1062 "pubsub Subscription: should detach subscriptions failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: c5af3a9988e318c3d884aed1777010faa8545ab1
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-07-21 08:09] antoinefBam commented on #869
Any update on this? We got the exact same problem in a similar environment.

[This fix](https://github.com/googleapis/nodejs-pubsub/issues/346#issuecomment-446645863) used to work but the issue (`TypeError: Channel credentials must be a ChannelCredentials object`) is happening again since a few days...

[2020-07-21 10:04] ibmappcon opened #1063 "No error returned for invalid private_key"
Hi,

We are using nodejs-pubsub package v2.2.0 for one of our connector and it was observed that the endpoint does not return any error when the client is created with invalid private_key. Also, when this client was used to get topics, it did not return autentication error. However, after waiting for the default timeout, it returned an error with code 4 as below:

[code]

We expect authentication

[2020-07-21 17:34] #1062 closed

[2020-07-21 21:07] feywind commented on #1063
Hi, @ibmappcon - thanks for adding a report for this. I haven't heard of it before. Asking for a few clarifications:

- What's causing the invalid private key error specifically? (Meaning, the private key was pasted incorrectly but the username is correct, or something like that?)

- Can you paste some really simplified code that shows what you're calling in your connector? e.g.:

[code]

Thanks!

[2020-07-21 21:07] feywind commented on #1061
@sethmaxwl You're working on this, right? Just trying to get it assigned to the right person.

[2020-07-21 21:11] sethmaxwl commented on #1061
@feywind Yes I am.

[2020-07-21 21:13] feywind commented on #1046
@psilospore It looks like what the library is doing is copying Subscription.topic from the options passed into the Subscription constructor. You might be able to do that manually, but it looks like the intent is that you'd obtain the Subscription object by way of a Topic object. e.g.:

[code]

So the answer for how it's written now is that you'd need to do something like:

[code]

and you should g

[2020-07-21 21:50] feywind commented on #1039
There have been some discussions about making the samples and/or docs more clearly outline what sorts of things you could get back from the API calls. I don't think there's a concerted effort yet, but it's something I want to see too.

[2020-07-21 21:57] feywind commented on #255
You should be able to configure the retry policy by way of the `gcloud` utility, as well as the web control panel, and yep - `subscription.setMetadata` is currently the intended way to do it programmatically.

[code]

(There are other metadata operations available too, try `gcloud pubsub subscriptions update` to get the full list.)

[2020-07-21 22:02] feywind commented on #1011
I haven't dug into it in depth, but I _think_ the dynamic loading issue is in gax. And we may still be referencing gRPC C++ by default, which is not going to work for a browser context. There may be other issues, too, it's just not a tested use case right now.

That `web` label Justin added is for us to track these kinds of requests though, to make a case for spending some time on doing it. I'm af

[2020-07-21 22:47] feywind commented on #1002
This hasn't seen an update in a while so I'm going to go ahead and close it.

[2020-07-21 22:47] #1002 closed

[2020-07-21 22:48] feywind commented on #992
There hasn't been any movement on this for a while, so I'm going to go ahead and close it. (Please feel free to re-open if you need any other help with it.)

[2020-07-21 22:48] #992 closed

[2020-07-21 22:51] feywind commented on #962
@npomfret I just wanted to double-check: does this need any more attention from the Pub/Sub client library side of things? If not, do you mind going ahead and closing? Thanks!

[2020-07-21 22:55] feywind commented on #892
The newer grpc-js has been pulled in for a while now, and this issue has gone quiet. Is anyone here still having the issue?

[2020-07-21 23:16] feywind commented on #890
@jperasmus Checking back in - have you had better luck with the grpc-js client 1.x? That should be picked up here now (by way of gax updates).

[2020-07-21 23:24] feywind commented on #825
Quick update on this, the consensus was that we probably shouldn't actually do the explicit dependency on grpc-js in here, because it might fall out of sync with other libraries accidentally. The gax library has been updating their dependencies, so in theory, that should be pulling in a newer one now.

At some point I'll plan to update the gax dependency explicitly. This is related to this: https:

[2020-07-22 04:26] ibmappcon commented on #1063
@feywind Please refer the script below:
[code]

[2020-07-22 10:12] laljikanjareeya commented on #1063
@ibmappcon below is right way to pass the `client_email` and `private_key`:

[code]
Make sure your private_key should be in following format:
[code]

[2020-07-22 10:58] jperasmus commented on #890
Hi @feywind thanks for following up. I actually moved to a different company where we are not using this package anymore, but before I left, I did run an experiment for almost 2 weeks with the v1 `grpc-js` client on a test environment and it was substantially more stable than the old `grpc` client. Basically, where the `grpc` client would throw at least one connection issue in production per day,

[2020-07-22 12:28] thespacedeck opened #1068 "Propagation of context by setting the 'traceparent' property in headers of messages"
Good day,

It would be great if the context could be propagated from one process to another where pubsub plays the middleman.

We're using OpenTelemetry and setting the 'traceparent' property in the header to allow the tracing between app services and cloud tasks.

**Problem:**
For those requests that uses larger POST bodies we use pubsub to kick off other services, but the pusub interface does no

[2020-07-22 12:30] thespacedeck commented on #1068
Ha!!! I see someone beat me to it :)
https://github.com/googleapis/nodejs-pubsub/issues/1061

[2020-07-22 12:30] #1068 closed

[2020-07-22 12:33] thespacedeck commented on #1061
I cannot wait for this feature :) Thanks for working on this! It would be great to even pass through your own custom HTTP headers, from where you can set the traceparent property in order to propgate it manually. We're currently doing this with Cloud Tasks and it works great.

[2020-07-23 03:47] ibmappcon commented on #1063
@laljikanjareeya Sorry for the above miss, updated the script. I had created new client in the same manner, still it failed to give error.

[2020-07-23 04:28] laljikanjareeya commented on #1063
@ibmappcon  it it same error that you were getting previously?.

I debug it and It gives below error definitely not timeout error:
[code]

[2020-07-23 07:22] ibmappcon commented on #1063
@laljikanjareeya yes, still getting the timeout error. Wondering if we need any extra configuration to obtain this error.

[2020-07-23 13:14] ibmappcon commented on #1063
@laljikanjareeya we also observed that, for the latest node version, the endpoint gives proper error messages for invalid private key. However due to some constraints we need to use pubsub with node v10 in our application.

Can you suggest any work around for this?

[2020-07-24 05:06] ibmappcon opened #1069 "Memory leak detected for publish message method."
Hi,

Encountered a memory leak with pubsubclient.publish method. We tried load testing for publish message operation and found the following results:

**For 100 requests, an increase of (0.1-0.2)MB.
For 1000 requests, an increase of (0.6-0.7)MB.
For 5000 requests, an increase of around 3MB.**

These results continue to give an increase in memory, with increase in number of requests.

Node version

[2020-07-24 07:33] ibmappcon commented on #1063
@feywind any update on the issue? Can you suggest some workaround on this issue for node v10?

[2020-07-24 08:24] laljikanjareeya commented on #1063
@ibmappcon  I have already tried with above given version but looks like it working fine, Here is the details:

Node: V10.16.3
npm: 6.9.0
@google-cloud/pubsub: "^2.2.0"

**Code snippet:**
[code]

**Output:**
[code]

It seems like your key is valid but timeout from back-end, can you try again cleaning up the `node_modules` and changing your key as invalid.

[2020-07-24 09:07] #962 closed

[2020-07-25 07:52] ibmappcon commented on #1063
@laljikanjareeya Thanks for the update!

We tried the exact same code with same node & npm version, and still see the same issue. We even tried this on three different machines to rule out the caching possibility, same behavior is observed.

[2020-07-26 12:40] kamalaboulhosn commented on #1069
@ibmappcon Can you please provide the code you are using that demonstrates the memory leak?

[2020-07-26 15:34] ibmappcon commented on #1069
@kamalaboulhosn
A brief background what we are trying to achieve:
We are building a Multi tenant node js application where user can come in with their service account credentials and use our app to interact with Google pub sub for integration.

The code to publish message is some what like this:

[code]
We also tried caching and keeping one client only instead of creating it at runtime, the proble

[2020-07-27 13:10] ibmappcon commented on #1069
@kamalaboulhosn any updates on this will really help.

[2020-07-27 15:24] rlucioni commented on #869
@feywind this is also preventing my team from working with the Pub/Sub emulator locally, which makes development difficult. The workarounds proposed in https://github.com/googleapis/nodejs-pubsub/issues/346 don't work.

[2020-07-28 06:00] ibmappcon commented on #1063
@feywind @laljikanjareeya Any update on this issue?

[2020-07-29 21:23] AlexWellsHS commented on #892
@feywind  We just implemented the pubsub client recently, running into the error:
`Failed to "modifyAckDeadline" for 1 message(s). Reason: 13 INTERNAL: Received RST_STREAM with code 2 (Internal server error)`. came across this issue looking for answers about what is happening.

[2020-07-30 17:34] feywind commented on #1069
I'll put this on my agenda for today.

[2020-07-30 17:42] yoshi-automation opened #1074 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/b205fd33-200c-4298-88b8-18b0d1c79a3e/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-07-30 19:45] RayKayy commented on #847
I was experiencing duplication of messages after upgrading this library from `v0.29.1` to `v2.1.0` being published as I was creating a new `Topic` object on every publish. I have verified that it was an issue with publishing where `google-gax` is making multiple retries due to not getting response, even though the messages were successfully published. On the subscriber side each of the duplicated

[2020-07-30 21:59] feywind commented on #1007
There is a fix in synthtool now that should add a link to the CHANGELOG.md from the README.md on all repos.

https://github.com/googleapis/synthtool/pull/701

[2020-07-30 21:59] #1007 closed

[2020-07-31 00:52] feywind commented on #1069
Hi @ibmappcon,

I dug into this a bit today. I am indeed able to see the memory leak issue, and it appears to have something to do with the code we are generating for protos. I'd like to look at that a bit more, because it seems like we shouldn't be leaking things like that.

But my take on it (and after consulting with my colleagues, they agree) is that it's not great to create a PubSub object pe

[2020-07-31 18:41] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/7b446397-88f3-4463-9e7d-d2ce7069989d/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-01 17:00] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/77487cc5-a367-44ee-984f-71b13efe0194/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-02 15:58] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/92c16bc4-0b39-465b-bd2e-37e0a8400a9f/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-03 16:51] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/eedccaac-978c-4f7b-b3e6-afa6069cbb20/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-03 20:29] sagimonza commented on #974
I tried this in many ways without success - this always results in reseting the retryPolicy of the subscription to the default - retry immediately:
[code]

I'd appreciate any help @feywind.

[2020-08-03 21:32] feywind commented on #869
@rlucioni I thought I had a suggestion for you, but digging a bit deeper suggests it didn't fix the issue.

The slightly longer answer to the original question is that the environment variable is being interpreted by the veneer client, so if you use v1 directly, it won't see it. That also seems suboptimal. There's been some talk about normalizing the environment variables in the GCP client librari

[2020-08-03 22:05] feywind commented on #869
Here are some ways to work around this, based on my testing:

The simplest, but probably also the most prone to breakage over time (these aren't the same types, but they do technically contain the same things):

[code]

That will actually pick up the emulator environment variable in the normal way, since it's just using the PubSub class' init.

The specific members could be copied like so, to be a

[2020-08-04 07:52] mnahkies commented on #1074
For what it's worth, I hit a similar issue to this yesterday and upgrading typescript on the consuming project fixed it. Unsure of the root cause though

[2020-08-04 16:50] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/ede1d3f6-026a-4ad6-ab3b-e21b79002e00/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-05 13:11] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/7b12b27f-67f6-4620-8ebe-674a90d07262/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-05 14:03] mnahkies opened #1075 "Document changes to default BatchPublishOptions"
Since version v1.5.0 / commit https://github.com/googleapis/nodejs-pubsub/commit/32ae4114fb7b42722a6c5100e9d494e470a5cae2 the default batching options have been altered for publishing messages (good change btw)

However this is not very well documented:
- The JS Doc in the source code still mentions the old defaults, eg: https://github.com/googleapis/nodejs-pubsub/blob/master/src/publisher/message

[2020-08-06 08:25] mnahkies commented on #892
@feywind we're seeing this intermittently as well

Version: `@google/pubsub@v2.1.0`

[code]

Occurred this morning at `2020-08-06T08:07:52.189844Z`, but one thing that might be interesting to you is that another independent service running in the same k8 cluster had the same error (different topics/subscriptions) at `2020-08-06T08:07:30.226722Z`

[2020-08-06 09:23] Nyceane opened #1076 "GET https://registry.npmjs.org/@google-cloud%2fpubsub - Not found"
**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

$ npm install @google-cloud/pubsub
npm ERR! code E404
npm ERR! 404 Not Found - GET https://registry.npmjs.org/@google-cloud%2fpubsub - Not found
npm ERR! 404
npm ERR! 404  '@google-cloud/pub

[2020-08-06 09:48] chintansureliya commented on #1076
Happening with most of the google cloud packages.

[2020-08-06 09:50] damingerdai commented on #1076
i also meet this issue when i want to install  firebase-tools by npm

[2020-08-06 09:50] zhigang1992 commented on #1076
https://status.npmjs.org/incidents/cksjqc1w11v5

it's a npm issue with scope packages

[2020-08-06 10:25] Valentin-Seehausen commented on #664
I get this error in exactly one of my functions. Any idea?

[2020-08-06 11:25] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/76bb7f6f-4d47-4888-b0d2-a8761a276cc8/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-06 13:11] mnahkies commented on #784
@callmehiphop seems like this has recently changed (https://github.com/googleapis/nodejs-pubsub/pull/1041) - does this mean we no longer require the `allowExcessMessages: false` option?

[2020-08-06 13:43] stephenplusplus commented on #1076
Looks like it has all been resolved. Phew!

[2020-08-06 13:43] #1076 closed

[2020-08-06 19:52] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/374d348d-8a6c-4e4c-b1a2-7114e0aa1049/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-06 20:20] JustinBeckwith commented on #664
@Valentin-Seehausen it would be super helpful if you could open a new issue, and answer the questions in the template :)

[2020-08-06 21:44] alanchrt commented on #1074
This is from the latest minor version of `google-gax`. I was able to resolve temporarily on my end for now by always resolving to `google-gax@2.6.3`.

[code]

[2020-08-07 09:42] mrdulin commented on #992
The issue is gone I upgraded the client library to `"@google-cloud/pubsub": "^2.3.0"`

[2020-08-07 12:49] yoshi-automation commented on #1074
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/46f39e56-2d48-4dfc-8fcc-e5cf5f484e53/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-08 00:31] #1074 closed

[2020-08-08 12:50] mnahkies opened #1081 "RFC: limit simutanous publish requests"
Following on from this question: https://stackoverflow.com/questions/63286981/gcp-pubsub-why-does-publishing-200k-messages-rapidly-result-in-2-5-million-mess

If I've understood the issue correctly, basically when we throw lots of messages at the client/sdk rapidly it correctly splits them into batches but does not limit the number of simultaneous gRPC publish requests that are made.

These reques

[2020-08-08 15:00] Ezard opened #1082 ""TypeError: Cannot read property 'Reader' of undefined" after upgrading to 2.4.0"
#### Environment details

  - OS: Windows 10 (my machine) and Ubuntu 18.04 (GitHub Action runner)
  - Node.js version: 12.14
  - npm version: 6.14.5
  - `@google-cloud/pubsub` version: 2.4.0
  - Typescript version: 3.9.7

#### Steps to reproduce

  1. Import anything from `@google-cloud/pubsub@2.4.0` (e.g. `Message`), and use it
  2. Run the code
  3. The following error will occur:
[code]

Minima

[2020-08-08 15:43] Ezard commented on #1082
Looking into this, I'm unsure how this has happened
Line 22 of `protos.js` in my PubSub dependency is:
[code]
This is the cause of the error, since `protobufMinimal` is undefined

However, I can see that this is the following in this repo:
[code]

If I manually replace this line in my downloaded dependency then everything works fine

The `compile-protos` npm script makes use of the `compileProtos`

[2020-08-09 11:12] npomfret commented on #1082
Same, problem.  Anyone know what the last working version is?

[2020-08-09 11:36] Ezard commented on #1082
@npomfret `2.3.0` works fine for me

[2020-08-10 00:30] stephenplusplus commented on #1082
@alexander-fenster any idea on this one?

[2020-08-10 15:13] rlucioni commented on #869
Passing options from an instance of the PubSub client worked for us! Thank you!

[2020-08-10 19:11] spaquet commented on #1082
Same issue for me.
Plain Javascript.

[2020-08-10 19:18] feywind commented on #1082
There were some protobufjs changes (and subsequently gax) that required an update to 3.8+ on TypeScript. It looked like that got pulled in even with the existing semver ranges on pubsub. :(

For what it's worth, the range is `^3.8.3` so it should be okay to use any 3.x version. (That was not true for a sort of odd breaking change in 3.7, but that is hopefully behind us at this point.)

Weirdly, th

[2020-08-10 19:30] #1075 closed

[2020-08-10 20:39] NawarA commented on #1082
I can verify the issue. 2.3.x is good. 2.4.0 has the issue:

![image](https://user-images.githubusercontent.com/2067616/89829101-e4a0f400-db0e-11ea-8a23-3f886fcae1e3.png)

[2020-08-10 20:57] feywind commented on #1082
It looks like a fix I made last week to make synthtool happy again caused this error. I'm still looking at getting a reproduction here. A clean package with the versions @Ezard posted is actually working for me, so it's possible something needs a forced dependency version update. Can you do an `npm list` and let me know what the versions are for these two?

[code]

In the meantime, I've reverted `

[2020-08-10 22:13] Ezard commented on #1082
@feywind
[code]
[code]

Note these are the Google Cloud dependencies that I have, in case any of them are conflicting:
[code]

Interestingly, I deleted my package-lock.json file and node_modules directory, reinstalled all deps, and now everything is working (and `npm list` shows the same versions as you see)

[2020-08-10 22:57] feywind commented on #1082
@Ezard Thanks for confirming that. I'm pretty sure gax 2.7.0 will fix this, and I've got a PR for that in progress.

[2020-08-10 22:59] NawarA commented on #1082
Yup. Deleting `package-lock.json` and `node_modules/` fixes it (in case you want a work-around)

[2020-08-12 19:08] yoshi-automation opened #1086 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/b742586e-df31-4aac-8092-78288e9ea8e7/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-08-12 20:02] andresmargalef commented on #925
@feywind did you find any solution?

[2020-08-12 21:00] #1086 closed

[2020-08-13 16:01] sdcaulley commented on #869
I am not getting any errors using the example of passing options from a PubSub instance.  But it just spins until a timeout is reached.

Any idea or suggestions?

[2020-08-13 16:18] sdcaulley opened #1088 "Synchronous Pull times out consistently with PubSub Emulator"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue?
Yes

2) Did someone already solve this?
 I have no found no similar issues.

3) Do you ha

[2020-08-13 20:04] meredithslota commented on #869
Added the "external" label since this is an issue w/ the emulator (we think) rather than the client library. @feywind Is that correct? Otherwise, apologies in advance if I am wrong. :)

[2020-08-14 10:42] men232 commented on #1029
no any progress?

[2020-08-14 18:00] #1061 closed

[2020-08-14 21:27] bluedot74 commented on #869
@sdcaulley

I had this exact problem and finally got it working. The issue for me was because the option attribute is `servicePath` on the pubSub client, not `apiEndpoint`.

So this worked for me:
[code]

Thanks for the solution, @feywind !

[2020-08-15 00:20] shufengh commented on #825
We are seeing this in v2.3.0 as well

[2020-08-17 19:02] stephenplusplus commented on #1082
@feywind did we ever cut a release somewhere that would fix this?

[2020-08-17 22:27] #1082 closed

[2020-08-17 23:33] feywind commented on #1088
@sdcaulley Thanks for the report! I was going to say something about the v1 client not finding the emulator variables, but then I see that you've got that taken care of. :) I'll try to look at this in with some other emulator issues.

[2020-08-17 23:35] feywind commented on #1081
@mnahkies Thanks for the report! I don't know as much about the grpc side of things, so maybe I can beg some help from @murgatroid99 ? :)

[2020-08-17 23:42] feywind commented on #1046
Just checking in on this to see if anything else is needed here since it's been a while.

[2020-08-18 13:17] sylvainar commented on #847
I tried to modify the buffer options but after I got timeout and unstability issues.

Then I switched to GRPC and I don't experience any issue. See https://www.npmjs.com/package/@google-cloud/pubsub#running-grpc-c-bindings

[2020-08-18 21:13] feywind commented on #905
Is there anything else that needs to be done here? I merged a fix for the client-based purging a while back, and Kamal's explanation about the purge button in the console is pretty believable, so I'm not sure there's a lot else we can do there.

[2020-08-18 21:18] feywind commented on #890
Okay, cool! If anyone is still running into this with `grpc-js`, feel free to re-open.

[2020-08-18 21:18] #890 closed

[2020-08-18 21:41] feywind commented on #879
I forgot to update this - we talked it over and decided it's probably best if Pub/Sub itself doesn't gain a direct dependency on `grpc-js`, because the version could fall out of step with gax itself. And some typings there are needed in the Pub/Sub library.  So I'm really not in love with this solution, but I think for now the plan is not to change this.

As a workaround for package manager issues

[2020-08-18 21:41] #879 closed

[2020-08-18 21:46] feywind commented on #869
`apiEndpoint` should theoretically work on the `PubSub` object as well as v1 clients, so I'm not completely sure why it wasn't working.

Yeah, I can't say the workaround of pulling options out of the `PubSub` object is a good long term practice, but I'm going to make a new issue that's targeted at just figuring out what our official way forward is for v1 and alternate endpoints (and close this one

[2020-08-18 21:46] #869 closed

[2020-08-18 21:49] feywind opened #1091 "Add formal support for propagating endpoint info from environment variables"
This is related to this issue: https://github.com/googleapis/nodejs-pubsub/issues/869

Right now, only the high level `PubSub` object is capable of doing things like parsing the emulator endpoint environment variables. This causes problems when testing with a raw v1 client, for synchronous pull or the like.

There is a workaround for this (posted in that issue above) but I can't say I like it as a

[2020-08-18 21:58] feywind commented on #847
Hmm, @alexander-fenster is this maybe related to the fixes for the micro-generator for batching?

That should be pushed out with 2.5.0, so it might be worth trying that to see if it helps.

https://github.com/googleapis/nodejs-pubsub/pull/1087

This is coming from old memories, so take it with a grain of salt: the status of the C++ client at this point is that it's in maintenance. So we are backpo

[2020-08-18 22:01] feywind commented on #825
@shufengh It looks like 2.5.0 is the one that pulled in the new gax version explicitly. Maybe give that one a try?

https://github.com/googleapis/nodejs-pubsub/pull/1085

[2020-08-18 22:03] feywind commented on #725
Just bumping this as still in the queue.

[2020-08-19 00:12] alexander-fenster commented on #847
@feywind This totally may be related to batching, in that case, the fix in #1087 could help.

[2020-08-19 02:41] psilospore commented on #1046
Sorry for getting back late. I did find another workaround to get the topic name when I reported this but thought it was a bug that might be worth reporting. Based on the previous comments it seems that it is a bug, but feel free to close this if you would like.

[2020-08-19 12:13] gregberge commented on #979
Hello, we experienced the same problem in our application. Any news on that?

[2020-08-19 14:28] stephenplusplus commented on #1046
@psilospore Thanks, good to hear. I'll close for now and let @feywind determine if there's a bug we need to address.

[2020-08-19 14:28] #1046 closed

[2020-08-19 14:49] stephenplusplus commented on #1091
Instead of:

[code]

What if we tried exposing the raw clients through the PubSub instance:

[code]

That way, it's easy for us to forward any settings that are relevant, such as auth settings, endpoint configuration, and maybe even others, like low-level gRPC options.

[2020-08-19 20:04] josedonizetti commented on #1029
@feywind any progress here? Tried to make it work with `setMetadata` in a number of ways, but keep getting errors.

[code]

[2020-08-20 03:21] mgabeler-lee-6rs opened #1093 "Bad JSdoc placement on Topic.setMetadata"
Thanks for stopping by to let us know something could be better!

If the support paths suggested above still do not result in a resolution, please provide the following details.

#### Environment details

  - OS: Irrelevant
  - Node.js version: Irrelevant
  - npm version: Irrelevant
  - `@google-cloud/pubsub` version: v2.5.0

#### Steps to reproduce

  1. Install the latest version of `@google-clo

[2020-08-20 05:17] mgabeler-lee-6rs commented on #1029
@josedonizetti @sagimonza (from #974) I was able to get this working with the current v2.5.0 release.

Gist demoing it both at sub `create` time and via `setMetadata`: https://gist.github.com/mgabeler-lee-6rs/69a9b0e368d061b1935a7aa428e217b6

... I _do_ get the error Jose mentions if I try to run it against the emulator however (have to comment out `topic.setMetadata` to get to the failure for the

[2020-08-20 17:38] feywind commented on #1093
Thanks for the report! I'll add this to my list of docs/comments cleanup issues.

[2020-08-22 19:32] Intelrunner opened #1096 "Bug - publishMessage.js has breaking directions in comment"
Thanks for stopping by to let us know something could be better!

**PLEASE READ**: If you have a support contract with Google, please create an issue in the [support console](https://cloud.google.com/support/) instead of filing on GitHub. This will ensure a timely response.

1) Is this a client library issue or a product issue? This is a documentation bug.
2) Did someone already solve this? No
3)

[2020-08-22 19:49] #1096 closed, assigned to Intelrunner

[2020-08-24 11:23] anthonymartin commented on #847
I also experienced similar findings in my own projects.

Might this be _expected_ behavior? For instance, if one is attempting to send more messages than can be published OR ack'd within a given time period, wouldn't subsequent retries (on the publish side), or subsequent delivery attempts (on the subscribe side), add to the total message count?

[2020-08-24 12:21] sylvainar commented on #847
Maybe, but in this case we'll need more documentation because posting at high throughput is what PubSub was made for and we shouldn't struggle on that specific usecase

[2020-08-25 22:16] feywind commented on #1091
Yeah, interesting idea! I like the consistency that makes where the `PubSub` object is the one-stop shop for using the library.

[2020-08-25 23:14] feywind commented on #925
I missed that there were two issues potentially related to this: https://github.com/googleapis/nodejs-pubsub/pull/1087

Do you know if 2.5.0 still has the issue?

[2020-08-26 18:49] meredithslota commented on #905
I think we are ok to close - based on previous fixes + comments, if folks are still seeing this issue we'd likely need new repro info anyway. :)

[2020-08-26 18:49] #905 closed

[2020-08-27 17:36] feywind commented on #885
As of 2.5.0, we're explicitly pulling in a new gax (and grpc-js) here. Did anyone see any improvement from that? There was also a microgenerator bug having to do with batching support.

[2020-08-28 15:28] #1040 closed

[2020-08-29 01:09] willbattel commented on #885
We're not currently using the program that produced the errors, so I cannot comment on any improvements unfortunately. If we do restore that service I'll take a look.

In any case, thanks for looking into this!

[2020-08-31 07:46] yoshi-automation opened #1101 "Synthesis failed for nodejs-pubsub"
Hello! Autosynth couldn't regenerate nodejs-pubsub. :broken_heart:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/efb02be4-b6bb-479e-b5d3-0c5f9d581fbc/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-09-01 07:47] yoshi-automation commented on #1101
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/214cbf37-c4ce-405b-b564-d63961749833/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-09-02 07:46] yoshi-automation commented on #1101
Autosynth is still having trouble generating nodejs-pubsub. :sob:

Here's the output from running `synth.py`:

[code]

Google internal developers can see the full log [here](http://sponge2/results/invocations/bee7b112-5b8f-497f-8adf-6e1a2192bf89/targets/github%2Fsynthtool;config=default/tests;query=nodejs-pubsub;failed=false).

[2020-09-03 07:52] yoshi-automation commented on #1101
Autosynth passed, closing! :green_heart:

[2020-09-03 07:52] #1101 closed

[2020-09-03 21:19] feywind commented on #892
I could've sworn I responded to this... There is now a 2.5.0 for `@google-cloud/pubsub` that pulls in a newer gax and grpc-js, and some others have had luck with those versions. Not a whole lot has changed between 2.1.0 and that one, so you might give that a try?

[2020-09-03 21:21] feywind commented on #885
It kind of sounds like everyone who was having problems has moved off to other solutions. That's a bummer, but also I'm glad you're not blocked! If anyone still ends up needing help or has more comments on it, please feel free to re-open.

[2020-09-03 21:21] #885 closed

[2020-09-03 22:34] mgabeler-lee-6rs commented on #1029
It _is_ quite frustrating that it seems you can't use almost _any_ of the keys in `setMetadata` in the emulator. Makes it hard to have code using this library that can get tested in CI or used by developers on localhost :disappointed:

[2020-09-04 00:39] mgabeler-lee-6rs opened #1103 "topic.setPublishOptions fails to change batching settings"
#### Environment details

  - OS: Linux
  - Node.js version: 12.x
  - npm version: 6.14.5
  - `@google-cloud/pubsub` version: 2.5.0

#### Steps to reproduce

  1. Create a topic
  2. Call `setPublishOptions` on the topic to change the batching settings
  3. Call `publish` or `publishJSON` on the topic to send a message
  4. Observe that new batching settings are not used

Probable root cause: `pub

[2020-09-07 08:55] build-cop-bot[bot] opened #1105 "pubsub Snapshot seeking: should seek to a date failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: c9d5638031d047b80df82bc4afed1aecdd708406
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-09-07 08:55] build-cop-bot[bot] opened #1106 "pubsub Snapshot seeking: should seek to a future date (purge) failed"
This test failed!

To configure my behavior, see [the Build Cop Bot documentation](https://github.com/googleapis/repo-automation-bots/tree/master/packages/buildcop).

If I'm commenting on this issue too often, add the `buildcop: quiet` label and
I will stop commenting.

---

commit: c9d5638031d047b80df82bc4afed1aecdd708406
buildURL: [Build Status](https://source.cloud.google.com/results/invocation

[2020-09-10 16:49] jeffijoe commented on #979
It seems that instead of the `Call cancelled` error that now it just stops the subscription, however for some reason the `close` event is not triggered?

[2020-09-10 18:45] giuliano-barberi-tf commented on #979
@feywind Can we get this issue bumped up to a p1 and prioritized? It seems a subscription that is idle for 15 minutes just completely loses connectivity and the client doesn't properly reconnect. Otherwise, if we are supposed to handle reconnecting ourselves then can we get some guidance on how to do that? Thank you!

[2020-09-11 00:31] dozie commented on #925
Seems like this has been merged and hasn't solved the problem of latency.

[2020-09-14 14:13] stephenplusplus commented on #1069
@feywind where does this one stand? Do you think our code somewhere is retaining objects in memory unnecessarily, or is this a matter of best practices?

[2020-09-16 13:59] mahendraHegde commented on #1029
does anyone know, how to set a filter for a subscription using this sdk? any docs??

[2020-09-16 17:39] men232 commented on #1029
1. Make sure that you use latest version of this lib.
2. Just pass filter property into subscription creating

For example

filter: [
				`attributes.platform = "dev"`,
				`attributes.label = "broker"`
			].join(' AND '),

[2020-09-17 19:03] feywind commented on #847
@anthonymartin @sylvainar Did either of you happen to test with 2.5.0? That's where the batching fix landed. (Also some grpc-js fixes.)

I don't work on the Pub/Sub service itself, but it seems like, from my understanding, you shouldn't see this many duplicate messages at the user code level, even if some of them need to be nack'd for retries. The library itself should be handling lease management

[2020-09-17 19:20] sylvainar commented on #847
Sorry I don't work on this project anymore, however I'm sure that at the time of my latest comment I had the latest version published on npm.

[2020-09-17 22:28] arbourd commented on #847
We're seeing this issue with `v2.5.0`. We're able to reproduce it by looping over a large number of requests (in our case its a customer-drive CSV import) which calls `.publish()` **n** times. In our testing, a CSV with 11,000 items in it created about 200,000 publish requests.

<img width="1858" alt="Screen Shot 2020-09-17 at 6 24 13 PM" src="https://user-images.githubusercontent.com/7211830/9353

[2020-09-18 11:00] amitized commented on #739
I was facing this issue when trying to run my script on Google sheets. Is this a similar issue? https://github.com/mithunmanohar/woocommerce-orders-google-sheets-integration/issues/44

[2020-09-18 20:54] arbourd commented on #847
So after some analysis, it's timeout errors that are causing the duplication. Simply, if we hit `.publish()` without waiting for a response it will eventually start:

[code]

[2020-09-18 22:31] feywind commented on #847
@arbourd Thanks for looking at that further, and this is actually a really useful data point.

@alexander-fenster This seems to be a retry timer in the gax library, could there be an issue there?

[2020-09-18 22:33] feywind commented on #925
@dozie Thanks for the update!

@alexander-fenster Sorry to ping you again :D but could there be something introducing latency and doing its own batching of calls at the gax level? If setting the batch size to 1 for the Pub/Sub library doesn't reduce the latency, it seems like it might be something at a lower level.

[2020-09-18 23:12] feywind commented on #1039
There was a discussion not long ago specifically about grpc vs http error codes. This might fall under that, so I've pinged people to see if there's something we can do here.

[2020-09-18 23:13] feywind commented on #1039
@ibmappcon I was given this link, maybe it'll help? https://github.com/grpc/grpc-node/blob/master/packages/grpc-js/src/constants.ts#L18

[2020-09-18 23:17] feywind commented on #1039
You can also do this, apparently:

[code]

...which still isn't great, but it seems like at some point we might just directly add something to convert from gRPC codes to HTTP codes.

[2020-09-19 00:04] feywind commented on #1103
Thanks for the report. That does sound like a fairly straightforward oversight.

[2020-09-19 01:05] feywind commented on #1105
I'm not sure why this started to flake suddenly, but I suspect that something elsewhere started pushing processing onto another tick. It looks like there's Zalgo in this test code.

[2020-09-19 01:05] feywind commented on #1106
I'm not sure why this started to flake suddenly, but I suspect that something elsewhere started pushing processing onto another tick. It looks like there's Zalgo in this test code.

[2020-09-21 23:42] #914 closed

[2020-09-22 13:52] laljikanjareeya commented on #1103
Hey @mgabeler-lee-6rs  It's overriding the user provided batching settings over defaults on below code:

https://github.com/googleapis/nodejs-pubsub/blob/82ab0ba3d7dfc58d6f7e46cfae687dbdaa295590/src/publisher/index.ts#L234-L254

The message-queues is using publisher settings to publish the message.
https://github.com/googleapis/nodejs-pubsub/blob/82ab0ba3d7dfc58d6f7e46cfae687dbdaa295590/src/publis

[2020-09-22 15:15] mgabeler-lee-6rs commented on #1103
@laljikanjareeya Please re-open this. Github will not allow me to do it. I explained in the description why the code you referenced does not work properly. Some hopefully clearer clarification:

The batching options are actually consumed by the _queue_, and it only receives them in its `constructor`: https://github.com/googleapis/nodejs-pubsub/blob/82ab0ba3d7dfc58d6f7e46cfae687dbdaa295590/src/publ

[2020-09-22 17:20] #892 closed

[2020-09-22 20:38] danspark opened #1111 "Improve subscription creation error message"
When I create a subscription through `pubsub.topic('topicName').subscription('subscriptionName').create(options)`, I receive the following error message:
[code]
After some investigation, I found out that when I'm creating a pull subscription, `CreateSubscriptionOptions.oidcToken` should be null or undefined. The problem is the message did not specify exactly what was wrong with my request, it actu

[2020-09-23 10:35] shubhamgupta-me opened #1113 "TypeError: Cannot read property 'length' of undefined (line 45)"
function getSFReportfromGmail(){

    var threads = GmailApp.search('Report results (All Accounts with Integration Fields) has:attachment newer_than:1d');

    var messages = threads[0].getMessages();
    var attach = messages[0].getAttachments();
    var timestamp = messages[0].getDate();

    for (var i = 0; i < attach.length; ++i) {

      var data = attach[i].copyBlob();
      var name = data.

[2020-09-23 10:37] shubhamgupta-me commented on #1113
I got a type error while running the above script, i was trying to get the CSV email attachment into an google sheet

[2020-09-26 08:36] build-cop-bot[bot] opened #1114 "pubsub Subscription: should detach subscriptions failed"
Note: #1062 was also for this test, but it was closed more than 10 days ago. So, I didn't mark it flaky.

----

commit: 82ab0ba3d7dfc58d6f7e46cfae687dbdaa295590
buildURL: [Build Status](https://source.cloud.google.com/results/invocations/2bf4ce6f-6b25-44ff-bbc9-c6a83020d0e1), [Sponge](http://sponge2/2bf4ce6f-6b25-44ff-bbc9-c6a83020d0e1)
status: failed
<details><summary>Test output</summary><br><pr

[2020-09-28 23:04] #1105 closed

[2020-09-28 23:04] #1106 closed

[2020-09-28 23:17] feywind opened #1115 "samples: samples audit and cleanup"
1. Write a sample for `
pubsub_subscriber_async_pull_custom_attributes` ([docs](https://cloud.google.com/pubsub/docs/pull#pull-messages-with-custom-attributes))
1. Remove the region tag `pubsub_publish` but keep the other region tag `pubsub_quickstart_publish` and keep the sample.
1. Add `pubsub_publish_with_error_handler` ([docs](https://cloud.google.com/pubsub/docs/publisher#publishing_messages)

[2020-09-29 00:28] feywind commented on #1111
Thanks for the report. I'm not completely sure what the intent was for the oicdToken, but the generally recommended way to pass in auth these days is using an environment variable (`GOOGLE_APPLICATIONS_CREDENTIALS`) to point at a service key json. It can also be passed in on the `PubSub` constructor, but I don't think I've seen it passed in on the `create()` call. If that isn't helping, I can ask

[2020-09-29 00:31] feywind commented on #1113
I think this might've gotten directed to the wrong GitHub repo, but let me see if I can find someone to grab it.

[2020-09-29 01:42] grant commented on #1113
The code provided above is Apps Script, not Node.

Perhaps ask the question in this repo? https://github.com/gsuitedevs/apps-script-samples

We have a bunch of samples there.

---

I'm guessing that the `TypeError` provided is produced with the expression `SFData[0].length`, which is caused when the emails' first thread's attached Spreadsheet is empty.

[2020-09-29 15:20] danspark commented on #1111
I'm sorry if my issue sounded confusing. As far as I could understand, the `oidcToken` field is the equivalent of the "Enable authentication" checkbox when creating a push subscription through the portal. So maybe one way to fix it is moving it to the `pushConfig` object to make it more clear, and maybe just ignore it if `pushConfig?.pushEndpoint` is null/undefined

Thank you for answering.

[2020-09-30 08:53] fotoflo opened #1117 "Better example in the Readme.md"
Hello!
 The current quickstart example is great but it would be so much better if you could see a full workflow
1.  instantiate a client
2. create a topic
3. publish a message
4. create a subscription to that topic
5. receive the message (pull or push, whatever's easier)

I think doing this wouldnt increase the documentation by more than a few lines, however it woudl reduce a lot of confusion and

[2020-10-01 07:04] andryichenko commented on #925
@feywind I can confirm that batch size settings is set to 1 message, but latency didn't reduce.

[2020-10-01 16:45] jvvcn commented on #979
Having save error in the same situation after 15 mins of retries. Do you guys have any updates on issue?

[2020-10-01 22:53] feywind commented on #979
Hi everyone,

We've been looking at this today, and it seems like it's likely to be something specific to the Node library. Unfortunately I've also been unable to reproduce it locally, across 3 different Node versions, which leads me to wonder if there's something going on between Node and GKE.

Re: prioritzation, that is indeed happening right now. If this is actively blocking you, you might try